<FloatingUI @renderOut={{true}} @placement={{@placement}}>
  <:anchor as |f|>
    {{yield
      (hash onTriggerKeydown=this.onTriggerKeydown floatingUI=f)
      to="anchor"
    }}
  </:anchor>
  <:content as |f|>
    <div
      id="x-hds-dropdown-list-container-{{f.id}}"
      class="x-hds-dropdown-list-container"
      role={{if this.inputIsShown "combobox"}}
      {{did-insert (fn this.didInsertList f)}}
      {{will-destroy this.willDestroyDropdown}}
      {{dismissible dismiss=f.hideContent related=f.anchor}}
      ...attributes
    >
      {{#if this.inputIsShown}}
        <div class="x-hds-dropdown-list-input-container">
          <Hds::Form::TextInput::Base
            data-test-product-area-dropdown-input
            {{did-insert this.registerAndFocusInput}}
            {{on "input" (perform this.onInput f)}}
            {{on "focusin" this.resetFocusedItemIndex}}
            @value={{this.query}}
            @type="search"
            placeholder="Filter..."
            {{! TODO: make this more specific }}
            aria-controls="x-hds-dropdown"
            aria-activedescendant={{unless
              (eq this.focusedItemIndex -1)
              (concat "x-hds-dropdown-list-item-" this.focusedItemIndex)
            }}
          />
        </div>
      {{/if}}
      <div
        {{did-insert this.registerScrollContainer}}
        class="x-hds-dropdown-list-scroll-container"
      >
        {{! So the problem is we want the flexibility to use LinkTos or Actions,
        each perhaps with its own unique requirements. Need to find some way of yielding the list item with a quick way of tagging the interactive component with stuff }}
        <X::Hds::DropdownList::Items
          @items={{@items}}
          @id={{f.id}}
          @onInput={{perform this.onInput f}}
          @onChange={{@onChange}}
          @listItemRole={{this.listItemRole}}
          @resetFocusedItemIndex={{this.resetFocusedItemIndex}}
          @registerScrollContainer={{this.registerScrollContainer}}
          @listIsOrdered={{@listIsOrdered}}
          @inputIsShown={{this.inputIsShown}}
          @setFocusedItemIndex={{this.setFocusedItemIndex}}
          @focusedItemIndex={{this.focusedItemIndex}}
          @shownItems={{this.shownItems}}
          @selected={{@selected}}
          @query={{this.query}}
          @f={{f}}
        />

      </div>
      {{! action list }}
      {{! link list }}
    </div>
  </:content>
</FloatingUI>
