{{!
  Marked up with guidance from:
  https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/
  https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-autocomplete-list/
  https://www.w3.org/WAI/ARIA/apg/patterns/menu-button/examples/menu-button-links/
  https://www.w3.org/WAI/ARIA/apg/patterns/menu-button/examples/menu-button-actions-active-descendant/
}}

<FloatingUI
  @renderOut={{true}}
  @placement={{@placement}}
  class="hermes-popover"
>
  <:anchor as |f|>
    {{yield
      (hash
        ToggleButton=(component
          "x/hds/dropdown-list/toggle-button"
          contentIsShown=f.contentIsShown
          registerAnchor=f.registerAnchor
          toggleContent=f.toggleContent
          onTriggerKeydown=(fn
            this.onTriggerKeydown f.contentIsShown f.showContent
          )
          color=(or @color "secondary")
          disabled=@disabled
          ariaControls=(concat
            "x-hds-dropdown-list-"
            (if this.inputIsShown "container" "list")
            "-"
            f.contentID
          )
          text=@label
        )
        ToggleAction=(component
          "x/hds/dropdown-list/toggle-action"
          registerAnchor=f.registerAnchor
          onTriggerKeydown=(fn
            this.onTriggerKeydown f.contentIsShown f.showContent
          )
          toggleContent=f.toggleContent
          disabled=@disabled
          ariaControls=(concat
            "x-hds-dropdown-list-"
            (if this.inputIsShown "container" "list")
            "-"
            f.contentID
          )
        )
        contentIsShown=f.contentIsShown
      )
      to="anchor"
    }}
  </:anchor>
  <:content as |f|>
    <div
      id="x-hds-dropdown-list-container-{{f.contentID}}"
      class="x-hds-dropdown-list-container"
      role={{if this.inputIsShown "combobox"}}
      {{did-insert this.didInsertList}}
      {{will-destroy this.willDestroyDropdown}}
      {{dismissible dismiss=f.hideContent related=f.anchor}}
      ...attributes
    >
      {{#if this.inputIsShown}}
        <div class="x-hds-dropdown-list-input-container">
          <Hds::Form::TextInput::Base
            data-test-product-area-dropdown-input
            {{did-insert this.registerAndFocusInput}}
            {{on "input" (perform this.onInput f.content)}}
            {{on "focusin" this.resetFocusedItemIndex}}
            @value={{this.query}}
            @type="search"
            placeholder="Filter..."
            {{! TODO: make this more specific }}
            aria-controls="x-hds-dropdown"
            aria-activedescendant={{unless
              (eq this.focusedItemIndex -1)
              (concat "x-hds-dropdown-list-item-" this.focusedItemIndex)
            }}
          />
        </div>
      {{/if}}
      <div
        {{did-insert this.registerScrollContainer}}
        class="x-hds-dropdown-list-scroll-container"
      >
        <X::Hds::DropdownList::Items
          @items={{@items}}
          @id={{f.contentID}}
          @onInput={{perform this.onInput f.content}}
          @onItemClick={{@onItemClick}}
          @listItemRole={{this.listItemRole}}
          @resetFocusedItemIndex={{this.resetFocusedItemIndex}}
          @registerScrollContainer={{this.registerScrollContainer}}
          @listIsOrdered={{@listIsOrdered}}
          @inputIsShown={{this.inputIsShown}}
          @setFocusedItemIndex={{this.setFocusedItemIndex}}
          @focusedItemIndex={{this.focusedItemIndex}}
          @shownItems={{this.shownItems}}
          @selected={{@selected}}
          @query={{this.query}}
          @content={{f.content}}
          @hideContent={{f.hideContent}}
        >
          <:item as |i|>
            {{yield i to="item"}}
          </:item>
        </X::Hds::DropdownList::Items>
      </div>
    </div>
  </:content>
</FloatingUI>
