{{! Handle ArrowUp, ArrowDown and Enter: }}
{{on-document "keydown" this.maybeKeyboardNavigate}}

{{#if this.noMatchesFound}}
  <div class="x-hds-dropdown-list-empty-state">
    No matches
  </div>
{{else}}
  {{#let (element (if @listIsOrdered "ol" "ul")) as |MaybeOrderedList|}}
    <MaybeOrderedList
      id="x-hds-dropdown-list-{{@id}}"
      class="x-hds-dropdown-list"
      role={{if this.args.inputIsShown "listbox" "menu"}}
      aria-activedescendant={{this.ariaActiveDescendant}}
    >
      {{#if @shownItems}}
        {{#each-in @shownItems as |item|}}
          <X::Hds::DropdownList::Item
            @role={{@listItemRole}}
            @value={{item}}
            @selected={{eq @selected item}}
            @hideDropdown={{@f.hideContent}}
            @onChange={{@onChange}}
            @setFocusedItemIndex={{@setFocusedItemIndex}}
            @focusedItemIndex={{@focusedItemIndex}}
          />
        {{/each-in}}
      {{/if}}
    </MaybeOrderedList>
  {{/let}}
{{/if}}
