<AnimatedContainer class="w-full">
  <div class="sidebar-section-header-container">
    <div class="sidebar-section-header">
      Related resources
    </div>
    <Action
      {{on "click" this.showAddResourceModal}}
      class="sidebar-section-header-button"
      aria-label="Add related resource"
    >
      <FlightIcon @name="plus" />
    </Action>
  </div>
  {{#if this.relatedResourcesAreShown}}
    <ul class="related-resources">
      {{#animated-each
        this.relatedResourcesObjectEntries
        use=this.transition
        initialInsertion=true
        finalRemoval=true
        as |resource|
      }}
        <Document::RelatedResources::List::Item
          @resource={{resource}}
          @removeResource={{this.removeResource}}
          @editResource={{this.editResource}}
        />
      {{/animated-each}}
    </ul>
  {{else}}
    <div class="mt-1.5">
      <CustomEditableFields::EmptyState />
    </div>
  {{/if}}
</AnimatedContainer>

{{#if this.addResourceModalIsShown}}
  <Document::RelatedResources::AddResource::Modal
    @onClose={{this.hideAddResourceModal}}
    @addRelatedExternalLink={{this.addRelatedExternalLink}}
    @addRelatedDocument={{this.addRelatedDocument}}
    @shownDocuments={{this.shownDocuments}}
    @objectID={{@objectID}}
    @relatedDocuments={{this.relatedDocuments}}
    @relatedLinks={{this.relatedLinks}}
    @search={{perform this.search}}
  />
{{/if}}
