<li>
  <LinkTo @route="authenticated.project" @model={{@project.id}}>
    <Hds::Card::Container @hasBorder={{true}} class="h-48 p-4">
      <div class="relative h-full">
        <div class="flex justify-between">
          <h3 class="inline-flex font-semibold">
            {{@project.name}}
          </h3>
          {{#if this.documents}}
            <span class="flex shrink-0 items-center outline">
              <FlightIcon
                @name="files"
                class="mr-2 text-color-foreground-disabled"
              />
              {{this.documents.length}}
            </span>
          {{/if}}
        </div>

        {{#if this.productAreas}}
          <ul class="absolute left-0 bottom-0">
            {{#each this.productAreas as |productArea|}}
              <span>
                {{productArea}}
              </span>
            {{/each}}
          </ul>
        {{/if}}
        {{#if this.jiraObject}}
          <span
            class="absolute bottom-0 right-0 text-body-100 text-color-foreground-faint"
          >
            {{this.jiraObject.key}}
          </span>
        {{/if}}
      </div>
    </Hds::Card::Container>
  </LinkTo>
</li>
