<X::DropdownList
  @items={{this.menuItems}}
  @placement="bottom"
  class="w-[300px]"
>
  <:anchor as |dd|>
    <dd.ToggleAction
      class="hds-button hds-button--color-primary hds-button--size-medium flex"
    >
      {{! <FlightIcon @name="plus" class="mr-1.5" /> }}
      New
      <FlightIcon
        @name={{if dd.contentIsShown "chevron-up" "chevron-down"}}
        class="ml-1.5 -mr-0.5"
      />
    </dd.ToggleAction>
  </:anchor>
  <:header>
    <div class="mt-3 flex justify-between px-4">
      <h4 class="font-semibold">
        Choose a template
      </h4>
      {{! <div
        class="text-color-foreground-faint hover:text-color-foreground-primary"
      >
        Help...
      </div> }}
    </div>
  </:header>
  <:footer>
    <div class="qwe-123 border-t border-t-color-border-primary py-1.5">
      {{! content placed here by in-element }}
    </div>
  </:footer>
  <:item as |dd|>
    {{! Move projects to the footer }}
    {{#if (eq dd.attrs.shortName "PROJECT")}}
      {{! convert this to maybe in element }}
      {{#in-element (html-element ".qwe-123") insertBefore=null}}
        <dd.LinkTo
          @route="authenticated.new"
          class="text-color-foreground-actXion flex h-9 items-center justify-between px-4"
        >
          <div class="flex items-center">
            <FlightIcon @name="grid" class="mr-3" />
            {{! <div
              class="mr-2 grid h-4 w-4 place-items-center rounded-sm bg-color-foreground-primary"
            >
              <span
                class="text-[9px] font-medium uppercase leading-none tracking-tight text-white"
              >
                or
              </span>
            </div> }}
            Create a project
          </div>
        </dd.LinkTo>
      {{/in-element}}
    {{else}}
      <dd.LinkTo
        @route="authenticated.new"
        class="flex h-9 items-center justify-between rounded-none px-4"
      >
        <div class="flex items-center">
          <FlightIcon @name={{or dd.attrs.icon "file-text"}} class="mr-3" />
          {{dd.attrs.label}}
          {{!-- <div class="ml-2 text-body-100 opacity-60">
            {{dd.attrs.shortName}}
          </div> --}}
        </div>
        {{!-- <Hds::Badge @text={{dd.attrs.shortName}} /> --}}
      </dd.LinkTo>
    {{/if}}
  </:item>
</X::DropdownList>
