<X::DropdownList
  @items={{this.menuItems}}
  @placement="bottom-end"
  {{! class="w-[200px]" }}
>
  <:anchor as |dd|>
    {{! TODO: remove underline on :active }}
    <Hds::Button
      @text="New"
      @icon="plus"
      @route="authenticated.new.document"
      class="relative z-10 rounded-r-none pl-2.5 pr-3.5"
    />
    <dd.ToggleAction
      class="hds-button hds-button--color-primary hds-button--size-medium relative -ml-px flex rounded-l-none px-1.5 focus-within:z-10 hover:z-10"
    >
      <FlightIcon @name={{if dd.contentIsShown "chevron-up" "chevron-down"}} />
    </dd.ToggleAction>
  </:anchor>
  <:item as |dd|>
    <dd.LinkTo
      @route={{dd.attrs.route}}
      class="flex h-9 items-center justify-between rounded-none px-4"
    >
      <div class="flex items-center gap-2.5">
        <FlightIcon @name={{dd.attrs.icon}} />
        {{dd.attrs.label}}
      </div>
    </dd.LinkTo>
  </:item>
</X::DropdownList>
