{{on-document "keydown" this.onDocumentKeydown}}

{{#in-element (html-element ".ember-application") insertBefore=null}}
  <Hds::Modal @onClose={{@onClose}} class="h-[475px]" as |M|>
    <M.Header data-test-add-related-resource-modal-title>
      {{@headerTitle}}
    </M.Header>
    <M.Body>
      <X::DropdownList
        @items={{@shownDocuments}}
        @onItemClick={{@addRelatedDocument}}
        @offset={{hash mainAxis=1 crossAxis=0}}
        @isLoading={{this.loadInitialData.isRunning}}
        @listIsShown={{this.listIsShown}}
        @inputIsShown={{false}}
        @disableClose={{true}}
        @placement={{null}}
        @keyboardNavIsEnabled={{this.keyboardNavIsEnabled}}
        class="non-floating-list"
      >
        <:anchor as |dd|>
          <Hds::Form::TextInput::Base
            data-test-related-resources-search-input
            {{did-insert dd.registerAnchor}}
            {{did-insert (fn this.didInsertInput dd)}}
            {{on "input" (fn this.onInput dd)}}
            {{on "keydown" (fn this.onInputKeydown dd)}}
            {{on "focusin" (fn this.maybeOpenDropdown dd)}}
            {{on "focusin" this.enableKeyboardNav}}
            {{on "focusout" this.disableKeyboardNav}}
            @type="search"
            @value={{this.query}}
            name="related-resources-search"
            size="25"
            placeholder={{@inputPlaceholder}}
            aria-label={{@inputPlaceholder}}
            aria-controls={{dd.ariaControls}}
            aria-expanded={{dd.contentIsShown}}
            aria-haspopup="listbox"
          />
        </:anchor>
        <:header>
          {{#if this.listHeaderIsShown}}
            <div class="related-resources-modal-container mt-3.5">
              <h4 class="hermes-h4" data-test-related-resources-list-header>
                {{#if this.query.length}}
                  Results
                {{else}}
                  Suggestions
                {{/if}}
              </h4>
            </div>
          {{/if}}

          {{#if (and @allowAddingExternalLinks this.queryIsURL)}}
            <Document::Sidebar::RelatedResources::Add::ExternalResource
              @urlIsLoading={{not this.urlWasProcessed}}
              @onInput={{this.onExternalLinkTitleInput}}
              @onSubmit={{this.addRelatedExternalLink}}
              @title={{this.externalLinkTitle}}
              @url={{this.query}}
            />
          {{/if}}
        </:header>
        <:loading>
          <FlightIcon
            data-test-add-related-resource-spinner
            @name="loading"
            class="ml-2 mt-4"
          />
        </:loading>
        <:no-matches>
          {{#unless this.noMatchesHeaderIsHidden}}
            <div class="related-resources-modal-container mt-36">
              <h3 class="related-resources-modal-body-header">
                No results found
              </h3>
            </div>
          {{/unless}}
        </:no-matches>
        <:item as |dd|>
          <dd.Action class="related-document-option">
            <Document::Sidebar::RelatedResources::Add::Document
              @document={{dd.attrs}}
            />
          </dd.Action>
        </:item>
      </X::DropdownList>
    </M.Body>
  </Hds::Modal>
{{/in-element}}
