<AnimatedContainer data-test-related-resources-list class="w-full">
  <div {{did-insert this.enableAnimation}}>
    {{#if this.listIsEmpty}}
      <div class="editable-field-container mt-0">
        <div class="editable-field button-affordance">
          {{#if @editingIsDisabled}}
            <div class="field-toggle disabled pl-[5px]">
              <EmptyStateText />
            </div>
          {{else}}
            <Action
              data-test-related-resources-list-empty-state
              {{on "click" this.showModal}}
              class="field-toggle group pl-[5px]"
            >
              <EmptyStateText />
              <span class="edit-affordance light-gray">
                <FlightIcon @name="plus" class="text-color-foreground-faint" />
              </span>
            </Action>
          {{/if}}
        </div>
      </div>
    {{else}}
      <ul class="related-resources-list" ...attributes>
        {{#animated-each
          @items
          rules=this.transitionRules
          initialInsertion=true
          finalRemoval=true
          as |resource i|
        }}
          {{#if @itemLimit}}
            {{#if (lt i @itemLimit)}}
              {{yield resource to="resource"}}
            {{/if}}
          {{else}}
            {{yield resource to="resource"}}
          {{/if}}
        {{/animated-each}}
      </ul>
    {{/if}}
  </div>
</AnimatedContainer>
