<AnimatedContainer data-test-related-resources-list class="w-full">
  <div {{did-insert this.enableAnimation}}>
    {{#if this.listIsEmpty}}
      {{! TODO: can we share this with EditableField? }}
      <div class="-mx-[5px]">
        <div class="editable-field">
          <Action
            data-test-related-resources-list-empty-state
            {{on "click" this.showModal}}
            class="field-toggle group pl-[5px]"
          >
            ---

            <span
              class="invisible absolute right-px top-px grid h-[34px] place-items-center rounded-r bg-gradient-to-l from-color-page-faint via-color-page-faint to-transparent pr-[8px] pl-8 group-focus-within:visible group-hover:visible"
            >
              <FlightIcon @name="plus" class="text-color-foreground-faint" />
            </span>
          </Action>
        </div>
      </div>
    {{else}}
      <ul class="related-resources-list" ...attributes>
        {{#animated-each
          @items
          rules=this.transitionRules
          initialInsertion=true
          finalRemoval=true
          as |resource i|
        }}
          {{#if @itemLimit}}
            {{#if (lt i @itemLimit)}}
              {{yield resource to="resource"}}
            {{/if}}
          {{else}}
            {{yield resource to="resource"}}
          {{/if}}
        {{/animated-each}}
      </ul>
    {{/if}}
  </div>
</AnimatedContainer>
