<Header />

<div class="x-container">
  <div class="mb-4 flex w-full items-center justify-between">

    <div class="relative flex items-center">
      <LinkTo @route="authenticated.my">
        <Person::Avatar
          @imgURL={{this.authenticatedUser.info.picture}}
          @email={{this.authenticatedUser.info.name}}
          @size="large"
          class="mr-5 -ml-1"
        />
      </LinkTo>
      <div>
        <h1 class="mb-0 text-display-300">
          {{this.authenticatedUser.info.name}}
        </h1>
        <p class="text-body-200 text-color-foreground-faint">
          {{this.authenticatedUser.info.email}}
        </p>
      </div>
    </div>
    {{! make this more like the product overview screen }}

    <div class="secondary-nav">
      <LinkTo
        {{on "click" this.resetLocalProperties}}
        @route="authenticated.my"
        @current-when="authenticated.my.index"
      >
        Latest
      </LinkTo>
      <LinkTo
        {{on "click" this.resetLocalProperties}}
        @route="authenticated.my.published"
        @current-when="authenticated.my.published"
      >
        Published
      </LinkTo>
      <LinkTo
        {{on "click" this.resetLocalProperties}}
        @route="authenticated.my.drafts"
        @current-when="authenticated.my.drafts"
      >
        Drafts
      </LinkTo>
    </div>
  </div>
</div>
