{{! https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/ }}
<div data-test-product-select ...attributes>
  <X::DropdownList
    @items={{this.products}}
    @listIsOrdered={{true}}
    @onItemClick={{this.onChange}}
    @selected={{@selected}}
    @placement={{@placement}}
    @isSaving={{@isSaving}}
    @renderOut={{@renderOut}}
    @matchAnchorWidth={{or
      @matchAnchorWidth
      (hash enabled=true additionalWidth=6)
    }}
    @secondaryFilterAttribute="abbreviation"
    class="product-select-dropdown-list"
    ...attributes
  >
    <:anchor as |dd|>
      {{!
      TODO: refactor with ToggleSelect
      https://github.com/hashicorp-forge/hermes/blob/021d17dae93a0dc613d374cf95929a55decbbd36/web/app/components/inputs/product-select.hbs#L34C9-L39C27
     }}
      <dd.ToggleAction
        class="x-dropdown-list-toggle-select product-select-default-toggle hds-button hds-button--color-secondary hds-button--size-medium"
      >
        <FlightIcon @name={{or (get-product-id @selected) "folder"}} />

        <span
          class="product-select-selected-value
            {{unless @selected 'text-color-foreground-faint'}}"
        >
          {{or @selected "Select a product/area"}}
        </span>

        {{#if this.selectedProductAbbreviation}}
          <span class="product-select-toggle-abbreviation">
            {{this.selectedProductAbbreviation}}
          </span>
        {{/if}}

        <FlightIcon @name="caret" class="product-select-toggle-caret" />
      </dd.ToggleAction>
    </:anchor>
    <:item as |dd|>
      <dd.Action data-test-product-select-item-button class="pr-5">
        <Inputs::ProductSelect::Item
          @product={{dd.value}}
          @isSelected={{dd.isSelected}}
          @abbreviation={{dd.attrs.abbreviation}}
          {{! TODO: maybe class="px-1" }}
        />
      </dd.Action>
    </:item>
  </X::DropdownList>
</div>
