{{! https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/ }}
<div data-test-product-select ...attributes>
  {{#if this.products}}
    {{#if @formatIsBadge}}
      <Inputs::BadgeDropdownList
        @items={{this.products}}
        @listIsOrdered={{true}}
        @onItemClick={{this.onChange}}
        @selected={{@selected}}
        @placement={{@placement}}
        @isSaving={{@isSaving}}
        @renderOut={{@renderOut}}
        @icon={{this.icon}}
        class="product-select-dropdown-list w-80"
        ...attributes
      >
        <:item as |dd|>
          <dd.Action data-test-product-select-badge-dropdown-item>
            <Inputs::ProductSelect::Item
              @product={{dd.value}}
              @isSelected={{dd.isSelected}}
            />
          </dd.Action>
        </:item>
      </Inputs::BadgeDropdownList>
    {{else}}
      <X::DropdownList
        @items={{this.products}}
        @listIsOrdered={{true}}
        @onItemClick={{this.onChange}}
        @selected={{@selected}}
        @placement={{@placement}}
        @isSaving={{@isSaving}}
        @renderOut={{@renderOut}}
        class="product-select-dropdown-list w-[300px]"
        ...attributes
      >
        <:anchor as |dd|>
          <dd.ToggleAction
            class="x-dropdown-list-toggle-select product-select-default-toggle hds-button hds-button--color-secondary hds-button--size-medium"
          >
            <FlightIcon @name={{or (get-product-id @selected) "folder"}} />

            <span
              class="product-select-selected-value
                {{unless @selected 'text-color-foreground-faint'}}"
            >
              {{or @selected "Select a product/area"}}
            </span>

            {{#if this.selectedProductAbbreviation}}
              <span class="product-select-toggle-abbreviation">
                {{this.selectedProductAbbreviation}}
              </span>
            {{/if}}

            <FlightIcon @name="caret" class="product-select-toggle-caret" />
          </dd.ToggleAction>
        </:anchor>
        <:item as |dd|>
          <dd.Action class="pr-5">
            <Inputs::ProductSelect::Item
              @product={{dd.value}}
              @isSelected={{dd.isSelected}}
              @abbreviation={{dd.attrs.abbreviation}}
            />
          </dd.Action>
        </:item>
      </X::DropdownList>
    {{/if}}
  {{else if this.fetchProductAreas.isRunning}}
    <FlightIcon data-test-product-select-spinner @name="loading" />
  {{else if this.errorIsShown}}
    <div class="failed-to-load-text">
      Failed to load
    </div>
    <Hds::Button
      data-test-product-select-failed-to-load-button
      @color="secondary"
      @size="small"
      {{on "click" (perform this.fetchProductAreas)}}
      @text="Retry"
      @icon="reload"
    />
  {{else}}
    <div
      class="absolute top-0 left-0"
      {{did-insert (perform this.fetchProductAreas)}}
    ></div>
  {{/if}}
</div>
