<div
  data-test-product-select-item
  class="product-select-item relative flex w-full gap-2"
  ...attributes
>
  <FlightIcon
    data-test-product-icon
    data-test-icon={{or (get-product-id @product) "folder"}}
    @name={{or (get-product-id @product) "folder"}}
  />

  <div class="flex items-center gap-1.5">

    {{#if @product}}
      <span data-test-selected-value>
        {{@product}}
      </span>
    {{else}}
      <EmptyStateText data-test-empty-state @value="Select a product/area" />
    {{/if}}

    {{#if @abbreviation}}
      <span class="product-select-toggle-abbreviation">
        {{@abbreviation}}
      </span>
    {{/if}}
  </div>

  {{#if @isSelected}}
    <FlightIcon
      data-test-check
      @name="check"
      class="check absolute right-0 top-1/2 -translate-y-1/2"
    />
  {{/if}}
</div>
