<div class="mb-12 w-full">
  <div class="relative flex justify-between">
    <h2 class="items-center self-center hermes-h4 leading-none gap-2 md:flex">
      Awaiting your review
      <Hds::BadgeCount
        data-test-docs-awaiting-review-count
        @text="{{@docs.length}}"
        @type="inverted"
        class="!bg-color-foreground-critical"
      />
    </h2>

  </div>

  <ul class="mt-3">
    {{#each this.docsToShow as |doc|}}
      <Dashboard::DocsAwaitingReview::Doc @doc={{doc}} />
    {{/each}}
  </ul>
  {{#if this.toggleButtonIsShown}}
    <Action
      data-test-docs-awaiting-review-toggle
      {{on "click" this.toggleCollapsed}}
      class="mt-4 flex items-center text-center text-body-200 text-color-foreground-action hover:text-color-foreground-action-hover"
    >
      <FlightIcon
        data-test-docs-awaiting-review-toggle-icon
        @name={{if this.isCollapsed "plus" "minus"}}
        class="mr-1.5"
      />
      {{if this.isCollapsed "Show all" "Show fewer"}}
    </Action>
  {{/if}}
</div>
