<div class="w-full mb-8">
  <div class="relative flex justify-between">
    <div class="flex items-center gap-2.5 mb-2">
      <h2
        class="items-center self-center text-body-300 Ztext-color-foreground-strong font-regular leading-none gap-2 md:flex"
      >
        You have
        <Hds::BadgeCount
          data-test-docs-awaiting-review-count
          @text="{{@docs.length}}"
          @type="inverted"
          class="!bXg-color-foreground-critical"
        />
        document{{if (gt @docs.length 1) "s"}}
        awaiting your review
      </h2>
    </div>
  </div>

  <ul>
    {{#each this.docsToShow as |doc|}}
      <Dashboard::DocsAwaitingReview::Doc @doc={{doc}} />
    {{/each}}
  </ul>
  {{#if this.toggleButtonIsShown}}
    <Action
      data-test-docs-awaiting-review-toggle
      {{on "click" this.toggleCollapsed}}
      class="mt-4 flex items-center text-center text-body-200 text-color-foreground-action hover:text-color-foreground-action-hover"
    >
      <FlightIcon
        data-test-docs-awaiting-review-toggle-icon
        @name={{if this.isCollapsed "plus" "minus"}}
        class="mr-1.5"
      />
      {{if this.isCollapsed "Show all" "Show fewer"}}
    </Action>
  {{/if}}
</div>
