<div class="w-full">
  <div class="flex items-center">
    <div class="flex items-center gap-5 text-[45px]">
      <h4 class="text-color-foreground-strong">
        Awaiting your review
      </h4>
      <span
        data-test-docs-awaiting-review-count
        class="font-regular text-color-foreground-disabled"
      >
        {{@docs.length}}
      </span>
    </div>
  </div>

  <ul class="mt-5">
    {{#each this.docsToShow as |doc|}}
      <Dashboard::DocsAwaitingReview::Doc @doc={{doc}} />
    {{/each}}
  </ul>
  {{#if this.toggleButtonIsShown}}
    <Action
      data-test-docs-awaiting-review-toggle
      {{on "click" this.toggleCollapsed}}
      class="mt-4 flex items-center text-center text-body-200 text-color-foreground-action hover:text-color-foreground-action-hover"
    >
      <FlightIcon
        data-test-docs-awaiting-review-toggle-icon
        @name={{if this.isCollapsed "plus" "minus"}}
        class="mr-1.5"
      />
      {{if this.isCollapsed "Show all" "Show fewer"}}
    </Action>
  {{/if}}
</div>

<div class="mt-8 -mb-[15px] flex h-12 w-full" aria-hidden="true">
  <div class="w-9/12 shrink-0 border-t border-t-color-border-faint"></div>
  <div class="-mr-px h-full w-12 shrink-0 overflow-hidden">
    <div
      class="relative left-[-4px] top-[-4.5px] h-40 w-40 origin-top-left rotate-45 border-t border-t-color-border-faint"
    ></div>
  </div>
  <div class="w-full border-b border-b-color-border-faint"></div>
</div>
