<div class="mb-8 w-full">
  <div class="relative flex justify-between">
    <div class="mb-2 flex items-center gap-2.5">
      {{!-- <h2
        class="items-center self-center text-body-300 Ztext-color-foreground-strong font-regular leading-none gap-2 md:flex"
      >
        You have
        document{{if (gt @docs.length 1) "s"}}
        awaiting your review
      </h2> --}}
      <div class="mb-2 flex h-4 items-center gap-3">
        <FlightIcon @name="test" class="text-color-foreground-faint" />
        <div class="flex items-center gap-2">
          <h4 class="hermes-h4">Awaiting your review</h4>
          <Hds::BadgeCount
            data-test-docs-awaiting-review-count
            @text="{{@docs.length}}"
          />
        </div>
      </div>
    </div>
  </div>

  <ul>
    {{#each this.docsToShow as |doc|}}
      <Dashboard::DocsAwaitingReview::Doc @doc={{doc}} />
    {{/each}}
  </ul>
  {{#if this.toggleButtonIsShown}}
    <Action
      data-test-docs-awaiting-review-toggle
      {{on "click" this.toggleCollapsed}}
      class="mt-4 flex items-center text-center text-body-200 text-color-foreground-action hover:text-color-foreground-action-hover"
    >
      <FlightIcon
        data-test-docs-awaiting-review-toggle-icon
        @name={{if this.isCollapsed "plus" "minus"}}
        class="mr-1.5"
      />
      {{if this.isCollapsed "Show all" "Show fewer"}}
    </Action>
  {{/if}}
</div>
