<Dashboard::NewFeaturesBanner />

<div class="mb-6 mt-1" {{did-insert (perform this.fetchLatestDocs)}}>
  <h1 class="text-display-400">
    Welcome back,
    {{this.authenticatedUser.info.given_name}}!
  </h1>
</div>

<div class="mt-5 flex w-full gap-20">
  <div class="w-full pb-10">

    {{#if @docsAwaitingReview}}
      <Dashboard::DocsAwaitingReview @docs={{@docsAwaitingReview}} />
    {{/if}}

    {{#if this.latestDocs}}
      {{log "latest docs found (template)"}}
      <div class="mb-1.5 flex items-center gap-3">
        <FlightIcon @name="provider" class="text-blue-gray" />
        <h4 class="hermes-h4">
          Here's the latest
        </h4>
      </div>
      <ol>
        {{! TODO: replace with latest-updates }}
        {{#each this.latestDocs as |doc|}}
          <li class="border-t border-t-color-border-faint first:border-t-0">

            <a class="">
              <div class="relative flex justify-between gap-6 pt-3 pb-4">

                <div class="relative shrink-0">
                  <Doc::Thumbnail
                    @status={{doc.status}}
                    @product={{doc.product}}
                    class="medium shrink-0 self-start"
                  />
                </div>
                <div class="w-full">

                  <div class="mb-2 flex w-full items-center justify-between">
                    {{! Owner }}
                    <div class="flex w-full items-center justify-between">
                      <div class="flex items-center text-body-100">
                        <Person::Avatar
                          @size="small"
                          @email="{{get doc.owners 0}}"
                          @imgURL={{get doc.ownerPhotos 0}}
                          class="-ml-px"
                        />
                        <span class="ml-1.5">
                          {{get doc.owners 0}}
                        </span>
                        {{! Created time }}
                        <span
                          class="ml-2 text-body-100 text-color-foreground-disabled"
                        >
                          {{time-ago doc.createdTime}}
                        </span>
                      </div>
                    </div>
                  </div>

                  <h3
                    class="mt-0.5 text-display-300 font-semibold text-color-foreground-strong"
                  >
                    {{doc.title}}
                  </h3>

                  {{#if doc.summary}}
                    <p class="mt-1 text-body-300">
                      {{doc.summary}}
                    </p>
                  {{/if}}

                  {{! Type and Product }}
                  <div
                    class="mt-3.5 flex items-center gap-[5px] text-body-100 leading-none text-color-foreground-faint"
                  >
                    <span>
                      {{doc.docType}}
                    </span>
                    <span class="opacity-50">
                      |
                    </span>
                    <span>
                      {{doc.product}}
                    </span>
                    <span class="opacity-50">
                      |
                    </span>
                    <span>
                      {{doc.docNumber}}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        {{/each}}
      </ol>
    {{else if this.fetchLatestDocs.isRunning}}
      {{log "fetching latest docs (template)"}}
      <div class="h-[100px]">
        <FlightIcon @name="loading" class="mt-1" />
      </div>
    {{else if (eq this.latestDocs null)}}
      <div class="h-[100px]">
        <p class="mb-7 text-body-300 text-color-foreground-faint">
          Error fetching documents.
        </p>
        <Hds::Button
          @text="Retry"
          @color="secondary"
          @size="small"
          @icon="reload"
          {{on "click" (perform this.fetchLatestDocs)}}
        />
      </div>
    {{else}}
      <div class="text-display-200">
        No documents yet.
      </div>
    {{/if}}
  </div>
  <div class="relative flex w-72 shrink-0 flex-col gap-8">
    <div class="absolute -left-10 top-0 h-full w-px bg-color-border-faint" />
    <div>
      <div class="mb-3 flex h-4 items-center gap-3">
        <FlightIcon @name="history" class="text-blue-gray" />
        <h2 class="hermes-h4 flex h-4 items-center">
          Recently viewed
        </h2>
      </div>
      {{#if true}}
        <ul class="mt-1 flex flex-col">
          {{! new versions of the recently viewed }}
          {{#each this.recentDocs.all as |r|}}
            <li>
              {{r.doc.title}}
            </li>

          {{/each}}
        </ul>
      {{else}}
        <div class="mt-3 mb-2 text-color-foreground-faint">
          None yet
        </div>
      {{/if}}
    </div>
  </div>
</div>
