<Dashboard::NewFeaturesBanner />

<div class="mt-3 flex w-full">
  {{! TODO: this overflow shouldn't be this broad }}
  <div class="min-h-[500px] w-full overflow-hidden pb-20">
    <div class="main pr-4">

      <h4 data-test-welcome-message class="hermes-h4 mb-6">
        Welcome back,
        {{this.authenticatedUser.info.given_name}}!
      </h4>

      {{#if @docsAwaitingReview}}
        <Dashboard::DocsAwaitingReview @docs={{@docsAwaitingReview}} />
      {{/if}}

      <div class="flex items-center gap-3.5">
        <h2>
          Latest docs
        </h2>

        {{#if this.latestDocs.fetchAll.isRunning}}
          <FlightIcon @name="running" />
        {{/if}}
      </div>

      {{#if this.latestDocs.index.length}}
        <ol class="mt-5">
          {{#each this.latestDocs.index as |doc|}}
            <li data-test-latest-doc>
              <LinkTo
                @route="authenticated.document"
                @model={{doc.objectID}}
                @query={{hash draft=doc.isDraft}}
              >
                <div
                  class="main-inner flex justify-between gap-[18px] pt-5 pb-6"
                >
                  <Person::Avatar
                    @size="large"
                    @email="{{get doc.owners 0}}"
                    @imgURL={{get doc.ownerPhotos 0}}
                    class="-mt-1 shrink-0"
                  />
                  <div class="w-full">
                    <div class="relative z-10 mt-0.5 overflow-hidden">
                      <h3>
                        {{! Title }}
                        <span data-test-document-title class="mr-1.5">
                          {{doc.title}}
                        </span>

                        {{! Doc Number }}
                        <span
                          data-test-document-number
                          class="shrink-0 font-regular"
                        >
                          <span class="whitespace-nowrap">
                            {{doc.docNumber}}
                          </span>
                        </span>
                      </h3>
                    </div>
                    <div
                      class="mt-1.5 flex gap-[5px] text-color-foreground-faint"
                    >
                      {{! Owner }}
                      {{get doc.owners 0}}
                      <span class="vertical-line">
                        |
                      </span>
                      {{! Product }}
                      {{doc.product}}
                      <span class="vertical-line">
                        |
                      </span>
                      {{! Created Time }}
                      {{time-ago doc.createdTime}}
                    </div>

                    {{#if doc.summary}}
                      <p class="mt-2.5 max-w-xl text-body-300">
                        {{doc.summary}}
                      </p>
                    {{/if}}

                    <div class="tags mt-3.5">
                      {{! Status }}
                      <Doc::State
                        @state={{doc.status}}
                        @hideProgress={{true}}
                        class="interactive"
                      />
                      {{! Doc Type }}
                      <Hds::Badge @text={{doc.docType}} />
                    </div>

                  </div>
                  <div class="relative ml-4 shrink-0">
                    <Doc::Thumbnail
                      @status={{doc.status}}
                      @product={{doc.product}}
                      @size="medium"
                      class="self-start"
                    />
                  </div>
                </div>
              </LinkTo>
            </li>
          {{/each}}
        </ol>

        {{#if this.linkToAllDocsIsShown}}
          <div class="main-inner mt-5">
            <Hds::Button
              @color="secondary"
              @text="See older documents"
              @icon="arrow-right"
              @iconPosition="trailing"
              @isFullWidth={{true}}
              @route="authenticated.documents"
              @query={{hash page=2}}
              class="py-3"
            />
          </div>
        {{/if}}
      {{else}}
        <div data-test-no-docs-published class="empty-text">
          No documents have been published yet.
        </div>
        <Hds::Button
          data-test-new-document-button
          @route="authenticated.new"
          @text="New document"
          @icon="plus"
          class="mt-6 pl-2.5 pr-4"
        />
      {{/if}}
    </div>
  </div>

  <div class="secondary flex w-72 shrink-0 pt-10">
    <div class="relative h-full border-l border-l-color-border-primary pl-4">

      <div class="mt-2.5 flex w-full items-center justify-between pl-3">
        <h4 class="text-display-300 text-color-foreground-strong">
          Recently viewed
        </h4>
      </div>

      {{#if this.viewedDocs.all}}
        <ul class="mt-4">
          {{#each this.viewedDocs.all as |r|}}
            <li data-test-recently-viewed-doc>
              <LinkTo
                @route="authenticated.document"
                @model={{r.doc.objectID}}
                @query={{hash draft=r.doc.isDraft}}
                class="px-3 pt-3 pb-3.5"
              >
                <div class="flex w-full items-start gap-5">
                  <div class="w-full">
                    <div class="flex gap-[3px]">
                      <Product::Avatar @product={{r.doc.product}} />
                      <Person::Avatar
                        @email="{{get r.doc.owners 0}}"
                        @imgURL={{get r.doc.ownerPhotos 0}}
                        {{! class="overlapping-avatar" }}
                      />
                      <Hds::Badge
                        @text={{r.doc.docType}}
                        class="h-5 px-1.5 py-0"
                      />
                    </div>
                    <h5 class="mt-1.5">
                      {{r.doc.title}}
                    </h5>
                    <p class="mt-0.5 text-body-100 text-color-foreground-faint">
                      Modified
                      {{time-ago r.doc.modifiedTime}}
                    </p>
                  </div>
                  <Doc::Thumbnail
                    @status={{r.doc.status}}
                    @product={{r.doc.product}}
                    @size="small"
                    class="shrink-0"
                  />
                </div>
              </LinkTo>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <div data-test-no-viewed-docs class="empty-text px-3">
          You haven't viewed any documents yet.
        </div>
      {{/if}}
    </div>
  </div>
</div>
