<Dashboard::NewFeaturesBanner />

<div class="mt-8 flex w-full" {{did-insert (perform this.fetchLatestDocs)}}>
  <div class="w-full pb-16">

    {{#if @docsAwaitingReview}}
      <Dashboard::DocsAwaitingReview @docs={{@docsAwaitingReview}} />
    {{/if}}

    {{#if this.latestDocs}}
      <div class="mb-2 flex h-12 items-center gap-3">
        {{! <div class="w-12"></div> }}

        <h4 class="text-[45px] text-color-foreground-strong">
          Latest docs
        </h4>
      </div>
      <ol>
        {{#each this.latestDocs as |doc|}}
          <li class="border-b border-b-color-border-faint last:border-0">
            <LinkTo
              @route="authenticated.document"
              @model={{doc.objectID}}
              @query={{hash draft=doc.isDraft}}
              class="block bg-red-50/0"
            >
              <div
                class="relative flex justify-between gap-4 pl-2 pr-9 pt-7 pb-9"
              >
                <Person::Avatar
                  @size="large"
                  @email="{{get doc.owners 0}}"
                  @imgURL={{get doc.ownerPhotos 0}}
                  class="-ml-px -mt-1.5 shrink-0"
                />
                <div class="w-full">

                  {{! Title and docNumber }}
                  <div class="relative z-10 overflow-hidden">
                    <h4
                      class="text-display-300 font-semibold text-color-foreground-strong"
                    >
                      <span data-test-document-title class="mr-1.5">
                        {{doc.title}}
                      </span>
                      <span
                        data-test-document-number
                        class="shrink-0 font-regular text-color-foreground-faint"
                      >
                        <span class="whitespace-nowrap">
                          {{doc.docNumber}}
                        </span>
                      </span>
                    </h4>
                  </div>
                  {{! Owner }}
                  <div class="mt-1.5 flex items-center gap-[5px]">
                    {{get doc.owners 0}}
                    <span class="opacity-30">
                      |
                    </span>
                    {{doc.product}}
                    <span class="opacity-30">
                      |
                    </span>
                    {{time-ago doc.createdTime}}
                  </div>

                  {{#if doc.summary}}
                    <p class="mt-2.5 max-w-xl text-body-200">
                      {{doc.summary}}
                    </p>
                  {{/if}}

                  {{! <div class="my-2 h-px w-8 bg-color-border-primary" /> }}
                  <div class="mt-3.5 flex items-center gap-1">
                    <Doc::State
                      @state={{doc.status}}
                      @hideProgress={{true}}
                      class="interactive"
                    />
                    <Hds::Badge @text={{doc.docType}} />
                  </div>

                  <!--
                  {{! Type and Product }}
                  <div
                    class="mt-3.5 flex items-center gap-[5px] text-body-200 leading-none text-color-foreground-faint"
                  >
                    <span>
                      {{doc.docType}}
                    </span>
                    <span class="opacity-50">
                      |
                    </span>
                    <span>
                      {{doc.status}}
                    </span>
                    <span class="opacity-50">
                      |
                    </span>
                    <span>
                      {{doc.product}}
                    </span>
                    <span class="opacity-50">
                      |
                    </span>
                    {{! Created time }}
                    <span>
                      {{time-ago doc.createdTime limitTo24Hours=true}}
                    </span>
                  </div>
                  -->

                </div>
                <div class="relative shrink-0">
                  <Doc::Thumbnail
                    @status={{doc.status}}
                    @product={{doc.product}}
                    @size="medium"
                    class="shrink-0 self-start"
                  />
                </div>
              </div>
            </LinkTo>
          </li>
        {{/each}}
      </ol>

      {{#if this.linkToAllDocsIsShown}}
        <div class="mt-5 pl-2 pr-10">
          <Hds::Button
            @color="tertiary"
            @text="See older documents"
            @icon="arrow-right"
            @iconPosition="trailing"
            @isFullWidth={{true}}
            @route="authenticated.documents"
            @query={{hash page=2}}
            class="py-3"
          />
        </div>
      {{/if}}
    {{else if this.fetchLatestDocs.isRunning}}
      {{log "fetching latest docs (template)"}}
      <div class="h-[100px]">
        <FlightIcon @name="loading" class="mt-1" />
      </div>
    {{else if (eq this.latestDocs null)}}
      <div class="h-[100px]">
        <p class="mb-7 text-body-300 text-color-foreground-faint">
          Error fetching documents.
        </p>
        <Hds::Button
          @text="Retry"
          @color="secondary"
          @size="small"
          @icon="reload"
          {{on "click" (perform this.fetchLatestDocs)}}
        />
      </div>
    {{else}}
      <div class="text-display-200">
        No documents yet.
      </div>
    {{/if}}
  </div>
  <div class="relative w-96 shrink-0 pl-14">
    {{! Circle }}
    {{! <div
      class="absolute left-[0.5px] top-0 z-10 grid h-3 w-3 shrink-0 -translate-x-1/2 place-items-center rounded-full border-[1px] border-color-border-strong bg-color-page-primary"
    >
      <div class="h-1.5 w-1.5 rounded-full bg-color-foreground-disabled">
      </div>
    </div> }}

    {{! Vertical line }}
    <div class="absolute left-0 top-0 h-full w-px bg-color-border-faint" />
    <div class="mt-6 flex items-center gap-3">
      {{! <FlightIcon @name="history" /> }}
      <h4 class="text-display-400 text-color-foreground-strong">
        Recently viewed
      </h4>
    </div>
    {{#if true}}
      <ul class="mt-1 flex flex-col">
        {{! new versions of the recently viewed }}
        {{#each this.recentlyViewedDocs.all as |r|}}
          <li>
            {{r.doc.title}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="mt-3 mb-2 text-color-foreground-faint">
        None yet
      </div>
    {{/if}}
  </div>
</div>
