<LinkTo
  @route={{this.targetRoute}}
  @model={{this.modelID}}
  @query={{this.query}}
  class="px-3 pt-3 pb-3.5"
>
  <div class="flex w-full items-start gap-5">
    <div class="w-full">
      {{#if this.projectStatus}}
        {{! PROJECT }}
        <div class="flex items-start gap-3">
          <div class="w-5">
            <Project::StatusIcon
              @status={{this.projectStatus}}
              class="mix-blend-multiply"
            />
          </div>
          {{! TODO: padding right ? }}
          <h5 class="pr-0">
            {{this.title}}
          </h5>
        </div>
      {{else}}
        {{! DOC }}
        <div class="flex gap-3">
          {{! <FlightIcon
            @name="file-text"
            class="shrink-0 text-color-foreground-disabled"
          /> }}
          <Product::Avatar @product={{this.product}} class="shrink-0" />
          <div class="w-full">
            <Hds::Badge
              @text={{this.docType}}
              class="float-right ml-1.5 h-5 min-h-0 px-[5px] py-0"
            />
            <h5 class="max-lg:truncate">
              {{this.title}}
              <span class="font-regular">
                {{this.docNumber}}
              </span>
            </h5>
            <div
              class="mt-0.5 flex justify-between text-body-100 text-color-foreground-faint"
            >

              {{!-- <Person @email={{this.owner}} /> --}}
              {{get-model-attr "person.name" this.owner}}
            </div>
          </div>
        </div>
      {{/if}}

    </div>
  </div>
</LinkTo>
