<LinkTo
  @route={{this.targetRoute}}
  @model={{this.modelID}}
  @query={{this.query}}
  class="px-3 pt-3 pb-3.5"
>
  <div class="flex w-full items-start gap-5">
    <div class="w-full">
      {{#if this.projectStatus}}
        {{! PROJECT }}
        <div class="grid gap-2">
          <div class="flex shrink-0 justify-between gap-1">
            <div class="flex gap-1">
              <Project::StatusIcon
                @status={{this.projectStatus}}
                class="mr-px flex"
              />
              <Hds::Badge @text="PROJECT" class="h-5 min-h-0 rounded px-1" />
            </div>
            {{!-- <FlightIcon
              @name="folder"
              {{! @size="24" }}
              class="shrink-0 text-color-foreground-disabled"
            /> --}}
            {{! <span>
              Project
            </span> }}

            <div class="flex gap-1">
              {{! need multi-avatar and overflow solution }}
              <Product::Avatar @product={{this.product}} class="shrink-0" />
            </div>
          </div>
          {{! TODO: padding right ? }}
          <div class="w-full">

            <h5>
              {{this.title}}
            </h5>
            <p class="mt-0.5 text-body-100 text-color-foreground-faint">
              Modified
              {{time-ago @item.project.modifiedTime}}
            </p>
            <div class="text-color-foreground-faint">
              {{!-- <span class={{this.projectStatus}}>
                {{this.projectStatusLabel}}
              </span> --}}
              {{! Project }}
            </div>
          </div>
          {{!-- <Product::Avatar @product={{this.product}} class="shrink-0" /> --}}
        </div>

      {{else}}
        {{! DOC }}
        <div class="flex flex-col gap-2">
          <div class="flex items-center justify-between gap-1">
            <div class="flex items-center gap-1">
              {{log "da status" this.docStatus}}
              <Document::StatusIcon @status={{this.docStatus}} />
              <Hds::Badge
                @text={{this.docType}}
                class="h-5 min-h-0 rounded px-1"
              />
            </div>

            {{!-- <FlightIcon
              @name="file-text"
              {{! @size="24" }}
              class="shrink-0 text-color-foreground-disabled"
            /> --}}

            {{!-- <Doc::Status
              @status={{this.docStatus}}
              class=""
              @hideProgress={{true}}
            /> --}}
            <div class="flex items-center gap-1">
              <Person::Avatar @email={{this.owner}} />

              <Product::Avatar @product={{this.product}} class="shrink-0" />
            </div>
          </div>

          <div class="w-full">
            <h5 class="max-lg:truncate">
              {{this.title}}
              <span
                class="whitespace-nowrap font-regular text-color-foreground-primary"
              >
                {{this.docNumber}}
              </span>
            </h5>
            <p class="mt-0.5 text-body-100 text-color-foreground-faint">
              Modified
              {{time-ago @item.doc.modifiedTime}}
            </p>
            <div class="Xmt-1.5 Xhidden w-full text-color-foreground-faint">
              {{!-- {{this.docStatus}} --}}
              {{!-- {{this.docType}} --}}
              {{!-- {{get-model-attr "person.name" this.owner}} --}}
              {{!-- <Doc::Status
                @status={{this.docStatus}}
                class=""
                @hideProgress={{true}}
              /> --}}
              {{!-- <Hds::Badge @text={{this.docType}} class="min-h-X0" /> --}}
            </div>
          </div>
          {{!-- <Product::Avatar @product={{this.product}} class="shrink-0" /> --}}
        </div>
      {{/if}}

    </div>
  </div>
</LinkTo>
