<LinkTo
  @route={{this.targetRoute}}
  @model={{this.modelID}}
  @query={{this.query}}
  class="px-3 pt-2 pb-2.5"
>
  <div class="flex w-full items-start gap-5">
    <div class="w-full">
      {{#if this.projectStatus}}
        <div class="flex gap-2.5">
          {{! should be grid }}
          <Project::StatusIcon
            @status={{this.projectStatus}}
            class="mt-px shrink-0"
          />
          <h5>
            {{this.title}}
          </h5>
        </div>
      {{else}}
        <div class="flex gap-2.5">
          {{! should be grid }}
          <FlightIcon
            @name="file-text"
            class="mt-0.5 shrink-0 text-color-foreground-disabled"
          />
          <div>

            <h5 class="max-lg:truncate">
              {{this.title}}
              <span class="ml-0.5 text-body-100 font-regular">
                {{this.docNumber}}
              </span>
            </h5>
            {{!-- <div class="mt-0.5 flex items-center gap-[3px]">
              <Product::Avatar @product={{this.product}} />
              <Person::Avatar @email={{this.owner}} />
              <Hds::Badge @text={{this.badgeText}} class="h-5 px-1.5 py-0" />
            </div> --}}
          </div>
        </div>
        {{!-- <p class="mt-0.5 text-body-100 text-color-foreground-faint">
          Modified
          {{this.modifiedTime}}
        </p> --}}
      {{/if}}

    </div>
  </div>
</LinkTo>
