{{on-window "resize" this.updateAffordances}}

<div class="secondary flex shrink-0 lg:w-72">
  <div
    class="relative h-full w-full border-l-color-border-primary lg:border-l lg:pl-4"
  >
    <div class="mt-2.5 flex w-full items-center justify-between lg:pl-3">
      <h4 class="max-lg:hermes-h4">
        Recently viewed
      </h4>
      <div class="flex gap-1 lg:hidden">
        <Hds::Button
          data-test-scroll-back
          {{on "click" this.scrollBack}}
          @color="secondary"
          @icon="arrow-left"
          class="pill-button"
          @text="Scroll left"
          @isIconOnly={{true}}
          @size="small"
          disabled={{not this.canScrollBack}}
        />
        <Hds::Button
          data-test-scroll-forward
          {{on "click" this.scrollForward}}
          @color="secondary"
          @icon="arrow-right"
          class="pill-button"
          @text="Scroll right"
          @isIconOnly={{true}}
          @size="small"
          disabled={{not this.canScrollForward}}
        />
      </div>
    </div>
    {{#if this.viewedDocs.all}}
      <div class="relative mt-4">
        <ol
          data-test-recently-viewed-docs
          {{did-insert this.registerScrollBody}}
          {{on "scroll" this.updateAffordances}}
          class="{{if
              this.screenIsSmall
              'horizontally-divided-list flex snap-x snap-proximity overflow-auto rounded-md pb-4'
              'divided-list'
            }}"
        >
          {{#each this.docs as |r|}}
            <li
              data-test-recently-viewed-doc
              class="w-56 shrink-0 snap-start lg:w-full"
            >
              <LinkTo
                @route="authenticated.document"
                @model={{r.doc.objectID}}
                @query={{hash draft=r.doc.isDraft}}
                class="px-3 pt-3 pb-3.5"
              >
                <div class="flex w-full items-start gap-5">
                  <div class="w-full">
                    <div class="flex items-center gap-[3px]">
                      <Product::Avatar @product={{r.doc.product}} />
                      <Person::Avatar @email={{get r.doc.owners 0}} />
                      <Hds::Badge
                        @text={{r.doc.docType}}
                        class="h-5 px-1.5 py-0"
                      />
                    </div>
                    <h5 class="mt-1.5 max-lg:truncate">
                      {{r.doc.title}}
                      <span class="ml-0.5 text-body-100 font-regular">

                        {{r.doc.docNumber}}
                      </span>
                    </h5>
                    <p class="mt-0.5 text-body-100 text-color-foreground-faint">
                      Modified
                      {{time-ago r.doc.modifiedTime}}
                    </p>
                  </div>
                </div>
              </LinkTo>
            </li>
          {{/each}}
        </ol>
        {{! Scroll affordances }}
        <div
          class="scroll-affordance left-0 rounded-l-md bg-gradient-to-r
            {{unless this.canScrollBack 'opacity-0'}}"
          aria-hidden="true"
        />
        <div
          class="scroll-affordance right-0 rounded-r-md bg-gradient-to-l
            {{unless this.canScrollForward 'opacity-0'}}"
          aria-hidden="true"
        />
      </div>
    {{else}}
      <div data-test-no-viewed-docs class="empty-text lg:px-3">
        You haven't viewed any documents yet.
      </div>
    {{/if}}
  </div>
</div>
