<LinkTo
  @route={{this.targetRoute}}
  @model={{this.modelID}}
  @query={{this.query}}
  class="px-3 pt-3 pb-4"
>
  <div class="flex w-full justify-between">
    {{! Status and Type }}
    <div class="flex items-center gap-1 text-body-100">
      {{#if this.projectStatus}}
        <Project::StatusIcon @status={{this.projectStatus}} />
      {{else if this.docStatus}}
        <Document::StatusIcon @status={{this.docStatus}} />
      {{/if}}
      <span class="ml-px font-medium">
        {{or this.docType "Project"}}
      </span>
    </div>

    {{! Products and Owner }}
    <div class="flex items-center gap-1 text-body-100">
      {{#if this.products}}
        {{#each this.products as |product|}}
          <Product::Avatar @product={{product}} />
        {{/each}}
      {{/if}}
      {{#if this.owner}}
        <Person::Avatar @email={{this.owner}} />
      {{/if}}
    </div>
  </div>

  {{! Text }}
  <div class="mt-1 pr-8">
    <h5>
      {{this.title}}
      {{#if this.docNumber}}
        <span
          class="whitespace-nowrap font-regular text-color-foreground-primary"
        >
          {{this.docNumber}}
        </span>
      {{/if}}
    </h5>
    <p class="mt-0.5 text-body-100 text-color-foreground-faint">
      Modified
      {{time-ago this.modifiedTime}}
    </p>
  </div>

</LinkTo>
