<div data-test-sidebar-footer class="sidebar-footer" ...attributes>
  {{#if @isReadOnly}}
    <div
      data-test-read-only
      class="-mb-1 w-full border-t border-color-border-primary px-3 pt-3.5"
    >
      <h5
        data-test-read-only-footer-headline
        class="mb-1 flex items-center gap-1.5 text-body-200 font-semibold"
      >
        {{if @docIsLocked "Document is locked" "Read-only headers"}}
        <FlightIcon
          @name="lock"
          class="-mt-px shrink-0 text-color-foreground-faint"
        />
      </h5>
      <p
        data-test-read-only-footer-paragraph
        class="mb-1.5 text-color-foreground-faint"
      >
        {{if
          @docIsLocked
          "Due to a Google API bug, all suggestions must be removed from the document header to unlock."
          "Weʼre unable to edit the metadata of files created offsite."
        }}
      </p>
      {{#if @docIsLocked}}
        <Hds::Link::Standalone
          data-test-locked-doc-link
          @icon="arrow-right"
          @iconPosition="trailing"
          @text="See the issue on GitHub"
          @size="small"
          @href="https://github.com/hashicorp-forge/hermes/issues/181"
        />
      {{else}}
        <div
          data-test-read-only-doc-note
          class="text-body-100 text-color-foreground-faint"
        >
          Create docs in-app for best results.
        </div>
      {{/if}}
    </div>
  {{else}}
    {{#let @primaryButtonAttrs as |p|}}
      <div data-test-footer-controls class="flex items-start gap-2 px-2">
        {{#if p.action}}
          <Hds::Button
            data-test-sidebar-footer-primary-button
            {{on "click" p.action}}
            @icon={{if p.isRunning "running"}}
            @isIconOnly={{p.isRunning}}
            @text={{p.text}}
            disabled={{p.isRunning}}
            @color="primary"
            class="w-full"
          />
        {{else}}
          <div
            data-test-sidebar-footer-primary-button-read-only
            class="hds-button mock-disabled hds-button--primary hds-button--size-medium w-full leading-none"
          >
            {{p.text}}
          </div>
        {{/if}}
        {{#let @secondaryButtonAttrs as |s|}}
          {{#if s}}
            {{#if s.actions}}
              <X::DropdownList
                data-test-sidebar-footer-overflow-menu
                @items={{s.actions}}
                @placement="top-end"
              >
                <:anchor as |dd|>
                  <dd.ToggleAction>
                    <Hds::Button
                      data-test-sidebar-footer-secondary-dropdown-button
                      @text="More actions"
                      @color="secondary"
                      @icon={{if s.isRunning "running" "more-horizontal"}}
                      @isIconOnly={{true}}
                      disabled={{p.isRunning}}
                    />
                  </dd.ToggleAction>
                </:anchor>
                <:item as |dd|>
                  <dd.Action
                    disabled={{p.isRunning}}
                    class="flex gap-2.5"
                    {{on "click" dd.attrs.action}}
                  >
                    <FlightIcon
                      @name={{dd.attrs.icon}}
                      class="shrink-0 opacity-60"
                    />
                    {{dd.attrs.text}}
                  </dd.Action>
                </:item>
              </X::DropdownList>
            {{/if}}
          {{/if}}
        {{/let}}
      </div>
    {{/let}}
  {{/if}}
</div>
