<div class="sidebar-header {{if @userHasScrolled 'border-b border-black/20'}}">
  <LinkTo
    class="sidebar-header-button sidebar-dashboard-link"
    @route="authenticated.dashboard"
    {{(if @isCollapsed (modifier "tooltip" "Dashboard" placement="right"))}}
  >
    <FlightIcon
      @name={{if @isCollapsed "hashicorp" "arrow-left"}}
      @size={{if @isCollapsed "24"}}
    />
    {{#unless @isCollapsed}}
      <span>Dashboard</span>
    {{/unless}}
  </LinkTo>
  <div class="sidebar-header-icon-controls">
    {{#if this.shareButtonIsShown}}
      <CopyURLButton
        @url={{this.url}}
        @tooltipPlacement={{if @isCollapsed "right" "bottom"}}
        class="sidebar-header-button"
      />
    {{/if}}
    <ExternalLink
      class="sidebar-header-button"
      {{tooltip "Open in Google" placement=(if @isCollapsed "right" "bottom")}}
    >
      <FlightIcon @name="external-link" />
    </ExternalLink>
    <Action
      class="sidebar-header-button"
      href="https://docs.google.com/document/d/{{@document.objectID}}"
      {{on "click" @toggleCollapsed}}
      {{tooltip
        (concat (if @isCollapsed "Expand" "Collapse") " sidebar")
        placement=(if @isCollapsed "right" "bottom")
      }}
    >
      <FlightIcon @name={{if @isCollapsed "sidebar-show" "sidebar-hide"}} />
    </Action>
  </div>
</div>
