<div class="sidebar-header sidebar-toolbar {{if @userHasScrolled 'scrolled'}}">
  <div class="self-stretch flex">
    {{! Collapsed view needs work now }}
    <LinkTo
      data-test-sidebar-dashboard-link
      class="sidebar-header-button sidebar-dashboard-link h-full"
      @route="authenticated.dashboard"
      {{(if @isCollapsed (modifier "tooltip" "Dashboard" placement="right"))}}
    >
      <FlightIcon @name={{this.dashboardIcon}} @size={{if @isCollapsed "24"}} />
      {{#unless @isCollapsed}}
        {{#if this.dashboardLabel}}
          <span class="ml-2">Dashboard</span>
        {{else}}
          <FlightIcon @name="hashicorp" class="ml-2" />
        {{/if}}
      {{/unless}}

    </LinkTo>
    <div class="md:hidden">
      <Action
        class="sidebar-header-button h-full"
        {{on "click" @toggleSidebarMenu}}
      >
        <FlightIcon
          @name={{if @isCollapsed "hashicorp" "info-fill"}}
          @size={{if @isCollapsed "24"}}
        />
        {{! TODO: clean up this ml-2 stuff }}
        <span class="ml-2">Info</span>
      </Action>
    </div>
  </div>
  <div class="sidebar-header-icon-controls">
    {{#if this.shareButtonIsShown}}
      <CopyURLButton
        data-test-sidebar-copy-url-button
        data-test-copy-url-value={{this.url}}
        @url={{this.url}}
        @tooltipPlacement={{if @isCollapsed "right" "bottom"}}
        @tooltipIsForcedOpen={{this.tooltipIsForcedOpen}}
        @icon={{@shareButtonIcon}}
        @tooltipText={{@shareButtonTooltipText}}
        class="sidebar-header-button"
        id="sidebar-header-copy-url-button"
      />
    {{/if}}
    <ExternalLink
      data-test-sidebar-google-docs-link
      class="sidebar-header-button"
      href="https://docs.google.com/document/d/{{@document.objectID}}"
      {{tooltip "Open in Google" placement=(if @isCollapsed "right" "bottom")}}
    >
      {{! At small sizes the tooltip isn't needed }}
      <FlightIcon @name="external-link" />
    </ExternalLink>

    <Action
      data-test-sidebar-toggle-button
      data-test-is-collapsed={{@isCollapsed}}
      {{! TODO: move styles to css }}
      class="sidebar-header-button sidebar-toggle-button"
      {{on "click" @toggleCollapsed}}
      {{tooltip
        (concat (if @isCollapsed "Expand" "Collapse") " sidebar")
        placement=(if @isCollapsed "right" "bottom")
      }}
    >
      <FlightIcon @name={{if @isCollapsed "sidebar-show" "sidebar-hide"}} />
    </Action>
  </div>
</div>
