<div class="sidebar-header {{if @userHasScrolled 'scrolled'}}" ...attributes>
  <LinkTo
    data-test-sidebar-dashboard-link
    class="sidebar-header-button sidebar-dashboard-link"
    @route="authenticated.dashboard"
    {{(if @isCollapsed (modifier "tooltip" "Dashboard" placement="right"))}}
  >
    <FlightIcon @name="hashicorp" @size={{if @isCollapsed "24"}} />
    {{#unless @isCollapsed}}
      <span
        class="border-l tracking-[-0.15px] border-l-color-border-strong pl-2 ml-2 font-semibold text-body-300"
      >
        Hermes
      </span>
    {{/unless}}
  </LinkTo>
  <div class="sidebar-header-icon-controls">
    {{#if this.shareButtonIsShown}}
      <CopyURLButton
        data-test-sidebar-copy-url-button
        data-test-copy-url-value={{@shareURL}}
        @url={{@shareURL}}
        @tooltipPlacement={{if @isCollapsed "right" "bottom"}}
        @tooltipIsForcedOpen={{this.tooltipIsForcedOpen}}
        @icon={{@shareButtonIcon}}
        @tooltipText={{@shareButtonTooltipText}}
        @isIconOnly={{true}}
        class="sidebar-header-button"
        id="sidebar-header-copy-url-button"
      />
    {{/if}}

    <ExternalLink
      data-test-sidebar-google-docs-link
      class="sidebar-header-button"
      href="https://docs.google.com/document/d/{{@document.objectID}}"
      {{tooltip "Open in Google" placement=(if @isCollapsed "right" "bottom")}}
    >
      <FlightIcon @name="external-link" />
    </ExternalLink>
    <Action
      data-test-sidebar-toggle-button
      data-test-is-collapsed={{@isCollapsed}}
      class="sidebar-header-button"
      {{on "click" @toggleCollapsed}}
      {{tooltip
        (concat (if @isCollapsed "Expand" "Collapse") " sidebar")
        placement=(if @isCollapsed "right" "bottom")
      }}
    >
      <FlightIcon @name={{if @isCollapsed "sidebar-show" "sidebar-hide"}} />
    </Action>
  </div>
</div>

{{#if this.modalIsShown}}
  <Hds::Modal @onClose={{this.hideModal}} as |M|>
    <M.Header>Add to project</M.Header>
    <M.Body>
      {{! TODO: first item should be an "add to..." }}
      <X::DropdownList
        @items={{this.dropdownItems}}
        @placement={{null}}
        @inputIsShown={{false}}
        @disableClose={{true}}
        class="non-floating-list"
        {{did-insert this.loadProjects}}
      >
        <:anchor as |dd|>
          <dd.SearchInput
            placeholder="Find or create a project..."
            aria-label="Find or create a project..."
            @query=""
            {{! TODO: add these }}
            @searchIsRunning={{false}}
            @onInput={{this.onInput}}
            @onKeydown={{this.onKeydown}}
          />
        </:anchor>
        <:item as |dd|>
          {{! TODO: show if a doc is already in a project }}
          {{dd.attrs.name}}
        </:item>
      </X::DropdownList>
    </M.Body>
  </Hds::Modal>
{{/if}}
