<div class="sidebar-header flex w-full items-center justify-between">

  <LinkTo
    @route="authenticated.dashboard"
    class="icon-link items-center text-inherit group hover:text-color-foreground-strong no-underline"
  >
    <FlightIcon
      @name="arrow-left"
      class="mr-1.5 text-color-foreground-faint group-hover:text-color-foreground-primary"
    />
    Dashboard
  </LinkTo>

  <div class="flex items-center">

    {{#if @shareButtonIsShown}}
      <Tooltip
        @placement={{this.tooltipPlacement}}
        @text={{if this.urlRecentlyCopied "Copied!" "Copy URL"}}
      >
        <Action {{on "click" (perform this.copyUrl)}} class="icon-link">
          <FlightIcon @name={{if this.urlRecentlyCopied "check" "link"}} />
        </Action>
      </Tooltip>
    {{/if}}

    <Tooltip @placement={{this.tooltipPlacement}} @text="Open in Drive">
      <ExternalLink
        href="https://docs.google.com/document/d/{{@document.docID}}"
        class="icon-link"
      >
        <FlightIcon @name="external-link" />
      </ExternalLink>
    </Tooltip>

    <Tooltip
      @placement={{this.tooltipPlacement}}
      @text={{if @isCollapsed "Expand sidebar" "Collapse sidebar"}}
    >
      <Action {{on "click" @toggleCollapsed}} class="icon-link">
        <FlightIcon @name={{if @isCollapsed "sidebar-show" "sidebar-hide"}} />
      </Action>
    </Tooltip>
  </div>
</div>
