<div class="sidebar-header {{if @userHasScrolled 'scrolled'}}" ...attributes>
  <LinkTo
    data-test-sidebar-dashboard-link
    class="sidebar-header-button sidebar-dashboard-link"
    @route="authenticated.dashboard"
    {{(if @isCollapsed (modifier "tooltip" "Dashboard" placement="right"))}}
  >
    <FlightIcon @name="hashicorp" @size={{if @isCollapsed "24"}} />
    {{#unless @isCollapsed}}
      <span
        class="border-l tracking-[-0.15px] border-l-color-border-strong pl-2 ml-2 font-semibold text-body-300"
      >
        Hermes
      </span>
    {{/unless}}
  </LinkTo>
  <div class="sidebar-header-icon-controls">
    <Action class="sidebar-header-button" {{tooltip "Pin to dashboard"}}>
      <FlightIcon @name="pin" />
    </Action>
    {{#if this.shareButtonIsShown}}
      <CopyURLButton
        data-test-sidebar-copy-url-button
        data-test-copy-url-value={{@shareURL}}
        @url={{@shareURL}}
        @tooltipPlacement={{if @isCollapsed "right" "bottom"}}
        @tooltipIsForcedOpen={{this.tooltipIsForcedOpen}}
        @icon={{@shareButtonIcon}}
        @tooltipText={{@shareButtonTooltipText}}
        @isIconOnly={{true}}
        class="sidebar-header-button"
        id="sidebar-header-copy-url-button"
      />
    {{/if}}

    <ExternalLink
      data-test-sidebar-google-docs-link
      class="sidebar-header-button"
      href="https://docs.google.com/document/d/{{@document.objectID}}"
      {{tooltip "Open in Google" placement=(if @isCollapsed "right" "bottom")}}
    >
      <FlightIcon @name="external-link" />
    </ExternalLink>
    <Action
      data-test-sidebar-toggle-button
      data-test-is-collapsed={{@isCollapsed}}
      class="sidebar-header-button"
      {{on "click" @toggleCollapsed}}
      {{tooltip
        (concat (if @isCollapsed "Expand" "Collapse") " sidebar")
        placement=(if @isCollapsed "right" "bottom")
      }}
    >
      <FlightIcon @name={{if @isCollapsed "sidebar-show" "sidebar-hide"}} />
    </Action>
  </div>
</div>
