<div class="flex w-full items-center justify-between">
  <X::HdsTab
    @label="Dashboard"
    @icon="arrow-left"
    @link="authenticated.dashboard"
  />
  <div class="flex items-center">
    {{#if @shareButtonIsShown}}
      <Tooltip @text={{if this.urlRecentlyCopied "Copied!" "Copy URL"}}>
        <Action {{on "click" (perform this.copyUrl)}} class="flex px-1.5 py-1">
          <FlightIcon @name={{if this.urlRecentlyCopied "check" "link"}} />
        </Action>
      </Tooltip>
    {{/if}}
    <Tooltip @text="Open in Drive">
      <a
        href="https://docs.google.com/document/d/{{@document.docID}}"
        target="_blank"
        rel="noopener nofollow"
        class="flex px-1.5 py-1"
      >
        <FlightIcon @name="external-link" />
      </a>
    </Tooltip>

    <Tooltip @text={{if @isCollapsed "Expand sidebar" "Collapse sidebar"}}>
      <Action {{on "click" @toggleCollapsed}} class="flex px-1.5 py-1">
        <FlightIcon @name={{if @isCollapsed "sidebar-show" "sidebar-hide"}} />
      </Action>
    </Tooltip>
  </div>
</div>
