<Document::Sidebar::SectionHeader
  {{did-insert (perform this.loadRelatedResources)}}
  @title={{@headerTitle}}
  @badgeText="New"
  @buttonIsHidden={{this.sectionHeaderButtonIsHidden}}
  @buttonAction={{this.showAddResourceModal}}
/>

{{#if this.loadRelatedResources.isRunning}}
  <div class="h-[26px] pt-1.5">
    <FlightIcon data-test-related-resources-list-loading-icon @name="loading" />
  </div>
{{else if this.loadingHasFailed}}
  <div class="h-16">
    <div class="related-resources-failed-to-load">
      Failed to load
    </div>
    <Hds::Button
      data-test-related-resources-error-button
      @color="secondary"
      @size="small"
      @text="Retry"
      @icon="reload"
      {{on "click" (perform this.loadRelatedResources)}}
    />
  </div>
{{else}}
  <Document::Sidebar::RelatedResources::List
    @items={{this.relatedResourcesObjectEntries}}
    @itemLimit={{@itemLimit}}
  >
    <:resource as |r|>
      <Document::Sidebar::RelatedResources::ListItem
        @resource={{r}}
        @removeResource={{this.removeResource}}
        @editResource={{this.editResource}}
        @editingIsDisabled={{@editingIsDisabled}}
      />
    </:resource>
  </Document::Sidebar::RelatedResources::List>
{{/if}}

{{#if this.addResourceModalIsShown}}
  <Document::Sidebar::RelatedResources::Add
    @headerTitle={{@modalHeaderTitle}}
    @inputPlaceholder={{@modalInputPlaceholder}}
    @onClose={{this.hideAddResourceModal}}
    @addRelatedExternalLink={{this.addRelatedExternalLink}}
    @addRelatedDocument={{this.addRelatedDocument}}
    @shownDocuments={{this.algoliaResults}}
    @objectID={{@objectID}}
    @relatedDocuments={{this.relatedDocuments}}
    @relatedLinks={{this.relatedLinks}}
    @allowAddingExternalLinks={{@allowAddingExternalLinks}}
    @search={{perform this.search}}
  />
{{/if}}
