{{page-title "Dashboard"}}

<Header />

<section class="x-container">

  <Dashboard::NewFeaturesBanner />

  <h1 class="mb-7">Welcome back, {{this.authenticatedUser.info.given_name}}</h1>

  {{! Fake review }}
  <div class="w-full">
    <div class="flex">
      <h3
        class="font-regular text-color-foreground-primary self-center text-body-200"
      >
        You have
        <span class="badge-count-highlight">1</span>
        document awaiting your review:
      </h3>
    </div>
    <div class="grid mt-4 gap-1 mb-4">
      {{#each (take 1 this.recentDocs.all) as |r|}}
        <LinkTo
          @route="authenticated.document"
          @model={{r.doc.objectID}}
          class="w-full bg-white px-3.5 py-3 rounded border border-color-border-primary overflow-hidden hover:bg-color-surface-faint"
        >
          <div class="w-full">
            <div class="w-full flex items-center gap-3">
              <div class="shrink-0 flex space-x-0.5 Xoutline Xoutline-teal-300">
                <div
                  class="product-badge w-7 h-7 relative rounded-full
                    {{get-product-id r.doc.product}}"
                >
                  {{#if (get-product-id r.doc.product)}}
                    <FlightIcon
                      @size="16"
                      @name={{get-product-id r.doc.product}}
                    />
                  {{else}}
                    <span
                      class="font-medium letter-avatar letter-count-{{get-letter-count
                          (get-doc-abbreviation r.doc.docNumber)
                        }}
                        absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                    >
                      {{get-doc-abbreviation r.doc.docNumber}}
                    </span>
                  {{/if}}
                </div>
                <div class="flex w-auto self-center">
                  <Person::Avatar
                    @email={{get r.doc.owners 0}}
                    @imgURL={{get r.doc.ownerPhotos 0}}
                    class="w-7 h-7"
                  />
                </div>
              </div>

              <div class="w-full block overflow-hidden">

                {{! Title }}
                <div class="w-full flex">
                  <TruncatedText
                    @tagName="h4"
                    class="text-display-200 font-semibold text-color-foreground-strong"
                  >
                    {{r.doc.title}}
                  </TruncatedText>

                  {{! Email }}
                  <div class="max-w-[200px] self-center ml-2 flex space-x-2">
                    <TruncatedText class="text-body-200 w-full">
                      {{get r.doc.owners 0}}
                    </TruncatedText>
                  </div>
                </div>
              </div>

              {{! Badges}}
              <div class="flex shrink-0 items-center space-x-1">
                <Hds::Badge
                  @icon={{or (get-product-id r.doc.product) "folder"}}
                  @text={{r.doc.product}}
                />
                <Hds::Badge @text={{r.doc.docType}} />
              </div>
            </div>
          </div>
        </LinkTo>
      {{/each}}
    </div>
  </div>

  {{#if this.docsWaitingForReview}}
    <div
      class="flex flex-col w-full py-10 border-0 border-b hds-border-primary"
    >
      <div class="flex items-center space-x-2 mb-8">
        <FlightIcon @name="user-check" @size="24" />
        <h2
          class="hds-typography-display-300 hds-font-weight-semibold hds-foreground-strong"
        >Documents waiting for your review</h2>
      </div>

      <div class="tile-list">
        {{#each this.docsWaitingForReview as |doc index|}}
          {{#if (lt index 4)}}
            <Doc::Tile
              @avatar="{{get doc.ownerPhotos 0}}"
              @docID="{{doc.objectID}}"
              @docNumber="{{doc.docNumber}}"
              @modifiedAgo="{{doc.modifiedAgo}}"
              @owner="{{get doc.owners 0}}"
              @productArea="{{doc.product}}"
              @status="{{lowercase doc.status}}"
              @title="{{doc.title}}"
            />
          {{/if}}
        {{/each}}

      </div>
    </div>
  {{/if}}

  <div class="flex flex-col w-full py-10 border-0 border-b hds-border-primary">
    <div class="flex items-center space-x-2 mb-8">
      <FlightIcon @name="eye" @size="24" />
      <h2
        class="hds-typography-display-300 hds-font-weight-semibold hds-foreground-strong"
      >Recently viewed</h2>
    </div>

    {{#if this.recentDocs.all}}
      <div class="tile-list">
        {{#each this.recentDocs.all as |r|}}
          <Doc::Tile
            @isDraft={{r.isDraft}}
            @avatar={{get r.doc.ownerPhotos 0}}
            @docID={{r.doc.objectID}}
            @docNumber={{r.doc.docNumber}}
            @modifiedAgo={{r.doc.modifiedAgo}}
            @owner={{get r.doc.owners 0}}
            @productArea={{r.doc.product}}
            @status={{lowercase r.doc.status}}
            @title={{r.doc.title}}
          />
        {{/each}}
      </div>
    {{else if this.recentDocs.fetchAll.isRunning}}
      <div class="h-[100px]">
        <FlightIcon @name="loading" class="mt-1" />
      </div>
    {{else if (eq this.recentDocs.all null)}}
      <div class="h-[100px]">
        <p class="mb-7 text-color-foreground-faint text-body-300">
          Error fetching documents.
        </p>
        <Hds::Button
          @text="Retry"
          @color="secondary"
          @size="small"
          @icon="reload"
          {{on "click" (perform this.recentDocs.fetchAll)}}
        />
      </div>
    {{else}}
      <div class="text-display-200">
        You havenʼt viewed any documents yet.
      </div>
    {{/if}}

  </div>

  <div class="flex flex-col w-full py-10">
    <Dashboard::LatestUpdates />
  </div>

</section>
