{{page-title "Dashboard"}}

<Header />

{{! TODO: Move this into an index component }}

<section class="x-container">

  <Dashboard::NewFeaturesBanner />

  <h1 class="mb-7">
    Welcome back,
    {{this.authenticatedUser.info.given_name}}!
  </h1>

  {{#if this.docsWaitingForReview}}
    {{! TODO: Move this into a component }}
    <div class="w-full">
      <div class="flex">
        <h2 class="font-regular self-center text-body-200 flex items-center">
          You have
          <span
            data-test-docs-awaiting-review-count
            class="badge-count-highlight"
          >
            {{this.docsWaitingForReview.length}}
          </span>
          document{{if (gt 1 this.docsWaitingForReview.length) "s"}}
          awaiting your review:
        </h2>
      </div>

      <ul class="grid mt-4 gap-1 mb-12">
        {{#each this.docsWaitingForReview as |doc|}}
          <li class="w-full flex">
            <LinkTo
              data-test-doc-awaiting-review-link
              @route="authenticated.document"
              @model={{doc.objectID}}
              class="w-full bg-white px-3.5 py-3 rounded border border-color-border-primary overflow-hidden hover:bg-color-surface-faint group"
            >
              <div class="w-full">
                <div class="w-full flex items-center gap-2.5">

                  {{! Avatar }}
                  {{! TODO: Apply this to other avatar spots }}
                  <Person::Avatar
                    data-test-doc-awaiting-review-owner-avatar
                    @email={{get doc.owners 0}}
                    @imgURL={{get doc.ownerPhotos 0}}
                    class="!w-7 !h-7 rounded-full border border-white group-hover:border-color-surface-faint shrink-0"
                  />

                  <div class="w-full block overflow-hidden">

                    {{! Title }}
                    <div class="w-full flex">
                      <TruncatedText
                        @tagName="h4"
                        class="text-display-200 max-w-[50%] font-semibold text-color-foreground-strong"
                        data-test-doc-awaiting-review-number-and-title
                      >
                        <span class="mr-0.5">
                          {{doc.docNumber}}
                        </span>
                        {{doc.title}}
                      </TruncatedText>

                      {{! Email }}
                      <div class="self-center ml-2 flex space-x-2">
                        <TruncatedText
                          class="text-body-200 w-full"
                          data-test-doc-awaiting-review-owner
                        >
                          {{get doc.owners 0}}
                        </TruncatedText>
                      </div>
                    </div>
                  </div>

                  {{! Badges}}
                  <div class="flex shrink-0 items-center space-x-1">
                    <Hds::Badge
                      data-test-doc-awaiting-review-product-badge
                      @icon={{or (get-product-id doc.product) "folder"}}
                      @text={{doc.product}}
                    />
                    <Hds::Badge
                      data-test-doc-awaiting-review-doctype-badge
                      @text={{doc.docType}}
                    />
                  </div>
                </div>
              </div>
            </LinkTo>
          </li>

        {{/each}}

      </ul>
    </div>
  {{/if}}

  <div
    class="flex flex-col w-full mt-10 pb-10 border-0 border-b hds-border-primary"
  >
    <div class="flex items-center space-x-2 mb-8">
      <FlightIcon @name="eye" @size="24" />
      <h2
        class="hds-typography-display-300 hds-font-weight-semibold hds-foreground-strong"
      >Recently viewed</h2>
    </div>

    {{#if this.recentDocs.all}}
      <div class="tile-list">
        {{#each this.recentDocs.all as |r|}}
          <Doc::Tile
            @isDraft={{r.doc.isDraft}}
            @avatar={{get r.doc.ownerPhotos 0}}
            @docID={{r.doc.objectID}}
            @docNumber={{r.doc.docNumber}}
            @modifiedAgo={{r.doc.modifiedAgo}}
            @owner={{get r.doc.owners 0}}
            @productArea={{r.doc.product}}
            @status={{lowercase r.doc.status}}
            @title={{r.doc.title}}
          />
        {{/each}}
      </div>
    {{else if this.recentDocs.fetchAll.isRunning}}
      <div class="h-[100px]">
        <FlightIcon @name="loading" class="mt-1" />
      </div>
    {{else if (eq this.recentDocs.all null)}}
      <div class="h-[100px]">
        <p class="mb-7 text-color-foreground-faint text-body-300">
          Error fetching documents.
        </p>
        <Hds::Button
          @text="Retry"
          @color="secondary"
          @size="small"
          @icon="reload"
          {{on "click" (perform this.recentDocs.fetchAll)}}
        />
      </div>
    {{else}}
      <div class="text-display-200">
        You havenʼt viewed any documents yet.
      </div>
    {{/if}}

  </div>

  <div class="flex flex-col w-full py-10">
    <Dashboard::LatestUpdates />
  </div>

</section>
