{{page-title "Dashboard"}}
{{set-body-class "screen--dashboard"}}

<Header />

<section class="x-container">

  <Dashboard::NewFeaturesBanner />

  <div class="dashboard-section">
    <h1>Welcome back, {{this.authenticatedUser.info.given_name}}</h1>
    <p>Here’s all the latest updates across the organization.</p>
  </div>

  {{#if this.docsWaitingForReview}}
    <div class="dashboard-section">
      <div class="dashboard-section-header">
        {{! TODO: This should react to small screens }}
        <FlightIcon @name="user-check" @size="24" />
        <h2>Documents waiting for your review</h2>
      </div>
      <div class="tile-list">
        {{#each this.docsWaitingForReview as |doc index|}}
          {{#if (lt index 4)}}
            <Doc::Tile
              @avatar="{{get doc.ownerPhotos 0}}"
              @docID="{{doc.objectID}}"
              @docNumber="{{doc.docNumber}}"
              @modifiedAgo="{{doc.modifiedAgo}}"
              @owner="{{get doc.owners 0}}"
              @productArea="{{doc.product}}"
              @status="{{lowercase doc.status}}"
              @title="{{doc.title}}"
            />
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  <div class="dashboard-section">
    <div class="dashboard-section-header">
      {{! TODO: This should react to small screens }}
      <FlightIcon @name="eye" @size="24" />
      <h2>Recently viewed</h2>
    </div>

    {{#if this.recentDocs.all}}
      <div class="tile-list">
        {{#each this.recentDocs.all as |r|}}
          <Doc::Tile
            @isDraft={{r.isDraft}}
            @avatar={{get r.doc.ownerPhotos 0}}
            @docID={{r.doc.objectID}}
            @docNumber={{r.doc.docNumber}}
            @modifiedAgo={{r.doc.modifiedAgo}}
            @owner={{get r.doc.owners 0}}
            @productArea={{r.doc.product}}
            @status={{lowercase r.doc.status}}
            @title={{r.doc.title}}
          />
        {{/each}}
      </div>
    {{else if this.recentDocs.fetchAll.isRunning}}
      <div class="h-[100px]">
        <FlightIcon @name="loading" class="mt-1" />
      </div>
    {{else if (eq this.recentDocs.all null)}}
      <div class="h-[100px]">
        <p class="mb-7 text-color-foreground-faint text-body-300">
          Error fetching documents.
        </p>
        <Hds::Button
          @text="Retry"
          @color="secondary"
          @size="small"
          @icon="reload"
          {{on "click" (perform this.recentDocs.fetchAll)}}
        />
      </div>
    {{else}}
      <div class="text-display-200">
        You havenʼt viewed any documents yet.
      </div>
    {{/if}}

  </div>

  <Dashboard::LatestUpdates />

</section>
