{{page-title "docs of me"}}
<Header />
<section class="x-container">
  {{#if this.docsOfMeWaitingForReview}}
    <div
      class="flex flex-col w-full py-10 border-0 border-b hds-border-primary"
    >
      <div class="flex items-center space-x-2 mb-8">
        <FlightIcon @name="user-check" @size="24" />
        <h2
          class="hds-typography-display-300 hds-font-weight-semibold hds-foreground-strong"
        >My documents waiting in review</h2>
      </div>
      <div class="y-2 gap-2"></div>
      {{#each this.docsOfMeWaitingForReview as |doc index|}}
        <Hds::Table @isStriped={{false}} class="row-results__table">
          <:head as |H|>
            <H.Tr>
              <H.Th class="name">Name</H.Th>
              <H.Th class="type">Type</H.Th>
              <H.Th class="status">Overall Doc Status</H.Th>
              <H.Th class="product">BU</H.Th>
              {{!-- <H.Th class="owner">Owner</H.Th> --}}
              <H.Th class="created">Created</H.Th>
              <H.Th class="created">Due Date</H.Th>
            </H.Tr>
          </:head>
          <:body>
            <Doc::Row
              @avatar="{{get doc.ownerPhotos 0}}"
              {{!-- @createdDate="{{parse-date doc.created}}" --}}
              @createdDate="{{doc.created}}"
              @docID="{{doc.objectID}}"
              @docNumber="{{doc.docNumber}}"
              @docType="{{doc.docType}}"
              @owner="{{get doc.owners 0}}"
              @productArea="{{doc.product}}"
              @status="{{lowercase doc.status}}"
              @title="{{doc.title}}"
              @isDraft={{@isDraft}}
              @dueDate="{{doc.dueDate}}"
              @showColorBadge={{true}}
              @hideOwner={{true}}
            />
          </:body>
        </Hds::Table>
        <Doc::ReviewersTable
          @reviewers={{doc.reviewers}}
          @reviewedBy={{doc.reviewedBy}}
        />
        <div class="mb-16"></div>
      {{/each}}

    </div>
  {{/if}}
  {{#if this.docsReviewed}}
    <div
      class="flex flex-col w-full py-10 border-0 border-b hds-border-primary"
    >
      <div class="flex items-center space-x-2 mb-8">
        <FlightIcon @name="user-check" @size="24" />
        <h2
          class="hds-typography-display-300 hds-font-weight-semibold hds-foreground-strong"
        >My reviewed documents</h2>
      </div>
      <div class="y-2 gap-2"></div>
      <Hds::Table @isStriped={{false}} class="row-results__table">
        <:head as |H|>
          <H.Tr>
            <H.Th class="name">Name</H.Th>
            <H.Th class="type">Type</H.Th>
            <H.Th class="status">Status</H.Th>
            <H.Th class="product">Product/Area</H.Th>
            <H.Th class="owner">Owner</H.Th>
            <H.Th class="created">Created</H.Th>
            <H.Th class="created">Due Date</H.Th>
          </H.Tr>
        </:head>
        <:body>
          {{#each this.docsReviewed as |doc index|}}
            <Doc::Row
              @avatar="{{get doc.ownerPhotos 0}}"
              {{!-- @createdDate="{{parse-date doc.created}}" --}}
              @createdDate="{{doc.created}}"
              @docID="{{doc.objectID}}"
              @docNumber="{{doc.docNumber}}"
              @docType="{{doc.docType}}"
              @owner="{{get doc.owners 0}}"
              @productArea="{{doc.product}}"
              @status="{{lowercase doc.status}}"
              @title="{{doc.title}}"
              @isDraft={{@isDraft}}
              @dueDate="{{doc.dueDate}}"
              @showColorBadge={{true}}
              @isReviewed={{true}}
            />
          {{/each}}
        </:body>
      </Hds::Table>
    </div>
  {{/if}}

</section>