{{page-title "All Documents"}}

{{#if this.model.facets}}
  <div class="mb-8">
    <div
      class="header-nav-and-filters flex w-full items-center justify-between"
    >
      <Header::Toolbar @facets={{this.model.facets}} />
    </div>
    <Header::ActiveFilterList />
  </div>
{{/if}}

<RowResults
  @docs={{this.model.results.hits}}
  @nbPages={{this.model.results.nbPages}}
  @currentPage={{(add this.model.results.page 1)}}
  @currentSort="createdTime"
  @sortDirection={{this.sortDirection}}
/>
