{{page-title "All Documents"}}

<Header::Toolbar @facets={{@model.facets}} />

{{#if @model.facets}}
  <div class="x-container mb-8">
    <div
      class="header-nav-and-filters flex w-full items-center justify-between"
    >
    </div>
    <Header::ActiveFilterList />
  </div>
{{/if}}

<Documents
  @facets={{@model.facets}}
  @results={{@model.results}}
  @sortedBy={{@model.sortedBy}}
/>
