{{page-title "All Documents"}}

{{#if this.model.facets}}
  <div class="mb-8">
    <div
      class="header-nav-and-filters flex w-full items-center justify-between"
    >
      <Header::Toolbar @facets={{this.model.facets}} />
    </div>
    <Header::ActiveFilterList />
  </div>
{{/if}}

<Doc::Table
  @docs={{@model.results.hits}}
  @nbPages={{@model.results.nbPages}}
  @currentPage={{(add @model.results.page 1)}}
  @sortDirection={{this.sortDirection}}
  @currentSort="createdTime"
  @sortDirection={{this.sortDirection}}
/>
