{{page-title this.pageTitle}}

<div class="mb-6 w-full">
  <h1 class="w-full text-display-600">
    Results for
    <mark>{{this.q}}</mark>
  </h1>
  <Results::Nav @scope={{this.scope}} @q={{this.q}} />
</div>

<Header::Toolbar
  @scope={{this.scope}}
  @docFacets={{this.model.docFacets}}
  @projectFacets={{this.model.projectFacets}}
/>

<Header::ActiveFilterList />

<Results
  @docResults={{this.model.docResults}}
  @projectResults={{this.model.projectResults}}
  @productResults={{this.model.productResults}}
  @query={{this.q}}
/>
