{{page-title this.pageTitle}}

{{log "the mode" this.model}}

<div class="mb-6 flex w-full items-start">
  <h1 class="w-full text-display-600">
    Results for
    <mark>{{this.q}}</mark>
  </h1>
  {{#if (eq this.scope "All")}}
    <Results::Nav
      @scope={{this.scope}}
      @q={{this.q}}
      @docCount={{this.model.docResults.nbHits}}
      @projectCount={{this.model.projectResults.nbHits}}
      class="shrink-0"
    />
  {{/if}}
</div>

<Header::Toolbar @scope={{this.scope}} @facets={{this.facets}} />

<Results
  @docResults={{this.model.docResults}}
  @projectResults={{this.model.projectResults}}
  @productResults={{this.model.productResults}}
  @query={{this.q}}
/>
