{{page-title this.pageTitle}}

<div class="mb-6">
  <h1 data-test-results-headline class="w-full text-display-500">
    Results
    {{#if this.q}}
      for
      <mark>{{this.q}}</mark>
    {{/if}}
  </h1>
</div>

<Header::Toolbar @facets={{this.model.docFacets}} />

<Results @docResults={{this.model.docResults}} @query={{this.q}} />
