{{page-title this.pageTitle}}

<div class="mb-6">
  <h1 class="w-full text-display-500">
    Results for
    <mark>{{this.q}}</mark>
  </h1>
</div>

<Header::Toolbar @facets={{this.model.docFacets}} />

<Results @docResults={{this.model.docResults}} @query={{this.q}} />
