<div class="flex flex-1 p-4 space-x-4 max-h-screen">
  <Sidebar
    @profile={{this.authenticatedUser.info}}
    @document={{@document}}
    @deleteDraft={{this.deleteDraft}}
    @docType={{@docType}}
  />

  <Hds::Card::Container
    @level="high"
    @hasBorder="true"
    @overflow="hidden"
    class="flex items-center justify-center flex-1"
  >
    <iframe
      title="Google Doc"
      height="100%"
      width="100%"
      class="border-0"
      src="https://docs.google.com/document/d/{{@document.objectID}}/edit?embedded=true"
    >
    </iframe>
  </Hds::Card::Container>

</div>
