<div class="flex flex-1 space-x-px max-h-screen">
  <div
    class="sidebar shrink-0 {{if this.sidebarIsCollapsed 'collapsed' 'w-72'}}"
  >
    {{#unless @modelIsChanging}}
      <Document::Sidebar
        @profile={{this.authenticatedUser.info}}
        @document={{@document}}
        @deleteDraft={{perform this.deleteDraft}}
        @docType={{@docType}}
        @isCollapsed={{this.sidebarIsCollapsed}}
        @toggleCollapsed={{this.toggleSidebarCollapsedState}}
      />
    {{/unless}}
  </div>

  <div class="pt-4 pb-4 pr-4 w-full">
    <Hds::Card::Container
      @level="high"
      @hasBorder={{true}}
      @overflow="hidden"
      class="flex items-center justify-center h-full"
    >
      <iframe
        title="Google Doc"
        height="100%"
        width="100%"
        class="border-0"
        src="https://docs.google.com/document/d/{{@document.objectID}}/edit?embedded=true"
      >
      </iframe>
    </Hds::Card::Container>
  </div>

</div>
