{{! @glint-nocheck: not typesafe yet }}
<div class="flex flex-1 space-x-px max-h-screen">
  <Document::Sidebar
    @profile={{this.authenticatedUser.info}}
    @document={{@document}}
    @deleteDraft={{this.deleteDraft}}
    @docType={{@docType}}
  />

  <div class="pt-4 pb-4 pr-4 w-full">
    <Hds::Card::Container
      @level="high"
      @hasBorder="true"
      @overflow="hidden"
      class="flex items-center justify-center h-full"
    >
      <iframe
        title="Google Doc"
        height="100%"
        width="100%"
        class="border-0"
        src="https://docs.google.com/document/d/{{@document.objectID}}/edit?embedded=true"
      >
      </iframe>
    </Hds::Card::Container>
  </div>

</div>
