{{! @glint-nocheck - not typesafe yet }}
<Hds::Modal
  @color={{@color}}
  @onClose={{@close}}
  @isDismissDisabled={{this.taskIsRunning}}
  as |M|
>
  <M.Header>
    {{@headerText}}
  </M.Header>
  <M.Body>
    {{#if @bodyText}}
      {{@bodyText}}
    {{/if}}

    {{yield (hash taskIsRunning=this.taskIsRunning)}}

    {{#if this.errorIsShown}}
      <ModalAlertError
        @onDismiss={{this.resetErrors}}
        @title={{this.errorTitle}}
        @description={{this.errorDescription}}
      />
    {{/if}}
  </M.Body>
  {{#unless (and @hideFooterWhileSaving this.taskIsRunning)}}
    <M.Footer data-test-document-modal-footer as |F|>
      <Hds::ButtonSet>
        <Hds::Button
          data-test-document-modal-primary-button
          @text={{if this.taskIsRunning @taskButtonLoadingText @taskButtonText}}
          @color={{@color}}
          @icon={{if this.taskIsRunning "loading" @taskButtonIcon}}
          disabled={{or @taskButtonIsDisabled this.taskIsRunning}}
          {{on "click" (perform this.task)}}
        />
        {{#if (and this.taskIsRunning @savingMessage)}}
          <span class="text-body-100">
            {{@savingMessage}}
          </span>
        {{else}}
          <Hds::Button
            data-test-document-modal-secondary-button
            @text="Cancel"
            @color="secondary"
            disabled={{this.taskIsRunning}}
            {{on "click" F.close}}
          />
        {{/if}}
      </Hds::ButtonSet>
    </M.Footer>
  {{/unless}}
</Hds::Modal>
