<Document::Sidebar::Header
  @document={{@document}}
  @isCollapsed={{@isCollapsed}}
  @toggleCollapsed={{@toggleCollapsed}}
  @userHasScrolled={{this.userHasScrolled}}
  @shareButtonIsShown={{this.shareButtonIsShown}}
  @shareButtonTooltipText={{this.temporaryShareButtonTooltipText}}
  @shareButtonIcon={{this.temporaryShareButtonIcon}}
  @shareURL={{this.shareURL}}
/>

{{#unless @isCollapsed}}
  <div
    class="sidebar-body scrollable-container"
    {{on "scroll" this.onScroll}}
    {{did-insert this.didInsertBody}}
  >
    <div class="sidebar-body-container">
      <div>
        {{! div to break the parent's space-y styles }}
        <div
          class="flex items-center space-x-1.5
            {{if this.isDraft 'mb-4 -mt-2' 'mb-2'}}"
        >
          <Hds::Badge
            data-test-sidebar-title-badge
            @text={{if this.isDraft "Draft" @document.docNumber}}
            class="!rounded-[3px] uppercase
              {{if
                @document.isDraft
                '!bg-color-palette-neutral-500 !text-white'
                '!bg-transparent pl-0 !text-color-foreground-faint'
              }}
              "
          />

          {{#if (and this.isDraft this.isOwner)}}
            <X::DropdownList
              data-test-draft-visibility-dropdown
              @items={{this.draftVisibilityOptions}}
              @selected={{this.draftVisibility}}
              @renderOut={{true}}
              @offset={{hash mainAxis=0 crossAxis=-7}}
              class="w-[350px]"
            >
              <:anchor as |dd|>
                <dd.ToggleAction
                  data-test-draft-visibility-toggle
                  data-test-icon={{this.draftVisibilityIcon}}
                  data-test-chevron-direction={{if
                    dd.contentIsShown
                    "up"
                    "down"
                  }}
                  class="sidebar-header-button draft-visibility-button flex items-center text-color-foreground-faint"
                  {{tooltip
                    this.toggleDraftVisibilityTooltipText
                    placement="bottom"
                  }}
                >
                  <FlightIcon @name={{this.draftVisibilityIcon}} />
                  <FlightIcon
                    @name={{if dd.contentIsShown "chevron-up" "chevron-down"}}
                  />
                </dd.ToggleAction>
              </:anchor>
              <:item as |dd|>
                <dd.Action
                  data-test-draft-visibility-option
                  data-test-is-checked={{dd.isSelected}}
                  data-test-value={{dd.value}}
                  class="flex items-start gap-3 py-2.5 pl-4 pr-6"
                  {{on "click" (perform this.setDraftVisibility dd.value)}}
                >
                  <FlightIcon @name={{dd.attrs.icon}} class="mt-0.5 shrink-0" />
                  <div class="w-full">
                    <h4>{{dd.attrs.title}}</h4>
                    <p>{{dd.attrs.description}}</p>
                  </div>
                  <FlightIcon
                    @name="check"
                    class="check mt-0.5 shrink-0
                      {{if dd.isSelected 'visible' 'invisible'}}"
                  />
                </dd.Action>
              </:item>
            </X::DropdownList>
          {{/if}}
        </div>
        <div class="editable-field-container document-title mb-8 -mt-[5px]">
          <EditableField
            data-test-document-title
            data-test-editable={{this.isOwner}}
            @value={{this.title}}
            @onSave={{this.saveTitle}}
            @isSaving={{this.saveIsRunning}}
            @isReadOnly={{not this.isOwner}}
            @isRequired={{true}}
            @name="title"
            @tag="h1"
            class="mb-1.5"
          />
        </div>
      </div>

      <hr class="hds-border-faint border-0 border-b" />

      {{! Summary }}
      <div class="mb-5">
        <Document::Sidebar::SectionHeader @title="Summary" />
        <div class="editable-field-container">
          <EditableField
            data-test-document-summary
            data-test-editable={{this.isOwner}}
            @value={{this.summary}}
            @onSave={{this.saveSummary}}
            @isSaving={{this.saveIsRunning}}
            @isReadOnly={{not this.isOwner}}
            @name="summary"
            @placeholder={{if this.isOwner "Enter a summary"}}
          />
        </div>
      </div>

      {{! Status }}
      <div class="space-y-2">
        <Document::Sidebar::SectionHeader @title="Status" />
        <div class="flex space-x-1">
          <Doc::State @state={{@document.status}} @hideProgress={{true}} />
          <Hds::Badge @text={{@document.docType}} />
        </div>
      </div>

      {{! Product/Area }}
      <div>
        <Document::Sidebar::SectionHeader @title="Product/Area" />
        {{#if (and this.isDraft this.isOwner)}}
          <div class="editable-field-container select-input">
            <Inputs::ProductSelect
              data-test-document-product-area-editable
              @selected={{this.product}}
              @onChange={{this.saveProduct.perform}}
              @isSaving={{this.saveIsRunning}}
              @renderOut={{true}}
            />
          </div>
        {{else}}
          <Product::Link
            data-test-document-product-area-read-only
            @product={{@document.product}}
            class="mt-2 inline-block"
          />
        {{/if}}
      </div>

      {{! Created }}
      <div class="space-y-2">
        <Document::Sidebar::SectionHeader @title="Created" />
        <p>{{or (parse-date @document.created "long") "Unknown"}}</p>
      </div>

      {{! Last modified }}
      <div class="space-y-2">
        <Document::Sidebar::SectionHeader @title="Last modified" />
        {{#if @document.modifiedTime}}
          <p>{{time-ago @document.modifiedTime}}</p>
        {{/if}}
      </div>

      {{! Owner }}
      <div class="space-y-2">
        <Document::Sidebar::SectionHeader @title="Owner" />
        <Person
          @imgURL={{get @document.ownerPhotos 0}}
          @email={{get @document.owners 0}}
        />
      </div>

      {{! Contributors }}
      <div>
        <Document::Sidebar::SectionHeader @title="Contributors" />
        <div class="editable-field-container">
          <EditableField
            data-test-document-contributors
            data-test-editable={{this.isOwner}}
            @value={{this.contributors}}
            @onChange={{this.updateContributors}}
            @onSave={{perform this.save "contributors"}}
            @isSaving={{this.saveIsRunning}}
            @isReadOnly={{not this.isOwner}}
          />
        </div>
      </div>

      {{! Approvers }}
      <div>
        <Document::Sidebar::SectionHeader @title="Approvers" />
        <div class="editable-field-container mt-[3px]">
          <EditableField
            data-test-document-approvers
            data-test-editable={{this.isOwner}}
            @value={{this.approvers}}
            @onChange={{this.updateApprovers}}
            @onSave={{perform this.save "approvers"}}
            @isSaving={{this.saveIsRunning}}
            @isReadOnly={{this.editingIsDisabled}}
            {{! Provide the document to the `has-approved-doc` helper }}
            @document={{@document}}
          />
        </div>
      </div>

      {{! Related resources }}
      <div>
        <Document::Sidebar::RelatedResources
          @editingIsDisabled={{this.editingIsDisabled}}
          @documentIsDraft={{this.isDraft}}
          @productArea={{@document.product}}
          @objectID={{@document.objectID}}
          @headerTitle="Related resources"
          @modalHeaderTitle="Add related resource"
          @modalInputPlaceholder="Search docs or paste a URL..."
          @scrollContainer={{this.body}}
          @optionalSearchFilters={{concat "product:" @document.product}}
        />
      </div>

      {{! Custom fields }}
      {{#each-in this.customEditableFields as |field attributes|}}
        {{#if (or attributes.value this.isOwner)}}
          <div>
            <Document::Sidebar::SectionHeader
              @title={{attributes.displayName}}
            />
            <CustomEditableField
              class="mt-[3px]"
              @document={{@document}}
              @field={{field}}
              @attributes={{attributes}}
              @onSave={{perform this.saveCustomField field attributes}}
              @isSaving={{this.saveIsRunning}}
              @disabled={{not this.isOwner}}
            />
          </div>
        {{/if}}
      {{/each-in}}
    </div>
  </div>

  {{#if this.footerIsShown}}
    <div class="sidebar-footer {{if this.editingIsDisabled 'locked'}}">
      {{#if this.footerControlsAreDisabled}}
        <div class="-mb-1 px-3">
          <div class="w-full border-t border-color-border-primary pt-3.5">
            <div class="text-body-200 text-color-foreground-faint">
              <h5
                class="mb-1 flex items-center text-body-200 font-semibold text-color-foreground-primary"
              >
                {{if this.docIsLocked "Document is locked" "Read-only headers"}}
                <FlightIcon
                  @name="lock"
                  class="-mt-px ml-1.5 shrink-0 text-color-foreground-faint"
                />
              </h5>
              <p class="mb-1.5">
                {{if
                  this.docIsLocked
                  "Due to a Google API bug, all suggestions must be removed from the document header to unlock."
                  "Weʼre unable to edit the metadata of files created offsite."
                }}
              </p>
            </div>
            {{#if this.docIsLocked}}
              <Hds::Link::Standalone
                @icon="arrow-right"
                @iconPosition="trailing"
                @text="See the issue on GitHub"
                @size="small"
                @href="https://github.com/hashicorp-forge/hermes/issues/181"
              />
            {{else}}
              <div class="text-body-100 text-color-foreground-faint">
                Create docs in-app for best results.
              </div>
            {{/if}}
          </div>
        </div>
      {{else}}
        {{#if this.isDraft}}
          {{#if this.isOwner}}
            <div class="flex items-start gap-2 px-3">
              <Hds::Button
                data-test-sidebar-publish-for-review-button
                @text="Publish for review..."
                @size="medium"
                @color="primary"
                class="w-full"
                {{on "click" (set this "requestReviewModalIsShown" true)}}
              />
              <Hds::Button
                @text="Delete"
                @size="medium"
                @color="critical"
                @icon="trash"
                @isIconOnly={{true}}
                class="basis-0"
                {{on "click" (fn (set this "deleteModalIsShown" true))}}
              />
            </div>
          {{/if}}
        {{else}}
          {{#if this.isOwner}}
            <div class="flex items-start gap-2 px-3">

              <Hds::Button
                @text={{this.moveToStatusButtonText}}
                @size="medium"
                @color={{this.moveToStatusButtonColor}}
                class="w-full"
                @icon={{if this.changeDocumentStatus.isRunning "loading"}}
                disabled={{this.changeDocumentStatus.isRunning}}
                {{on
                  "click"
                  (perform
                    this.changeDocumentStatus
                    this.moveToStatusButtonTargetStatus
                  )
                }}
              />
              <Hds::Button
                @text="Archive"
                @size="medium"
                @color="critical"
                @icon="archive"
                @isIconOnly={{true}}
                class="basis-0"
                disabled={{(eq @document.status "Obsolete")}}
                {{on "click" (fn (set this "archiveModalIsShown" true))}}
              />
            </div>

          {{else}}
            {{#if this.isApprover}}
              <div class="gap-2 px-3">
                <Hds::Button
                  @text={{this.approveButtonText}}
                  @size="medium"
                  @color="primary"
                  class="w-full"
                  @icon={{if this.approve.isRunning "loading"}}
                  disabled={{(or
                    this.approve.isRunning
                    this.requestChanges.isRunning
                    this.hasApproved
                  )}}
                  {{on "click" (perform this.approve @profile.email)}}
                />
                {{#if (eq @document.docType "FRD")}}
                  <Hds::Button
                    @text={{this.requestChangesButtonText}}
                    @size="medium"
                    @color="secondary"
                    class="w-full"
                    @icon={{if this.requestChanges.isRunning "loading"}}
                    disabled={{(or
                      this.approve.isRunning
                      this.requestChanges.isRunning
                      this.hasRequestedChanges
                    )}}
                    {{on "click" (perform this.requestChanges @profile.email)}}
                  />
                {{/if}}
              </div>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}

    </div>
  {{/if}}
{{/unless}}

{{! Place modals at the end of the DOM so they don't inherit styles }}

{{#in-element (html-element ".ember-application") insertBefore=null}}
  {{#if this.archiveModalIsShown}}
    <Document::Modal
      @color="critical"
      @headerText="Archive document?"
      @bodyText="Are you sure you want to archive this document?"
      @errorTitle="Error archiving document"
      @close={{this.closeArchiveModal}}
      @task={{perform this.changeDocumentStatus "Obsolete"}}
      @taskButtonText="Yes, archive"
      @taskButtonLoadingText="Archiving..."
      @taskButtonIcon="archive"
    />
  {{/if}}

  {{#if this.deleteModalIsShown}}
    <Document::Modal
      @color="critical"
      @headerText="Delete draft?"
      @bodyText="Are you sure you want to delete this draft?"
      @errorTitle="Error deleting draft"
      @close={{this.closeDeleteModal}}
      @task={{perform this.deleteDraft}}
      @taskButtonText="Yes, delete"
      @taskButtonLoadingText="Deleting..."
      @taskButtonIcon="trash"
    />
  {{/if}}

  {{#if this.requestReviewModalIsShown}}
    <Document::Modal
      data-test-publish-for-review-modal
      @headerText="Publish for review"
      @errorTitle="Error requesting review"
      @close={{this.closeRequestReviewModal}}
      @task={{perform this.requestReview}}
      @taskButtonText="Publish doc"
      @taskButtonLoadingText="Publishing..."
      @hideFooterWhileSaving={{true}}
      @taskButtonIsDisabled={{and
        (not this.docTypeCheckboxValue)
        (not (is-empty this.docType.checks))
      }}
    >
      <:default as |M|>
        {{#if M.taskIsRunning}}
          <div
            data-test-publishing-for-review-message
            class="grid place-items-center pt-1 pb-12"
          >
            <div class="text-center">
              <FlightIcon @name="loading" @size="24" class="mb-5" />
              <h2>Submitting for review...</h2>
              <p class="mb-2 text-body-300">This usually takes about a minute.</p>
              <span
                class="mb-8 block text-[12px] text-color-foreground-faint"
              >We appreciate your patience.</span>
              <div class="flex items-center justify-center space-x-2">
                <div class="h-px w-4 bg-color-border-primary"></div>
                <FlightIcon
                  @name="hashicorp"
                  class="text-color-foreground-faint"
                />
                <div class="h-px w-4 bg-color-border-primary"></div>
              </div>
            </div>
          </div>
        {{else}}
          <ul class="mb-6 space-y-1 text-body-300">
            <li class="flex items-center">
              <div
                class="mr-2.5 inline-flex rounded-full text-color-palette-neutral-400"
              >
                <FlightIcon @size="16" @name="at-sign" />
              </div>
              Approvers and people subscribed to “{{@document.product}}” will be
              notified.
            </li>
            <li class="flex items-center">
              <div
                class="mr-2.5 inline-flex rounded-full text-color-palette-neutral-400"
              >
                <FlightIcon @size="16" @name="radio" />
              </div>
              Your document will appear in Hermes and Google Workspace search.
            </li>
            <li class="flex items-center">
              <div
                class="mr-2.5 inline-flex rounded-full text-color-palette-neutral-400"
              >

                <FlightIcon @size="16" @name="globe-private" />
              </div>
              Published documents cannot be deleted but can be archived.
            </li>
          </ul>

          <Hds::Form::Field @layout="vertical" as |F|>
            <F.Control>
              <Inputs::PeopleSelect
                @renderInPlace={{true}}
                @selected={{this.approvers}}
                @onChange={{this.updateApprovers}}
                @disabled={{M.taskIsRunning}}
                class="mb-0"
              />
            </F.Control>
            <F.Label>Approvers</F.Label>
          </Hds::Form::Field>

          {{#if this.docType.checks}}
            {{! For now, we only support one check }}
            {{#each (take 1 this.docType.checks) as |check|}}
              <div class="mt-3.5">
                <Hds::Form::Checkbox::Field
                  {{on "change" this.onDocTypeCheckboxChange}}
                  checked={{this.docTypeCheckboxValue}}
                  disabled={{M.taskIsRunning}}
                  required
                  as |F|
                >
                  <F.Label>
                    {{check.label}}
                  </F.Label>
                  {{#if check.helperText}}
                    <F.HelperText>
                      {{check.helperText}}
                    </F.HelperText>
                  {{/if}}
                </Hds::Form::Checkbox::Field>
              </div>
              {{#if check.links.length}}
                <ul class="mt-1.5 list-none pl-6">
                  {{#each check.links as |link|}}
                    <li>
                      <Hds::Link::Inline
                        @icon="external-link"
                        @iconPosition="trailing"
                        @isHrefExternal={{true}}
                        @href={{link.url}}
                        class="text-body-100 no-underline"
                      >
                        {{link.text}}
                      </Hds::Link::Inline>
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            {{/each}}
          {{/if}}
        {{/if}}
      </:default>
    </Document::Modal>
  {{/if}}

  {{#if this.docPublishedModalIsShown}}
    <Hds::Modal data-test-doc-published-modal as |M|>
      <M.Header>
        <div class="flex items-center">
          <FlightIcon
            @name="check-circle-fill"
            class="mr-2 text-color-palette-green-200"
          />
          Document published!
        </div>
      </M.Header>
      <M.Body>
        <p class="text-body-300">
          Your doc is now available to everyone in your workspace.
          <br />
          Weʼve notified your approvers and subscribers to this product/area.
        </p>
        {{#unless this.docNumberLookupHasFailed}}
          <label
            class="hermes-form-label mb-1 mt-5"
            for="recently-published-share-url"
          >
            Share it with others
          </label>
          <Hds::Form::TextInput::Base
            data-test-share-document-url-input
            id="recently-published-share-url"
            class="mb-1.5 pl-2.5 text-body-300"
            @value={{this.shareURL}}
            {{select-on-focus}}
            readonly
          />
        {{/unless}}
      </M.Body>
      <M.Footer>
        <Hds::ButtonSet>
          {{#unless this.docNumberLookupHasFailed}}
            <CopyURLButton
              data-test-doc-published-copy-url-button
              @url={{this.shareURL}}
              class="hds-button hds-button--size-medium hds-button--color-primary"
            />
          {{/unless}}
          <Hds::Button
            data-test-continue-to-document-button
            {{on "click" (set this "docPublishedModalIsShown" false)}}
            @text="Continue to document"
            @icon={{unless this.docNumberLookupHasFailed "arrow-right"}}
            @iconPosition={{unless this.docNumberLookupHasFailed "trailing"}}
            @color={{if this.docNumberLookupHasFailed "primary" "tertiary"}}
            data-test-color={{if
              this.docNumberLookupHasFailed
              "primary"
              "tertiary"
            }}
          />
        </Hds::ButtonSet>
      </M.Footer>
    </Hds::Modal>
  {{/if}}
{{/in-element}}
