{{! @glint-nocheck: not typesafe yet }}
{{page-title "Authenticate"}}
{{set-body-class "secondary-screen"}}

<div
  class="relative flex min-h-full flex-1 flex-col items-center justify-center py-12"
>
  <div class="mx-auto w-full max-w-xl">
    <Hds::Card::Container
      @level="high"
      @hasBorder="true"
      @overflow="visible"
      class="relative flex w-full flex-col items-center px-20 pt-24 pb-32 text-center"
    >
      <HermesLogo class="mb-8" />
      <h1 class="mb-1.5">
        Welcome to Hermes.
      </h1>
      <p class="mb-8 text-display-300">
        Log in to browse, search, and manage documents
      </p>
      {{#if (eq this.authProvider "google")}}
        <Hds::Button
          @text="Authenticate with Google"
          @size="large"
          @icon="google"
          {{on "click" (perform this.authenticate)}}
        />
      {{else if (eq this.authProvider "okta")}}
        <Hds::Button
          @text="Authenticate with Okta"
          @size="large"
          @icon="okta"
          {{on "click" (perform this.authenticateOIDC)}}
        />
      {{else if (eq this.authProvider "dex")}}
        <Hds::Button
          @text="Authenticate with Dex"
          @size="large"
          @icon="okta"
          {{on "click" (perform this.authenticateOIDC)}}
        />
      {{else}}
        <p class="text-body-300 text-color-critical">
          Unknown authentication provider: {{this.authProvider}}
        </p>
      {{/if}}

    </Hds::Card::Container>
    <Footer class="compact" />
  </div>
</div>

{{outlet}}
