<label class="hermes-form-label" for={{@id}}>
  Type
  <em class="mark mx-1">
    {{@value}}
  </em>
  to confirm
</label>

<Hds::Form::TextInput::Base
  {{on "input" @onInput}}
  {{on "keydown" @onKeydown}}
  @value={{@inputValue}}
  class="mt-1"
  id={{@id}}
  ...attributes
/>
