<LinkTo
  @route="authenticated.document"
  @model="{{@docID}}"
  class="flex items-center space-x-3 py-2 px-3 hover:bg-color-palette-neutral-100"
>
  <Doc::Thumbnail @status={{@status}} @product={{@productArea}} />

  <div class="flex flex-col space-y-1 overflow-hidden">
    <h4 class="text-body-200 font-semibold text-color-foreground-strong">
      {{@title}}
    </h4>

    {{! @glint-ignore - possibly wrong types for is-empty  }}
    {{#if (not (is-empty @docNumber))}}
      <small class="text-body-100 text-color-foreground-faint">
        {{@docNumber}}
      </small>
    {{/if}}

    <Person @ignoreUnknown={{true}} @imgURL={{@avatar}} @email={{@owner}} />

    {{#if @isResult}}
      {{#if @snippet}}
        <Doc::Snippet @snippet={{@snippet}} class="truncate" />
      {{/if}}
    {{/if}}
  </div>
</LinkTo>
