<tr class="group">
  <td class="name">
    <LinkTo
      @route="authenticated.document"
      @model="{{@docID}}"
      @query={{hash draft=@isDraft}}
      class="flex items-start gap-3.5"
    >
      {{!
      We create a click area that extends beyond the edges of its container.
      This makes the entire row clickable without having to wrap itself in a link,
      and lets us nest interactive elements (e.g., ProductBadgeLink) in a way that improves the mouse experience without sacrificing accessibility.
    }}
      <div
        aria-hidden="true"
        class="absolute top-0 -left-4 -right-4 -bottom-px -z-10 rounded-md group-hover:bg-color-surface-faint"
      ></div>

      <Product::Avatar
        @product={{@productArea}}
        @iconSize={{16}}
        @fallbackIcon="file-text"
        class="h-9 !w-9 shrink-0"
      />
      <div class="relative">
        <h4
          class="hds-typography-body-200 hds-font-weight-semibold hds-foreground-strong"
        >{{@title}}</h4>
        {{#if (not (is-empty @docNumber))}}
          <small
            class="hds-typography-body-100 hds-foreground-faint"
          >{{@docNumber}}</small>
        {{/if}}
      </div>
    </LinkTo>
  </td>
  <td class="type">
    <LinkTo
      @route={{this.currentRoute}}
      @query={{hash docType=(array @docType)}}
      class="relative"
    >
      {{@docType}}
    </LinkTo>
  </td>
  <td class="status">
    <LinkTo
      @route={{this.currentRoute}}
      @query={{hash status=(array @status)}}
      class="relative"
    >
      <Doc::State @state={{@status}} @hideProgress={{true}} />
    </LinkTo>
  </td>
  <td class="product">
    <Product::Link @avatarIsHidden={{true}} @product={{@productArea}} />
  </td>
  <td class="owner">
    <LinkTo
      @route={{this.currentRoute}}
      @query={{hash owners=(array @owner)}}
      class="relative"
    >
      <Person @ignoreUnknown={{true}} @imgURL={{@avatar}} @email={{@owner}} />
    </LinkTo>
  </td>
  <td class="created">
    <div class="relative">
      {{@createdDate}}
    </div>
  </td>
</tr>
