<Hds::Table::Tr class="row-results__table__row">
  <Hds::Table::Td class="name">
    <LinkTo
      @route="authenticated.document"
      @model="{{@docID}}"
      @query={{hash draft=@isDraft}}
      class="flex space-x-4 items-start"
    >
      <Doc::Thumbnail
        @status={{@status}}
        @product={{@productArea}}
        @docID={{@docID}}
      />
      <div>
        <h4
          class="hds-typography-body-200 hds-font-weight-semibold hds-foreground-strong"
        >{{@title}}</h4>
        {{#if (not (is-empty @docNumber))}}
          <small
            class="hds-typography-body-100 hds-foreground-faint"
          >{{@docNumber}}</small>
        {{/if}}
      </div>
    </LinkTo>
  </Hds::Table::Td>
  <Hds::Table::Td class="type">
    {{@docType}}
  </Hds::Table::Td>
  <Hds::Table::Td class="status">
    <Doc::State @state={{@status}} @hideProgress={{true}} /></Hds::Table::Td>
  <Hds::Table::Td class="product"><Hds::Badge
      @text={{this.productAreaName}}
      @icon={{or (get-product-id @productArea) "folder"}}
      title={{this.productAreaName}}
    /></Hds::Table::Td>
  {{#if (not @hideOwner)}}
    <Hds::Table::Td class="owner">
      <Person @ignoreUnknown={{true}} @imgURL={{@avatar}} @email={{@owner}} />
    </Hds::Table::Td>
  {{/if}}
  <Hds::Table::Td class="created">{{@createdDate}}</Hds::Table::Td>
  <Hds::Table::Td class="created">
    {{#if (not (is-empty @dueDate))}}
      {{#if @showColorBadge}}
        {{#if @isReviewed}}
          <Hds::Badge @color="success" @text="{{dateformat @dueDate}}" />
        {{else if this.isDueDateOverdue}}
          <Hds::Badge @color="critical" @text="{{dateformat @dueDate}}" />
        {{else}}
          <Hds::Badge @color="warning" @text="{{dateformat @dueDate}}" />
        {{/if}}
      {{else}}
        <Hds::Badge @text="{{dateformat @dueDate}}" />
      {{/if}}
    {{else}}
      {{#if @isReviewed}}
        <Hds::Badge @color="success" @text="No Due Date" />
      {{else}}
        <Hds::Badge @text="No Due Date" />
      {{/if}}

    {{/if}}
  </Hds::Table::Td>
</Hds::Table::Tr>