<Hds::Table::Tr class="row-results__table__row">
  <Hds::Table::Td class="name">
    <LinkTo
      @route="authenticated.document"
      @model="{{@docID}}"
      @query={{hash draft=@isDraft}}
      class="flex items-start space-x-4"
    >
      <FlightIcon
        @name="file-text"
        class="shrink-0 text-color-foreground-disabled"
      />
      <div>
        <h4
          class="hds-typography-body-200 hds-font-weight-semibold hds-foreground-strong"
        >{{@title}}</h4>
        {{#if (not (is-empty @docNumber))}}{{/if}}
      </div>
    </LinkTo>
  </Hds::Table::Td>
  <Hds::Table::Td class="type">
    {{@docType}}
  </Hds::Table::Td>
  <Hds::Table::Td class="status">
    <Doc::State
      @state={{@status}}
      @hideProgress={{true}}
      class="-my-[3px]"
    /></Hds::Table::Td>
  <Hds::Table::Td class="product">
    <ProductBadgeLink @productArea={{@productArea}} />
  </Hds::Table::Td>
  <Hds::Table::Td class="owner">
    <Person @ignoreUnknown={{true}} @imgURL={{@avatar}} @email={{@owner}} />
  </Hds::Table::Td>
  <Hds::Table::Td class="created">{{@createdDate}}</Hds::Table::Td>
</Hds::Table::Tr>
