<!--
  Used to render the product tag that appears on document thumbnails
  
  <Doc::Tag /> requires 1 property:
  @name eg. 'Waypoint', 'Consul' or 'Cloud Platform' etc
-->

{{#if this.icon}}
  <div class="flex items-center justify-center absolute left-0 {{if @isSmall 'w-[28px] h-[24px] bottom-1' 'w-[36px] h-[28px] bottom-2'}} {{this.foregroundColor}} {{this.gradientStartColor}} {{this.gradientStopColor}} bg-gradient-to-br rounded-r-md">
    <FlightIcon @name={{this.icon}} />
  </div>
{{/if}}
