<div
  data-test-doc-thumbnail
  class="doc-thumbnail
    {{if @isLarge 'large'}}
    bg-color-palette-neutral-100 rounded"
  ...attributes
>
  <div class="overflow-hidden relative rounded flex w-full">
    <div
      class="doc-thumbnail-image-and-badge {{if this.isObsolete 'obsolete'}}"
    >
      <img src="/images/document.png" class="w-full h-auto" />

      {{#if this.productShortName}}
        <div class="doc-thumbnail-product-badge {{this.productShortName}}">
          <FlightIcon
            @size={{if @isLarge "24" "16"}}
            @name={{this.productShortName}}
          />
        </div>
      {{/if}}
    </div>

    {{#if (or this.isApproved this.isObsolete)}}
      <div class="doc-thumbnail-status-container">
        {{#if this.isObsolete}}
          <Doc::FolderAffordance @isLarge={{@isLarge}} />
        {{/if}}

        {{#if (or this.isApproved this.isObsolete)}}
          <div class="absolute w-full z-20">
            <FlightIcon
              @name={{if this.isApproved "check-circle" "archive"}}
              @size="24"
              class="doc-thumbnail-status-icon {{this.status}}"
            />
          </div>
        {{/if}}
      </div>
    {{/if}}

  </div>
</div>
