<LinkTo
  @route="authenticated.document"
  @model={{@docID}}
  @query={{hash draft=@isDraft}}
  class="flex flex-col items-start space-y-2 p-4 -m-4 rounded-md hover:bg-color-palette-neutral-50 active:bg-color-palette-neutral-100 overflow-hidden"
>
  <div class="space-y-2">
    <Doc::Thumbnail
      @status={{@status}}
      @product={{@productArea}}
      @isLarge={{true}}
      @docID={{@docID}}
    />
    <Doc::State @state={{@status}} />
  </div>

  <div class="flex flex-col items-start space-y-1">
    <h4 class="doc-tile-title">
      {{@title}}
    </h4>
  </div>

  <div class="flex flex-col items-start space-y-1 pb-1 max-w-full">
    <Person @ignoreUnknown={{true}} @imgURL={{@avatar}} @email={{@owner}} />
    {{#if (not (is-empty @modifiedAgo))}}
      <p class="text-body-100 text-color-foreground-faint">
        {{@modifiedAgo}}
      </p>
    {{/if}}
  </div>

  <Hds::Badge
    @text={{this.productAreaName}}
    @icon={{or (get-product-id this.this.args.productArea) "folder"}}
  />

  {{#if (and @isResult @snippet)}}
    <Doc::Snippet @snippet={{@snippet}} class="pt-2" />
  {{/if}}
</LinkTo>
