<LinkTo
  @route="authenticated.document"
  @model={{@docID}}
  @query={{hash draft=@isDraft}}
  class="doc-tile"
>
  <div class="inline-block">
    <div class="space-y-2">
      <Doc::Thumbnail
        @status={{@status}}
        @product={{@productArea}}
        {{! TODO: this should be dynamic }}
        @isLarge={{true}}
      />
      {{! TODO: dynamically show/hide progress? }}
      <Doc::State @state={{@status}} />
    </div>
  </div>

  <div class="block space-y-1">
    <h4 class="doc-tile-title">
      {{@title}}
    </h4>
    {{#if (not (is-empty @docNumber))}}
      <small class="text-body-100 text-color-foreground-faint">
        {{@docNumber}}
      </small>
    {{/if}}
  </div>

  <div class="flex flex-col items-start space-y-1 pb-1 max-w-full">
    <Person @ignoreUnknown={{true}} @imgURL={{@avatar}} @email={{@owner}} />
    {{#if (not (is-empty @modifiedAgo))}}
      <p class="text-body-100 text-color-foreground-faint">
        {{@modifiedAgo}}
      </p>
    {{/if}}
  </div>

  <Hds::Badge
    @text={{this.productAreaName}}
    @icon={{or (get-product-id this.this.args.productArea) "folder"}}
  />

  {{#if (and @isResult @snippet)}}
    <Doc::Snippet @snippet={{@snippet}} class="pt-2" />
  {{/if}}

</LinkTo>
