<LinkTo
  @route="authenticated.document"
  @model={{@docID}}
  @query={{hash draft=@isDraft}}
  class="flex flex-col items-start p-4 -m-4 rounded-md hover:bg-color-palette-neutral-50 active:bg-color-palette-neutral-100 overflow-hidden"
>
  <div class="space-y-2 mb-3">
    <Doc::Thumbnail
      @status={{@status}}
      @product={{@productArea}}
      @isLarge={{true}}
    />
    <Doc::State @state={{@status}} />
  </div>

  <div class="flex flex-col items-start mb-2.5">
    {{!-- <small
      class="{{if
          (eq @status 'wip')
          'bg-color-foreground-faint text-white px-1.5 rounded-sm'
        }} text-body-100 py-1 text-color-foreground-faint uppercase mb-1.5 leading-none"
    >
      {{if (eq @status "wip") "Draft" @docNumber}}
    </small> --}}
    <h4 class="doc-tile-title">
      {{@title}}
    </h4>
    {{#if (not (is-empty @modifiedAgo))}}
      <p class="text-body-200 text-color-foreground-faint mt-1.5">
        {{@modifiedAgo}}
      </p>
    {{/if}}
  </div>

  <div class="flex flex-col items-start space-y-1 mb-3.5 max-w-full">
    <Person
      @ignoreUnknown={{true}}
      @imgURL={{@avatar}}
      @email={{@owner}}
      @avatarSize="small"
    />
  </div>

  <div class="flex space-x-2 w-full">
    {{!-- <div class="shrink-0 w-5 h-5 rounded-full product-themed {{dasherize @productArea}}">
      <FlightIcon
        @name={{or (get-product-id @productArea) "folder"}}
      />
    </div> --}}
    <div
      class="text-body-200 rounded-l-full rounded-r-full border border-color-border-primary bg-color-page-primary py-0.5 px-2.5 -ml-px"
    >
      {{or @productArea "Unknown"}}
    </div>
  </div>

  {{#if (and @isResult @snippet)}}
    <Doc::Snippet @snippet={{@snippet}} class="pt-2" />
  {{/if}}
</LinkTo>
