<div class="w-full max-w-3xl mx-auto">
  <div class="grid place-items-center h-16">
    <LinkTo @route="authenticated.dashboard" class="header-link">
      <FlightIcon @name="arrow-left" />
      <span>Back to the Dashboard</span>
    </LinkTo>
  </div>

  <Hds::Card::Container
    @level="high"
    @hasBorder={{true}}
    @overflow="visible"
    class="page-card"
  >
    <div class="hermes-support-header">
      <LinkTo @route="authenticated.dashboard">
        <HermesLogo />
      </LinkTo>
      <Hds::Badge @text="Support" @color="success" @type="inverted" />
    </div>

    <ul class="content-sections">
      {{#each @docs.sections as |section|}}
        <li class="content-section">
          <h2 class="hermes-h4">
            {{#if section.titleIcon}}
              <FlightIcon @name={{section.titleIcon}} />
            {{/if}}
            <span>
              {{section.title}}
            </span>
          </h2>
          <ul class="content-section-items">
            {{#each section.items as |item|}}
              <li>
                <h4>{{item.title}}</h4>
                <div>
                  {{markdown-to-html item.content}}
                </div>
                {{#if item.links}}
                  <ul class="links">
                    {{#each item.links as |link|}}
                      <li>
                        <ExternalLink href={{link.url}}>
                          {{#if link.icon}}
                            <FlightIcon @name={{link.icon}} />
                          {{/if}}
                          <span>{{link.title}}</span>
                        </ExternalLink>
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </Hds::Card::Container>
  <Footer />
</div>
