<div class="w-full max-w-3xl mx-auto">
  <div class="relative flex items-center justify-center w-full h-16">
    {{! TODO: replace with component }}
    <LinkTo
      @route="authenticated.dashboard"
      class="flex text-color-foreground-faint hover:text-color-foreground-strong items-center space-x-2"
    >
      <FlightIcon @name="arrow-left" />
      <span>Back to the Dashboard</span>
    </LinkTo>
  </div>

  <Hds::Card::Container
    @level="high"
    @hasBorder={{true}}
    @overflow="visible"
    class="relative w-full card px-24 pt-14 pb-20"
  >
    <div class="flex space-x-3 items-center">
      <LinkTo @route="authenticated.dashboard">
        <HermesLogo />
      </LinkTo>
      <Hds::Badge @text="Support" @color="success" @type="inverted" />
    </div>

    <ul class="space-y-12 mt-12">
      {{#each @docs.sections as |section|}}
        <li>
          <h2 class="mb-4 hermes-h4">
            {{#if section.titleIcon}}
              <FlightIcon @name={{section.titleIcon}} />
            {{/if}}
            <span>
              {{section.title}}
            </span>
          </h2>
          <ul class="space-y-6">
            {{#each section.items as |item|}}
              <li>
                <h4>{{item.title}}</h4>
                <p>{{item.content}}</p>
                {{#if item.links}}
                  <ul class="support-links">

                    {{#each item.links as |link|}}
                      <li>
                        <ExternalLink
                          href={{link.href}}
                          class="flex space-x-2 text-color-foreground-faint items-center"
                        >
                          {{#if link.icon}}
                            <FlightIcon @name={{link.icon}} />
                          {{/if}}
                          <span>{{link.title}}</span>
                        </ExternalLink>
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </Hds::Card::Container>
  <Footer />
</div>
