<li class="subscription-list-item">
  <button
    class="flex h-full w-full items-center justify-between space-x-6 border-0 bg-transparent py-3 px-3.5 text-body-300 text-color-foreground-primary transition-colors hover:cursor-pointer hover:bg-color-surface-action"
    type="button"
    {{on "click" this.toggleChecked}}
  >
    <div class="flex items-center space-x-3">
      <Product::Avatar @product={{@productArea}} @size="medium" />
      <div data-test-subscription-list-item-name>
        {{@productArea}}
      </div>
    </div>
    <div class="relative flex shrink-0 items-center justify-end">
      <Hds::Form::Toggle::Base
        tabindex="-1"
        name="toggle-subscription"
        aria-label={{if this.isChecked "Unsubscribe" "Subscribe"}}
        @value="enable"
        checked={{this.isChecked}}
      />
      {{#if this.confirmationIsShown}}
        <div
          class="subscription-list-popover
            {{if this.confirmationIsClosing 'out'}}"
        >
          {{if this.isChecked "Subscribed" "Unsubscribed"}}
        </div>
      {{/if}}
    </div>
  </button>
</li>
