<Action
  data-test-popover-trigger
  {{did-insert this.didInsertTrigger}}
  {{on "click" this.togglePopover}}
  class="relative"
>
  <div class="relative flex">
    <Hds::Badge
      class="hds-badge-dropdown"
      @text={{@currentProduct}}
      @icon={{get-product-id @currentProduct}}
    />
    <FlightIcon
      class="dropdown-caret"
      @name={{if this.popoverIsShown "chevron-up" "chevron-down"}}
    />
  </div>
</Action>

{{#if this.popoverIsShown}}
  <X::Hds::Popover::List
    @trigger={{this.trigger}}
    @dismissPopover={{this.hidePopover}}
    @items={{this.products}}
    @onInput={{this.onInput}}
    @resetFocusedItemIndex={{this.resetFocusedItemIndex}}
  />
{{/if}}

<FloatingUI @renderOut={{true}}>
  <:anchor as |f|>
    <Action
      {{did-insert f.registerAnchor}}
      {{on "keydown" this.onTriggerKeydown}}
      ...attributes
    >
      {{yield f to="anchor"}}
    </Action>
  </:anchor>
  <:content as |f|>
    <X::Hds::Dropdown::List
      {{will-destroy this.willDestroyDropdown}}
      {{dismissible dismiss=f.hideContent related=f.anchor}}
      @items={{this.products}}
      @onInput={{perform this.onInput f}}
      @onSelect={{fn this.onSelect f.hideContent}}
      @resetFocusedItemIndex={{this.resetFocusedItemIndex}}
      @registerScrollContainer={{this.registerScrollContainer}}
    />
  </:content>
</FloatingUI>
