<li class="flex" role="none" data-test-x-hds-dropdown-list-item>
  <Action
    {{did-insert this.registerElement}}
    {{on "mouseenter" this.focusMouseTarget}}
    {{on "click" this.onClick}}
    role={{@role}}
    aria-selected={{this.isAriaSelected}}
    tabindex="-1"
    aria-checked={{@selected}}
    class="facet-dropdown-menu-item-link
      {{if this.isAriaSelected 'is-aria-selected'}}"
  >
    <FlightIcon
      @name="check"
      class="check {{if @selected 'visible' 'invisible'}}"
    />
    <div
      class="truncate whitespace-nowrap"
      data-test-x-hds-dropdown-list-item-value
    >
      {{@value}}
    </div>
    {{#if @count}}
      <Hds::BadgeCount
        data-test-x-hds-dropdown-list-item-count
        @text={{@count}}
        @size="small"
        class="ml-8 shrink-0"
      />
    {{/if}}
  </Action>
</li>
