{{on-document "keydown" this.maybeKeyboardNavigate}}

<div
  class="flex flex-col overflow-hidden"
  role={{if @inputIsShown "combobox"}}
  id="x-hds-dropdown-popover"
  ...attributes
>
  {{#if @inputIsShown}}
    <div class="relative p-1 border-b border-b-color-border-faint">
      <Hds::Form::TextInput::Base
        data-test-product-area-dropdown-input
        {{did-insert this.registerAndFocusInput}}
        {{on "input" @onInput}}
        {{on "focusin" @resetFocusedItemIndex}}
        @value={{@query}}
        @type="search"
        @value=""
        placeholder="Filter..."
        aria-controls="x-hds-dropdown"
        aria-activedescendant={{unless
          (eq @focusedItemIndex -1)
          (concat "x-hds-dropdown-list-item-" @focusedItemIndex)
        }}
      />
    </div>
  {{/if}}
  <div
    class="overflow-auto w-full relative"
    {{did-insert @registerScrollContainer}}
  >
    {{#if this.noMatchesFound}}
      <div
        data-test-x-hds-dropdown-list-empty-state
        class="p-12 text-center text-color-foreground-faint"
      >
        No matches
      </div>
    {{else}}
      {{#if @listIsOrdered}}
        <ol
          data-test-x-hds-dropdown-ordered-list
          class="py-1"
          id={{this.id}}
          role={{this.role}}
          aria-activedescendant={{this.ariaActiveDescendant}}
        >
          <X::Hds::Dropdown::ListItems
            @id={{@id}}
            @shownItems={{@shownItems}}
            @role={{@listItemRole}}
            @hideDropdown={{@f.hideContent}}
            @setFocusedItemIndex={{@setFocusedItemIndex}}
            @focusedItemIndex={{@focusedItemIndex}}
          />
        </ol>
      {{else}}
        <ul
          data-test-x-hds-dropdown-unordered-list
          class="py-1"
          id={{this.id}}
          role={{this.role}}
          aria-activedescendant={{this.ariaActiveDescendant}}
        >
          <X::Hds::Dropdown::ListItems
            @id={{@id}}
            @shownItems={{@shownItems}}
            @role={{@listItemRole}}
            @hideDropdown={{@f.hideContent}}
            @setFocusedItemIndex={{@setFocusedItemIndex}}
            @focusedItemIndex={{@focusedItemIndex}}
          />
        </ul>
      {{/if}}
    {{/if}}
  </div>
</div>
