{{on-document "keydown" this.maybeKeyboardNavigate}}

<div
  class="flex flex-col overflow-hidden"
  role={{if @inputIsShown "combobox"}}
  id="x-hds-dropdown-popover"
  ...attributes
>
  {{#if @inputIsShown}}
    <div class="relative p-1 border-b border-b-color-border-faint">
      <Hds::Form::TextInput::Base
        data-test-product-area-dropdown-input
        {{did-insert this.registerAndFocusInput}}
        {{on "input" @onInput}}
        {{on "focusin" @resetFocusedItemIndex}}
        @value={{@query}}
        @type="search"
        @value=""
        placeholder="Filter..."
        aria-controls="x-hds-dropdown"
        aria-activedescendant={{unless
          (eq @focusedItemIndex -1)
          (concat "facet-dropdown-menu-item-" @focusedItemIndex)
        }}
      />
    </div>
  {{/if}}
  <div class="overflow-auto w-full" {{did-insert @registerScrollContainer}}>
    {{#if this.noMatchesFound}}
      <div
        data-test-facet-dropdown-menu-empty-state
        class="p-12 text-center text-color-foreground-faint"
      >
        No matches
      </div>
    {{else}}
      {{#if @listIsOrdered}}
        <ol
          class="py-1"
          id="x-hds-dropdown-list"
          role={{if @inputIsShown "listbox" "menu"}}
          aria-activedescendant={{unless
            (eq @focusedItemIndex -1)
            (concat "x-hds-dropdown-list-item-" @focusedItemIndex)
          }}
        >
          {{#if @shownItems}}
            {{#each-in @shownItems as |product|}}
              <X::Hds::Dropdown::ListItem
                @role={{@listItemRole}}
                @value={{product}}
                @selected={{eq @selected product}}
                @hideDropdown={{@f.hideContent}}
                @onChange={{@onChange}}
                @setFocusedItemIndex={{@setFocusedItemIndex}}
                @focusedItemIndex={{@focusedItemIndex}}
              />
            {{/each-in}}
          {{/if}}
        </ol>
      {{/if}}
    {{/if}}
  </div>
</div>
