{{#let (element (or @tag "p")) as |Field|}}
  <Field class="w-full">
    {{#if this.valueIsEmpty}}
      <EmptyStateText />
    {{else}}
      {{#if this.typeIsPeople}}
        <ol class="person-list">
          {{#each this.people as |person|}}
            <li>
              <Person
                @badge={{if
                  (and
                    (eq @type "approvers")
                    (has-approved-doc this.document person.email)
                  )
                  "approved"
                }}
                @imgURL={{person.imgURL}}
                @email={{person.email}}
              />
            </li>
          {{/each}}
        </ol>
      {{else}}
        {{this.stringValue}}
      {{/if}}
    {{/if}}
  </Field>
{{/let}}
