<div class="editable-field-container" ...attributes>
  <EditableField
    data-test-custom-field
    data-test-custom-field-type={{if this.typeIsPeople "people" "string"}}
    @value={{if this.typeIsPeople this.emails this.stringValue}}
    @onChange={{if this.typeIsPeople this.onPeopleSelectChange}}
    @onSave={{if this.typeIsPeople this.onPeopleSave @onSave}}
    @isSaving={{@isSaving}}
    @isReadOnly={{@disabled}}
  />
</div>
