<div class="editable-field-container" ...attributes>
  {{log "this.typeIsString" this.hermesUsers}}
  <EditableField
    data-test-custom-field
    data-test-custom-field-type={{if this.typeIsString "string" "people"}}
    @value={{if this.typeIsString this.stringValue this.hermesUsers}}
    @onChange={{if this.typeIsPeople this.onPeopleSelectChange}}
    @onSave={{if this.typeIsPeople this.onPeopleSave @onSave}}
    @isSaving={{@isSaving}}
    @isReadOnly={{@disabled}}
  />
</div>
