<div class="editable-field-container" ...attributes>
  {{#if this.typeIsString}}
    <EditableField
      data-test-custom-string-field
      @value={{get @document @field}}
      @onChange={{@onChange}}
      @isSaving={{@isSaving}}
      @disabled={{@disabled}}
    >
      <:default as |F|>
        {{#if F.value}}
          <span class="truncate" title={{F.value}}>
            {{F.value}}
          </span>
        {{else}}
          <EmptyStateText />
        {{/if}}
      </:default>
    </EditableField>
  {{else if this.typeIsPeople}}
    <HermesUsers class="w-full" @emails={{this.emails}} as |h|>
      <EditableField
        data-test-custom-people-field
        @value={{get @attributes "value"}}
        @onChange={{@onChange}}
        @isSaving={{@isSaving}}
        @disabled={{@disabled}}
      >
        <:default>
          {{#if h.users.length}}
            <ol>
              {{#each h.users as |user|}}
                <li class="whitespace-nowrap">
                  <Person
                    @imageIsLoading={{h.isLoading}}
                    @imgURL={{user.imgURL}}
                    @email={{user.email}}
                  />
                </li>
              {{/each}}
            </ol>
          {{else}}
            <EmptyStateText />
          {{/if}}
        </:default>
        <:editing as |F|>
          <Inputs::PeopleSelect
            {{autofocus targetChildren=true}}
            {{did-insert F.applyPeopleSelectClasses}}
            class="multiselect--narrow"
            @selected={{h.users}}
            @onChange={{h.updateUsers}}
            {{click-outside (fn F.update h.users)}}
            data-test-custom-people-field-input
          />
        </:editing>
      </EditableField>
    </HermesUsers>
  {{/if}}
</div>
