<div class="editable-field-container" ...attributes>
  <EditableField
    data-test-custom-string-field
    @value={{if this.typeIsString (get @document @field) this.people}}
    @onChange={{if this.typeIsPeople this.updateEmails}}
    @onSave={{@onSave}}
    @isSaving={{@isSaving}}
    @disabled={{@disabled}}
    @type={{if this.typeIsPeople "people"}}
  />
</div>
