{{! The idea here, I think, is that we want to declare styles once and have them apply to both the button and the input. currently that's not the case. Maybe this is done with a modifier... maybe it's CSS.}}
<div class="editable-field" ...attributes>
  {{#if (and this.editingIsEnabled (not @loading))}}
    {{on-document "keydown" this.handleKeydown}}
    {{yield
      (hash
        value=this.value
        update=this.maybeUpdateValue
        input=this.inputModifier
        emptyValueErrorIsShown=this.emptyValueErrorIsShown
      )
      to="editing"
    }}
  {{else}}
    {{#if @loading}}
      <FlightIcon @name="loading" class="loading-indicator" />
    {{/if}}
    <Action
      class="field-toggle {{if @loading 'loading'}}"
      disabled={{or @disabled @loading}}
      {{on "click" this.enableEditing}}
    >
      {{! pick and element and apply styles here }}
      {{#let (element (or @element "p")) as |Field|}}
        <Field class="w-full {{@class}}">
          {{yield (hash value=this.value)}}
        </Field>
      {{/let}}
    </Action>
  {{/if}}
</div>
