<div
  class="editable-field {{if this.editingBlockIsShown 'z-10'}}"
  ...attributes
>
  {{#if this.editingBlockIsShown}}
    {{on-document "keydown" this.handleKeydown}}

    <div {{did-insert this.registerEditingContainer}} class="w-full">
      {{#if (has-block "editing")}}

        {{yield
          (hash
            value=this.value
            update=this.maybeUpdateValue
            applyPeopleSelectClasses=this.applyPeopleSelectClasses
          )
          to="editing"
        }}

      {{else}}
        <Hds::Form::Textarea::Field
          {{auto-height-textarea}}
          {{did-insert this.registerInput}}
          {{dismissible
            dismiss=(fn this.maybeUpdateValue this.value)
            related=this.relatedButtons
            shouldIgnoreEscape=true
          }}
          @value={{this.value}}
          placeholder={{@placeholder}}
          name={{@name}}
          as |F|
        >
          {{#if this.emptyValueErrorIsShown}}
            <F.Error data-test-empty-value-error>This field is required</F.Error>
          {{/if}}
        </Hds::Form::Textarea::Field>
      {{/if}}
      <div
        class="edit-overlay-affordance
          {{if (eq @buttonOverlayColor 'white') 'white' 'page-faint'}}
          {{if (eq @buttonPlacement 'center') 'justify-center' 'pl-[5px]'}}"
        style="padding-bottom: {{if
          @buttonOverlayPaddingBottom
          @buttonOverlayPaddingBottom
          '125px'
        }}"
      >
        <Hds::Button
          @size="small"
          @text="Save"
          @icon="check"
          @isIconOnly={{true}}
          {{on "click" (fn this.maybeUpdateValue this.value)}}
        />
        <Hds::Button
          @text="Cancel"
          @icon="x"
          @isIconOnly={{true}}
          @size="small"
          @color="secondary"
          {{did-insert this.registerCancelButton}}
          {{on "click" this.disableEditing}}
        />

      </div>
    </div>

  {{else}}
    {{#if (or @isSaving @isLoading)}}
      <div
        data-test-spinner
        class={{if @isSaving "absolute top-0 right-0" "flex h-5 items-center"}}
      >
        <FlightIcon @name="loading" data-test-loading-spinner />
      </div>
    {{/if}}

    {{#if @disabled}}
      {{#if this.readValueIsShown}}
        <div class="field-toggle readonly-string disabled {{@class}}">
          {{#let (element (or @tag "p")) as |Field|}}
            <Field class="w-full">
              {{#if (has-block "default")}}
                {{yield (hash value=this.value)}}
              {{else}}
                {{#if this.value}}
                  {{this.value}}
                {{else}}
                  <EmptyStateText @text={{@placeholder}} />
                {{/if}}
              {{/if}}
            </Field>
          {{/let}}
        </div>
      {{/if}}
    {{else}}
      <Action
        {{did-insert this.registerToggleButton}}
        class="field-toggle group {{if @isSaving 'saving'}} {{@class}} "
        disabled={{@isSaving}}
        {{on "click" this.enableEditing}}
      >
        {{#let (element (or @tag "p")) as |Field|}}
          <Field class="w-full">
            {{#if (has-block "default")}}
              {{yield (hash value=this.value)}}
            {{else}}
              {{#if this.value}}
                {{this.value}}
              {{else}}
                <EmptyStateText @text={{@placeholder}} />
              {{/if}}
            {{/if}}
          </Field>
        {{/let}}
        {{#unless @disabled}}
          <span class="edit-affordance gray">
            <FlightIcon @name="edit" class="text-color-foreground-faint" />
          </span>
        {{/unless}}
      </Action>
    {{/if}}
  {{/if}}
</div>
