<Hds::Button
    @text="edit"
    @size="medium"
    @color="primary"
    class="w-full"
    {{on "click" (set this "formModalActive" true)}}
/>

{{#if this.formModalActive}}
  <Hds::Modal
    id="form-modal"
    @onClose={{set this "formModalActive" false}}
    as |M|
  >
    
<M.Header>
      Edit Template
</M.Header>   
<M.Body>
  <form
    {{on "submit" this.submit}}
    {{did-insert this.registerForm}}
    class="grid gap-1 grid-cols-[1fr_200px] grid-rows-1"
  >
    
    <div>
      {{!-- template name  --}}
      <div class="pt-10 space-y-7">
        <Hds::Form::TextInput::Field
          @type="text"
          @isRequired={{true}}
          @value={{this.templateName}}
          name="templateName"
          placeholder="Enter new Template Name"
          {{on "input" this.updateForm}}
          as |F|
        >
          <F.Label>Template Name</F.Label>
        </Hds::Form::TextInput::Field>
      </div>

      {{!-- template longName --}}
      <div class="pt-10 space-y-7">
        <Hds::Form::TextInput::Field
          @type="text"
          @isRequired={{true}}
          @value={{this.longName}}
          name="longName"
          placeholder="Enter Template long name"
          {{on "input" this.updateForm}}
          as |F|
        >
          <F.Label>Template long name</F.Label>
        </Hds::Form::TextInput::Field>
      </div>
        <div class="h-12"></div>
      {{!-- description --}}
      <div class="relative">
          <Hds::Form::Textarea::Field
            @value={{this.description}}
            rows="3"
            name="description"
            {{on "input" this.updateForm}}
            as |F|
          >
            <F.Label>Description</F.Label>
            <F.HelperText>
              <span
                class={{if
                  this.descriptionIsLong
                  "transition-colors bg-color-surface-warning text-color-foreground-warning-on-surface"
                }}
              >One or two sentences</span> outlining your Template.
              {{if this.descriptionIsLong "(Just a recommendation)"}}
            </F.HelperText>
          </Hds::Form::Textarea::Field>
      </div>

      {{!-- doc id  --}}
      <div class="pt-10 space-y-7">
        <Hds::Form::TextInput::Field
          @type="text"
          @isRequired={{true}}
          @value={{this.docId}}
          name="docId"
          placeholder="Enter existing google doc template link"
          {{on "input" this.updateForm}}
          as |F|
        >
          <F.Label>Document link</F.Label>
        </Hds::Form::TextInput::Field>
      </div>

      {{!-- <div class="h-24"></div> --}}
    </div>
    <div>
      <div class="preview-card">
        <div class="flex w-full">
          <h3>
            <FlightIcon @name="eye" />
            Preview
          </h3>
        </div>
        <div class="div-template">
          <img 
            src="https://lh3.google.com/u/0/d/{{this.docId}}=w416-iv1" 
            alt="Enter Correct Doc Id"
            onerror="this.src='/images/blank.png'"
            class="w-full"
          >
        </div>
      </div>
    </div>
  </form>
</M.Body>
    <M.Footer as |F|>
      <div class="flex items-start px-3 gap-2 w-full">
        <Hds::Button
            @text="Update"
            type="submit"
            disabled={{not this.formRequirementsMet}}
            class="right-align"
            onclick={{this.submit}}
          />
        <Hds::Button type="button" @text="Cancel" @color="secondary"
          {{on "click" F.close}}
        />
      </div>
    </M.Footer>
  </Hds::Modal>
{{/if}}