<div
  class="editable-field
    {{if @isSaving 'saving'}}
    {{if (and this.editingIsEnabled (not @isSaving)) 'z-10'}}"
  ...attributes
>
  {{#if (and this.editingIsEnabled (not @isSaving))}}
    <div {{did-insert this.registerEditingContainer}} class="w-full">
      {{#if this.typeIsPeople}}
        <Inputs::PeopleSelect
          {{autofocus targetChildren=true}}
          data-test-document-contributors-editable
          class="multiselect--narrow"
          {{! @glint-ignore - TODO: type this as an array }}
          @selected={{this.value}}
          @onChange={{this.onChange}}
          @onKeydown={{fn this.onPeopleSelectKeydown this.maybeUpdateValue}}
          {{click-outside (fn this.maybeUpdateValue this.value)}}
        />
      {{else}}
        {{on-document "keydown" this.onTextFieldKeydown}}
        <Hds::Form::Textarea::Field
          {{auto-height-textarea}}
          {{autofocus}}
          {{dismissible
            dismiss=(fn this.maybeUpdateValue this.value)
            related=this.relatedButtons
            shouldIgnoreEscape=true
          }}
          {{! @glint-ignore - TODO: type this as a string }}
          @value={{this.value}}
          placeholder={{@placeholder}}
          name={{@name}}
          as |F|
        >
          {{#if this.emptyValueErrorIsShown}}
            <F.Error data-test-empty-value-error>This field is required</F.Error>
          {{/if}}
        </Hds::Form::Textarea::Field>
      {{/if}}

      {{! "Confirm" and "Cancel" buttons }}
      <div class="edit-overlay-affordance page-faint pb-[125px] pl-[5px]">
        <Hds::Button
          data-test-save-button
          @size="small"
          @text="Save"
          @icon="check"
          @isIconOnly={{true}}
          {{on "click" (fn this.maybeUpdateValue this.value)}}
        />
        <Hds::Button
          data-test-cancel-button
          @text="Cancel"
          @icon="x"
          @isIconOnly={{true}}
          @size="small"
          @color="secondary"
          {{did-insert this.registerCancelButton}}
          {{on "click" this.disableAndRevertChanges}}
        />
      </div>
    </div>
  {{else}}
    {{#if @isSaving}}
      <div data-test-saving-spinner class="edit-affordance light-gray">
        <FlightIcon @name="loading" />
      </div>
    {{/if}}
    {{#if (or @disabled @isSaving)}}
      <div class="field-toggle">
        <EditableField::ReadValue
          @tag={{@tag}}
          @value={{this.value}}
          @document={{@document}}
        />
      </div>
    {{else}}
      <Action
        {{did-insert this.registerToggleButton}}
        {{on "click" this.enableEditing}}
        class="field-toggle group"
      >
        <EditableField::ReadValue
          @tag={{@tag}}
          @value={{this.value}}
          @document={{@document}}
        />
        {{#unless @disabled}}
          <span class="edit-affordance gray">
            <FlightIcon @name="edit" class="text-color-foreground-faint" />
          </span>
        {{/unless}}
      </Action>
    {{/if}}
  {{/if}}
</div>
