<div class="editable-field" ...attributes>
  {{#if (and this.editingIsEnabled (not @loading))}}
    {{on-document "keydown" this.handleKeydown}}
    {{yield
      (hash
        value=this.value
        update=this.maybeUpdateValue
        input=this.inputModifier
        emptyValueErrorIsShown=this.emptyValueErrorIsShown
      )
      to="editing"
    }}
  {{else}}
    {{#if @loading}}
      <FlightIcon @name="loading" class="loading-indicator" />
    {{/if}}
    <Action
      class="field-toggle {{if @loading 'loading'}}"
      disabled={{or @disabled @loading}}
      {{on "click" this.enableEditing}}
    >
      {{yield (hash value=this.value)}}
    </Action>
  {{/if}}
</div>
