<div class="editable-field" ...attributes>
  {{#if this.editingBlockIsShown}}
    {{on-document "keydown" this.handleKeydown}}
    {{yield
      (hash
        value=this.value
        update=this.maybeUpdateValue
        input=this.inputModifier
        emptyValueErrorIsShown=this.emptyValueErrorIsShown
      )
      to="editing"
    }}
  {{else}}
    {{#if (or @isSaving @isLoading)}}
      <div
        class={{if @isSaving "absolute top-0 right-0" "flex h-5 items-center"}}
      >
        <FlightIcon @name="loading" />
      </div>
    {{/if}}
    {{#unless @isLoading}}
      <Action
        class="field-toggle {{if @isSaving 'loading'}}"
        disabled={{or @disabled @isSaving}}
        {{on "click" this.enableEditing}}
      >
        {{yield (hash value=this.value)}}
      </Action>
    {{/unless}}
  {{/if}}
</div>
