<div class="editable-field" ...attributes>
  {{#if (and this.editingIsEnabled (not @loading))}}
    {{on-document "keydown" this.handleKeydown}}
    {{yield
      (hash
        value=this.value
        update=this.maybeUpdateValue
        onChange=@onChange
        input=this.inputModifier
        errorIsShown=this.emptyValueErrorIsShown
        disableEditing=this.disableEditing
      )
      to="editing"
    }}
  {{else}}
    {{#if @loading}}
      <FlightIcon @name="loading" class="loading-indicator" />
    {{/if}}
    <button
      class="field-toggle {{if @loading 'loading'}}"
      disabled={{or @disabled @loading}}
      {{on "click" this.enableEditing}}
    >
      {{yield (hash value=this.value)}}
    </button>
  {{/if}}
</div>
