<div class="footer" ...attributes>
  <div class="footer-inner">
    <div class="flex items-center space-x-4">
      <div data-test-footer-copyright>
        ©
        {{this.currentYear}}
        HashiCorp
      </div>
      <div data-test-footer-version>
        Hermes v{{this.version}}
        ({{this.revision}})
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <ExternalLink
        data-test-footer-github-link
        @iconIsShown={{true}}
        href={{this.gitHubRepoURL}}
      >
        GitHub
      </ExternalLink>
      {{#if this.supportURL}}
        <ExternalLink
          data-test-footer-support-link
          @iconIsShown={{true}}
          href={{this.supportURL}}
        >
          Support
        </ExternalLink>
      {{/if}}
    </div>
  </div>
</div>
