{{#unless (eq this.currentRouteName "authenticated.document")}}
  <div class="footer" ...attributes>
    <div class="x-container">
      <div class="footer-inner">
        <div class="flex items-center">
          <div>
            ©
            {{this.currentYear}}
            HashiCorp
          </div>
        </div>

        <div class="flex items-center space-x-4">
          <ExternalLink @iconIsShown={{true}} href={{this.gitHubRepoURL}}>
            GitHub
          </ExternalLink>
          {{#if this.supportDocsURL}}
            <ExternalLink @iconIsShown={{true}} href={{this.supportDocsURL}}>
              Support
            </ExternalLink>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/unless}}
