<LinkTo
  @route={{this.route}}
  @query={{this.query}}
  class="product-badge-link"
  ...attributes
>
  {{#let (get-product-id this.args.productArea) as |icon|}}
    <div data-test-doc-thumbnail-product-badge class="product-badge {{icon}}">
      <FlightIcon @name={{or icon "folder"}} />
    </div>
  {{/let}}
  {{this.productAreaName}}
</LinkTo>
