<section>
  <div class="x-container">
    <div class="row-results">
      {{#if @docs}}
        <Hds::Table @isStriped={{false}} class="row-results__table">
          <:head as |H|>
            <H.Tr>
              <H.Th class="name">Name</H.Th>
              <H.Th class="type">Type</H.Th>
              <H.Th class="status">Status</H.Th>
              <H.Th class="product">Product/Area</H.Th>
              <H.Th class="owner">Owner</H.Th>
              <H.Th class="created">
                <Table::SortableHeader
                  @changeSort={{@changeSort}}
                  @currentSort={{@currentSort}}
                  @sortDirection={{@sortDirection}}
                  @queryParam={{hash
                    sortBy=(if (eq @sortDirection "desc") "dateAsc" "dateDesc")
                    page=1
                  }}
                  @attribute="createdTime"
                  @defaultSortDirection="desc"
                >
                  Created
                </Table::SortableHeader>
              </H.Th>
            </H.Tr>
          </:head>
          <:body>
            {{#each @docs as |doc|}}
              {{log doc.status}}
              <Doc::Row
                @avatar="{{get doc.ownerPhotos 0}}"
                @createdDate="{{parse-date doc.created}}"
                @docID="{{doc.objectID}}"
                @docNumber="{{doc.docNumber}}"
                @docType="{{doc.docType}}"
                @owner="{{get doc.owners 0}}"
                @productArea="{{doc.product}}"
                @status="{{lowercase doc.status}}"
                @title="{{doc.title}}"
                {{!-- @isDraft={{doc.isDraft}} --}}
                @isDraft={{eq doc.status "WIP"}}
              />
            {{/each}}
          </:body>
        </Hds::Table>
        {{#if this.paginationIsShown}}
          <Pagination
            @nbPages={{this.nbPages}}
            @currentPage={{this.currentPage}}
          />
        {{/if}}
      {{else}}
        <Hds::Alert @type="inline" as |A|>
          <A.Title>No docs found</A.Title>
        </Hds::Alert>
      {{/if}}
    </div>
  </div>
</section>
