{{#if @disabled}}
  {{yield}}
{{else}}
  <Action class="group relative" {{on "click" this.changeSort}} ...attributes>
    <div
      class="sort-icon
        {{if
          this.isActive
          'text-color-foreground-faint'
          'invisible text-color-foreground-disabled group-focus-within:visible group-hover:visible'
        }}"
    >
      <FlightIcon @name={{this.iconName}} />
    </div>
    {{yield}}
  </Action>
{{/if}}
