<div
  class="relative inline-flex"
  {{did-insert this.didInsertReference}}
  {{on "mouseenter" this.showContent}}
  {{on "mouseleave" this.hideContent}}
  {{on "focusin" this.showContent}}
  {{on "focusout" this.hideContent}}
  {{on "click" this.toggleContent}}
>
  {{yield}}

  {{#if this.contentIsShown}}
    <div
      class="absolute w-max bg-color-foreground-strong rounded py-2 px-2.5 text-color-foreground-high-contrast"
      {{did-insert this.didInsertContent}}
    >
      <div class="relative">
        {{@text}}
      </div>
      <div
        class="absolute bg-color-foreground-strong h-3 w-3 -z-10"
        {{did-insert this.didInsertArrow}}
      ></div>
    </div>
  {{/if}}
</div>
