{{on-document "keydown" this.onKeydown}}
<div
  {{did-insert this.registerPopover}}
  role={{if @inputIsShown "combobox"}}
  id="facet-dropdown-popover"
  class="facet-dropdown-popover
    {{if @inputIsShown 'large'}}
    {{if (and (not @inputIsShown) (eq this.facetName 'status')) 'medium'}}"
  ...attributes
>
  {{#if @inputIsShown}}
    <div class="relative px-1 pb-1 border-b border-b-color-border-faint">
      <Hds::Form::TextInput::Base
        {{did-insert this.registerInput}}
        {{on "input" (perform this.onInput)}}
        {{on "focusin" this.resetMenuItemIndex}}
        @value={{this.query}}
        @type="search"
        aria-controls="facet-dropdown-menu"
        class="leading-none"
        placeholder="Filter..."
        class="facet-dropdown-input"
        aria-activedescendant={{unless
          (eq this.menuItemFocusIndex -1)
          (concat "facet-dropdown-menu-item-" this.menuItemFocusIndex)
        }}
      />
    </div>
  {{/if}}
  <div class="overflow-auto h-full">
    {{#if this.noMatchesFound}}
      <div
        data-test-facet-dropdown-menu-empty-state
        class="p-12 text-center text-color-foreground-faint"
      >
        No matches
      </div>
    {{else}}
      <ol
        data-test-facet-dropdown-menu
        id="facet-dropdown-menu"
        role={{if @inputIsShown "listbox" "menu"}}
        class="py-3 list-none"
        aria-activedescendant={{unless
          (or @inputIsShown (eq this.menuItemFocusIndex -1))
          (concat "facet-dropdown-menu-item-" this.menuItemFocusIndex)
        }}
      >
        {{#each-in this.shownFacets as |value attrs|}}
          <Header::FacetDropdownListItem
            @role={{if @inputIsShown "option" "menuitem"}}
            @value={{value}}
            @selected={{attrs.selected}}
            @count={{attrs.count}}
            @setFocusTo={{this.setFocusTo}}
            @menuItemFocusIndex={{this.menuItemFocusIndex}}
          />
        {{/each-in}}
      </ol>
    {{/if}}
  </div>
</div>
