<li role="none" data-test-facet-dropdown-menu-item>
  <LinkTo
    data-test-facet-dropdown-menu-item-link
    {{did-insert this.registerElement}}
    {{on "mouseenter" this.focusMouseTarget}}
    {{on "click" this.delayedCloseDropdown}}
    role={{@role}}
    aria-selected={{this.isAriaSelected}}
    tabindex="-1"
    aria-checked={{@selected}}
    class="facet-dropdown-menu-item-link {{if this.isAriaSelected 'is-aria-selected'}}"
    @route={{this.currentRouteName}}
    @query={{or
      this.sortByQueryParams
      (get-facet-query-hash @label @value @selected)
    }}
  >
    {{#if this.sortByQueryParams}}
      <FlightIcon
        data-test-facet-dropdown-list-item-sort-icon
        @name={{if (eq @value "Newest") "sort-desc" "sort-asc"}}
        class="sort-icon"
      />
    {{else}}
      <FlightIcon
        data-test-facet-dropdown-list-item-check
        @name="check"
        class="check {{if @selected 'visible' 'invisible'}}"
      />
    {{/if}}
    <div class="w-full flex justify-between overflow-hidden">
      <span data-test-facet-dropdown-list-item-value>
        {{@value}}
      </span>
      {{#unless this.sortByQueryParams}}
        <Hds::BadgeCount
          data-test-facet-dropdown-menu-item-count
          @text={{@count}}
          @size="small"
          class="ml-8 shrink-0"
        />
      {{/unless}}
    </div>
  </LinkTo>
</li>
