{{on-document "keydown" this.maybeKeyboardNavigate}}
<div
  data-test-facet-dropdown-popover
  {{did-insert @registerPopover}}
  role={{if @inputIsShown "combobox"}}
  id="facet-dropdown-popover"
  class="facet-dropdown-popover hds-dropdown-list
    {{if @anchorToRight 'anchor-right'}}
    {{if @inputIsShown 'large'}}
    {{if (and (not @inputIsShown) (eq this.facetName 'status')) 'medium'}}"
  ...attributes
>
  {{#if @inputIsShown}}
    <div class="relative px-1 pb-1 border-b border-b-color-border-faint">
      <Hds::Form::TextInput::Base
        data-test-facet-dropdown-input
        {{did-insert this.registerAndFocusInput}}
        {{on "input" @onInput}}
        {{on "focusin" @resetFocusedItemIndex}}
        @value={{@query}}
        @type="search"
        aria-controls="facet-dropdown-menu"
        placeholder="Filter..."
        aria-activedescendant={{unless
          (eq @focusedItemIndex -1)
          (concat "facet-dropdown-menu-item-" @focusedItemIndex)
        }}
      />
    </div>
  {{/if}}
  <div
    {{did-insert @registerScrollContainer}}
    class="overflow-auto h-full relative"
  >
    {{#if this.noMatchesFound}}
      <div
        data-test-facet-dropdown-menu-empty-state
        class="p-12 text-center text-color-foreground-faint"
      >
        No matches
      </div>
    {{else}}
      <ol
        data-test-facet-dropdown-menu
        id="facet-dropdown-menu"
        role={{if @inputIsShown "listbox" "menu"}}
        class="py-3 list-none"
        aria-activedescendant={{unless
          (eq @focusedItemIndex -1)
          (concat "facet-dropdown-menu-item-" @focusedItemIndex)
        }}
      >
        {{#each-in @shownFacets as |value attrs|}}
          <Header::FacetDropdownListItem
            @role={{if @inputIsShown "option" "menuitem"}}
            @value={{value}}
            @selected={{attrs.selected}}
            @count={{attrs.count}}
            @setFocusedItemIndex={{@setFocusedItemIndex}}
            @focusedItemIndex={{@focusedItemIndex}}
            @hideDropdown={{@hideDropdown}}
            @label={{@label}}
            @currentSortByValue={{@currentSortByValue}}
          />
        {{/each-in}}
      </ol>
    {{/if}}
  </div>
</div>
