<div
  class="relative"
  aria-owns="facet-dropdown-menu"
  aria-haspopup="listbox"
  aria-expanded={{this.dropdownIsShown}}
  ...attributes
>
  <Hds::Button
    data-test-facet-dropdown-trigger
    {{did-insert this.registerTrigger}}
    {{on "click" this.toggleDropdown}}
    @disabled={{@disabled}}
    @icon={{if this.dropdownIsShown "chevron-up" "chevron-down"}}
    @iconPosition="trailing"
    @color="secondary"
    @text={{@label}}
  />
  {{#if this.dropdownIsShown}}
    <Header::FacetDropdownList
      {{dismissible
        dismissAction=this.hideDropdown
        related=this.triggerElement
      }}
      @label={{@label}}
      @facets={{@facets}}
    />
  {{/if}}
</div>
