<div class="x-container">

  <nav class="header-nav">
    <LinkTo @route="authenticated.dashboard" class="header-nav-logo">
      <HermesLogo />
    </LinkTo>

    <div class="primary-links">
      <LinkTo
        data-test-nav-link="all"
        @route="authenticated.all"
        @current-when="authenticated.all"
        @query={{this.defaultBrowseScreenQueryParams}}
      >
        All Docs
      </LinkTo>
      <LinkTo
        data-test-nav-link="my"
        @route="authenticated.my"
        @current-when="authenticated.my"
        @query={{this.defaultBrowseScreenQueryParams}}
      >
        My Docs
      </LinkTo>
      <LinkTo
        data-test-nav-link="drafts"
        @route="authenticated.drafts"
        @current-when="authenticated.drafts"
        @query={{this.defaultBrowseScreenQueryParams}}
      >
        My Drafts
      </LinkTo>
    </div>

    <Header::Search data-test-nav-search-bar class="search-bar" />

    <div class="user-buttons">
      <Hds::Button
        @route="authenticated.new"
        @isIconOnly={{true}}
        @text="Create draft"
        @icon="file-plus"
        class="create-draft-button"
      />
      <div class="relative">
        {{#if this.userMenuHighlightIsShown}}
          <Header::UserMenuHighlight />
        {{/if}}
        {{! Workaround until `referrerPolicy` is supported in dd.ToggleIcon }}
        <img
          src={{this.profile.picture}}
          class="user-avatar"
          role="presentation"
          referrerpolicy="no-referrer"
        />
        <Hds::Dropdown as |dd|>
          <dd.ToggleIcon
            data-test-user-menu-toggle
            @text="User menu"
            @icon="user"
          />
          <dd.Title
            data-test-user-menu-title
            {{did-insert this.onDropdownOpen}}
            {{will-destroy this.onDropdownClose}}
            @text={{this.profile.name}}
            class="text-body-200"
          />
          <dd.Description
            data-test-user-menu-email
            @text={{this.profile.email}}
            class="text-body-200"
          />
          <dd.Separator class="mt-2" />
          <dd.Interactive
            data-test-user-menu-item="email-notifications"
            @route="authenticated.settings"
            @text="Email notifications"
            class={{if
              this.emailNotificationsHighlightIsShown
              "highlighted-new"
            }}
          />
          {{#if this.showSignOut}}
            <dd.Interactive
              data-test-user-menu-item="sign-out"
              {{on "click" this.invalidateSession}}
              @text="Sign out"
            />
          {{/if}}
        </Hds::Dropdown>
      </div>
    </div>
  </nav>
</div>
