<div class="x-container">

  <nav class="header-nav">
    <LinkTo @route="authenticated.dashboard" class="header-nav-logo">
      <HermesLogo />
    </LinkTo>

    <div class="primary-links">
      <LinkTo
        data-test-nav-link="documents"
        @route="authenticated.documents"
        @current-when="authenticated.documents"
        @query={{this.defaultBrowseScreenQueryParams}}
      >
        <span>
          Documents
        </span>
      </LinkTo>

      <LinkTo
        data-test-nav-link="explore"
        @route="authenticated.projects"
        @current-when="authenticated.projects"
        @query={{this.defaultBrowseScreenQueryParams}}
      >
        <span>
          Projects
        </span>
      </LinkTo>
      <X::DropdownList
        data-test-nav-link="explore"
        class="flex gap-1"
        @items={{this.documentNavItems}}
        @offset={{hash mainAxis=-5 crossAxis=0}}
        @placement="bottom-start"
        @currentWhen="authenticated.my.published authenticated.my.drafts"
        {{on "mouseleave" this.maybeHideContent}}
      >
        <:anchor as |dd|>
          <LinkTo @route="authenticated.my.index">
            <span>
              My Docs
            </span>
          </LinkTo>
        </:anchor>
        <:item as |dd|>
          <dd.LinkTo
            data-test-nav-link="explore"
            {{! TODO: add @current-when }}
            @route={{or dd.attrs.route "authenticated.documents"}}
            @query={{or dd.attrs.query this.defaultBrowseScreenQueryParams}}
            class="px-2.5 md:px-3.5"
          >
            <span>
              {{dd.attrs.label}}
            </span>
          </dd.LinkTo>
        </:item>
      </X::DropdownList>
    </div>

    <Header::Search class="global-search" />

    <div class="user-buttons">
      <div class="flex">
      </div>
      <div class="relative">
        {{#if this.userMenuHighlightIsShown}}
          <Header::UserMenuHighlight />
        {{/if}}
        {{#if this.profile.picture}}
          {{! Workaround until `referrerPolicy` is supported in dd.ToggleIcon }}
          <img
            src={{this.profile.picture}}
            class="user-avatar"
            role="presentation"
            referrerpolicy="no-referrer"
          />
        {{/if}}
        <Hds::Dropdown as |dd|>
          <dd.ToggleIcon
            data-test-user-menu-toggle
            @text="User menu"
            @icon="user"
          />
          <dd.Title
            data-test-user-menu-title
            {{did-insert this.onDropdownOpen}}
            {{will-destroy this.onDropdownClose}}
            @text={{this.profile.name}}
            class="text-body-200"
          />
          <dd.Description
            data-test-user-menu-email
            @text={{this.profile.email}}
            class="text-body-200"
          />
          <dd.Separator class="mt-2" />
          <dd.Interactive
            data-test-user-menu-item="email-notifications"
            @route="authenticated.settings"
            @text="Email notifications"
            class={{if
              this.emailNotificationsHighlightIsShown
              "highlighted-new"
            }}
          />
          <dd.Interactive
            data-test-user-menu-github
            @href={{this.gitHubRepoURL}}
            @isHrefExternal={{true}}
            @text="GitHub"
            @icon="external-link"
            class="user-menu-external-link"
          />
          {{#if this.supportDocsURL}}
            <dd.Interactive
              data-test-user-menu-support
              @href={{this.supportDocsURL}}
              @isHrefExternal={{true}}
              @text="Support"
              @icon="external-link"
              class="user-menu-external-link"
            />
          {{/if}}
          {{#if this.showSignOut}}
            <dd.Interactive
              data-test-user-menu-item="sign-out"
              {{on "click" this.invalidateSession}}
              @text="Sign out"
            />
          {{/if}}
        </Hds::Dropdown>
      </div>
    </div>
  </nav>
</div>
