{{on-document "keydown" this.maybeFocusInput}}

<div ...attributes>
  <form class="relative w-full" {{on "submit" this.viewAllResults}}>
    <X::DropdownList
      @items={{this.items}}
      @offset={{hash mainAxis=0 crossAxis=2}}
      @placement="bottom-end"
      @matchAnchorWidth={{hash enabled=true additionalWidth=4}}
      @inputIsShown={{false}}
      class="search-popover theme--neutral
        {{unless this.bestMatchesHeaderIsShown 'no-best-matches'}}"
    >
      <:anchor as |dd|>
        {{log "this.items" this.items}}
        <Hds::Form::TextInput::Base
          data-test-global-search-input
          {{did-insert dd.registerAnchor}}
          {{did-insert this.registerInput}}
          {{on "input" (perform this.search dd)}}
          {{on "mousedown" (fn this.maybeCloseDropdown dd)}}
          {{on "keydown" (fn this.maybeSubmitForm dd)}}
          {{on "focusin" (fn this.maybeOpenDropdown dd)}}
          @type="search"
          @value={{this.query}}
          name="query"
          size="25"
          placeholder="Find a document..."
          aria-label="Find a document..."
          aria-controls={{dd.ariaControls}}
          aria-expanded={{dd.contentIsShown}}
          aria-haspopup="listbox"
        />
        {{#unless this.query}}
          <span class="global-search-shortcut-affordance">
            ⌘K
          </span>
        {{/unless}}
      </:anchor>
      <:header>
        {{! content is placed here by the in-element helper below }}
        <div id={{this.headerID}}>
        </div>

        {{#if this.productAreaMatch}}
          <div class="global-search-best-matches-header">
            <h5>Product/Area</h5>
          </div>
          <div id={{this.productAreaID}} class="pb-1">
            {{! Content placed }}
          </div>
        {{/if}}

        {{#if this.projectMatches.length}}
          <div class="global-search-best-matches-header">
            <h5>Projects</h5>
          </div>
          <ul id={{this.projectsID}} class="pb-1">
            {{! content placed here }}
          </ul>
        {{/if}}

        {{! Rethink this.. }}
        {{#if this.bestMatchesHeaderIsShown}}
          <div class="global-search-best-matches-header">
            <h5>Documents</h5>
          </div>
        {{/if}}
      </:header>
      <:item as |dd|>

        {{#if dd.attrs.itemShouldRenderOut}}
          {{!
            We use this property to catch the "view all results" and "view all [productArea] documents" items and, for semantic purposes, render them outside of the DropdownList's primary `ul/ol` element while still retaining the keyboard navigability provided by the DropdownList component.
           }}
          {{#unless this.searchInputIsEmpty}}
            {{#in-element
              (html-element
                (if
                  dd.attrs.hit
                  this.projectsSelector
                  (if
                    dd.attrs.productAreaName
                    this.productAreaSelector
                    this.headerSelector
                  )
                )
              )
              insertBefore=null
            }}
              {{#if dd.attrs.hit}}
                <li class="">
                  <dd.LinkTo
                    data-test-project-match-link
                    class="flex items-center gap-2 px-3"
                    @route="authenticated.projects.project"
                    @model={{dd.attrs.hit.objectID}}
                  >
                    <Project::StatusIcon
                      @status={{dd.attrs.hit.status}}
                      class="mt-px"
                    />
                    <div class="overflow-hidden">
                      <div
                        class="truncate font-semibold text-color-foreground-strong"
                      >
                        {{dd.attrs.hit.title}}
                      </div>
                    </div>
                  </dd.LinkTo>
                </li>
              {{else if (eq dd.attrs.id "view-all-results")}}
                <dd.LinkTo
                  {{did-insert this.registerViewAllResultsLink}}
                  @route="authenticated.results"
                  @query={{hash q=this.query page=1}}
                  class="flex gap-2 px-3 py-2.5"
                >
                  <FlightIcon @name="search" class="mt-0.5" />
                  <span>View document results for “{{this.query}}”</span>
                </dd.LinkTo>
              {{else if dd.attrs.productAreaName}}
                <dd.LinkTo
                  data-test-product-match-link
                  @route="authenticated.documents"
                  @query={{hash
                    product=(array dd.attrs.productAreaName)
                    page=1
                  }}
                  class="flex items-center gap-2 px-3"
                >
                  <Product::Avatar @product={{dd.attrs.productAreaName}} />
                  {{dd.attrs.productAreaName}}
                </dd.LinkTo>
              {{/if}}
            {{/in-element}}
          {{/unless}}
        {{else}}
          <dd.LinkTo
            data-test-search-result
            @route="authenticated.document"
            @model={{dd.value}}
            class="global-search-result"
          >
            <Doc::Thumbnail
              @status={{dd.attrs.status}}
              @product={{dd.attrs.product}}
            />
            <div class="global-search-result-text-content">
              <h4 class="global-search-result-title">
                {{dd.attrs.title}}
              </h4>
              <Person
                data-test-search-result-owner
                @ignoreUnknown={{true}}
                @email={{get dd.attrs.owners 0}}
              />
              {{#if dd.attrs._snippetResult.content.value}}
                <Doc::Snippet
                  data-test-search-result-snippet
                  @snippet={{dd.attrs._snippetResult.content.value}}
                  class="truncate"
                />
              {{/if}}
            </div>
          </dd.LinkTo>
        {{/if}}
      </:item>
    </X::DropdownList>
  </form>
</div>
