{{on-document "keydown" this.maybeFocusInput}}

<div ...attributes>
  <form class="w-full relative" {{on "submit" this.viewAllResults}}>
    <X::DropdownList
      @items={{this.itemsToShow}}
      @offset={{hash mainAxis=0 crossAxis=3}}
      @placement="bottom-end"
      class="search-popover
        {{unless this.bestMatchesHeaderIsShown 'no-best-matches'}}"
    >
      <:anchor as |dd|>
        <Hds::Form::TextInput::Base
          data-test-global-search-input
          {{did-insert dd.registerAnchor}}
          {{did-insert this.registerInput}}
          {{on "input" (perform this.search dd)}}
          {{on "mousedown" (fn this.maybeCloseDropdown dd)}}
          {{on "keydown" (fn this.maybeSubmitForm dd)}}
          {{on "focusin" (fn this.maybeOpenDropdown dd)}}
          @type="search"
          @value={{this.query}}
          name="query"
          size="25"
          placeholder="Find a document..."
          aria-label="Find a document..."
          aria-controls={{dd.ariaControls}}
          aria-expanded={{dd.contentIsShown}}
          aria-haspopup="listbox"
        />
        {{#unless this.query}}
          <span class="global-search-shortcut-affordance">
            ⌘K
          </span>
        {{/unless}}
      </:anchor>
      <:header>
        <div id="global-search-popover-header">
          {{! content is placed here by the in-element helper below }}
        </div>
        {{#if this.bestMatchesHeaderIsShown}}
          <div class="global-search-best-matches-header">
            <h5>Best matches</h5>
          </div>
        {{/if}}
      </:header>
      <:item as |dd|>

        {{#if dd.attrs.itemShouldRenderOut}}
          {{!
            We use this property to catch the "view all results" and "view all [productArea] documents" items and, for semantic purposes, render them outside of the DropdownList's primary `ul/ol` element while still retaining the keyboard navigability provided by the DropdownList component.
           }}
          {{#unless this.searchInputIsEmpty}}
            {{#in-element
              (html-element "#global-search-popover-header")
              insertBefore=null
            }}
              {{#if (eq dd.value "viewAllResultsObject")}}
                <dd.LinkTo
                  {{did-insert this.registerViewAllResultsLink}}
                  @route="authenticated.results"
                  @query={{hash q=this.query page=1}}
                  class="global-search-popover-header-link"
                >
                  <FlightIcon @name="search" class="mr-1.5" />
                  <span>View all results for “{{this.query}}”</span>
                </dd.LinkTo>
              {{else if (eq dd.value "productAreaMatch")}}
                <dd.LinkTo
                  data-test-product-match-link
                  @route="authenticated.all"
                  @query={{hash
                    product=(array dd.attrs.productAreaName)
                    page=1
                  }}
                  class="global-search-popover-header-link border-t border-t-color-border-primary"
                >
                  <FlightIcon @name="folder" class="mr-1.5" />
                  <span class="flex items-center">
                    View all
                    <Hds::Badge
                      @text={{dd.attrs.productAreaName}}
                      @icon={{or (get-product-id dd.attrs.productAreaName) ""}}
                      class="mx-2 mix-blend-multiply"
                    />
                    documents
                  </span>
                </dd.LinkTo>
              {{/if}}
            {{/in-element}}
          {{/unless}}
        {{else}}
          <dd.LinkTo
            data-test-search-result
            @route="authenticated.document"
            @model={{dd.value}}
            class="global-search-result"
          >
            <Doc::Thumbnail
              @status={{dd.attrs.status}}
              @product={{dd.attrs.product}}
            />
            <div class="global-search-result-text-content">
              <h4 class="global-search-result-title">
                {{dd.attrs.title}}
              </h4>
              <Person
                data-test-search-result-owner
                @ignoreUnknown={{true}}
                @imgURL={{get dd.attrs.ownerPhotos 0}}
                @email={{get dd.attrs.owners 0}}
              />
              {{#if dd.attrs._snippetResult.content.value}}
                <Doc::Snippet
                  data-test-search-result-snippet
                  @snippet={{dd.attrs._snippetResult.content.value}}
                  class="truncate"
                />
              {{/if}}
            </div>
          </dd.LinkTo>
        {{/if}}
      </:item>
    </X::DropdownList>
  </form>
</div>
