{{! @glint-nocheck: not typesafe yet }}
{{on-document "keydown" this.onDocumentKeydown}}
<div ...attributes>
  <form class="w-full relative" {{on "submit" this.viewAllResults}}>
    <X::DropdownList
      @items={{this.bestMatches}}
      @offset={{this.popoverOffset}}
      style={{{this.dropdownListStyle}}}
      @placement="bottom-end"
      class="search-popover
        {{unless this.bestMatchesHeaderIsShown 'no-best-matches'}}"
    >
      <:anchor as |dd|>
        <Hds::Form::TextInput::Base
          {{did-insert dd.registerAnchor}}
          {{did-insert this.registerInput}}
          {{on "input" (perform this.search dd)}}
          {{on "mousedown" (fn this.maybeCloseDropdown dd)}}
          {{on "keydown" (fn this.onInputKeydown dd)}}
          {{on "focusin" (fn this.maybeOpenDropdown dd)}}
          @type="search"
          @value={{this.query}}
          name="query"
          size="25"
          placeholder="Find a document..."
          aria-label="Find a document..."
          aria-controls={{dd.ariaControls}}
          aria-expanded={{dd.contentIsShown}}
          aria-haspopup="listbox"
        />
        {{#unless this.query}}
          <span
            class="absolute right-[13px] top-1/2 -translate-y-1/2 text-color-foreground-faint"
          >
            ⌘K
          </span>
        {{/unless}}
      </:anchor>
      <:header>
        <div id="hermes-search-popover-header">
          {{! content is placed here by the in-element helper below }}
        </div>
        {{#if this.bestMatchesHeaderIsShown}}
          <div class="border-t border-t-color-border-primary pt-2 px-3">
            <h5
              class="text-display-100 text-color-foreground-faint font-medium"
            >
              Best matches
            </h5>
          </div>
        {{/if}}
      </:header>
      <:item as |dd|>
        {{#if
          (or
            (eq dd.value "viewAllResultsObject")
            (eq dd.value "productAreaMatch")
          )
        }}
          {{#unless this.searchInputIsEmpty}}
            {{#in-element
              (html-element "#hermes-search-popover-header")
              insertBefore=null
            }}
              {{#if (eq dd.value "viewAllResultsObject")}}
                <dd.LinkTo
                  {{did-insert this.registerViewAllResultsLink}}
                  @route="authenticated.results"
                  @query={{hash q=this.query page=1}}
                  class="search-popover-header-link"
                >
                  <FlightIcon @name="search" class="mr-1.5" />
                  <span>View all results for "{{this.query}}"</span>
                </dd.LinkTo>
              {{else}}
                <dd.LinkTo
                  @route="authenticated.all"
                  @query={{hash product=(array dd.attrs.product) page=1}}
                  class="search-popover-header-link border-t border-t-color-border-primary"
                >
                  {{log dd.attrs.product}}
                  <FlightIcon @name="folder" class="mr-1.5" />
                  <span class="flex items-center">
                    View all
                    <Hds::Badge
                      @text={{dd.attrs.product}}
                      @icon={{get-product-id dd.attrs.product}}
                      class="mx-2 mix-blend-multiply"
                    />
                    documents
                  </span>
                </dd.LinkTo>
              {{/if}}
            {{/in-element}}
          {{/unless}}
        {{else}}
          <dd.LinkTo
            @route="authenticated.document"
            @model={{dd.value}}
            class="flex items-center space-x-3 py-2 px-3 h-20"
          >
            <Doc::Thumbnail
              @status={{dd.attrs.status}}
              @product={{dd.attrs.product}}
            />
            <div class="flex flex-col space-y-1 overflow-hidden">
              <h4
                class="text-body-200 font-semibold text-color-foreground-strong truncate"
              >
                {{dd.attrs.title}}
              </h4>

              <Person
                @ignoreUnknown={{true}}
                @imgURL={{get dd.attrs.ownerPhotos 0}}
                @email={{get dd.attrs.owners 0}}
              />

              {{#if dd.attrs._snippetResult.content.value}}
                <Doc::Snippet
                  @snippet={{dd.attrs._snippetResult.content.value}}
                  class="truncate"
                />
              {{/if}}
            </div>
          </dd.LinkTo>
        {{/if}}
      </:item>
    </X::DropdownList>

    {{!-- <dd.Content class="hds-dropdown__content search-dropdown">
          {{#if this.bestMatches}}
            <div
              class="flex flex-col border-0 border-b hds-border-primary pb-1"
            >

            </div>
            <div
              class="flex flex-col border-0 border-b hds-border-primary py-1"
            >
              {{#let (get (get this.bestMatches 0) "product") as |product|}}
                <LinkTo
                  @route="authenticated.all"
                  @query={{hash product=(array product)}}
                  class="hds-dropdown-list-item--variant-interactive"
                >
                  <FlightIcon @name="folder" class="mr-1.5" />
                  <span class="flex items-center">View all
                    <Hds::Badge
                      @text={{product}}
                      @icon={{get-product-id product}}
                      class="mx-2"
                    />
                    documents
                  </span>
                </LinkTo>
              {{/let}}
            </div>
            <div id="bestMatches" class="flex flex-col pt-1">
              <span
                class="hds-typography-body-100 hds-font-weight-medium hds-foreground-faint px-3 py-1"
              >Best matches</span>
              {{#each this.bestMatches as |match|}}
                <Doc::Inline
                  @avatar="{{get match.ownerPhotos 0}}"
                  @docID="{{match.objectID}}"
                  @docNumber="{{match.docNumber}}"
                  @isResult="{true}"
                  @owner="{{get match.owners 0}}"
                  @productArea="{{match.product}}"
                  @snippet="{{match._snippetResult.content.value}}"
                  @status="{{match.status}}"
                  @title="{{match.title}}"
                />
              {{/each}}
            </div>
          {{else}}
            <div class="flex flex-col border-0 hds-border-primary pb-1">
              <div class="py-1 px-3">
                <span class="flex items-center">No results found for "{{this.query}}"</span>
              </div>
            </div>
          {{/if}}
        </dd.Content> --}}
  </form>
</div>
