{{#if this.facetsAreShown}}
  <div class="toolbar mb-6">
    <div class="flex w-full items-center justify-between">
      <div class="flex items-center">
        <h4 class="hermes-h4 mr-4">
          Filter by:
        </h4>
        {{! TODO: this needs to be more flexible to other object types }}
        <div class="facets flex items-center">
          {{! TODO : convert this to a loop }}
          <Header::FacetDropdown
            data-test-doc-type-facet-dropdown
            @label="Type"
            @facets={{@docFacets.docType}}
            @disabled={{not @docFacets.docType}}
            @position="left"
          />
          <Header::FacetDropdown
            data-test-status-facet-dropdown
            @label="Status"
            @facets={{this.statuses}}
            @disabled={{not this.statuses}}
            @position="center"
            class="medium"
          />
          <Header::FacetDropdown
            data-test-product-facet-dropdown
            @label="Product/Area"
            @facets={{@docFacets.product}}
            @disabled={{not @docFacets.product}}
            @position="center"
          />
          <Header::FacetDropdown
            data-test-owner-facet-dropdown
            @label="Owner"
            @facets={{@docFacets.owners}}
            @disabled={{not @docFacets.owners}}
            @position="right"
          />
        </div>
      </div>
    </div>
  </div>
{{/if}}
