{{log "dog" this.facets}}
{{#if this.facets}}
  <div class="toolbar mb-7">
    <div class="flex w-full justify-between">
      <div class="flex items-center">
        <h4 class="hermes-h4 mr-4">
          Filter by:
        </h4>
        <ol class="facets flex items-center">
          {{#each this.facets as |facet|}}
            <li>
              <Header::FacetDropdown
                data-test-facet={{facet.name}}
                @name={{facet.name}}
                @facets={{facet.values}}
                @disabled={{not facet.values}}
              />
            </li>
          {{/each}}
        </ol>
      </div>
    </div>
    <Header::ActiveFilterList />
  </div>
{{/if}}
