{{! @glint-nocheck: not typesafe yet }}
{{#if @facets}}
  <div class="toolbar mb-7">
    <div class="x-container">
      <div class="flex justify-between w-full">
        <div class="flex items-center">
          <div
            class="mr-4 tracking-wide font-medium text-body-100 text-color-foreground-faint uppercase"
          >
            Filter by:
          </div>
          <div class="facets flex items-center space-x-1.5">
            <Header::FacetDropdown
              @label="Type"
              @facets={{@facets.docType}}
              @disabled={{not @facets.docType}}
            />
            <Header::FacetDropdown
              @label="Status"
              @facets={{this.statuses}}
              @disabled={{not this.statuses}}
              class="medium"
            />
            <Header::FacetDropdown
              @label="Product/Area"
              @facets={{@facets.product}}
              @disabled={{not @facets.product}}
            />
            <Header::FacetDropdown
              @label="Owner"
              @facets={{@facets.owners}}
              @disabled={{this.ownerFacetIsDisabled}}
            />
          </div>
        </div>
        {{#if (and @facets (not @sortControlIsHidden))}}
          <Header::SortDropdown
            @label={{this.getSortByLabel}}
            @facets={{this.sortByFacets}}
            @disabled={{this.sortControlIsDisabled}}
            @currentSortByValue={{this.currentSortByValue}}
            @dropdownPlacement="bottom-end"
          />
        {{/if}}
      </div>
      <Header::ActiveFilterList />
    </div>
  </div>
{{/if}}
