{{#if this.facetsAreShown}}
  <div class="toolbar mb-7">
    <div class="mb-6 flex w-full justify-between">
      <div class="flex w-full items-center">
        <h4 class="hermes-h4 mr-4 shrink-0">
          Filter by:
        </h4>
        <ol class="facets flex w-full items-center">
          {{#each this.facets as |facet|}}
            <li class="shrink-0">
              <Header::FacetDropdown
                data-test-facet={{facet.name}}
                @name={{facet.name}}
                @facets={{facet.values}}
              />
            </li>
          {{/each}}
          {{! Search owners... }}
          {{#if this.ownerFacetIsShown}}
            <li class="w-full">
              <X::DropdownList
                @items={{this.ownerResults}}
                @inputIsShown={{false}}
                @isLoading={{this.searchOwners.isRunning}}
                @matchAnchorWidth={{true}}
                {{! TODO: extra offset }}
              >
                <:anchor as |dd|>
                  {{! TODO: figure out a rounded focus outline }}
                  <div class="relative">
                    <Hds::Form::TextInput::Base
                      {{did-insert dd.registerAnchor}}
                      {{on "input" (perform this.searchOwners dd)}}
                      {{on "keydown" (fn this.maybeSubmitForm dd)}}
                      @value={{this.ownerQuery}}
                      type="search"
                      placeholder="Search owners..."
                      aria-label="Search owners..."
                      aria-controls={{dd.ariaControls}}
                      aria-expanded={{dd.contentIsShown}}
                      aria-haspopup="listbox"
                      class="w-[205px] border-color-border-strong pl-[35px] pr-3 text-body-200 focus:w-[384px]
                        {{if dd.contentIsShown 'w-[384px]'}}"
                      {{! width needs to be extended not just but focus but whether the  }}
                    />
                    <FlightIcon
                      @name="search"
                      class="pointer-events-none absolute top-1/2 left-[10px] -translate-y-1/2 text-color-foreground-faint"
                    />
                  </div>
                </:anchor>
                <:item as |dd|>
                  <LinkTo
                    @query={{get-facet-query-hash
                      "owners"
                      dd.attrs.value
                      (is-active-filter dd.attrs.value)
                    }}
                    {{! FIXME: false should be dyanmic }}
                  >
                    checked?
                    {{if (is-active-filter dd.attrs.value) "true" "false"}}
                    <X::DropdownList::CheckableItem
                      @isSelected={{is-active-filter dd.attrs.value}}
                    >

                      <:default>
                        {{! TODO: this doesnt load from the google API }}
                        <Person @email={{dd.attrs.value}} />
                        {{! checkable }}

                      </:default>
                    </X::DropdownList::CheckableItem>
                  </LinkTo>
                </:item>
              </X::DropdownList>
            </li>
          {{/if}}
        </ol>
      </div>

    </div>
    <Header::ActiveFilterList />
  </div>
{{/if}}
