{{#if this.facetsAreShown}}
  <div class="toolbar mb-7">
    <div class="mb-6 flex w-full justify-between">
      <div class="flex w-full items-center">
        <h4 class="hermes-h4 mr-[19px] shrink-0">
          Filter by:
        </h4>
        <ol class="facets flex w-full items-center">
          {{#each this.facets as |facet|}}
            <li class="shrink-0">
              <Header::FacetDropdown
                data-test-facet={{facet.name}}
                @name={{facet.name}}
                @facets={{facet.values}}
              />
            </li>
          {{/each}}
          {{! Search owners... }}
          {{#if this.ownerFacetIsShown}}
            <li>
              <X::DropdownList
                @items={{this.ownerResults}}
                @offset={{hash mainAxis=0 crossAxis=4}}
                @placement="bottom-end"
                @matchAnchorWidth={{hash enabled=true additionalWidth=8}}
                @inputIsShown={{false}}
                @isLoading={{this.searchOwners.isRunning}}
                @onItemClick={{this.resetOwnersQuery}}
                class="theme--neutral
                  {{unless this.ownerResults.length 'no-matches'}}"
                {{! TODO: extra offset }}
              >
                <:anchor as |dd|>
                  {{! TODO: figure out a rounded focus outline }}
                  <div class="relative">
                    <Hds::Form::TextInput::Base
                      {{did-insert dd.registerAnchor}}
                      {{on "input" (perform this.searchOwners dd)}}
                      {{on "mousedown" (fn this.maybeCloseDropdown dd)}}
                      {{on "focusin" (fn this.maybeOpenDropdown dd)}}
                      {{on "focusin" (perform this.maybeSearch)}}
                      {{on "focusin" (fn this.setInputFocus true)}}
                      {{on "focusout" (fn this.setInputFocus false)}}
                      @value={{this.ownerQuery}}
                      @type="search"
                      name="owner"
                      placeholder="Search owners..."
                      aria-label="Search owners..."
                      aria-controls={{dd.ariaControls}}
                      aria-expanded={{dd.contentIsShown}}
                      aria-haspopup="listbox"
                      class="relative w-[205px] border-color-border-strong pl-[35px] pr-3 text-body-200 focus:w-[384px]
                        {{if dd.contentIsShown 'mock-focus w-[384px]'}}"
                    />
                  </div>

                </:anchor>
                <:item as |dd|>

                  {{! FIXME: this should happen at the component level }}
                  {{#unless this.searchInputIsEmpty}}
                    <dd.LinkTo
                      @query={{get-facet-query-hash
                        "owners"
                        dd.attrs.value
                        (is-active-filter dd.attrs.value)
                      }}
                      class="block"
                    >
                      <X::DropdownList::CheckableItem
                        @isSelected={{is-active-filter dd.attrs.value}}
                      >
                        <:default>
                          {{!-- <Person @email={{dd.attrs.value}} /> --}}
                          <div
                            class="flex items-center gap-2 overflow-hidden py-1"
                          >
                            <Person::Avatar @email={{dd.attrs.value}} />
                            <div class="w-full min-w-0">
                              <div class="truncate text-body-200 leading-tight">
                                {{get-model-attr "person.name" dd.attrs.value}}
                                <span
                                  class="ml-0.5 text-body-100 text-color-foreground-disabled"
                                >
                                  {{get-model-attr
                                    "person.email"
                                    dd.attrs.value
                                  }}
                                </span>
                              </div>
                            </div>
                          </div>
                        </:default>
                      </X::DropdownList::CheckableItem>
                    </dd.LinkTo>
                  {{/unless}}

                </:item>
              </X::DropdownList>
            </li>
          {{/if}}
        </ol>
      </div>
    </div>
    <Header::ActiveFilterList />
  </div>
{{/if}}
