{{#if @facets}}
  <div class="toolbar mb-7">
    <div class="flex w-full justify-between">
      <div class="flex items-center">
        <h4 class="hermes-h4 mr-4">
          Filter by:
        </h4>
        <div class="facets flex items-center">
          <Header::FacetDropdown
            data-test-doc-type-facet-dropdown
            @label="Type"
            @facets={{@facets.docType}}
            @disabled={{this.docTypeDropdownIsDisabled}}
            @position="left"
          />
          <Header::FacetDropdown
            data-test-status-facet-dropdown
            @label="Status"
            @facets={{this.statuses}}
            @disabled={{this.statusDropdownIsDisabled}}
            @position="center"
            class="medium"
          />
          <Header::FacetDropdown
            data-test-product-facet-dropdown
            @label="Product/Area"
            @facets={{@facets.product}}
            @disabled={{this.productDropdownIsDisabled}}
            @position="center"
          />
          <Header::FacetDropdown
            data-test-owner-facet-dropdown
            @label="Owner"
            @facets={{@facets.owners}}
            @disabled={{this.ownersDropdownIsDisabled}}
            @position="right"
          />
        </div>
      </div>
    </div>
    <Header::ActiveFilterList />
  </div>
{{/if}}
