<Hds::Modal @onClose={{@onClose}} as |M|>
  <M.Header>
    <div class="flex w-full items-center gap-2.5">
      {{if
        this.newProjectFormIsShowing
        "Start a project"
        "Add document to project"
      }}
    </div>
  </M.Header>
  <M.Body>
    <X::DropdownList
      @inputIsShown={{false}}
      @items={{this.shownProjects}}
      @listIsShown={{not this.newProjectFormIsShowing}}
      @disableClose={{true}}
      @onItemClick={{this.addDocumentToProject}}
      @placement={{null}}
      class="non-floating-list"
    >
      <:anchor as |dd|>
        <div class="relative" {{did-insert dd.registerAnchor}}>
          {{#if this.newProjectFormIsShowing}}
            <New::ProjectForm
              @onlyFormIsShown={{true}}
              @document={{@document}}
            />
          {{else}}
            <Hds::Form::TextInput::Base
              autofocus
              @type="search"
              @value={{this.inputValue}}
              {{did-insert (fn this.updateInputValue "")}}
              {{on "input" this.updateInputValue}}
              placeholder="Search projects"
              aria-label="Search projects"
              aria-controls={{dd.ariaControls}}
              aria-expanded={{dd.contentIsShown}}
              aria-haspopup="listbox"
              class="mb-4"
            />
            {{#if this.searchIsRunning}}
              <div
                data-test-search-loading-icon
                class="absolute top-1/2 right-3 flex -translate-y-1/2 bg-white"
              >
                <FlightIcon @name="loading" />
              </div>
            {{/if}}
          {{/if}}
        </div>
      </:anchor>
      <:item as |dd|>
        <dd.Action class="block">
          <div class="flex w-full gap-3.5">
            <FlightIcon
              @name={{get-project-status-icon dd.attrs.status}}
              class="mt-[3px] shrink-0"
            />

            <div class="w-full overflow-hidden">
              <div class="flex w-full justify-between">
                <div
                  class="w-full max-w-[70%] truncate text-display-300 font-semibold"
                >
                  {{dd.attrs.title}}
                </div>
                {{#if dd.attrs.jiraObject}}
                  <span class="shrink-0 text-color-foreground-faint">
                    {{dd.attrs.jiraObject.key}}
                  </span>
                {{/if}}
              </div>
              {{#if dd.attrs.hermesDocuments}}
                <div
                  class="flex gap-2 text-body-100 text-color-foreground-faint"
                >
                  {{#each
                    (get-products-from-docs dd.attrs.hermesDocuments)
                    as |product|
                  }}
                    <div>
                      {{product}}
                    </div>
                  {{/each}}
                </div>
              {{/if}}
            </div>
          </div>
        </dd.Action>
      </:item>
      <:no-matches>
        {{#unless this.newProjectFormIsShowing}}
          <div class="grid h-48 place-items-center text-color-foreground-faint">
            {{! should also include a "no projects state" }}
            No matches
          </div>
        {{/unless}}
      </:no-matches>
    </X::DropdownList>
  </M.Body>
  {{#unless this.newProjectFormIsShowing}}
    <M.Footer>
      <Hds::Button
        {{on "click" this.showNewProjectForm}}
        @icon="plus"
        @text="Start a new project..."
        @color="tertiary"
        class="-ml-1 pl-2.5"
      />
    </M.Footer>
  {{/unless}}
</Hds::Modal>
