{{#if this.newProjectFormIsShown}}
  <New::ProjectForm
    @document={{@document}}
    @isModal={{true}}
    @onModalClose={{@onClose}}
  />
{{else}}
  <Hds::Modal @onClose={{this.maybeClose}} as |M|>
    <M.Header>
      Add doc to project
    </M.Header>
    <M.Body>
      <X::DropdownList
        @inputIsShown={{false}}
        @items={{this.shownProjects}}
        @disableClose={{true}}
        @onItemClick={{this.onSave}}
        @placement={{null}}
        @isLoading={{this.loadInitialData.isRunning}}
        class="non-floating-list theme-neutral"
      >
        <:anchor as |dd|>
          <div class="relative mb-4" {{did-insert dd.registerAnchor}}>
            <Hds::Form::TextInput::Base
              autofocus
              @type="search"
              @value={{this.query}}
              {{did-insert (perform this.loadInitialData dd)}}
              {{on "input" this.updateInputValue}}
              placeholder="Search projects"
              aria-label="Search projects"
              aria-controls={{dd.ariaControls}}
              aria-expanded={{dd.contentIsShown}}
              aria-haspopup="listbox"
            />
            {{#if this.searchProjects.isRunning}}
              <div
                data-test-search-loading-icon
                class="absolute top-1/2 right-3 flex -translate-y-1/2 bg-white"
              >
                <FlightIcon @name="loading" />
              </div>
            {{/if}}
          </div>
        </:anchor>
        <:item as |dd|>
          {{log "D D D" dd}}
          <dd.Action class="block">
            <div class="flex w-full gap-3.5">
              <FlightIcon
                @name={{get-project-status-icon dd.attrs.status}}
                class="mt-[3px] shrink-0"
              />

              <div class="w-full overflow-hidden">
                <div class="flex w-full justify-between">
                  <div
                    class="w-full max-w-[70%] truncate text-display-300 font-semibold"
                  >
                    {{dd.attrs.title}}
                  </div>
                  {{#if dd.attrs.jiraObject}}
                    <span class="shrink-0 text-color-foreground-faint">
                      {{dd.attrs.jiraObject.key}}
                    </span>
                  {{/if}}
                </div>
                {{#if dd.attrs.products}}
                  <div
                    class="flex gap-2 text-body-100 text-color-foreground-faint"
                  >
                    {{#each dd.attrs.products as |product|}}
                      <div>
                        {{product}}
                      </div>
                    {{/each}}
                  </div>
                {{/if}}
              </div>
            </div>
          </dd.Action>
        </:item>
        <:no-matches>
          <div class="grid h-48 place-items-center text-color-foreground-faint">
            {{! TODO: "No projects" state }}
            {{! TODO: error state }}
            No matches
          </div>
        </:no-matches>
        <:loading>
          <div class="h-48">
            <FlightIcon @name="loading" class="mt-4" />
          </div>
        </:loading>
      </X::DropdownList>
    </M.Body>
    <M.Footer>
      <Hds::Button
        {{on "click" this.showNewProjectForm}}
        @icon="plus"
        @text="Start a new project..."
        @color="tertiary"
        class="-ml-1 pl-2.5"
      />
    </M.Footer>
  </Hds::Modal>
{{/if}}
