<div class="relative">

  <nav
    data-test-projects-nav
    class="secondary-nav mx-auto mb-8 max-w-[430px] justify-center"
  >
    {{#each this.statuses as |status|}}
      <LinkTo
        data-test-tab={{status.value}}
        @route="authenticated.projects"
        @query={{hash status=status.value}}
        class="hds-button hds-button--color-secondary"
      >
        {{status.label}}
      </LinkTo>
    {{/each}}
  </nav>

  <div
    class="absolute top-1/2 right-0 inline-flex -translate-y-1/2 cursor-default items-center gap-2 text-color-foreground-disabled"
    {{tooltip
      "A project is a public collection of documents and links organized around an effort."
      class="w-[260px]"
      placement="bottom-end"
      offset=(hash mainAxis=8 crossAxis=10)
    }}
  >
    <div class="border-b border-dotted border-b-color-border-strong">
      Whatʼs a project?
    </div>
  </div>
</div>

<ol data-test-projects-list class="divided-list relative">
  {{#each this.shownProjects as |project|}}
    <li data-test-project>
      <LinkTo @route="authenticated.projects.project" @model={{project.id}}>
        <Project::Tile @project={{project}} />
      </LinkTo>
    </li>
  {{/each}}
</ol>
