<li class="doc-awaiting-review flex w-full">
  <LinkTo
    data-test-doc-awaiting-review-link
    @route="authenticated.document"
    @model={{@doc.objectID}}
    class="group w-full overflow-hidden border-t border-color-border-faint py-3 pl-2 pr-6"
  >
    <div class="w-full">
      <div
        class="relative flex w-full flex-wrap items-center gap-3.5 md:flex-nowrap"
      >
        <div class="flex shrink-0 gap-1">
          {{! Product Avatar }}
          <ProductAvatar
            @productArea={{@doc.product}}
            @iconSize={{16}}
            class="h-7 w-7 shrink-0 p-1.5"
          />
          {{! Avatar }}
          <Person::Avatar
            data-test-doc-awaiting-review-owner-avatar
            @email={{or (get @doc.owners 0) "Unknown"}}
            @imgURL={{get @doc.ownerPhotos 0}}
            @size="medium"
          />
        </div>

        <div class="block w-full overflow-hidden">

          {{! DocNumber & Title }}
          <div class="w-full md:flex">
            <div class="max-w-[60%]">

              <TruncatedText
                @tagName="h4"
                @startingBreakpoint="md"
                class="text-display-300 font-semibold text-color-foreground-strong"
                data-test-doc-awaiting-review-number-and-title
              >
                <span class="mr-0.5">
                  {{@doc.docNumber}}
                </span>
                {{@doc.title}}
              </TruncatedText>
            </div>

            <div
              class="ml-3 flex items-center gap-1.5 text-body-100 leading-none"
            >
              <span>
                {{@doc.docType}}
              </span>
              <span class="opacity-50">
                ·
              </span>
              <span class="tag {{dasherize @doc.status}}">
                {{@doc.status}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </LinkTo>
</li>
