<li class="doc-awaiting-review w-full">
  <LinkTo
    data-test-doc-awaiting-review-link
    @route="authenticated.document"
    @model={{@doc.objectID}}
    class="group block border-t border-color-border-faint py-4 pl-3 pr-6 hover:bg-color-surface-faint"
  >
    <div class="flex w-full flex-wrap items-center gap-5 md:flex-nowrap">
      <Person::Avatar
        data-test-doc-awaiting-review-owner-avatar
        @email={{or (get @doc.owners 0) "Unknown"}}
        @imgURL={{get @doc.ownerPhotos 0}}
        @size="large"
        class="shrink-0"
      />

      {{! Title and docNumber }}
      <div class="w-full overflow-hidden">
        <div class="flex gap-2.5 text-display-300">
          <h4
            data-test-document-title
            class="min-w-0 truncate font-semibold text-color-foreground-strong"
          >
            {{@doc.title}}
          </h4>
          <div
            data-test-document-number
            class="whitespace-nowrap font-regular text-color-foreground-faint"
          >
            {{@doc.docNumber}}
          </div>
        </div>
      </div>

      {{! Tags }}
      <div class="flex shrink-0 gap-1">
        <Doc::State
          data-test-document-state
          @state={{@doc.status}}
          @hideProgress={{true}}
          class="interactive"
        />
        <Hds::Badge data-test-document-type @text={{@doc.docType}} />
      </div>

    </div>
  </LinkTo>
</li>
