<li class="doc-awaiting-review flex w-full">
  <LinkTo
    data-test-doc-awaiting-review-link
    @route="authenticated.document"
    @model={{@doc.objectID}}
    class="group w-full border-t border-color-border-faint py-3 pl-2 pr-8"
  >
    <div class="relative w-full">
      <div
        class="relative flex w-full flex-wrap items-center gap-3.5 md:flex-nowrap"
      >
        <div class="relative flex items-center gap-1">
          <Person::Avatar
            data-test-doc-awaiting-review-owner-avatar
            @email={{or (get @doc.owners 0) "Unknown"}}
            @imgURL={{get @doc.ownerPhotos 0}}
            @size="large"
          />
        </div>

        <div class="block w-full overflow-hidden">

          {{! DocNumber & Title }}
          <div class="w-full md:flex">
            <div class="flex w-full justify-between gap-3">
              {{! TODO: improve this  }}
              {{! Title and docNumber }}
              <div class="relative z-10 overflow-hidden">
                <h4
                  class="text-display-300 font-semibold text-color-foreground-strong"
                >
                  <span data-test-document-title class="mr-1.5">
                    {{@doc.title}}
                  </span>
                  <span
                    data-test-document-number
                    class="shrink-0 font-regular text-color-foreground-faint"
                  >
                    <span class="whitespace-nowrap">
                      {{@doc.docNumber}}
                    </span>
                  </span>
                </h4>
              </div>

              {{! Product & DocType }}
              <div class="flex shrink-0 items-center gap-1">
                <Doc::State
                  @state={{@doc.status}}
                  @hideProgress={{true}}
                  class="interactive"
                />
                <Hds::Badge @text={{@doc.docType}} />
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </LinkTo>
</li>
