<X::DropdownList
  @items={{@items}}
  @listIsOrdered={{@listIsOrdered}}
  @onItemClick={{@onItemClick}}
  @selected={{@selected}}
  ...attributes
>
  <:anchor as |dd|>
    <div class="relative w-full">
      {{#if @isSaving}}
        <div class="absolute right-0 top-1/2 -translate-y-1/2">
          {{! @glint-ignore - not registered yet }}
          <FlightIcon @name="loading" />
        </div>
      {{/if}}
      <dd.ToggleAction
        data-test-badge-dropdown-trigger
        class="relative {{if @isSaving 'opacity-50'}}"
      >
        {{! @glint-ignore - not registered yet }}
        <Hds::Badge
          class="hds-badge-dropdown"
          @text={{or @selected "--"}}
          {{! @glint-ignore - not registered yet }}
          @icon={{if @selected (or (get-product-id @selected) "folder")}}
        />
        {{! @glint-ignore - not registered yet }}
        <FlightIcon
          class="dropdown-caret"
          @name={{if dd.contentIsShown "chevron-up" "chevron-down"}}
        />
      </dd.ToggleAction>
    </div>
  </:anchor>
  <:item as |dd|>
    {{#if (has-block "item")}}
      {{yield dd to="item"}}
    {{else}}
      <dd.Action>
        <X::DropdownList::CheckableItem
          @selected={{dd.selected}}
          @value={{dd.value}}
        />
      </dd.Action>
    {{/if}}
  </:item>
</X::DropdownList>
