<div class="w-full">
  <div class="relative z-10 flex items-center w-full justify-between">
    <div class="hds-typography-body-100 hds-foreground-faint">
      Related docs
    </div>
    <Action
      class="flex items-center ml-px -mr-px px-1 py-1 rounded border hover:border-color-border-strong"
      {{on "click" this.showModal}}
    >
      <FlightIcon @name="plus" />
    </Action>
  </div>
</div>

{{#if this.modalIsShown}}
  {{#in-element (html-element ".ember-application") insertBefore=null}}
    <Hds::Modal @onClose={{this.hideModal}} as |M|>
      <M.Header>Add related documents</M.Header>
      <M.Body>
        <X::DropdownList
          @items={{this.shownDocuments}}
          @onItemClick={{this.addRelatedDocument}}
          @inputVisibility="hidden"
          @offset={{hash mainAxis=1 crossAxis=0}}
          @isLoading={{this.loadInitialData.isRunning}}
          @placement="none"
          @disableClose={{true}}
          class="w-full max-w-none relative h-80"
        >
          <:anchor as |dd|>
            <Hds::Form::TextInput::Base
              data-test-global-search-input
              {{did-insert dd.registerAnchor}}
              {{did-insert (fn this.didInsertInput dd)}}
              {{on "input" (fn this.onInput dd)}}
              {{on "keydown" (fn this.onInputKeydown dd)}}
              {{on "focusin" (fn this.maybeOpenDropdown dd)}}
              @type="search"
              @value={{this.query}}
              size="25"
              placeholder="Paste a URL or search documents..."
              aria-label="Paste a URL or search documents..."
              aria-controls={{dd.ariaControls}}
              aria-expanded={{dd.contentIsShown}}
              aria-haspopup="listbox"
            />
          </:anchor>
          <:header>
            {{#unless (and this.query.length this.inputValueIsValid)}}
              <div
                class="mt-3.5 px-3 text-color-foreground-faint uppercase tracking-wide font-medium text-[12px]"
              >
                {{#if this.query.length}}
                  {{#unless this.inputValueIsValid}}
                    Results
                  {{/unless}}
                {{else}}
                  Suggestions
                {{/if}}
              </div>
            {{/unless}}
          </:header>
          <:item as |dd|>

            <dd.Action class="w-full flex items-start py-1.5 px-3 space-x-3">
              <div
                class="shrink-0 flex p-px hds-surface-mid rounded-sm mt-0.5 overflow-hidden bg-white"
              >
                <img src="/images/document.png" class="w-5 h-auto" />
              </div>
              <div>
                <h4 class="inline-doc-title mb-0.5 pr-0.5">
                  {{dd.attrs.title}}
                </h4>
                {{#if dd.attrs.docNumber}}
                  <span class="text-color-foreground-faint text-body-100">
                    {{dd.attrs.docNumber}}
                  </span>
                {{/if}}
              </div>
            </dd.Action>
          </:item>
        </X::DropdownList>
      </M.Body>
    </Hds::Modal>
  {{/in-element}}
{{/if}}

{{! TODO: move this out of the component }}

{{#if this.relatedResourcesAreShown}}
  {{log this.relatedResources}}
  <ul class="mt-1 related-docs">
    {{#each-in this.relatedResources as |_resourceId resource|}}
      <li
        class="flex w-full relative group related-docs-list-item
          {{if resource.objectID 'hermes-doc' 'external-doc'}}"
      >
        {{#if resource.objectID}}
          <LinkTo
            @route="authenticated.document"
            @model={{resource.objectID}}
            class="related-doc-link"
          >
            <div
              class="shrink-0 p-px hds-surface-mid rounded-sm flex mt-1 overflow-hidden bg-white"
            >
              <img src="/images/document.png" class="w-5 h-auto" />
            </div>
            <div>
              <div>
                {{! Create space for the "more" icon }}
                <div class="float-right mt-0.5 w-7 h-3"></div>

                <h4 class="inline-doc-title mb-0.5 pr-0.5">
                  {{resource.title}}
                </h4>
              </div>
              {{#if resource.docNumber}}
                <span class="text-color-foreground-faint text-body-100">
                  {{resource.docNumber}}
                </span>
              {{/if}}
            </div>
          </LinkTo>
        {{else}}
          <ExternalLink
            href={{resource.url}}
            class="py-0.5 flex underline mr-6 truncate"
          >
            <div class="flex items-center w-full">
              <div class="flex relative mr-2 w-4 h-4 shrink-0">
                <img
                  src="https://www.google.com/s2/favicons?domain={{resource.url}}"
                  width="16"
                  height="16"
                />
              </div>
              <span class="truncate">
                {{resource.displayURL}}
              </span>
            </div>
          </ExternalLink>
        {{/if}}
        <Inputs::DocumentSelect::MoreButton
          @removeResource={{this.removeResource}}
          @resource={{resource}}
        />
      </li>
    {{/each-in}}
  </ul>
{{else}}
  <div class="mt-1.5 text-color-foreground-faint">
    ---
  </div>
{{/if}}
