<EditableField
  @value="test"
  @onChange={{this.save}}
  {{! do we need this condition? }}
  @loading={{false}}
  @disabled={{@selectedDocument}}
>
  <:default as |F|>
    {{#if @selectedDocument}}
      <LinkTo
        @route="authenticated.document"
        @model={{@selectedDocument.objectID}}
        class="flex"
      >
       {{@selectedDocument.title}}
      </LinkTo>

      <Action {{on "click" this.remove}}>
        Remove
      </Action>
    {{else}}
      <CustomEditableFields::EmptyState/>
    {{/if}}
  </:default>
  <:editing as |F|>
    <input
      value={{this.query}}
      {{on "input" (perform this.search)}}
      type="text"
      placeholder="Search PRDs"
    />
    {{! TODO: add dismissible modifier }}
    <div class="absolute bg-yellow-50 z-10">
      {{#if this.shownDocuments}}
        <ul>
          {{#each this.shownDocuments as |document|}}
            <li>
              <Action {{on "click" (fn F.update document)}}>
                {{document.docNumber}}
                {{document.title}}
              </Action>
            </li>
          {{/each}}
        </ul>
      {{else if this.userHasSearched}}
        <p>No matches</p>
      {{/if}}
    </div>
  </:editing>

</EditableField>
