{{on-document "keydown" this.onDocumentKeydown}}

<div class="w-full">
  <div class="relative z-10 flex items-center w-full justify-between">
    <div class="hds-typography-body-100 hds-foreground-faint">
      Related resources
    </div>
    <Action
      class="flex items-center ml-px -mr-px px-1 py-1 rounded border hover:border-color-border-strong"
      {{on "click" this.showModal}}
    >
      <FlightIcon @name="plus" />
    </Action>
  </div>

  {{! TODO: move this out of the component }}

  {{#if this.relatedResourcesAreShown}}

    <AnimatedContainer class="w-full">
      <ul class="!mt-0.5 related-resources">
        {{#animated-each
          this.relatedResourcesObjectEntries
          use=this.transition
          initialInsertion=true
          finalRemoval=true
          as |resource|
        }}
          <li
            class="flex w-full relative group related-docs-list-item
              {{if resource.objectID 'hermes-doc' 'external-doc'}}"
          >
            {{! TODO: figure out animation }}

            <div class="w-full related-resource-container">
              {{#if resource.objectID}}
                <LinkTo
                  @route="authenticated.document"
                  @model={{resource.objectID}}
                  class="related-resource"
                >
                  <Document::RelatedResource
                    @resource={{resource}}
                    @removeResource={{this.removeResource}}
                  />
                </LinkTo>

              {{else}}
                <ExternalLink
                  href={{resource.url}}
                  class="related-resource items-center"
                >
                  <Document::RelatedResource
                    @resource={{resource}}
                    @removeResource={{this.removeResource}}
                  />
                </ExternalLink>
              {{/if}}

              {{! This needs to be outside the LinkTo }}
              <Inputs::DocumentSelect::MoreButton
                @removeResource={{this.removeResource}}
                @resource={{resource}}
                @showEditAction={{resource.displayURL}}
              />
            </div>
          </li>
        {{/animated-each}}
      </ul>

    </AnimatedContainer>

  {{else}}
    <div class="mt-1.5 text-color-foreground-faint">
      ---
    </div>
  {{/if}}

</div>

{{#if this.modalIsShown}}
  {{#in-element (html-element ".ember-application") insertBefore=null}}
    <Hds::Modal @onClose={{this.hideModal}} class="h-[475px]" as |M|>
      <M.Header>
        <div class="flex w-full items-center">
          <div class="w-full">
            Add resource
          </div>
        </div>
      </M.Header>
      <M.Body>
        <div class="">
          <X::DropdownList
            @items={{this.shownDocuments}}
            @onItemClick={{this.addRelatedDocument}}
            @inputVisibility="hidden"
            @offset={{hash mainAxis=1 crossAxis=0}}
            @isLoading={{this.loadInitialData.isRunning}}
            @placement="none"
            @disableClose={{true}}
            @listIsHidden={{this.queryIsThirdPartyURL}}
            class="w-full max-w-none relative modal-list"
          >
            <:anchor as |dd|>
              <Hds::Form::TextInput::Base
                data-test-global-search-input
                {{did-insert dd.registerAnchor}}
                {{did-insert (fn this.didInsertInput dd)}}
                {{on "input" (fn this.onInput dd)}}
                {{on "keydown" (fn this.onInputKeydown dd)}}
                {{on "focusin" (fn this.maybeOpenDropdown dd)}}
                @type="search"
                @value={{this.query}}
                size="25"
                placeholder="Paste a URL or search documents..."
                aria-label="Paste a URL or search documents..."
                aria-controls={{dd.ariaControls}}
                aria-expanded={{dd.contentIsShown}}
                aria-haspopup="listbox"
              />
            </:anchor>
            <:header>
              {{#unless this.editModeIsEnabled}}
                {{#unless this.fetchURLInfo.isRunning}}
                  <div
                    class="mt-3.5 px-3 text-color-foreground-faint uppercase tracking-wide font-medium text-[12px]"
                  >
                    {{#if this.query.length}}
                      Results
                    {{else}}
                      Suggestions
                    {{/if}}
                  </div>
                {{/unless}}
              {{/unless}}
              <div
                class="relative
                  {{if
                    (and this.queryIsThirdPartyURL (not this.editModeIsEnabled))
                    'text-center pt-24'
                  }}"
              >
                {{#if
                  (and this.queryIsThirdPartyURL (not this.editModeIsEnabled))
                }}
                  <FlightIcon @name="loading" @size="24" />
                  <div class="text-color-foreground-faint mt-1.5">
                    Reading URL...
                  </div>
                {{/if}}

                {{#if (and this.queryIsThirdPartyURL this.editModeIsEnabled)}}
                  <div class="px-3 w-full">

                    <div
                      class="mt-6 px-2 mb-4 w-full bg-color-page-faint border border-color-border-primary pt-7 pb-10 rounded-lg hds-elevation-low"
                    >
                      <div
                        class="text-display-300 w-full text-color-foreground-primary font-semibold"
                      >
                        <div class="flexX gap-4 items-center mb-2.5 px-8">
                          <div
                            class="text-color-foreground-faint uppercase tracking-wide font-medium text-[12px] mb-2"
                          >
                            {{! TODO: semantics }}
                            Link title
                          </div>
                          <Hds::Form::TextInput::Base
                            {{on "input" this.onExternalLinkTitleInput}}
                            @value={{this.externalLinkTitle}}
                            class="text-display-300 font-semibold h-11 px-2.5"
                          />
                        </div>
                      </div>
                      <div class="flexX w-full gap-4 items-center mb-5 px-8">
                        <div
                          class="relative w-full pl-6 text-color-foreground-faint"
                        >
                          <div class="truncate">{{this.query}}</div>
                          <div
                            class="absolute left-0 top-1/2 -translate-y-1/2 w-4 h-4"
                          >
                            {{#if this.defaultFaviconIsShown}}
                              <FlightIcon @name="globe" />
                            {{else}}
                              <img
                                src={{this.faviconURL}}
                                width="16"
                                height="16"
                              />
                            {{/if}}
                          </div>
                        </div>
                      </div>
                      <div class="px-8 w-full">
                        <Hds::Button
                          @color="primary"
                          @text="Add"
                          @isFullWidth={{true}}
                          {{on "click" this.addRelatedExternalLink}}
                        />
                      </div>
                    </div>
                  </div>
                {{/if}}
              </div>
            </:header>
            <:loading>
              <FlightIcon @name="loading" class="ml-2 mt-4" />
            </:loading>
            <:item as |dd|>
              <dd.Action
                class="w-full flex items-center justify-between py-1.5 px-3 rounded h-[74px]"
              >
                <div class="flex w-full overflow-hidden space-x-3 relative">
                  <Doc::Thumbnail
                    @status={{dd.attrs.status}}
                    @product={{dd.attrs.product}}
                    class="shrink-0 w-12 h-[62px]"
                  />
                  <div class="w-full overflow-hidden pr-8 flex items-center">
                    <div>
                      <h4
                        class="text-display-300 font-semibold text-color-foreground-strong pr-0.5 truncate"
                      >
                        {{dd.attrs.title}}
                      </h4>
                      <div
                        class="text-color-foreground-faint text-body-200 flex space-x-3"
                      >
                        <span>
                          {{get dd.attrs.owners 0}}
                        </span>
                      </div>
                      {{#if dd.attrs.docNumber}}
                        <span class="absolute right-0 top-0">
                          {{dd.attrs.docNumber}}
                        </span>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </dd.Action>
            </:item>
          </X::DropdownList>
        </div>
      </M.Body>
    </Hds::Modal>
  {{/in-element}}
{{/if}}
