<div class="w-full">

  <div class="relative z-10 flex items-center w-full justify-between">
    <div class="hds-typography-body-100 hds-foreground-faint">
      Related docs
    </div>
    {{! @glint-ignore}}
    <X::DropdownList
      @items={{this.shownDocuments}}
      @onItemClick={{this.addRelatedDocument}}
      @inputVisibility="hidden"
      @renderOut={{true}}
      @placement="none"
      @offset={{hash mainAxis=3 crossAxis=-6}}
      @isLoading={{this.maybeLoadSuggestions.isRunning}}
      class="w-full"
    >
      <:anchor as |dd|>
        <dd.ToggleAction
          class="flex items-center ml-px -mr-px px-1 py-1 rounded border
            {{if
              dd.contentIsShown
              'border-color-border-strong'
              'border-transparent'
            }}
            hover:border-color-border-strong"
          {{on "click" (perform this.maybeLoadSuggestions dd)}}
        >
          <FlightIcon @name="plus" />
        </dd.ToggleAction>
      </:anchor>
      <:header>
        <div class="x-dropdown-list-input-container">

          {{! @glint-ignore - not yet registered}}
          <Hds::Form::TextInput::Base
            value={{this.query}}
            {{on "input" this.onInput}}
            {{on "keydown" this.onKeydown}}
            {{did-insert this.registerAndFocusSearchInput}}
            type="text"
            placeholder="Paste a URL or search documents..."
          />
        </div>
      </:header>
      <:item as |dd|>
        <dd.Action
          class="w-full flex items-start py-1.5 px-3 space-x-3 hover:bg-color-surface-interactive-hover"
        >
          <div
            class="shrink-0 flex p-px hds-surface-mid rounded-sm mt-0.5 overflow-hidden bg-white"
          >
            <img src="/images/document.png" class="w-5 h-auto" />
          </div>
          <div>
            <h4 class="inline-doc-title mb-0.5 pr-0.5">
              {{dd.attrs.title}}
            </h4>
            {{#if dd.attrs.docNumber}}
              <span class="text-color-foreground-faint text-body-100">
                {{dd.attrs.docNumber}}
              </span>
            {{/if}}
          </div>
        </dd.Action>
      </:item>
    </X::DropdownList>
    <!--
    {{#if this.popoverIsShown}}
      <div>
        {{#unless (and this.query.length this.inputValueIsValid)}}
          <div
            class="mt-2.5 mb-[5px] px-3 text-color-foreground-faint uppercase tracking-wide text-[12px]"
          >
            {{#if this.query.length}}
              {{#unless this.inputValueIsValid}}
                Results
              {{/unless}}
            {{else}}
              Suggestions
            {{/if}}
          </div>
        {{/unless}}

        {{#if this.inputValueIsValid}}
          {{#if this.fetchURLInfo.isRunning}}
            <div
              class="mt-1 mb-1.5 py-1.5 px-3 w-full grid place-items-center h-10"
            >
              <FlightIcon @name="loading" />
            </div>
            {{! <FlightIcon @name="loading" class="" /> }}
          {{else}}
            <Action
              class="mt-1 mb-1.5 py-1.5 px-3 flex w-full group hover:bg-color-surface-interactive-hover h-10 items-center"
              {{on "click" this.addRelatedExternalLink}}
            >
              <div class="flex items-center justify-between w-full">
                <div class="flex items-center">
                  <img
                    src={{this.faviconURL}}
                    width="16"
                    height="16"
                    class="mr-2.5"
                  />
                  <span class="">
                    Add external document
                  </span>
                </div>
                {{! if focused only }}
                <FlightIcon
                  @name="corner-down-left"
                  class="text-color-foreground-faint"
                />
              </div>
            </Action>
          {{/if}}
        {{else}}
          {{#if this.shownDocuments.length}}
            <ol class="mb-2">
              {{#each this.shownDocuments as |d|}}
                <li>
                  <Action
                    {{on "click" (fn this.addRelatedDocument d)}}
                    class="w-full flex items-start py-1.5 px-3 space-x-3 hover:bg-color-surface-interactive-hover"
                  >
                    <div
                      class="shrink-0 flex p-px hds-surface-mid rounded-sm mt-0.5 overflow-hidden bg-white"
                    >
                      <img src="/images/document.png" class="w-5 h-auto" />
                    </div>
                    <div>
                      <h4 class="inline-doc-title mb-0.5 pr-0.5">
                        {{d.title}}
                      </h4>
                      {{#if d.docNumber}}
                        <span class="text-color-foreground-faint text-body-100">
                          {{d.docNumber}}
                        </span>
                      {{/if}}
                    </div>
                  </Action>
                </li>
              {{/each}}
            </ol>
          {{else}}
            <div class="px-3">
              {{#if (or this.search.isRunning this.fetchURLInfo.isRunning)}}
                <div class="w-full grid place-items-center h-[20px] mt-2 mb-4">
                  <FlightIcon @name="loading" />
                </div>
              {{else}}
                <div class="h-[20px] mt-2 mb-4 text-color-foreground-faint">
                  No matches
                </div>
              {{/if}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
    -->
  </div>
</div>

{{! TODO: move this out of the component }}

{{#if this.relatedResources.length}}
  <ul class="mt-1 related-docs">
    {{#each-in this.relatedResources as |i doc|}}
      {{log i}}
      {{log doc}}
      <li
        class="flex w-full relative group related-docs-list-item
          {{if doc.objectID 'hermes-doc' 'external-doc'}}"
      >
        {{#if doc.objectID}}
          <LinkTo
            @route="authenticated.document"
            @model={{doc.objectID}}
            class="related-doc-link"
          >
            <div
              class="shrink-0 p-px hds-surface-mid rounded-sm flex mt-1 overflow-hidden bg-white"
            >
              <img src="/images/document.png" class="w-5 h-auto" />
            </div>
            <div>
              <div>
                {{! Create space for the "more" icon }}
                <div class="float-right mt-0.5 w-7 h-3"></div>

                <h4 class="inline-doc-title mb-0.5 pr-0.5">
                  {{doc.title}}
                </h4>
              </div>
              {{#if doc.docNumber}}
                <span class="text-color-foreground-faint text-body-100">
                  {{doc.docNumber}}
                </span>
              {{/if}}
            </div>
          </LinkTo>
        {{else}}
          <ExternalLink
            href={{doc.url}}
            class="py-0.5 flex underline mr-6 truncate"
          >
            <div class="flex items-center w-full">
              <div class="flex relative mr-2 w-4 h-4 shrink-0">
                <img
                  src="https://www.google.com/s2/favicons?domain={{doc.url}}"
                  width="16"
                  height="16"
                />
              </div>
              <span class="truncate">
                {{doc.displayURL}}
              </span>
            </div>
          </ExternalLink>
        {{/if}}
        <Inputs::DocumentSelect::MoreButton
          @removeResource={{this.removeResource}}
          @resource={{doc}}
        />
      </li>
    {{/each-in}}
  </ul>
{{else}}
  <div class="mt-1.5 text-color-foreground-faint">
    ---
  </div>
{{/if}}
