<PowerSelectMultiple
  data-test-people-select
  class="hds-form-field__control multiselect w-full"
  @searchEnabled={{true}}
  @search={{perform this.searchDirectory}}
  @searchField="email"
  @options={{this.peopleAndGroups}}
  @selected={{@selected}}
  @renderInPlace={{@renderInPlace}}
  @placeholder="Search organization..."
  @onChange={{@onChange}}
  @onInput={{this.onInput}}
  @onClose={{this.onClose}}
  @onKeydown={{@onKeydown}}
  @onFocus={{this.onFocus}}
  @disabled={{@disabled}}
  @searchMessage=""
  @selectedItemComponent={{component "multiselect/user-email-image-chip"}}
  @calculatePosition={{this.calculatePosition}}
  @loadingMessage="Loading..."
  @eventType="click"
  {{on "click" this.onClick}}
  ...attributes
  as |value|
>
  {{! there's no way to know if the value is part of what group }}
  <div class="flex items-center gap-2 overflow-hidden py-1">
    <Person::Avatar @email={{value}} />
    <div class="w-full min-w-0">
      <div class="truncate text-body-200 leading-tight">
        {{get-model-attr "person.name" value}}
        <span class="ml-0.5 text-body-100 text-color-foreground-disabled">
          {{get-model-attr "person.email" value}}
        </span>
      </div>
    </div>
  </div>
</PowerSelectMultiple>
