{{! https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/ }}
<div
  data-test-product-select
  ...attributes
  {{did-insert this.maybeFetchProducts}}
>
  {{#if this.errorIsShown}}
    <div class="failed-to-load-text">
      Failed to load
    </div>
    <Hds::Button
      data-test-product-select-failed-to-load-button
      @color="secondary"
      @size="small"
      {{on "click" (perform this.fetchProductAreas)}}
      @text="Retry"
      @icon="reload"
    />
  {{else}}
    <X::DropdownList
      @items={{this.products}}
      @listIsOrdered={{true}}
      @onItemClick={{this.onChange}}
      @selected={{@selected}}
      @placement={{@placement}}
      @isLoading={{this.fetchProductAreas.isRunning}}
      @renderOut={{@renderOut}}
      @matchAnchorWidth={{hash enabled=true additionalWidth=6}}
      @secondaryFilterAttribute="abbreviation"
      class="product-select-dropdown-list"
      ...attributes
    >
      <:anchor as |dd|>
        <dd.ToggleSelect class="gap-2">
          <Inputs::ProductSelect::Item
            @product={{dd.selected}}
            @abbreviation={{this.selectedProductAbbreviation}}
          />
        </dd.ToggleSelect>
      </:anchor>
      <:item as |dd|>
        <dd.Action class="pr-5">
          {{! TODO: Should include color icons, needs to be searchable by abbreviation }}
          <Inputs::ProductSelect::Item
            @product={{dd.value}}
            @isSelected={{dd.isSelected}}
            @abbreviation={{dd.attrs.abbreviation}}
            class="px-[4px]"
          />
        </dd.Action>
      </:item>
    </X::DropdownList>
  {{/if}}
</div>
