{{!  https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/ }}

{{#if this.products}}
  {{#if @formatIsBadge}}
    <Inputs::BadgeDropdownList
      @items={{this.products}}
      @listIsOrdered={{true}}
      @onItemClick={{this.onChange}}
      @selected={{@selected}}
      @placement={{@placement}}
      @isSaving={{@isSaving}}
      class="w-80"
      ...attributes
    />
  {{else}}
    <X::DropdownList
      @items={{this.products}}
      @listIsOrdered={{true}}
      @onItemClick={{this.onChange}}
      @selected={{@selected}}
      @placement={{@placement}}
      @isSaving={{@isSaving}}
      class="w-80"
      ...attributes
    >
      <:anchor as |dd|>
        <dd.ToggleAction
          class="x-dropdown-list-toggle-select relative flex items-center flex-start hds-button leading-none hds-button--color-secondary hds-button--size-medium"
        >
          <FlightIcon @name={{or (get-product-id @selected) "folder"}} />
          <span class="flex ml-2.5 leading-none">{{or @selected "--"}}</span>
          {{#if this.selectedProductAbbreviation}}
            <span
              class="opacity-50 inline-flex ml-2 text-body-100 leading-none"
            >
              {{this.selectedProductAbbreviation}}
            </span>
          {{/if}}
          <FlightIcon
            @name="caret"
            class="absolute top-1/2 -translate-y-1/2 right-2"
          />
        </dd.ToggleAction>
      </:anchor>
      <:item as |dd|>
        <dd.Action class="relative">
          <FlightIcon @name={{or (get-product-id dd.value) "folder"}} />
          <span class="flex ml-2.5 leading-none">{{dd.value}}</span>
          <span class="opacity-50 inline-flex ml-2 text-body-100 leading-none">
            {{dd.attrs.abbreviation}}
          </span>
          {{#if dd.selected}}
            <FlightIcon
              @name="check"
              class="absolute right-4 text-color-foreground-action top-1/2 -translate-y-1/2"
            />
          {{/if}}
        </dd.Action>
      </:item>
    </X::DropdownList>
  {{/if}}
{{else if this.fetchProducts.isRunning}}
  <FlightIcon @name="loading" />
{{else}}
  <div
    class="absolute top-0 left-0"
    {{did-insert (perform this.fetchProducts)}}
  ></div>
{{/if}}
