{{#unless this.products}}
  <div class="absolute" {{did-insert (perform this.fetchProducts)}}></div>
{{/unless}}

<X::Hds::Dropdown
  @items={{this.products}}
  @listIsOrdered={{true}}
  @onChange={{this.onChange}}
  @selected={{@selected}}
  class="max-h-[320px] w-80"
>
  <:toggleButton as |f|>
    <div class="relative flex">
      <Hds::Badge
        class="hds-badge-dropdown"
        @text={{this.selected}}
        @icon={{get-product-id this.selected}}
      />
      <FlightIcon
        class="dropdown-caret"
        @name={{if f.contentIsShown "chevron-up" "chevron-down"}}
      />
    </div>
  </:toggleButton>
</X::Hds::Dropdown>
