{{!  https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/ }}

{{#if this.products}}
  {{#if @formatIsBadge}}
    <Inputs::BadgeDropdownList
      @items={{this.products}}
      @listIsOrdered={{true}}
      @onItemClick={{this.onChange}}
      @selected={{@selected}}
      @placement={{@placement}}
      @isSaving={{@isSaving}}
      class="w-80"
      ...attributes
    />
  {{else}}
    <Inputs::SelectDropdownList
      @items={{this.products}}
      @listIsOrdered={{true}}
      @onItemClick={{this.onChange}}
      @selected={{@selected}}
      @placement={{@placement}}
      @isSaving={{@isSaving}}
      class="w-80"
      ...attributes
    >
      <:item as |dd|>
        <dd.Action>
          {{dd.value}}
          <span class="opacity-50 flex ml-2">
          {{dd.attrs.abbreviation}}
          </span>
        </dd.Action>
      </:item>
    </Inputs::SelectDropdownList>
  {{/if}}
{{else if this.fetchProducts.isRunning}}
  <FlightIcon @name="loading" />
{{else}}
  <div
    class="absolute top-0 left-0"
    {{did-insert (perform this.fetchProducts)}}
  ></div>
{{/if}}
