{{!  https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/ }}

{{#if this.products}}
  {{#if @formatIsBadge}}
    <Inputs::BadgeDropdownList
      @items={{this.products}}
      @listIsOrdered={{true}}
      @onItemClick={{this.onChange}}
      @selected={{@selected}}
      class="w-80"
      ...attributes
    />
  {{else}}
    <Inputs::SelectDropdownList
      @items={{this.products}}
      @listIsOrdered={{true}}
      @onItemClick={{this.onChange}}
      @selected={{@selected}}
      class="w-80"
      ...attributes
    />
  {{/if}}
{{else if this.fetchProducts.isRunning}}
  <FlightIcon @name="loading" />
{{else}}
  <div
    class="absolute top-0 left-0"
    {{did-insert (perform this.fetchProducts)}}
  ></div>
{{/if}}
