{{!  https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/ }}
{{#if this.products}}
  yut
  <X::Hds::DropdownList
    @items={{this.products}}
    @listIsOrdered={{true}}
    @onChange={{this.onChange}}
    @selected={{@selected}}
    class="max-h-[320px] w-80"
  >
    <:anchor as |d|>
      <Action
        {{! this could all be part of the modifier }}
        {{on "keydown" (fn d.onTriggerKeydown d.floatingUI)}}
        {{on "click" d.floatingUI.toggleContent}}
        {{did-insert d.floatingUI.registerAnchor}}
        aria-controls="x-hds-dropdown-list-{{if
          d.inputIsShown
          'popover'
          'list'
        }}-{{d.floatingUI.id}}"
        class="relative flex"
      >
        <Hds::Badge
          class="hds-badge-dropdown"
          @text={{this.selected}}
          @icon={{get-product-id this.selected}}
        />
        <FlightIcon
          class="dropdown-caret"
          @name={{if f.contentIsShown "chevron-up" "chevron-down"}}
        />
      </Action>
    </:anchor>
  </X::Hds::DropdownList>
{{else if this.fetchProducts.isRunning}}
  <FlightIcon @name="loading" />
{{else}}
  <div
    class="absolute top-0 left-0"
    {{did-insert (perform this.fetchProducts)}}
  ></div>
{{/if}}
