{{!  https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/ }}
{{#if this.products}}
  <X::Hds::DropdownList
    @items={{this.products}}
    @listIsOrdered={{true}}
    @onItemClick={{this.onChange}}
    {{! This sort of expects a single select }}
    @selected={{@selected}}
    class="max-h-[320px] w-80"
  >
    <:anchor as |d|>
      <d.ToggleAction class="relative">
        <Hds::Badge
          class="hds-badge-dropdown"
          @text={{this.selected}}
          @icon={{get-product-id this.selected}}
        />
        <FlightIcon
          class="dropdown-caret"
          @name={{if d.contentIsShown "chevron-up" "chevron-down"}}
        />
      </d.ToggleAction>
    </:anchor>
    <:item as |i|>
      <i.Action>
        <X::Hds::DropdownList::CheckableItem
          @selected={{i.selected}}
          @value={{i.value}}
          @count={{i.count}}
        />
      </i.Action>
    </:item>
  </X::Hds::DropdownList>
{{else if this.fetchProducts.isRunning}}
  <FlightIcon @name="loading" />
{{else}}
  <div
    class="absolute top-0 left-0"
    {{did-insert (perform this.fetchProducts)}}
  ></div>
{{/if}}
