{{! https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/ }}
<div data-test-product-select ...attributes>
  <X::DropdownList
    @items={{this.products}}
    @listIsOrdered={{true}}
    @onItemClick={{this.onChange}}
    @selected={{@selected}}
    @placement={{@placement}}
    @isSaving={{@isSaving}}
    @renderOut={{@renderOut}}
    @offset={{or @offset (hash mainAxis=0 crossAxis=-3)}}
    @matchAnchorWidth={{@matchAnchorWidth}}
    @secondaryFilterAttribute="abbreviation"
    class="product-select-dropdown-list max-h-[275px] w-[340px]"
    data-test-product-select-dropdown
  >
    <:anchor as |dd|>
      <dd.ToggleSelect data-test-product-select-trigger class="gap-2">
        <Inputs::ProductSelect::Item
          @product={{dd.selected}}
          @abbreviation={{this.selectedProductAbbreviation}}
        />
      </dd.ToggleSelect>
    </:anchor>
    <:item as |dd|>
      <dd.Action data-test-product-select-item-button class="pr-5">
        <Inputs::ProductSelect::Item
          @product={{dd.value}}
          @isSelected={{dd.isSelected}}
          @abbreviation={{dd.attrs.abbreviation}}
        />
      </dd.Action>
    </:item>
  </X::DropdownList>
</div>
