<AnimatedContainer class="w-full">
  <div class="relative z-10 flex items-center w-full justify-between">
    <div class="hds-typography-body-100 hds-foreground-faint">
      Related resources
    </div>
    <Action
      class="flex items-center ml-px -mr-px px-1 py-1 rounded border hover:border-color-border-strong"
      {{on "click" this.showAddResourceModal}}
    >
      <FlightIcon @name="plus" />
    </Action>
  </div>
  {{#if this.relatedResourcesAreShown}}
    <div class="w-full">
      <ul class="!mt-0.5 related-resources">
        {{#animated-each
          this.relatedResourcesObjectEntries
          use=this.transition
          initialInsertion=true
          finalRemoval=true
          as |resource|
        }}
          <Inputs::DocumentSelect::ListItem
            @resource={{resource}}
            @removeResource={{this.removeResource}}
            {{!-- TODO: --}}
            @editResource={{this.editResource}}
          />
        {{/animated-each}}
      </ul>
    </div>
  {{else}}
    <div class="mt-1.5 text-color-foreground-faint">
      ---
    </div>
  {{/if}}
</AnimatedContainer>

{{#if this.addResourceModalIsShown}}
  <Inputs::DocumentSelect::Modal
    @onClose={{this.hideAddResourceModal}}
    @addRelatedExternalLink={{this.addRelatedExternalLink}}
    @addRelatedDocument={{this.addRelatedDocument}}
    @shownDocuments={{this.shownDocuments}}
    @objectID={{@objectID}}
    @relatedDocuments={{this.relatedDocuments}}
    @relatedLinks={{this.relatedLinks}}
    @search={{perform this.search}}
  />
{{/if}}
