<AnimatedContainer class="w-full">
  <div class="relative z-10 flex items-center w-full justify-between">
    <div class="hds-typography-body-100 hds-foreground-faint">
      Related resources
    </div>
    <Action
      class="flex items-center ml-px -mr-px px-1 py-1 rounded border hover:border-color-border-strong"
      {{on "click" this.showModal}}
    >
      <FlightIcon @name="plus" />
    </Action>
  </div>
  {{#if this.relatedResourcesAreShown}}
    <div class="w-full">
      <ul class="!mt-0.5 related-resources">
        {{#animated-each
          this.relatedResourcesObjectEntries
          use=this.transition
          initialInsertion=true
          finalRemoval=true
          as |resource|
        }}
          <li
            class="flex w-full relative group related-docs-list-item
              {{if resource.objectID 'hermes-doc' 'external-doc'}}"
          >
            <div class="w-full related-resource-container group">
              {{#if resource.objectID}}
                <LinkTo
                  @route="authenticated.document"
                  @model={{resource.objectID}}
                  class="related-resource pr-3 peer"
                >
                  <Document::RelatedResource
                    @resource={{resource}}
                    @removeResource={{this.removeResource}}
                  />
                </LinkTo>

              {{else}}
                <ExternalLink
                  href={{resource.url}}
                  class="related-resource pr-3 peer items-center"
                >
                  <Document::RelatedResource
                    @resource={{resource}}
                    @removeResource={{this.removeResource}}
                  />
                </ExternalLink>
              {{/if}}
              <Inputs::DocumentSelect::MoreButton
                @removeResource={{this.removeResource}}
                @resource={{resource}}
                @onEdit={{this.editExternalLink}}
              />
            </div>
          </li>
        {{/animated-each}}
      </ul>
    </div>
  {{else}}
    <div class="mt-1.5 text-color-foreground-faint">
      ---
    </div>
  {{/if}}
</AnimatedContainer>

{{#if this.modalIsShown}}
  <Inputs::DocumentSelect::Modal
    @onClose={{this.hideModal}}
    @addRelatedExternalLink={{this.addRelatedExternalLink}}
    @addRelatedDocument={{this.addRelatedDocument}}
    @shownDocuments={{this.shownDocuments}}
    @objectID={{@objectID}}
    @relatedDocuments={{this.relatedDocuments}}
    @relatedLinks={{this.relatedLinks}}
    @search={{perform this.search}}
  />
{{/if}}
