<li
  class="related-resource group
    {{if this.documentObjectID 'hermes-doc' 'external-doc'}}"
>
  <div class="related-resource-container group">
    {{#if this.documentObjectID}}
      <LinkTo
        @model={{this.documentObjectID}}
        @route="authenticated.document"
        class="related-resource-link peer"
      >
        <Document::RelatedResource
          @resource={{@resource}}
          @removeResource={{@removeResource}}
        />
      </LinkTo>
    {{else}}
      <ExternalLink
        href={{this.externalResourceURL}}
        class="related-resource-link peer"
      >
        <Document::RelatedResource
          @resource={{@resource}}
          @removeResource={{@removeResource}}
        />
      </ExternalLink>
    {{/if}}
    {{! TODO: move this component out of /inputs }}
    <Inputs::DocumentSelect::OverflowButton
      @resource={{@resource}}
      @onRemoveClick={{@removeResource}}
      @onEditClick={{this.showModal}}
    />
  </div>
</li>

{{#if this.modalIsShown}}
  {{#in-element (html-element ".ember-application") insertBefore=null}}
    <Hds::Modal @onClose={{this.hideModal}} as |M|>
      <M.Header>Edit resource</M.Header>
      <M.Body>
        <form class="px-6 pb-6" {{on "submit" this.saveChanges}}>
          <Hds::Form::TextInput::Field
            @value={{@resource.title}}
            class="external-resource-title-input mb-4"
            as |F|
          >
            <F.Label>Title</F.Label>
          </Hds::Form::TextInput::Field>
          <Hds::Form::TextInput::Field
            @value={{this.externalResourceURL}}
            as |F|
          >
            <F.Label>URL</F.Label>
          </Hds::Form::TextInput::Field>
          {{! This adds enter-to-submit functionality }}
          <input type="submit" class="hidden" />
        </form>
      </M.Body>
      <M.Footer>
        <Hds::ButtonSet>
          <Hds::Button
            @text="Save changes"
            @color="primary"
            {{! TODO: this needs to save }}
            {{! Should it show a flashMessage? }}
            {{on "click" this.saveChanges}}
          />
          <Hds::Button
            @text="Cancel"
            @color="secondary"
            {{! TODO: this may need some change-revert logic }}
            {{on "click" this.hideModal}}
          />
        </Hds::ButtonSet>
      </M.Footer>
    </Hds::Modal>
  {{/in-element}}
{{/if}}
