<FloatingUI
  @renderOut={{true}}
  @placement="bottom-start"
  @offset={{hash mainAxis=0 crossAxis=-8}}
  class="z-10 min-w-[100px] hermes-popover p-1"
>
  <:anchor as |dd|>
    {{! TODO: Use X::DropdownList for this }}
    <Action
      class="more-button"
      {{did-insert dd.registerAnchor}}
      {{on "click" dd.toggleContent}}
    >
      <FlightIcon @name="more-vertical" class="text-color-foreground-primary" />
    </Action>
  </:anchor>
  <:content as |dd|>
    <div {{dismissible dismiss=dd.hideContent related=dd.anchor}} class="w-28">
      <Action
        {{on "click" (fn @removeResource @resource)}}
        class="py-2 px-2 flex space-x-2 text-color-foreground-primary hover:bg-color-surface-interactive-hover rounded-sm w-full"
      >
        <FlightIcon @name="pencil-tool" class="text-inherit" />
        <span>Edit</span>
      </Action>
      <Action
        {{on "click" (fn @removeResource @resource)}}
        class="py-2 px-2 flex space-x-2 text-color-foreground-primary hover:text-color-foreground-critical hover:bg-color-surface-critical rounded-sm w-full"
      >
        <FlightIcon @name="trash" class="text-inherit" />
        <span>Remove</span>
      </Action>
    </div>
  </:content>
</FloatingUI>
