<X::DropdownList
  @items={{this.items}}
  @renderOut={{true}}
  @placement="bottom-end"
  @offset={{hash mainAxis=-3 crossAxis=-3}}
>
  <:anchor as |dd|>
    <div
      class="absolute flex
        {{if dd.contentIsShown 'visible' 'invisible'}}
        group-hover:visible group-focus-within:visible hover:visible focus-within:visible top-0 -right-1 rounded-tr bg-gradient-to-l from-color-surface-interactive-hover via-color-surface-interactive-hover w-16 to-transparent justify-end pointer-events-none"
    >
      <dd.ToggleAction
        class="sidebar-more-button pointer-events-auto
          {{if dd.contentIsShown 'open'}}"
      >
        <div class="button-affordance">
          <FlightIcon
            @name="more-vertical"
            class="text-color-foreground-primary"
          />
        </div>
      </dd.ToggleAction>
    </div>
  </:anchor>
  <:item as |dd|>
    <dd.Action
      {{on "click" dd.attrs.action}}
      class="leading-none py-2 px-4 flex space-x-2 text-color-foreground-primary w-full"
    >
      <FlightIcon @name={{dd.attrs.icon}} class="text-inherit" />
      <span>{{dd.attrs.label}}</span>
    </dd.Action>
  </:item>
</X::DropdownList>
