<div
  class="w-full flex items-center justify-between py-1.5 px-3 rounded h-[74px]"
>
  <div class="flex w-full overflow-hidden space-x-3 relative">
    <Doc::Thumbnail
      @status={{@document.status}}
      @product={{@document.product}}
      class="shrink-0 w-12 h-[62px]"
    />
    <div class="w-full overflow-hidden pr-8 flex items-center">
      <div class="w-full overflow-hidden">
        <h4
          class="font-regular text-body-100 text-color-foreground-faint truncate"
        >
          <span
            class="overflow-hidden text-display-300 font-semibold text-color-foreground-strong"
          >
            {{@document.title}}
          </span>
        </h4>
        <div class="text-color-foreground-faint text-body-100 mt-0.5">
          {{@document.docType}}
          ·
          {{@document.docNumber}}
          ·
          {{get @document.owners 0}}
        </div>
      </div>
    </div>
  </div>
</div>
