<div class="relative inline-flex" ...attributes>
  <X::DropdownList
    @onItemClick={{this.setSubscription}}
    @selected={{this.currentSubscription}}
    @items={{this.options}}
    @placement={{@popoverPlacement}}
    class="w-[350px] pb-1.5"
  >
    <:anchor as |dd|>
      <dd.ToggleAction
        @hasChevron={{true}}
        class="hds-button hds-button--size-medium pill-button
          {{if
            dd.selected
            'hds-button--color-primary'
            'hds-button--color-secondary'
          }}
          transition-colors"
      >
        <AnimatedContainer {{did-insert this.configureSelectionIndex}}>
          <AnimatedValue
            @value={{this.type}}
            @initialInsertion={{true}}
            @finalRemoval={{true}}
            @rules={{this.iconTransitionRules}}
            as |icon|
          >
            <div class="flex">
              <FlightIcon @name={{if icon "check" "plus"}} />
            </div>
          </AnimatedValue>
        </AnimatedContainer>
        <div class="w-20 text-center">
          {{if this.type this.label "Subscribe"}}
        </div>
      </dd.ToggleAction>
    </:anchor>
    <:header>
      <h4 class="hermes-h4 mt-3 px-4 text-left">
        Choose subscription
      </h4>
    </:header>
    <:item as |dd|>
      <dd.Action class="flex items-start py-2 pl-4 pr-6">
        <X::DropdownList::CheckableItem
          @checkmarkPosition="trailing"
          @isSelected={{eq dd.attrs.label this.label}}
          class="items-start"
        >
          <div>
            <h5 class="text-body-200">
              {{dd.attrs.label}}
            </h5>
            <div>
              {{dd.attrs.description}}
            </div>
          </div>
        </X::DropdownList::CheckableItem>
      </dd.Action>
    </:item>
  </X::DropdownList>
</div>
