<tr ...attributes>
  <td class="name">
    <LinkTo
      @route="authenticated.document"
      @model="{{@doc.objectID}}"
      @query={{hash draft=(eq @doc.status "wip")}}
      class="inner flex h-full w-full items-start gap-3.5 focus:outline-none"
    >
      <Doc::Thumbnail @product={{@doc.product}} @status={{@doc.status}} />
      <div class="relative overflow-hidden">
        <div>
          <h4
            class="hds-typography-body-200 hds-font-weight-semibold hds-foreground-strong"
          >
            {{@doc.title}}
          </h4>
          {{#if @doc.docNumber}}
            <div class="whitespace-nowrap text-color-foreground-faint">
              {{@doc.docNumber}}
            </div>
          {{/if}}
        </div>
      </div>
    </LinkTo>
  </td>
  <td class="type">
    <div class="inner">
      {{@doc.docType}}
    </div>
  </td>
  <td class="status">
    <div class="inner">
      <Doc::State @state={{@doc.status}} @hideProgress={{true}} />
    </div>
  </td>
  <td class="product">
    <div class="inner">
      <ProductLink
        @product={{@doc.product}}
        class="decoration-color-palette-neutral-300 underline-offset-[3px] hover:underline"
      >
        {{get-product-label @doc.product}}
      </ProductLink>
    </div>
  </td>
  {{#unless @ownerColumnIsHidden}}
    <td class="owner">
      <div class="inner">
        <Person
          @imgURL={{get @doc.ownerPhotos 0}}
          @email="{{get @doc.owners 0}}"
        />
      </div>
    </td>
  {{/unless}}
  <td class="time">
    <div class="inner">
      <div
        data-test-table-row-time-cell
        class={{if (eq this.time "Unknown") "text-color-foreground-disabled"}}
      >
        {{this.time}}
      </div>
    </div>
  </td>
</tr>
