{{page-title "Recent"}}

<RowResults @docs={{this.model}} sortDirection="desc" />
            {{! TODO: make this sortable }}
            Modified
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model as |doc|}}
          <tr>
            <td class="name">
              <LinkTo
                @route="authenticated.document"
                @model="{{doc.objectID}}"
                @query={{hash draft=(eq doc.status "wip")}}
                class="flex items-start gap-3.5"
              >
                <Doc::Thumbnail
                  @product={{doc.product}}
                  @status={{doc.status}}
                />
                <div class="relative">
                  <h4
                    class="hds-typography-body-200 hds-font-weight-semibold hds-foreground-strong"
                  >{{doc.title}}</h4>
                  {{#if (not (is-empty doc.docNumber))}}{{/if}}
                </div>
              </LinkTo>
            </td>
            <td class="type">
              {{doc.docType}}
            </td>
            <td class="status">
              <Doc::State @state={{doc.status}} @hideProgress={{true}} />
            </td>
            <td class="product">
              {{doc.product}}
            </td>
            <td class="owner">
              <Person
                @ignoreUnknown={{true}}
                @imgURL={{get doc.ownerPhotos 0}}
                @email={{get doc.owners 0}}
              />
            </td>
            <td class="created">
              <div class="relative">
                {{time-ago doc.modifiedTime}}
              </div>
            </td>
          </tr>

        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{! TODO: empty state }}
  {{/if}}
</div>

<!--
<ol>
  {{#each this.model as |doc|}}
    <li>
      <LinkTo
        data-test-document-link
        @route="authenticated.document"
        @model={{doc.googleFileID}}
        class="flex items-center py-2 outline"
      >
        <div class="w-full">

          <div class="relative flex w-full gap-2 overflow-hidden">
            <h4
              data-test-document-title
              class="text-display-200 text-color-foreground-strong"
            >
              {{doc.title}}
            </h4>
            <div>
              {{doc.docNumber}}
            </div>
          </div>
          <div class="flex">
            <div
              data-test-document-owner-name
              class="text-color-foreground-faint"
            >
              {{!-- {{get doc.owners 0}} --}}
              You
            </div>

          </div>
        </div>

        <div
          data-test-document-owner-name
          class="w-44 shrink-0 justify-self-end truncate text-color-foreground-faint outline"
        >
          {{!-- {{get doc.owners 0}} --}}
          {{doc.product}}
        </div>
        <div
          data-test-document-owner-name
          class="w-44 shrink-0 justify-self-end truncate text-color-foreground-faint outline"
        >
          {{!-- {{get doc.owners 0}} --}}
          {{time-ago doc.modifiedTime}}
        </div>
        <div class="flex w-44 shrink-0 justify-end gap-2 outline">
          <Doc::State @state={{doc.status}} @hideProgress={{true}} />
          <Hds::Badge @text={{doc.docType}} />
        </div>

      </LinkTo>

    </li>
  {{/each}}
</ol>
-->
