<div class="max-w-screen-smX mx-auto">
  <ol class="tile-list">
    {{#each @model as |doc|}}
      <Doc::Tile
        @avatar={{get doc.ownerPhotos 0}}
        @docID={{doc.objectID}}
        @docNumber={{doc.docNumber}}
        @isDraft={{doc.isDraft}}
        @modifiedTime={{doc.modifiedTime}}
        @owner={{get doc.owners 0}}
        @productArea={{doc.product}}
        @title={{doc.title}}
        @status={{doc.status}}
      />
    {{/each}}
  </ol>
</div>
