<div class="x-container">
  <Header::Toolbar @facets={{@model.facets}} class="mb-8" />
  <Header::ActiveFilterList />
</div>

<RowResults
  @sortDirection={{this.sortDirection}}
  @nbPages={{@model.results.nbPages}}
  @currentPage={{add @model.results.page 1}}
  @docs={{@model.results.hits}}
  @currentSort="createdTime"
/>
