{{#if this.formIsSubmitting}}
  <div class="grid">
    <h1>

      Creating product/area...
    </h1>
    <p>
      This may take a few seconds.
    </p>
    <FlightIcon @name="running" @size="24" class="mt-8" />
  </div>
{{else if this.successStateIsShown}}
  <h1>
    Done!
  </h1>
  <p>
    The product/area
    <strong class="font-bold">

      {{this.name}}
    </strong>
    has been created.
  </p>
  <Hds::Button
    {{on "click" this.resetState}}
    @color="secondary"
    @text="Add another product/area"
    class="my-8"
  />
{{else}}
  <div class="mb-5 flex w-full items-center justify-between">

    <h1>
      Product/areas
    </h1>
    <Hds::Button
      @route="authenticated.admin.product-areas.new"
      @text="+ New product/area"
    />
  </div>

  {{! List existing }}
  {{! should this just be a table }}
  <table class="hds-table w-full">
    <thead>
      <tr>
        <th class="w-6/12">Name</th>
        <th class="w-6/12">Abbreviation</th>
      </tr>
    </thead>
    <tbody>

      {{#each-in this.productAreas.index as |p attrs|}}
        <tr class="">
          <td class="w-1/2">
            <LinkTo
              @route="authenticated.admin.product-areas.product-area"
              @model={{p}}
              class="inner flex items-center gap-2.5"
            >
              <Product::Avatar @product={{p}} />
              {{p}}
            </LinkTo>
          </td>
          <td class="">
            <div class="inner">
              {{attrs.abbreviation}}
            </div>
          </td>
        </tr>
      {{/each-in}}
    </tbody>
  </table>
{{/if}}
{{! TODO: completed state }}
