{{#if this.formIsSubmitting}}
  <div class="grid">
    <h1>

      Creating product/area...
    </h1>
    <p>
      This may take a few seconds.
    </p>
    <FlightIcon @name="running" @size="24" class="mt-8" />
  </div>
{{else if this.successStateIsShown}}
  <h1>
    Done!
  </h1>
  <p>
    The product/area
    <strong class="font-bold">

      {{this.name}}
    </strong>
    has been created.
  </p>
  <Hds::Button
    {{on "click" this.resetState}}
    @color="secondary"
    @text="Add another product/area"
    class="my-8"
  />
{{else}}
  <div class="mb-5 flex w-full items-center justify-between">

    <h1>
      Product/areas
    </h1>
    <Hds::Button @text="+ New product/area" />
  </div>

  {{! List existing }}
  {{! should this just be a table }}
  <table class="hds-table w-full">
    <thead>
      <tr>
        <th class="w-1/2">Name</th>
        <th class="">Abbreviation</th>
        <th class="">Docs</th>
      </tr>
    </thead>
    <tbody>

      {{#each-in this.productAreas.index as |p attrs|}}
        {{log "attrs" attrs}}
        <tr class="">
          <td class="w-1/2">
            <div class="flex">
              <Product::Avatar @product={{p}} />
              {{p}}
            </div>
          </td>
          <td class="">
            {{attrs.abbreviation}}
          </td>
          <td class="">
            {{! Number of docs? }}
            45
          </td>
        </tr>
      {{/each-in}}
    </tbody>
  </table>

  {{! ADD NEW }}
  <form {{on "submit" this.submit}}>
    <div class="mb-5 grid gap-5">
      <Hds::Form::TextInput::Field
        {{on "input" this.setName}}
        @value={{this.name}}
        placeholder="E.g., Product Management"
        as |F|
      >
        {{! DO we need some logic for determining duplicates }}
        <F.Label>Name</F.Label>
        {{#if this.nameErrorIsShown}}
          <F.Error>{{this.nameErrorText}}</F.Error>
        {{/if}}
      </Hds::Form::TextInput::Field>
      <Hds::Form::TextInput::Field
        {{on "input" this.setAbbreviation}}
        @value={{this.abbreviation}}
        placeholder="E.g., PRM"
        as |F|
      >
        <F.Label>Abbreviation</F.Label>
        {{#if this.abbreviationErrorIsShown}}
          <F.Error>{{this.abbreviationErrorText}}</F.Error>
        {{/if}}
      </Hds::Form::TextInput::Field>
    </div>
    <Hds::Button @text="Create product/area" class="my-8" type="submit" />
  </form>
{{/if}}
{{! TODO: completed state }}
