{{#if this.formIsSubmitting}}
  <div class="grid">
    <h1 class="mb-1">
      Creating product/area...
    </h1>
    <p>
      This may take a few seconds.
    </p>
    <FlightIcon @name="running" @size="24" class="mt-8" />
  </div>
{{else if this.successStateIsShown}}
  <h1 class="mb-1">
    Done!
  </h1>
  <p>
    The product/area
    <strong class="font-bold">

      {{this.name}}
    </strong>
    has been created.
  </p>
  <Hds::Button
    {{on "click" this.resetState}}
    @color="secondary"
    @text="Add another"
    class="my-8"
  />
{{else}}
  <div class="mb-5">
    <h1 class="mb-1">New product/area</h1>
    <p class="text-color-foreground-faint">
      Note: Name and abbreviation are not editable after creation.
    </p>
  </div>

  <Admin::ProductAreas::Form @onSave={{this.createProductArea}} />
{{/if}}
