<div class="mx-auto mb-24 w-full max-w-3xl">
  <div class="flex justify-center">
    {{#let (get-product-id @productArea) as |product|}}
      {{#if (or product this.flags.productColors)}}
        <Product::Avatar @product={{@productArea}} @size="xl" class="mt-0.5" />
      {{/if}}
    {{/let}}
  </div>

  <div class="text-center">
    <h1
      class="mt-5 text-[45px] font-bold leading-[55px] text-color-foreground-strong"
    >
      {{@productArea}}
    </h1>
    {{!--
    <p class="mt-1.5 text-display-300">
      {{@docs.length}}
      Docs
    </p> --}}

    <div class="relative mt-6 inline-flex">
      {{! <div class="text-color-foreground-faint">
        Notifications:
      </div> }}
      <div class="w-[128px]">
        <Hds::Button
          {{on "click" this.toggleSubscription}}
          class="pill-button {{if this.isSubscribed 'pr-[18px]' 'pr-[21px]'}}"
          @icon={{if this.isSubscribed "check" "plus"}}
          @color="secondary"
          @text={{if this.isSubscribed "Subscribed" "Subscribe"}}
          @isFullWidth={{true}}
        />
      </div>
      <TooltipIcon
        @text={{if
          this.isSubscribed
          "You'll be emailed when a document is published in this product/area."
          "Get emailed when a document is published in this product/area"
        }}
        class="absolute -right-2 top-1/2 translate-x-full -translate-y-1/2 text-color-foreground-disabled"
      />
    </div>

    <div class="relative mt-12 text-center">
      <div
        class="-translate-y-1.2 absolute left-0 top-1/2 h-px w-full bg-color-border-primary"
        aria-hidden="true"
      />
      {{! Do the side hr thing }}
      <h3
        data-test-documents-header
        class="hermes-h4 relative inline-flex bg-color-page-primary px-4"
      >
        {{@nbHits}}
        Documents
      </h3>
      {{!-- <Hds::BadgeCount data-test-document-count @text="{{@nbHits}}" /> --}}
    </div>

  </div>
  <div class="relative mt-6">
    {{#if @docs.length}}
      <ol class="divided-list">
        {{#each @docs as |doc|}}
          <li class="group relative">
            <Doc::TileMedium @doc={{doc}} />
          </li>
        {{/each}}
      </ol>
    {{else}}
      {{! TODO: improve this }}
      No docs yet
    {{/if}}
  </div>

  {{#if this.seeMoreButtonIsShown}}
    <div class="mt-6">
      <Hds::Button
        @route="authenticated.all"
        @icon="arrow-right"
        @iconPosition="trailing"
        @query={{hash
          product=(array @productArea)
          status=(array)
          docType=(array)
          owners=(array)
          page=2
        }}
        @color="secondary"
        @isFullWidth={{true}}
        @text="See more {{@productArea}} documents"
      />
    </div>
  {{/if}}

</div>
