<div class="mx-auto mb-24 w-full max-w-2xl">
  {{! Header and subscribe }}
  <div class="relative flex gap-2">
    <div class="absolute -left-4 top-0 -translate-x-full">
      <Product::Avatar @product={{@model.hits.0.product}} @size="xl" />
    </div>
    <div class="flex w-full items-start gap-3">
      <h1>{{@model.hits.0.product}}</h1>
      <Hds::BadgeCount @text="{{@model.nbHits}} Docs" class="mt-2 shrink-0" />
    </div>
    <div class="relative mt-1.5 w-[120px] shrink-0 self-start justify-self-end">
      <Hds::Button
        @text={{if this.isSubscribed "Subscribed" "Subscribe"}}
        @icon={{if this.isSubscribed "check" "plus"}}
        @color="secondary"
        class="pl-2 pr-3.5"
        @size="small"
        @isFullWidth={{true}}
        {{on "click" this.toggleSubscribed}}
      />
      <TooltipIcon
        @text="Get emailed when a document is published in this product/area."
        class="absolute -right-3 top-1/2 translate-x-full -translate-y-1/2 text-color-foreground-disabled"
      />
    </div>
    {{!-- <div class="font-bold">
      <div class="mb-1 flex items-center justify-center gap-1.5">
        Notifications
        <TooltipIcon
          @text="Get emailed when a document is published in this product/area."
          class="-mr-1 text-color-foreground-disabled"
        />
      </div>
    </div>
    <Hds::Form::Toggle::Base
      tabindex="-1"
      name="toggle-subscription"
      aria-label={{if this.isSubscribed "Unsubscribe" "Subscribe"}}
      checked={{this.isSubscribed}}
      {{on "click" this.toggleSubscribed}}
    /> --}}
  </div>

  {{! LATEST docs }}
  <div class="relative mt-8 flex">
    <div>

      <ol>
        {{#each-in @model.hits as |_key doc|}}
          <li>
            <div
              class="relative border-t border-color-border-primary pt-5 pb-7"
            >
              <div class="flex items-start">

                <div class="w-full pr-8">
                  <div class="mb-3 flex items-center space-x-3">
                    <div>
                      <Person
                        class="text-color-foreground-strong"
                        @email={{get doc.owners 0}}
                        @imgURL={{get doc.ownerPhotos 0}}
                      />
                    </div>
                    <span class="text-color-foreground-faint">4h ago</span>
                  </div>
                  <div>
                    <h4
                      class="mb-1 text-display-300 text-color-foreground-strong"
                    >
                      {{doc.title}}
                    </h4>
                    {{! can we do better than this tiny snippet }}
                    <p class="mb-4 text-body-300">
                      {{doc.summary}}
                    </p>
                    <div class="flex w-full justify-between">
                      <div class="flex space-x-1.5">
                        {{#if doc.docNumber}}
                          <Hds::Badge @text={{doc.docNumber}} />
                        {{/if}}
                        <Hds::Badge @text={{doc.docType}} />
                        <Doc::State
                          @state={{doc.status}}
                          @hideProgress={{true}}
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <Doc::Thumbnail
                  @product={{doc.product}}
                  @status={{doc.status}}
                  @size="medium"
                  class="-mt-1 -mb-6 shrink-0"
                />
              </div>
            </div>
          </li>
        {{/each-in}}
      </ol>
    </div>
  </div>

  {{#if (gte @model.nbHits 12)}}
    <div class="mt-6">
      <Hds::Button
        @route="authenticated.all"
        @icon="arrow-right"
        @iconPosition="trailing"
        @query={{hash
          product=(array @model.hits.0.product)
          status=(array)
          docType=(array)
          owners=(array)
          page=2
        }}
        @color="secondary"
        @isFullWidth={{true}}
        @text="See more {{@model.hits.0.product}} documents"
      />
    </div>
  {{/if}}

</div>
