<h1
  data-test-results-header-text
  class="mb-4 text-display-300 font-semibold"
>{{@results.nbHits}}
  {{if (eq 1 @results.nbHits) "document" "documents"}}
  {{#if @query}}
    matching
    <mark>
      {{@query}}
    </mark>
  {{/if}}
</h1>
<ol class="divided-list">
  {{#each @results.hits as |doc|}}
    <li data-test-doc-search-result class="group relative">
      <Doc::TileMedium @doc={{doc}} @query={{@query}} />
    </li>
  {{/each}}
</ol>

<Pagination
  @currentPage={{(add @results.page 1)}}
  @nbPages={{@results.nbPages}}
/>
