{{! TODO: this needs scope logic }}
{{! if both are passed in, it's the "all" scenario }}
<h1
  data-test-results-header-text
  class="text-display-300 font-semibold"
>{{this.hitCount}}
  {{#if @query}}
    {{if (eq this.hitCount 1) "match" "matches"}}
    for
    <mark>
      {{@query}}
    </mark>
  {{/if}}
</h1>

{{#if this.hitCount}}

  {{#if (eq this.currentScope "all")}}
    {{#if @productResults.facetHits}}
      <div class="mb-7">
        <h4 class="hermes-h4">Products</h4>
        <ol>
          {{#each @productResults.facetHits as |p|}}
            <li class="group relative">
              <LinkTo
                @route="authenticated.product-areas.product-area"
                @model={{dasherize p.value}}
              >
                {{p.value}}
              </LinkTo>
            </li>
          {{/each}}
        </ol>

      </div>
    {{/if}}

    <div class="mb-7">
      <div class="flex gap-4">
        <h4 class="hermes-h4">
          Projects
        </h4>
        <LinkTo
          @route="authenticated.results"
          @query={{hash q=@query scope="projects"}}
        >
          View all
        </LinkTo>
      </div>
      <ol>
        {{#each @projectResults.hits as |p|}}
          <li class="group relative">
            <Project::Tile @project={{p}} />
          </li>
        {{/each}}
      </ol>
    </div>

    <div>
      <div class="flex gap-4">
        <h4 class="hermes-h4">
          Docs
        </h4>
        <LinkTo
          @route="authenticated.results"
          @query={{hash q=@query scope="docs"}}
        >
          View all
        </LinkTo>
      </div>
      <ol class="divided-list">
        {{#each @results.hits as |doc|}}
          <li data-test-doc-search-result class="group relative">
            <Doc::TileMedium @doc={{doc}} @query={{@query}} />
          </li>
        {{/each}}
      </ol>
    </div>
  {{else if (eq this.currentScope "projects")}}
    TODO: brojeks
  {{else}}
    <ol>
      {{#each @docResults.hits as |d|}}
        <li class="group relative">
          <Doc::TileMedium @doc={{d}} />
        </li>
      {{/each}}
    </ol>

    <Pagination
      @currentPage={{(add @docResults.page 1)}}
      @nbPages={{@docResults.nbPages}}
    />
  {{/if}}
{{else}}
  No results
{{/if}}

{{! If we're showing "all" results, we need some UI to show both results }}
{{! Maybe we'll do that last }}
