{{#unless this.currentScopeIsAll}}
  <h1 data-test-results-header-text class="mb-8 text-display-300 font-semibold">
    {{this.nbHits}}
    {{if (eq this.nbHits 1) "match" "matches"}}
  </h1>
{{/unless}}

{{#if this.nbHits}}
  {{#if this.currentScopeIsAll}}
    <div class="mt-[33px] grid gap-9">
      {{#if @productResults.facetHits}}
        <div>
          <div class="mb-3 flex items-center gap-2">
            <h4 class="hermes-h4">
              Product/Areas
            </h4>
          </div>
          <ol class="flex flex-wrap gap-5">
            {{#each @productResults.facetHits as |p|}}
              <li class="group relative">
                <LinkTo
                  @route="authenticated.product-areas.product-area"
                  @model={{dasherize p.value}}
                  class="flex h-10 items-center gap-3 text-display-300 font-semibold text-color-foreground-strong"
                >
                  <Product::Avatar @product={{p.value}} />
                  <span>
                    {{p.value}}
                  </span>
                </LinkTo>
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
      {{#if @projectResults.hits}}
        <div>
          <LinkTo
            @route="authenticated.results"
            @query={{hash q=@query scope=this.projectsScope}}
            class="mb-3 flex items-center gap-2"
          >
            <h4 class="hermes-h4">
              Projects
            </h4>
            <FlightIcon
              @name="chevron-right"
              class="-ml-0.5 text-color-foreground-disabled"
            />
          </LinkTo>
          <ol class="">
            {{#each @projectResults.hits as |p|}}
              {{! Products unavailable via Algolia }}
              {{! jiraIssueID is available }}
              {{! creator is available }}
              {{! description is available }}
              {{! description should be searchable? }}
              <li class="group relative">
                <Project::Tile @project={{p}} />
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
      {{#if @docResults.hits}}
        <div>
          <LinkTo
            @route="authenticated.results"
            @query={{hash q=@query scope=this.docsScope}}
            class="mb-3 flex items-center gap-2"
          >
            <h4 class="hermes-h4">
              Docs
            </h4>
            <FlightIcon
              @name="chevron-right"
              class="-ml-0.5 text-color-foreground-disabled"
            />
          </LinkTo>
          <ol class="divided-list">
            {{#each @docResults.hits as |doc|}}
              <li data-test-doc-search-result class="group relative">
                <Doc::TileMedium @doc={{doc}} @query={{@query}} />
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
    </div>
  {{else if (eq this.currentScope this.projectsScope)}}
    <ol>
      {{#each @projectResults.hits as |p|}}
        <li class="group relative">
          <Project::Tile @project={{p}} />
        </li>
      {{/each}}
    </ol>
    <Pagination
      @currentPage={{add (or @projectResults.page 0) 1}}
      @nbPages={{@projectResults.nbPages}}
    />
  {{else}}
    <ol>
      {{#each @docResults.hits as |d|}}
        <li class="group relative">
          <Doc::TileMedium @doc={{d}} />
        </li>
      {{/each}}
    </ol>
    <Pagination
      @currentPage={{(add (or @docResults.page 0) 1)}}
      @nbPages={{@docResults.nbPages}}
    />
  {{/if}}
{{else}}
  {{! FIXME: On the docs and projects tabs, there's already a "0 matches" }}
  {{! TODO: maybe just extra whitespace or an illustration }}
  Broaden your search you big dummy
{{/if}}
