<h1 data-test-results-header-text class="mb-8 text-display-300 font-semibold">
  {{#unless (and (eq this.currentScope "all") this.hitCount)}}
    {{this.hitCount}}
    {{if (eq this.hitCount 1) "match" "matches"}}
  {{/unless}}
</h1>

{{#if this.hitCount}}

  {{#if (eq this.currentScope "all")}}
    <div class="grid gap-9">
      {{#if @productResults.facetHits}}
        <div>
          <h4 class="hermes-h4 mb-3">
            Product/Areas
          </h4>
          <ol class="flex flex-wrap gap-5">
            {{#each @productResults.facetHits as |p|}}
              <li class="group relative">
                <LinkTo
                  @route="authenticated.product-areas.product-area"
                  @model={{dasherize p.value}}
                  class="flex h-10 items-center gap-3 text-display-300 font-semibold text-color-foreground-strong"
                >
                  <Product::Avatar @product={{p.value}} />
                  <span>
                    {{p.value}}
                  </span>
                  {{! <FlightIcon
                  @name="chevron-right"
                  class="-ml-0.5 text-color-foreground-disabled"
                /> }}
                </LinkTo>
              </li>
            {{/each}}
          </ol>

        </div>
      {{/if}}
      {{#if @projectResults.hits}}

        <div>
          <LinkTo
            @route="authenticated.results"
            @query={{hash q=@query scope="projects"}}
            class="mb-3 flex items-center gap-2"
          >
            <h4 class="hermes-h4">
              Projects
            </h4>
            <Hds::BadgeCount
              @text="{{@projectResults.nbHits}}"
              class="-mt-px"
            />
            <FlightIcon
              @name="chevron-right"
              class="-ml-0.5 text-color-foreground-disabled"
            />
          </LinkTo>
          <ol class="">
            {{#each @projectResults.hits as |p|}}
              {{! Products unavailable via Algolia }}
              {{! jiraIssueID is available }}
              {{! creator is available }}
              {{! description is available }}
              <li class="group relative">
                <Project::Tile @project={{p}} />
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
      {{#if @docResults.hits}}
        <div>
          <LinkTo
            @route="authenticated.results"
            @query={{hash q=@query scope="docs"}}
            class="mb-3 flex items-center gap-2"
          >
            <h4 class="hermes-h4">
              Docs
            </h4>
            <Hds::BadgeCount @text="{{@docResults.nbHits}}" class="-mt-px" />
            <FlightIcon
              @name="chevron-right"
              class="-ml-0.5 text-color-foreground-disabled"
            />
          </LinkTo>
          <ol class="divided-list">
            {{#each @docResults.hits as |doc|}}
              <li data-test-doc-search-result class="group relative">
                <Doc::TileMedium @doc={{doc}} @query={{@query}} />
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
    </div>
  {{else if (eq this.currentScope "projects")}}
    TODO: Projekts
  {{else}}
    <ol>
      {{#each @docResults.hits as |d|}}
        <li class="group relative">
          <Doc::TileMedium @doc={{d}} />
        </li>
      {{/each}}
    </ol>

    <Pagination
      @currentPage={{(add @docResults.page 1)}}
      @nbPages={{@docResults.nbPages}}
    />
  {{/if}}
{{else}}
  {{! FIXME: On the docs and projects tabs, there's already a "0 matches" }}
  Broaden your search you big dummy
{{/if}}

{{! If we're showing "all" results, we need some UI to show both results }}
{{! Maybe we'll do that last }}
