<h2 data-test-results-header-text class="mb-8 text-display-300 font-semibold">
  {{@docResults.nbHits}}
  {{if (eq @docResults.nbHits 1) "match" "matches"}}
</h2>
<ol class="divided-list">
  {{#each @docResults.hits as |doc|}}
    <li data-test-doc-search-result class="group relative">
      <Doc::TileMedium @doc={{doc}} @query={{@query}} />
    </li>
  {{/each}}
</ol>

<Pagination
  @currentPage={{(add @docResults.page 1)}}
  @nbPages={{@docResults.nbPages}}
/>
