<div
  class="search-nav mb-9 items-center text-display-600 font-bold text-color-foreground-strong"
>
  <LinkTo
    @route="authenticated.results"
    @query={{hash scope="all" q=@q page=1}}
    class={{if (eq @scope "all") "active"}}
  >
    All
  </LinkTo>
  <LinkTo
    @route="authenticated.results"
    @query={{hash scope="projects" q=@q page=1}}
    class={{if (eq @scope "projects") "active"}}
  >
    Projects
    {{#unless (eq @scope "projects")}}

      <Hds::BadgeCount
        @text={{or this.model.projectResults.nbHits "0"}}
        @type="inverted"
      />
    {{/unless}}
  </LinkTo>
  <LinkTo
    @route="authenticated.results"
    @query={{hash scope="docs" q=@q page=1}}
    class={{if (eq @scope "docs") "active"}}
  >
    Docs
    {{#unless (eq @scope "docs")}}
      <Hds::BadgeCount
        @text={{or this.model.docResults.nbHits "1234"}}
        @type="inverted"
      />
    {{/unless}}
  </LinkTo>
</div>
