<div class="secondary-nav w-72 shrink-0">
  <LinkTo
    @route="authenticated.results"
    @query={{hash scope="all" q=@q page=1}}
    class={{if (eq @scope "all") "active"}}
  >
    Top
  </LinkTo>
  <LinkTo
    @route="authenticated.results"
    @query={{hash scope="projects" q=@q page=1}}
    class={{if (eq @scope "projects") "active"}}
  >
    Projects
    {{! TODO: count should be an unfiltered count }}
    {{!-- <Hds::BadgeCount @text={{or this.model.projectResults.nbHits "0"}} /> --}}
  </LinkTo>
  <LinkTo
    @route="authenticated.results"
    @query={{hash scope="docs" q=@q page=1}}
    class={{if (eq @scope "docs") "active"}}
  >
    Docs
    {{!-- <Hds::BadgeCount @text={{or this.model.docResults.nbHits "1234"}} /> --}}
  </LinkTo>
</div>
