<div class="" ...attributes>
  <LinkTo
    @route="authenticated.results"
    @query={{hash scope=this.allScope q=@q page=1}}
    class={{if (eq @scope this.allScope) "active underline"}}
  >
    Top
  </LinkTo>
  <LinkTo
    @route="authenticated.results"
    @query={{hash scope=this.projectsScope q=@q page=1}}
    class={{if (eq @scope this.projectsScope) "active"}}
  >
    Projects
  </LinkTo>
  <LinkTo
    @route="authenticated.results"
    @query={{hash scope=this.docsScope q=@q page=1}}
    class={{if (eq @scope this.docsScope) "active"}}
  >
    Docs
  </LinkTo>
</div>
