{{#if this.docIsBeingCreated}}
  <div class="hds-typography-display-400 mt-3 text-center">
    <FlightIcon @name="running" @size="24" />
    <div class="mt-8 text-display-200 font-semibold">
      Creating draft in Google Drive...
    </div>
    <div class="text-body-200 text-color-foreground-faint">This usually takes
      10-20 seconds.</div>
  </div>
{{else}}
  <New::ObjectTypeDropdown @selected="Document" />

  <form
    {{! TODO: check if "change"/"input" actions work }}
    {{did-insert this.registerForm}}
    {{on "submit" this.submit}}
    class="mb-10"
  >
    <div class="mb-8 space-y-7">

      {{! Title }}
      <Hds::Form::TextInput::Field
        data-test-title-input
        @value={{this.title}}
        @type="text"
        name="title"
        required
        {{on "input" this.updateForm}}
        as |F|
      >
        <F.Label class="relative">
          Title
        </F.Label>
      </Hds::Form::TextInput::Field>

      {{! Summary }}
      <div class="relative">
        <Hds::Form::Textarea::Field
          data-test-summary-input
          {{! TODO: add min-rows arg to auto-height-textarea}}
          @value={{this.summary}}
          name="summary"
          rows="3"
          {{on "input" this.updateForm}}
          as |F|
        >
          <F.Label>Summary</F.Label>
          <F.HelperText>
            <span
              class={{if
                this.summaryIsLong
                "bg-color-surface-warning text-color-foreground-warning-on-surface transition-colors"
              }}
            >One or two sentences</span>
            outlining your doc.
            {{if this.summaryIsLong "(Just a recommendation)"}}
          </F.HelperText>
        </Hds::Form::Textarea::Field>
      </div>

      {{! Product/Area }}
      <div>
        <div class="mb-2">
          <span class="hermes-form-label relative">
            Product/Area
          </span>
        </div>
        <Inputs::ProductSelect
          @selected={{this.productArea}}
          @onChange={{this.onProductSelect}}
          @isFullWidth={{true}}
        />
      </div>

      {{! TODO: COllaborators }}

    </div>

    <Hds::Button @text="Create new document" type="submit" />
  </form>

{{/if}}
