{{#if this.docIsBeingCreated}}
  <div class="hds-typography-display-400 mt-3 text-center">
    <FlightIcon @name="loading" @size="24" />
    <div class="mt-8 text-display-200 font-semibold">
      Creating draft in Google Drive...
    </div>
    <div class="text-body-200 text-color-foreground-faint">This usually takes
      10-20 seconds.</div>
  </div>
{{else}}
  {{#if this.objectTypeIsProject}}{{else}}
    {{! Document type }}
    <div>
      <X::DropdownList
        class="search-popover !max-h-[237px]"
        @items={{this.docTypes}}
        @selected={{this.selectedDocType}}
        @matchAnchorWidth={{hash enabled=true additionalWidth=10}}
      >
        <:anchor as |dd|>
          <div class="mb-2 flex items-center justify-between">
            <div class="flex w-full items-center justify-between">
              <div class="flex items-center">

                <label class="hermes-form-label relative">
                  Document type
                </label>
                <Hds::Badge @text="Required" @size="small" class="ml-1.5" />
              </div>
            </div>
          </div>

          <dd.ToggleSelect
            class="hds-button hds-button--color-secondary hds-button--size-medium"
          >
            <FlightIcon
              @name={{or dd.selected.icon "file-text"}}
              class="mr-3"
            />
            <div class="text-color-foreground-strong">
              {{or dd.selected.longName "---"}}
            </div>
            {{#if dd.selected.shortName}}
              <div
                class="ml-2 text-body-100 leading-none text-color-foreground-disabled"
              >
                {{dd.selected.shortName}}
              </div>
            {{/if}}
          </dd.ToggleSelect>
        </:anchor>
        <:item as |dd|>
          <dd.Action
            class="items-start px-4 pr-5"
            {{on "click" (fn this.changeDocType dd.attrs.shortName)}}
          >
            <FlightIcon
              @name={{or dd.attrs.icon "file-text"}}
              class="mr-3 mt-0.5"
            />
            <div>

              <div class="flex items-center leading-none">
                <span
                  class="font-Xsemibold text-body-200 text-color-foreground-strong"
                >

                  {{dd.attrs.longName}}
                </span>
                <span
                  class="ml-2.5 text-body-100 leading-none text-color-foreground-disabled"
                >
                  {{dd.attrs.shortName}}
                </span>
              </div>
              {{! TODO: this should only be one line }}
              {{#if dd.attrs.description}}
                <div class="text-color-foreground-Xfaint mt-0.5 text-body-100">
                  {{dd.attrs.description}}
                </div>
              {{/if}}
            </div>

          </dd.Action>
        </:item>
      </X::DropdownList>
      <ExternalLink
        @iconIsShown={{true}}
        href="/support/document-types"
        target="_blank"
        class="mt-3 flex whitespace-nowrap text-body-100 text-color-foreground-action hover:text-color-foreground-action-hover"
      >
        About document types
      </ExternalLink>

    </div>

    {{! Product/Area }}
    <div>
      <div class="mb-2">
        <span class="hermes-form-label relative">
          Product/Area
          <Hds::Badge @text="Required" @size="small" class="ml-1.5" />
        </span>
      </div>
      <Inputs::ProductSelect
        @selected={{this.productArea}}
        @onChange={{this.onProductSelect}}
        @isFullWidth={{true}}
      />
    </div>

    {{! Contributors }}
    <Hds::Form::Field @layout="vertical" as |F|>
      <F.Control>
        <Inputs::PeopleSelect
          class="multiselect mt-2 w-full"
          @selected={{this.contributors}}
          @onChange={{this.updateContributors}}
        />
      </F.Control>
      <F.Label>
        Contributors
      </F.Label>
      {{#if this.formErrors.contributors}}
        <F.Error as |E|>
          <E.Message>{{this.formErrors.contributors}}</E.Message>
        </F.Error>
      {{/if}}
      <F.HelperText>
        People to share your doc with. You can always add more later.
      </F.HelperText>
    </Hds::Form::Field>
  {{/if}}
{{/if}}
