{{#if this.docIsBeingCreated}}
  <div class="hds-typography-display-400 mt-3 text-center">
    <FlightIcon @name="running" @size="24" />
    <div class="mt-8 text-display-200 font-semibold">
      Creating draft in Google Drive...
    </div>
    <div class="text-body-200 text-color-foreground-faint">This usually takes
      10-20 seconds.</div>
  </div>
{{else}}
  <New::ObjectTypeDropdown @selected="Document" />

  <form
    {{! TODO: check if "change"/"input" actions work }}
    {{did-insert this.registerForm}}
    {{on "submit" this.submit}}
    class="mb-10"
  >
    <div class="space-y-7 mb-8">

      {{! Title }}
      <Hds::Form::TextInput::Field
        data-test-title-input
        @value={{this.title}}
        @type="text"
        name="title"
        required
        {{on "input" this.updateForm}}
        as |F|
      >
        <F.Label class="relative">
          Title
        </F.Label>
      </Hds::Form::TextInput::Field>

      {{! Summary }}
      <div class="relative">
        <Hds::Form::Textarea::Field
          data-test-summary-input
          {{! TODO: add min-rows arg to auto-height-textarea}}
          @value={{this.summary}}
          name="summary"
          rows="3"
          {{on "input" this.updateForm}}
          as |F|
        >
          <F.Label>Summary</F.Label>
          <F.HelperText>
            <span
              class={{if
                this.summaryIsLong
                "bg-color-surface-warning text-color-foreground-warning-on-surface transition-colors"
              }}
            >One or two sentences</span>
            outlining your doc.
            {{if this.summaryIsLong "(Just a recommendation)"}}
          </F.HelperText>
        </Hds::Form::Textarea::Field>
      </div>

      {{! Document type }}
      <div>
        <X::DropdownList
          class="max-h-[237px]"
          @items={{this.docTypes}}
          @selected={{this.selectedDocType}}
          @onItemClick={{this.changeDocType}}
          @matchAnchorWidth={{hash enabled=true additionalWidth=10}}
        >
          <:anchor as |dd|>
            <div class="mb-2 flex items-center justify-between">
              <div class="flex w-full items-center justify-between">
                <div class="flex items-center">

                  <label class="hermes-form-label relative">
                    Document type
                  </label>
                </div>
              </div>
            </div>

            <dd.ToggleSelect
              class="hds-button hds-button--color-secondary hds-button--size-medium"
            >
              <FlightIcon
                @name={{or this.selectedDocTypeObject.icon "file-text"}}
                class="mr-3"
              />
              {{#if this.selectedDocTypeObject.longName}}
                <div class="text-color-foreground-strong">
                  {{this.selectedDocTypeObject.longName}}
                </div>
              {{else}}
                <EmptyStateText @text="None selected" />
              {{/if}}
              {{#if this.selectedDocTypeObject.shortName}}
                <div
                  class="ml-2 text-body-100 leading-none text-color-foreground-disabled"
                >
                  {{this.selectedDocTypeObject.shortName}}
                </div>
              {{/if}}
            </dd.ToggleSelect>
          </:anchor>
          <:item as |dd|>
            <dd.Action class="group items-start px-4 pr-5">
              <div class="relative flex w-full items-start">
                <FlightIcon
                  @name={{or dd.attrs.icon "file-text"}}
                  class="mr-3 mt-0.5"
                />
                <div>
                  {{! TODO: handle group-hover/focus in css }}
                  <div class="flex items-center leading-none">
                    <span
                      class="text-body-200 text-color-foreground-strong group-focus-within:text-white group-hover:text-white"
                    >

                      {{dd.attrs.longName}}
                    </span>
                    <span
                      class="ml-2.5 text-body-100 leading-none text-color-foreground-disabled group-focus-within:text-white group-hover:text-white"
                    >
                      {{dd.attrs.shortName}}
                    </span>
                  </div>
                  {{! TODO: this should only ever be one line }}
                  {{#if dd.attrs.description}}
                    <div
                      class="mt-0.5 text-body-100 text-color-foreground-faint group-focus-within:text-white group-hover:text-white"
                    >
                      {{dd.attrs.description}}
                    </div>
                  {{/if}}
                </div>

                {{#if dd.isSelected}}
                  <div class="check absolute right-0 top-1">
                    <FlightIcon @name="check" />
                  </div>
                {{/if}}
              </div>

            </dd.Action>
          </:item>
        </X::DropdownList>
        <ExternalLink
          @iconIsShown={{true}}
          href="/support/document-types"
          target="_blank"
          class="mt-3 inline-flex text-body-100 text-color-foreground-action hover:text-color-foreground-action-hover"
        >
          About document types
        </ExternalLink>

      </div>

      {{! Product/Area }}
      <div>
        <div class="mb-2">
          <span class="hermes-form-label relative">
            Product/Area
          </span>
        </div>
        <Inputs::ProductSelect
          @selected={{this.productArea}}
          @onChange={{this.onProductSelect}}
          @isFullWidth={{true}}
        />
      </div>

      {{! Contributors }}
      <Hds::Form::Field @layout="vertical" as |F|>
        <F.Control>
          <Inputs::PeopleSelect
            class="multiselect mt-2 w-full"
            @selected={{this.contributors}}
            @onChange={{this.updateContributors}}
          />
        </F.Control>
        <F.Label>
          Contributors
        </F.Label>
        {{#if this.formErrors.contributors}}
          <F.Error as |E|>
            <E.Message>{{this.formErrors.contributors}}</E.Message>
          </F.Error>
        {{/if}}
        <F.HelperText class="-mb-1.5">
          People to share your doc with. You can always add more later.
        </F.HelperText>
      </Hds::Form::Field>

    </div>

    <Hds::Button @text="Create new document" type="submit" />
  </form>

{{/if}}
