{{#if this.docIsBeingCreated}}
  <div data-test-creating-new-doc class="mt-10 mb-9 text-center">
    <FlightIcon @name="running" @size="24" />
    <h1 class="mt-2 text-display-300 font-semibold">
      Creating draft in Google Drive...
    </h1>
    <div class="mb-7 text-body-200 text-color-foreground-faint">
      This usually takes 10-20 seconds.
    </div>
  </div>
{{else}}
  <form
    class="new-form"
    data-test-new-doc-form
    {{on "submit" this.submit}}
    {{did-insert this.registerForm}}
    {{on "submit" this.submit}}
  >
    {{! Icon }}
    <div class="relative mb-4 flex justify-center">
      <FlightIcon
        @name={{get-doctype-icon @docType}}
        @size="24"
        class="feature-icon"
      />
    </div>
    <h1>Create your {{@docType}}</h1>
    <div class="mt-8 grid gap-7">
      {{! Title }}
      <Hds::Form::Textarea::Field
        {{auto-height-textarea}}
        {{autofocus}}
        data-test-title-input
        @value={{this.title}}
        @isRequired={{true}}
        class="px-2.5"
        placeholder="Enter a title"
        name="title"
        {{on "input" this.updateForm}}
        as |F|
      >
        <F.Label>Title</F.Label>
      </Hds::Form::Textarea::Field>

      {{! Summary }}
      <Hds::Form::Textarea::Field
        data-test-summary-input
        @value={{this.summary}}
        rows="2"
        name="summary"
        class="px-2.5 py-2 placeholder-color-palette-neutral-400"
        placeholder="One or two sentences outlining your doc."
        {{on "input" this.updateForm}}
        as |F|
      >
        <F.Label>Summary</F.Label>
      </Hds::Form::Textarea::Field>

      {{! Product/area }}
      <div>
        <label for="product-select" class="hermes-form-label mb-2">
          Product/Area
          <Hds::Badge @text="Required" @size="small" class="ml-1.5" />
        </label>
        <Inputs::ProductSelect
          @selected={{this.productArea}}
          @onChange={{this.onProductSelect}}
          @offset={{(hash mainAxis=0 crossAxis=-3)}}
          @matchAnchorWidth={{hash enabled=true additionalWidth=6}}
          class="max-h-[240px]"
        />
      </div>

      <Hds::Form::Field @layout="vertical" as |F|>
        <F.Control>
          <Inputs::PeopleSelect
            class="multiselect w-full"
            @selected={{this.contributors}}
            @onChange={{this.updateContributors}}
          />
        </F.Control>
        <F.Label class="flex items-center gap-1.5">
          Contributors
          <TooltipIcon
            @text="People to share your doc with. You can always add more later."
          />
        </F.Label>
        {{#if this.formErrors.contributors}}
          <F.Error as |E|>
            <E.Message>{{this.formErrors.contributors}}</E.Message>
          </F.Error>
        {{/if}}
      </Hds::Form::Field>
    </div>
    <Hds::Button
      data-test-create-button
      @text="Create draft in Google Drive"
      @isFullWidth={{true}}
      type="submit"
      disabled={{not this.formRequirementsMet}}
    />
  </form>

{{/if}}
