{{! @glint-nocheck: not typesafe yet }}
{{#if this.docIsBeingCreated}}
  <div class="text-center hds-typography-display-400 mt-3">
    <FlightIcon @name="loading" @size="24" />
    <div class="mt-8 text-display-200 font-semibold">
      Creating
      {{@docType}}
      draft...
    </div>
    <div class="text-body-200 text-color-foreground-faint">This usually takes
      10-20 seconds.</div>
  </div>
{{else}}
  <form
    class="grid gap-10 grid-cols-[1fr_250px] grid-rows-1"
    {{on "submit" this.submit}}
    {{did-insert this.registerForm}}
  >
    <div>
      <div class="space-y-4">
        <h1
          class="hds-typography-display-500 hds-font-weight-bold hds-foreground-strong"
        >Create your {{@docType}}</h1>
      </div>
      <div class="pt-10 space-y-7">
        <Hds::Form::TextInput::Field
          @type="text"
          @isRequired={{true}}
          @value={{this.title}}
          name="title"
          placeholder="Enter a document title"
          {{on "input" this.updateForm}}
          as |F|
        >
          <F.Label>Title</F.Label>
          <F.HelperText>
            A succinct outline of the idea youʼre proposing.
          </F.HelperText>
        </Hds::Form::TextInput::Field>

        <div class="relative">
          <Hds::Form::Textarea::Field
            @value={{this.summary}}
            rows="3"
            name="summary"
            {{on "input" this.updateForm}}
            as |F|
          >
            <F.Label>Summary</F.Label>
            <F.HelperText>
              <span
                class={{if
                  this.summaryIsLong
                  "transition-colors bg-color-surface-warning text-color-foreground-warning-on-surface"
                }}
              >One or two sentences</span>
              outlining your doc.
              {{if this.summaryIsLong "(Just a recommendation)"}}
            </F.HelperText>
          </Hds::Form::Textarea::Field>
        </div>

        <div>
          <div class="mb-2">
            <span class="hermes-form-label">
              Business Unit (BU) &nbsp;
              <Hds::Badge @size="small" @text="Required" />
            </span>
            <span class="hermes-form-helper-text hds-form-helper-text">
              Which BU do you belong to
            </span>
          </div>
            <Hds::ButtonSet>
                  <Inputs::ProductSelect
                    @selected={{this.productArea}}
                    @onChange={{this.onProductSelect}}
                    @onSelectBU={{this.updateSelectedBU}}
                    class="w-[300px]"
                  />
                  {{#if (eq this.profile.role "Admin")}}
                      <Hds::Button
                        @text="New BU"
                        @icon="plus"
                        @color="secondary"
                        {{on "click"  (fn this.toggleModal1)}}
                  />
                  {{/if}}
              </Hds::ButtonSet>
        </div>

        <div>
          <div class="mb-2">
            <span class="hermes-form-label">
              Teams/Pod
              <Hds::Badge @size="small" @text="Required" />
            </span>
            <span class="hermes-form-helper-text hds-form-helper-text">
              Select your Team/Pod
            </span>
          </div>
           <Hds::ButtonSet>
            <Inputs::TeamSelect
                    @selectedBU={{this.selectedBU}}
                    @selected={{this.teamArea}}
                    @onChange={{this.onTeamSelect}}
                    class="w-[300px]"
            />
                {{#if (eq this.profile.role "Admin")}}
                      <Hds::Button
                      @text="New Team/Pod"
                      @icon="user-plus"
                      @color="secondary"
                      {{on "click"  (fn this.toggleModal2)}}
                      />
                  {{/if}}
          </Hds::ButtonSet>
        </div>

        <div>
          <div class="mb-2">
            <span class="hermes-form-label">
             Project
              <Hds::Badge @size="small" @text="Required" />
            </span>
            <span class="hermes-form-helper-text hds-form-helper-text">
              Select your Project or Create a new one from dashboard
            </span>
          </div>
          <Hds::ButtonSet>
            <Inputs::ProjectSelect
                    @selectedteam={{this.teamArea}}
                    @selected={{this.projectArea}}
                    @onChange={{this.onProjectSelect}}
                    class="w-[300px]"
            />

                <Hds::Button
                      @text="New Project"
                      @icon="file-plus"
                      @color="secondary"
                      {{on "click"  (fn this.toggleModal4)}}
              />
            </Hds::ButtonSet>
        </div>


        {{! Note: We are still refining the subscribe/follow feature set.
                As part of that effort we will be looking into how the concept
                of "tags" would be useful. For now, we are choosing to
                comment out defining tags as part of the document draft
                creation workflow.
          }}
        {{!-- <Hds::Form::Field @layout="vertical" @isOptional={{true}} as |F|>
          {{yield
            (hash
              Error=F.Error
              HelperText=F.HelperText
              Label=F.Label
              isRequired=F.isRequired
              isOptional=F.isOptional
            )
          }}
          <F.Control>
            <Inputs::TagSelect
              @selected={{this.tags}}
              @onChange={{this.updateTags}}
            />
          </F.Control>
          <F.Label><FlightIcon @name="tag" />
            Add tags
          </F.Label>
          {{#if this.formErrors.tags}}
            <F.Error as |E|>
              <E.Message>{{this.formErrors.tags}}</E.Message>
            </F.Error>
          {{/if}}
          <F.HelperText>
            Use tags to help people discover this document based on their
            cross-functional interests. For instance, "raft", "design" or
            "a11y". There is a maximum of 5 tags.
          </F.HelperText>
        </Hds::Form::Field> --}}

        <Hds::Form::Field @layout="vertical" as |F|>
          {{yield
            (hash
              Error=F.Error
              HelperText=F.HelperText
              Label=F.Label
              isRequired=F.isRequired
              isOptional=F.isOptional
            )
          }}
          <F.Control>
            <Inputs::PeopleSelect
              class="multiselect mt-2 w-auto"
              @selected={{this.contributors}}
              @onChange={{this.updateContributors}}
            />
          </F.Control>
          <F.Label>
            <FlightIcon @name="users" />
            Contributors
          </F.Label>
          {{#if this.formErrors.contributors}}
            <F.Error as |E|>
              <E.Message>{{this.formErrors.contributors}}</E.Message>
            </F.Error>
          {{/if}}
          <F.HelperText>
            People to share your doc with. You can always add more later.
          </F.HelperText>
        </Hds::Form::Field>
      </div>
      <div class="h-24"></div>
    </div>
    <div>
      <div class="preview-card">
        <h3>
          <FlightIcon @name="eye" />
          Preview
        </h3>
        <Doc::Tile
          @productArea={{this.productArea}}
          @status="draft"
          @title={{this.title}}
          @owner={{this.authenticatedUser.info.email}}
        />
        <Hds::Button
          @text="Create {{@docType}} in Google Drive"
          type="submit"
          disabled={{not this.formRequirementsMet}}
          class="w-full"
        />
      </div>
    </div>
  </form>
{{/if}}


{{!-- Below are all the modals dialogue that are meant to add new BU or team or project when revoked --}}


  {{#if this.showModal1}}
    {{#modal-dialog
      onClose=(action (action (mut this.showModal1) false))
      targetAttachment="center"
      translucentOverlay=true
    }}
      <div class="modal-body">
        <div class="space-y-4" style="text-align: center;">
          <h4 class="modal-title">Create New Business Unit</h4>
        </div>
        <form {{on "submit" this.submitFormBU}}>
          <div class="mb-4">
            <label
              class="hds-form-label hds-typography-body-200 hds-font-weight-semibold hds-form-field__label"
              for="bu-name"
            >Business Unit Name:
              <div
                class="hds-badge hds-badge--size-small hds-badge--type-filled hds-badge--color-neutral hds-form-indicator"
                aria-hidden="true"
              >
                <!---->
                <div class="hds-badge__text">
                  Required
                </div>
              </div>
            </label>
            <div class="input-group">
              <span class="input-group-text">
                <i class="bi bi-person-fill fs-5"></i>
              </span>
              <input
                type="text"
                class="hds-form-text-input hds-typography-body-200 hds-font-weight-regular hds-form-field__control"
                name="bu-name"
                required
                placeholder="Enter Business Unit Name"
                value={{this.businessUnitName}}
              />
            </div>
          </div>
          <div class="modal-footer" class="space-y-4">
            <Hds::ButtonSet>
              {{#if this.BUIsBeingCreated}}
                <Hds::Button
                  @isIconOnly={{true}}
                  @text="Submit"
                  @icon="loading"
                />
              {{else}}
                <Hds::Button @text="Submit" type="submit" />
              {{/if}}
              <Hds::Button
                @text="Cancel"
                @color="critical"
                {{on "click" (fn this.toggleModal1 false)}}
              />
            </Hds::ButtonSet>
          </div>
        </form>
      </div>

    {{/modal-dialog}}
  {{/if}}

  {{#if this.showModal2}}
    {{#modal-dialog
      onClose=(action (action (mut this.showModal2) false))
      targetAttachment="center"
      translucentOverlay=true
    }}
      <div class="modal-body">
        <div class="space-y-4" style="text-align: center;">
          <h4 class="modal-title">Create New Team/Pod</h4>
        </div>
        <form {{on "submit" this.submitFormteam}}>
          <div class="mb-4">
            <label
              class="hds-form-label hds-typography-body-200 hds-font-weight-semibold hds-form-field__label"
              for="team-name"
            >Team Name:
              <div
                class="hds-badge hds-badge--size-small hds-badge--type-filled hds-badge--color-neutral hds-form-indicator"
                aria-hidden="true"
              >
                <!---->
                <div class="hds-badge__text">
                  Required
                </div>
              </div>
            </label>
            <div class="input-group">
              <span class="input-group-text">
                <i class="bi bi-person-fill fs-5"></i>
              </span>
              <input
                type="text"
                class="hds-form-text-input hds-typography-body-200 hds-font-weight-regular hds-form-field__control"
                name="team-name"
                required
                placeholder="Enter Team/Pod Name"
              />
            </div>
          </div>
          <div class="mb-4">
            <div class="mb-2">
              <span class="hermes-form-label">
                Business Unit/BU &nbsp;
                <Hds::Badge @size="small" @text="Required" />
              </span>
              <span class="hermes-form-helper-text hds-form-helper-text">
                Where your Team shall be made
              </span>
            </div>
            <Inputs::ProductSelect
              @selected={{this.TeamBU}}
              @onChange={{this.onProductSelect_modal}}
              @onSelectBU={{this.updateSelectedBU_modal}}
              class="w-[300px]"
            />
          </div>

          <div class="modal-footer" class="space-y-4">
            <Hds::ButtonSet>
              {{#if this.TeamIsBeingCreated}}
                <Hds::Button
                  @isIconOnly={{true}}
                  @text="Submit"
                  @icon="loading"
                />
              {{else}}
                <Hds::Button @text="Submit" type="submit" />
              {{/if}}
              <Hds::Button
                @text="Cancel"
                @color="critical"
                {{on "click" (fn this.toggleModal2 false)}}
              />
            </Hds::ButtonSet>
          </div>
        </form>
      </div>

    {{/modal-dialog}}
  {{/if}}

  {{#if this.showModal4}}
    {{#modal-dialog
  onClose=(action (action (mut this.showModal4) false))
  targetAttachment="center"
  translucentOverlay=true
  }}
    <div class="modal-body">
       <div class="space-y-4" style="text-align: center;">
          <h4 class="modal-title">Create New Project</h4>
        </div>
        <form {{on "submit" this.submitFormProject}}>
            <div class="mb-4">
              <div class="mb-2">
                <span class="hermes-form-label">
                  Business Unit (BU) &nbsp;
                  <Hds::Badge @size="small" @text="Required" />
                </span>
                <span class="hermes-form-helper-text hds-form-helper-text">
                  Where your doc should be categorized.
                </span>
              </div>
              <Inputs::ProductSelect
                @selected={{this.ProjectBU}}
                @onChange={{this.onProductSelect_modal}}
                @onSelectBU={{this.updateSelectedBU_modal}}
                class="w-[300px]"
              />
            </div>

            <div class="mb-4">
              <div class="mb-2">
                <span class="hermes-form-label">
                  Teams/Pod
                  <Hds::Badge @size="small" @text="Required" />
                </span>
                <span class="hermes-form-helper-text hds-form-helper-text">
                  Select your Team/Pod
                </span>
              </div>
              <Inputs::TeamSelect
                      @selectedBU={{this.selectedBU_modal}}
                      @selected={{this.ProjectTeamName}}
                      @onChange={{this.onTeamSelect_modal}}
                      class="w-[300px]"
              />
            </div>

            <div class="mb-4" >
              <label class="hds-form-label hds-typography-body-200 hds-font-weight-semibold hds-form-field__label" for="team-name"> Project Name:
                    <div class="hds-badge hds-badge--size-small hds-badge--type-filled hds-badge--color-neutral hds-form-indicator" aria-hidden="true">
                      <!---->    <div class="hds-badge__text">
                        Required
                    </div>
                  </div>
                </label>
                <div class="input-group">
                <span class="input-group-text">
                  <i class="bi bi-person-fill fs-5"></i>
                </span>
                  <input type="text" class="hds-form-text-input hds-typography-body-200 hds-font-weight-regular hds-form-field__control"  name="project-name" required placeholder="Enter Project Name" >
                </div>
            </div>  
            
             <div class="modal-footer" class="space-y-4">
              <Hds::ButtonSet>
                {{#if this.ProjectIsBeingCreated }}
                <Hds::Button
                        @isIconOnly={{true}}
                        @text="Submit"
                        @icon="loading"
                />
                {{else}}
                <Hds::Button
                        @text="Submit"
                        type="submit"
                />
                {{/if}}
                <Hds::Button
                        @text="Cancel"
                        @color="critical"
                        {{on "click" (fn this.toggleModal4 false)}}
                />
              </Hds::ButtonSet>
            </div>
         
      </form>
      </div>

    {{/modal-dialog}}
  {{/if}}
