{{#if @isModal}}
  {{! TODO: refactor }}
  <form data-test-new-form-for-modal class="create-new-form" ...attributes>
    <div class="grid gap-7">
      {{yield}}
    </div>
  </form>
{{else}}
  <div class="relative mt-2 mb-5 flex justify-center">
    <FlightIcon
      data-test-feature-icon
      @name={{if @taskIsRunning "running" @icon}}
      @size="24"
      class={{unless @taskIsRunning "feature-icon"}}
    />
  </div>

  <h1 data-test-form-headline>
    {{if @taskIsRunning @taskIsRunningHeadline @headline}}
  </h1>

  <AnimatedContainer @motion={{this.motion}}>
    {{#animated-if @taskIsRunning use=this.transition}}
      <div
        data-test-task-is-running-description
        class="mt-2 -mb-3 text-center text-body-300 text-color-foreground-faint"
      >
        {{@taskIsRunningDescription}}
      </div>
    {{else}}
      <form data-test-new-form class="create-new-form" ...attributes>
        <div class="grid gap-7">
          {{yield}}
        </div>
        <Hds::Button
          data-test-submit
          @text={{@buttonText}}
          @isFullWidth={{true}}
          @color={{if @buttonIsActive "primary" "secondary"}}
          type="submit"
          class="mt-8"
        />
      </form>
    {{/animated-if}}
  </AnimatedContainer>
{{/if}}
