<div class="relative mt-2 mb-5 flex justify-center">
  <FlightIcon
    @name={{if @taskIsRunning "running" @icon}}
    @size="24"
    class={{unless @taskIsRunning "feature-icon"}}
  />
</div>

<h1>
  {{if @taskIsRunning @taskIsRunningHeadline @headline}}
</h1>

<AnimatedContainer @motion={{this.motion}}>
  {{#animated-if @taskIsRunning use=this.transition}}
    <div
      class="mt-2 -mb-3 text-center text-body-300 text-color-foreground-faint"
    >
      {{@taskIsRunningDescription}}
    </div>
  {{else}}
    <form data-test-new-form class="create-new-form" ...attributes>
      <div class="mt-7 grid gap-7">
        {{yield}}
      </div>
      <Hds::Button
        data-test-submit
        @text={{@buttonText}}
        @isFullWidth={{true}}
        type="submit"
      />
    </form>
  {{/animated-if}}
</AnimatedContainer>
