<New::Form
  data-test-project-form
  @taskIsRunning={{this.projectIsBeingCreated}}
  @icon="grid"
  @headline="Start a project"
  @taskIsRunningHeadline="Creating project..."
  @taskIsRunningDescription="This shouldn't take long."
  @buttonText="Create project"
  @isModal={{@isModal}}
  @buttonIsActive={{gt this.title.length 0}}
  {{on "submit" this.maybeSubmitForm}}
>
  <Hds::Form::Textarea::Field
    {{on "keydown" this.onKeydown}}
    {{auto-height-textarea}}
    autofocus
    {{autofocus}}
    data-test-title
    @value={{this.title}}
    name="title"
    placeholder="Enter a project title"
    as |F|
  >
    <F.Label @isRequired={{true}}>
      Title
    </F.Label>
    {{#if this.titleErrorIsShown}}
      <F.Error data-test-title-error class="mt-2">
        Title is required.
      </F.Error>
    {{/if}}
  </Hds::Form::Textarea::Field>

  {{#if this.projectIsBeingCreated}}
    <FlightIcon data-test-feature-icon @name="running" @size="24" />
    <div
      data-test-task-is-running-description
      class="mt-2 -mb-3 text-center text-body-300 text-color-foreground-faint"
    >
      Creating project...
    </div>
  {{else}}
    <div class="grid gap-5 px-8 pt-2 pb-8">
      <New::ProjectForm />
      <Hds::Button
        data-test-submit
        @text="Create project"
        @isFullWidth={{true}}
        @color="primary"
        type="submit"
        class="mt-4"
      />
    </div>
  {{/if}}

</New::Form>
