<New::Form
  data-test-project-form
  @taskIsRunning={{this.projectIsBeingCreated}}
  @icon="grid"
  @headline="Start a project"
  @taskIsRunningHeadline="Creating project..."
  @taskIsRunningDescription="This shouldn't take long."
  @buttonText="Create project"
  @isModal={{@isModal}}
  @buttonIsActive={{gt this.title.length 0}}
  {{on "submit" this.maybeSubmitForm}}
>
  {{#if @isModal}}
    <Hds::Modal @onClose={{@onModalClose}} as |M|>
      <M.Header>
        {{#if this.jiraSearchIsShowing}}
          <div class="relative">
            <Action
              class="flex items-center gap-2 text-body-300 font-regular text-color-foreground-faint"
              {{on "click" this.hideJiraSearch}}
            >
              <FlightIcon @name="chevron-left" />
              Cancel
            </Action>
            <span
              class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
            >
              Add Jira issue
            </span>
          </div>
        {{else}}
          Start a project
        {{/if}}
      </M.Header>
      <M.Body>
        <div class="min-h-[330px]">

          {{#if this.projectIsBeingCreated}}
            <FlightIcon data-test-feature-icon @name="running" @size="24" />
            <div
              data-test-task-is-running-description
              class="mt-2 -mb-3 text-center text-body-300 text-color-foreground-faint"
            >
              Creating project...
            </div>
          {{else if this.jiraSearchIsShowing}}
            <X::DropdownList
              @inputIsShown={{false}}
              @items={{this.shownJiraIssues}}
              @disableClose={{true}}
              @onItemClick={{this.addJiraIssue}}
              @placement={{null}}
              @isLoading={{this.loadInitialJiraIssues.isRunning}}
              class="non-floating-list"
            >
              <:anchor as |dd|>
                <div class="relative mb-4" {{did-insert dd.registerAnchor}}>
                  <Hds::Form::TextInput::Base
                    {{!-- this probably needs to be {{autofocus}} --}}
                    {{autofocus}}
                    @type="search"
                    @value={{this.jiraSearchQuery}}
                    {{did-insert (perform this.loadInitialJiraIssues)}}
                    {{on "input" this.updateJiraSearchQuery}}
                    placeholder="Search Jira issues"
                    aria-label="Search Jira issues"
                    aria-haspopup="listbox"
                    aria-controls={{dd.ariaControls}}
                    aria-expanded={{dd.contentIsShown}}
                  />
                  {{#if this.searchJiraIssues.isRunning}}
                    <div
                      class="absolute top-1/2 right-3 flex -translate-y-1/2 bg-white"
                    >
                      <FlightIcon @name="loading" />
                    </div>
                  {{/if}}
                </div>
              </:anchor>
              <:item as |dd|>
                <dd.Action>
                  {{!  }}
                  Actttion
                </dd.Action>
              </:item>
              <:no-matches>
                No matches TODO
                <Action {{on "click" (fn this.addJiraIssue "not null")}}>
                  Fake selecting a Jira issue
                </Action>
              </:no-matches>
              <:loading>
                <div class="h-48">
                  <FlightIcon @name="loading" class="mt-4" />
                </div>
              </:loading>
            </X::DropdownList>
          {{else}}
            <div class="grid gap-5 px-8 pt-2 pb-8">
              <New::ProjectForm::TitleAndDescription
                @title={{this.title}}
                @titleErrorIsShown={{this.titleErrorIsShown}}
                @description={{this.description}}
                @onKeydown={{this.onKeydown}}
              />
              {{#if this.jiraIssue}}
                TODO: attached jira state... ability to remove?
              {{else}}
                <Action
                  {{on "click" this.showJiraSearch}}
                  {{! not implemented yet }}
                  {{! this should transition the modal into the jira form state }}
                  class="text-body-100 text-color-foreground-disabled underline decoration-color-palette-neutral-200 underline-offset-[3px]"
                >
                  + Add Jira issue...
                </Action>
              {{/if}}
              <Hds::Button
                data-test-submit
                @text="Create project"
                @isFullWidth={{true}}
                @color="primary"
                type="submit"
                class="mt-4"
              />
            </div>
          {{/if}}
        </div>

      </M.Body>
    </Hds::Modal>
  {{else}}
    <New::ProjectForm::TitleAndDescription
      @title={{this.title}}
      @titleErrorIsShown={{this.titleErrorIsShown}}
      @description={{this.description}}
      @onKeydown={{this.onKeydown}}
    />
    {{!
      Adding a Jira issue is currently limited to the non-modal form.
      This is to keep the modal lightweight
      Similarly, we don't yet
    }}
    <Action
      {{! not implemented yet }}
      class="text-body-100 text-color-foreground-disabled underline decoration-color-palette-neutral-200 underline-offset-[3px]"
    >
      + Add Jira issue...
    </Action>
  {{/if}}
  {{! this needs some way of attaching a document to a newly created project }}

</New::Form>
