<New::Form
  data-test-project-form
  @taskIsRunning={{this.projectIsBeingCreated}}
  @icon="grid"
  @headline="Start a project"
  @taskIsRunningHeadline="Creating project..."
  @taskIsRunningDescription="This shouldn't take long."
  @buttonText="Create project"
  @buttonIsActive={{gt this.title.length 0}}
  {{on "submit" this.maybeSubmitForm}}
>
  <Hds::Form::Textarea::Field
    {{on "keydown" this.onKeydown}}
    {{auto-height-textarea}}
    {{autofocus}}
    data-test-title
    @value={{this.title}}
    name="title"
    placeholder="Enter a project title"
    as |F|
  >
    <F.Label @isRequired={{true}}>
      Title
    </F.Label>
    {{#if this.titleErrorIsShown}}
      <F.Error data-test-title-error>
        Title is required.
      </F.Error>
    {{/if}}
  </Hds::Form::Textarea::Field>

  <Hds::Form::Textarea::Field
    data-test-description
    {{on "keydown" this.onKeydown}}
    @value={{this.description}}
    rows="2"
    placeholder="A short summary of your project"
    name="description"
    as |F|
  >
    <F.Label>Description</F.Label>
  </Hds::Form::Textarea::Field>

  {{#if this.jiraIssue}}
    jirra issue attashed
  {{else}}
    <X::DropdownList
      @inputIsShown={{false}}
      @onItemClick={{this.setJiraIssue}}
      @items={{this.jiraIssues}}
      class="w-[320px]"
    >
      <:anchor as |dd|>
        <dd.ToggleAction>
          + Add Jira issue
        </dd.ToggleAction>
      </:anchor>
      <:header>
        <div class="p-1">

          <Hds::Form::TextInput::Base
            {{on "input" this.onJiraInput}}
            {{did-insert (perform this.searchJiraIssues)}}
            @value={{this.jiraQuery}}
          />
        </div>
      </:header>
      <:item as |dd|>
        <dd.Action class="block py-1">
          <div class="flex items-center gap-1.5">
            {{! TODO: replace hard-coded url with config variable }}
            <img
              width="16"
              height="16"
              src="https://hashicorp.atlassian.net/{{dd.attrs.issueTypeImage}}"
            />
            <div class="truncate">
              {{dd.attrs.key}}
              {{dd.attrs.summary}}
            </div>
          </div>
        </dd.Action>
      </:item>
    </X::DropdownList>
  {{/if}}

</New::Form>
