<New::Form
  data-test-project-form
  @taskIsRunning={{this.projectIsBeingCreated}}
  @icon="grid"
  @headline="Start a project"
  @taskIsRunningHeadline="Creating project..."
  @taskIsRunningDescription="This shouldn't take long."
  @buttonText="Create project"
  @buttonIsActive={{gt this.title.length 0}}
  {{on "submit" this.maybeSubmitForm}}
>
  <Hds::Form::Textarea::Field
    {{on "keydown" this.onKeydown}}
    {{auto-height-textarea}}
    {{autofocus}}
    data-test-title
    @value={{this.title}}
    name="title"
    placeholder="Enter a project title"
    as |F|
  >
    <F.Label @isRequired={{true}}>
      Title
    </F.Label>
    {{#if this.titleErrorIsShown}}
      <F.Error data-test-title-error>
        Title is required.
      </F.Error>
    {{/if}}
  </Hds::Form::Textarea::Field>

  <Hds::Form::Textarea::Field
    data-test-description
    {{on "keydown" this.onKeydown}}
    @value={{this.description}}
    rows="2"
    placeholder="A short summary of your project"
    name="description"
    as |F|
  >
    <F.Label>Description</F.Label>
  </Hds::Form::Textarea::Field>

  {{! make sure this  }}

  {{#if this.jiraIssue}}
    {{! TODO: ability to remove }}
    {{! TODO: Component-ize }}
    <div class="flex">
      <div class="flex items-center gap-3.5">
        <FlightIcon @name="jira" class="" />
        <div class="h-4 w-px bg-color-border-strong"></div>
      </div>

      <div class="flex items-center gap-1.5">
        {{! TODO: replace hard-coded url with config variable }}
        <img
          width="16"
          height="16"
          src="https://hashicorp.atlassian.net/{{this.jiraIssue.issueTypeImage}}"
        />
        <div class="truncate">
          {{this.jiraIssue.key}}
          {{this.jiraIssue.summary}}
        </div>
      </div>
    </div>
  {{else}}
    <X::DropdownList
      @inputIsShown={{false}}
      @onItemClick={{this.setJiraIssue}}
      @items={{this.jiraIssues}}
      class="w-[450px]"
      {{will-destroy this.onJiraDropdownClose}}
    >
      <:anchor as |dd|>
        <dd.ToggleAction {{did-insert (fn this.registerDD dd)}}>
          + Add Jira issue
        </dd.ToggleAction>
      </:anchor>
      <:header>
        <div class="p-1">
          <div class="relative">
            <Hds::Form::TextInput::Base
              {{on "input" this.onJiraInput}}
              {{did-insert (perform this.searchJiraIssues)}}
              {{autofocus waitUntilNextRunloop=true}}
              @value={{this.jiraQuery}}
            />
            {{#if this.searchJiraIssues.isRunning}}
              <div
                data-test-related-resources-search-loading-icon
                class="absolute top-1/2 right-3 flex -translate-y-1/2 bg-white"
              >
                <FlightIcon @name="loading" />
              </div>
            {{/if}}
          </div>
        </div>
      </:header>
      <:item as |dd|>
        <dd.Action class="block py-1">
          {{! TODO: Component-ize }}
          <div class="flex items-center gap-1.5">
            {{! TODO: replace hard-coded url with config variable }}
            <img
              width="16"
              height="16"
              src="https://hashicorp.atlassian.net/{{dd.attrs.issueTypeImage}}"
            />
            <div class="truncate">
              {{dd.attrs.key}}
              {{dd.attrs.summary}}
            </div>
          </div>
        </dd.Action>
      </:item>
    </X::DropdownList>
  {{/if}}

</New::Form>
