<New::Form
  data-test-project-form
  @taskIsRunning={{this.projectIsBeingCreated}}
  @icon="grid"
  @headline="Start a project"
  @taskIsRunningHeadline="Creating project..."
  @taskIsRunningDescription="This shouldn't take long."
  @buttonText="Create project"
  @buttonIsActive={{gt this.title.length 0}}
  {{on "submit" this.maybeSubmitForm}}
>
  <Hds::Form::Textarea::Field
    {{on "keydown" this.onKeydown}}
    {{auto-height-textarea}}
    {{autofocus}}
    data-test-title
    @value={{this.title}}
    name="title"
    placeholder="Enter a project title"
    as |F|
  >
    <F.Label @isRequired={{true}}>
      Title
    </F.Label>
    {{#if this.titleErrorIsShown}}
      <F.Error data-test-title-error>
        Title is required.
      </F.Error>
    {{/if}}
  </Hds::Form::Textarea::Field>

  <Hds::Form::Textarea::Field
    data-test-description
    {{on "keydown" this.onKeydown}}
    @value={{this.description}}
    rows="2"
    placeholder="A short summary of your project"
    name="description"
    as |F|
  >
    <F.Label>Description</F.Label>
  </Hds::Form::Textarea::Field>

  {{! Currently the Jira component will live in   }}
  {{!  }}

  {{! TODO: Add Jira integration }}

  <Hds::Form::TextInput::Base
    {{on "input" this.onJiraInput}}
    {{did-insert (perform this.searchJiraIssues)}}
    @value={{this.jiraQuery}}
  />

  {{#if this.searchJiraIssues.isRunning}}
    <FlightIcon @name="loading" />
  {{/if}}

  {{#if this.jiraIssues}}
    <ol class="divided-list">
      {{#each this.jiraIssues as |issue|}}
        <li>
          <ExternalLink href={{issue.url}}>

            <img
              src="https://hashicorp.atlassian.net/{{issue.issueTypeImage}}"
            />

            {{issue.key}}
            -
            {{issue.summary}}
          </ExternalLink>
        </li>
      {{/each}}

    </ol>
  {{/if}}

</New::Form>
