{{! @glint-nocheck: not typesafe yet }}
{{!-- custom-template-add --}}
{{#if this.docIsBeingCreated}}
  <div class="text-center hds-typography-display-400 mt-3">
    <FlightIcon @name="loading" @size="24" />
    <div class="mt-8 text-display-200 font-semibold">
      Creating New Template
    </div>
    <div class="text-body-200 text-color-foreground-faint">This usually takes
      10-20 seconds.</div>
  </div>
{{else}}
  <form
    class="grid gap-10 grid-cols-[1fr_350px] grid-rows-1"
    {{on "submit" this.submit}}
    {{did-insert this.registerForm}}
  >
    <div>
      <div class="space-y-4">
        <h1
          class="hds-typography-display-500 hds-font-weight-bold hds-foreground-strong"
        >Create New Template</h1>
      </div>
      {{!-- template name  --}}
      <div class="pt-10 space-y-7">
        <Hds::Form::TextInput::Field
          @type="text"
          @isRequired={{true}}
          @value={{this.templateName}}
          name="templateName"
          placeholder="Enter new Template Name"
          {{on "input" this.updateForm}}
          as |F|
        >
          <F.Label>Template Name</F.Label>
        </Hds::Form::TextInput::Field>
      </div>

      {{!-- template longName --}}
      <div class="pt-10 space-y-7">
        <Hds::Form::TextInput::Field
          @type="text"
          @isRequired={{true}}
          @value={{this.longName}}
          name="longName"
          placeholder="Enter Template long name"
          {{on "input" this.updateForm}}
          as |F|
        >
          <F.Label>Template long name</F.Label>
        </Hds::Form::TextInput::Field>
      </div>
        <div class="h-12"></div>
      {{!-- description --}}
      <div class="relative">
          <Hds::Form::Textarea::Field
            @value={{this.description}}
            rows="3"
            name="description"
            {{on "input" this.updateForm}}
            as |F|
          >
            <F.Label>Description</F.Label>
            <F.HelperText>
              <span
                class={{if
                  this.descriptionIsLong
                  "transition-colors bg-color-surface-warning text-color-foreground-warning-on-surface"
                }}
              >One or two sentences</span> outlining your Template.
              {{if this.descriptionIsLong "(Just a recommendation)"}}
            </F.HelperText>
          </Hds::Form::Textarea::Field>
      </div>

      {{!-- doc id  --}}
      <div class="pt-10 space-y-7">
        <Hds::Form::TextInput::Field
          @type="text"
          @isRequired={{true}}
          @value={{this.docId}}
          name="docId"
          placeholder="Enter existing google doc template link"
          {{on "input" this.updateForm}}
          as |F|
        >
          <F.Label>Document link</F.Label>
        </Hds::Form::TextInput::Field>
      </div>

      <div class="h-24"></div>
    </div>
    <div>
      <div class="preview-card">
        <div class="flex w-full">
          <h3>
            <FlightIcon @name="eye" />
            Preview Template
          </h3>
        </div>
        <div class="div-template">
          <img 
            src="https://lh3.google.com/u/0/d/{{this.docId}}=w416-iv1" 
            alt="Enter Correct Doc Id"
            onerror="this.src='https://lh3.google.com/u/0/d/1I79UV01KW2nbtl2e7Qh3Q2NscvLxI0E_6Q3AzETi44A=w416-iv1'"
            class="w-full"
          >
        </div>
        <div class="flex items-start px-3 gap-2 w-full">
          <Hds::Button
            @text="Create"
            type="submit"
            disabled={{not this.formRequirementsMet}}
            class="right-align"
          />
          <a href="/new">
            <Hds::Button
              @text="Cancel"
              @size="medium"
              @color="critical"
              @icon="x-circle"
              @isIconOnly={{false}}
            />
          </a>
          
        </div>
      </div>
    </div>
  </form>
{{/if}}
