{{on-document "keydown" this.onDocumentKeydown}}

{{#in-element (html-element ".ember-application") insertBefore=null}}
  <Hds::Modal @onClose={{@onClose}} class="h-[475px]" as |M|>
    <M.Header>
      Add resource
    </M.Header>
    <M.Body>
      <X::DropdownList
        @items={{@shownDocuments}}
        @onItemClick={{@addRelatedDocument}}
        @offset={{hash mainAxis=1 crossAxis=0}}
        @isLoading={{this.loadInitialData.isRunning}}
        @listIsHidden={{this.queryIsThirdPartyURL}}
        @inputIsHidden={{true}}
        @disableClose={{true}}
        @placement="none"
        class="non-floating-list"
      >
        <:anchor as |dd|>
          <Hds::Form::TextInput::Base
            data-test-global-search-input
            {{did-insert dd.registerAnchor}}
            {{did-insert (fn this.didInsertInput dd)}}
            {{on "input" (fn this.onInput dd)}}
            {{on "keydown" (fn this.onInputKeydown dd)}}
            {{on "focusin" (fn this.maybeOpenDropdown dd)}}
            @type="search"
            @value={{this.query}}
            size="25"
            placeholder="Paste a URL or search documents..."
            aria-label="Paste a URL or search documents..."
            aria-controls={{dd.ariaControls}}
            aria-expanded={{dd.contentIsShown}}
            aria-haspopup="listbox"
          />
        </:anchor>
        <:header>
          {{! TODO: clean up these conditions }}
          {{! TODO: make sure fetchURLInfo is cancelled on queryClear }}
          {{#unless this.queryIsThirdPartyURL}}
            {{#unless this.fetchURLInfo.isRunning}}
              {{#unless this.noMatchesFound}}
                <div class="related-resources-modal-container mt-3.5">
                  <h4 class="hermes-h4">
                    {{#if this.query.length}}
                      Results
                    {{else}}
                      Suggestions
                    {{/if}}
                  </h4>
                </div>
              {{/unless}}
            {{/unless}}
          {{/unless}}

          {{#if this.queryIsThirdPartyURL}}
            <Document::RelatedResources::Add::ExternalResource
              @editModeIsEnabled={{this.editModeIsEnabled}}
              @defaultFaviconIsShown={{this.defaultFaviconIsShown}}
              @faviconURL={{this.faviconURL}}
              @onInput={{this.onExternalLinkTitleInput}}
              @onSubmit={{this.addRelatedExternalLink}}
              @title={{this.externalLinkTitle}}
              @url={{this.query}}
            />
          {{/if}}
        </:header>
        <:loading>
          <FlightIcon @name="loading" class="ml-2 mt-4" />
        </:loading>
        <:no-matches as |n|>
          {{#if n.isShown}}
            <div
              class="related-resources-modal-container mt-36
                {{if
                  (or this.queryIsThirdPartyURL this.queryIsEmpty)
                  'hidden'
                }}"
            >
              <h3 class="related-resources-modal-loading-text">
                No results found
              </h3>
            </div>
          {{/if}}
        </:no-matches>
        <:item as |dd|>
          <dd.Action class="related-document-option">
            <Document::RelatedResources::Add::Document @document={{dd.attrs}} />
          </dd.Action>
        </:item>
      </X::DropdownList>
    </M.Body>
  </Hds::Modal>
{{/in-element}}
