<form class="mt-5" {{on "submit" this.submit}}>
  <div class="mb-5 grid gap-5">

    <Hds::Form::TextInput::Field
      {{on "input" this.setName}}
      @value={{this.name}}
      placeholder="E.g., RFC, PRFAQ"
      as |F|
    >
      <F.Label>Short name</F.Label>
      {{#if this.nameErrorIsShown}}
        <F.Error>Whoop</F.Error>
      {{/if}}
    </Hds::Form::TextInput::Field>
    <Hds::Form::TextInput::Field
      {{on "input" this.setLongName}}
      @value={{this.longName}}
      @isOptional={{true}}
      placeholder="E.g., Request for Comments"
      as |F|
    >
      <F.Label>Long name</F.Label>
      {{#if this.longNameErrorIsShown}}
        <F.Error>Whoop</F.Error>
      {{/if}}
    </Hds::Form::TextInput::Field>

    <Hds::Form::Textarea::Field
      {{on "input" this.setDescription}}
      @value={{this.description}}
      rows="2"
      as |F|
    >
      <F.Label>Description</F.Label>
    </Hds::Form::Textarea::Field>

    <Hds::Form::TextInput::Field
      {{on "input" this.setTemplateID}}
      @value={{this.templateID}}
      as |F|
    >
      <F.Label>Template ID</F.Label>
    </Hds::Form::TextInput::Field>

    <Hds::Form::TextInput::Field
      {{on "input" this.setTemplateID}}
      @value={{this.templateID}}
      @isOptional={{true}}
      as |F|
    >
      <F.Label>Flight icon</F.Label>
    </Hds::Form::TextInput::Field>

  </div>
  <div class="mb-5">
    <h5 class="hermes-form-label mb-2">Fields</h5>
    <ul class="mb-3">
      {{#each this.suggestedFields as |field|}}
        <li class="py-1">
          <Hds::Form::Checkbox::Field
            disabled={{field.isRequired}}
            checked={{field.isRequired}}
            as |F|
          >
            <F.Label class="flex items-center font-regular">
              <FlightIcon
                @name={{field.icon}}
                class="mr-1.5 text-color-foreground-primary"
              />
              {{field.name}}
            </F.Label>
          </Hds::Form::Checkbox::Field>
        </li>
      {{/each}}
    </ul>
    <div>
      <Action
        {{on "click" this.showCustomFieldModal}}
        class="mb-2 text-color-foreground-faint hover:text-color-foreground-primary"
      >
        + Add custom field...
      </Action>
    </div>

  </div>

  <div class="mb-5">
    <h5 class="hermes-form-label mb-2">
      Required checks
      {{! TODO: tooltip }}
    </h5>
    <Action
      {{! TODO }}
      {{on "click" this.showCheckModal}}
      class="text-color-foreground-faint hover:text-color-foreground-primary"
    >
      + Add...
    </Action>
  </div>
  <div>
    <h5 class="hermes-form-label mb-2">
      Related links
    </h5>
    <Action
      {{on "click" this.showMoreInfoLinkModal}}
      class="text-color-foreground-faint hover:text-color-foreground-primary"
    >
      + Add...
    </Action>
  </div>

  <Hds::Button
    type="submit"
    @text={{if @doctype "Save changes" "Create doctype"}}
    class="my-8"
  />
</form>

{{#if this.customFieldModalIsShown}}
  <Admin::Doctypes::Modal::CustomField
    {{! TODO: @onCommit }}
    @onClose={{this.hideCustomFieldModal}}
  />
{{/if}}

{{#if this.checkModalIsShown}}
  <Admin::Doctypes::Modal::Check
    {{! TODO: @onCommit }}
    @onClose={{this.hideCheckModal}}
  />
{{/if}}

{{#if this.moreInfoLinkModalIsShown}}
  <Admin::Doctypes::Modal::MoreInfoLink
    {{! TODO: @onCommit }}
    @onClose={{this.hideMoreInfoLinkModal}}
  />
{{/if}}
