<form class="mt-5" {{on "submit" this.submit}}>
  <div class="mb-5 grid gap-5">

    <Hds::Form::TextInput::Field
      {{on "input" this.setName}}
      @value={{this.name}}
      {{!-- @isRequired={{true}} --}}
      placeholder="E.g., RFC, PRFAQ"
      as |F|
    >
      <F.Label>Short name</F.Label>
      {{#if this.nameErrorIsShown}}
        <F.Error>Whoop</F.Error>
      {{/if}}
    </Hds::Form::TextInput::Field>
    <Hds::Form::TextInput::Field
      {{on "input" this.setLongName}}
      @value={{this.longName}}
      @isOptional={{true}}
      placeholder="E.g., Request for Comments"
      as |F|
    >
      <F.Label>Long name</F.Label>
      {{#if this.longNameErrorIsShown}}
        <F.Error>Whoop</F.Error>
      {{/if}}
    </Hds::Form::TextInput::Field>

    <Hds::Form::Textarea::Field
      {{on "input" this.setDescription}}
      @value={{this.description}}
      {{!-- @isRequired={{true}} --}}
      rows="2"
      as |F|
    >
      <F.Label>Description</F.Label>
    </Hds::Form::Textarea::Field>

    <Hds::Form::TextInput::Field
      {{on "input" this.setTemplateID}}
      @value={{this.templateID}}
      {{!-- @isRequired={{true}} --}}
      as |F|
    >
      <F.Label>Template ID</F.Label>
    </Hds::Form::TextInput::Field>

    <Hds::Form::TextInput::Field
      {{on "input" this.setTemplateID}}
      @value={{this.templateID}}
      @isOptional={{true}}
      as |F|
    >
      <F.Label>Flight icon</F.Label>
    </Hds::Form::TextInput::Field>

  </div>
  <div class="mb-5">
    <h5 class="hermes-form-label mb-2">Fields</h5>
    <ul class="mb-3">
      {{#each this.suggestedFields as |field|}}
        <li class="py-1">
          <Hds::Form::Checkbox::Field
            disabled={{field.isRequired}}
            checked={{field.isRequired}}
            as |F|
          >
            <F.Label class="flex items-center font-regular">
              <FlightIcon
                @name={{field.icon}}
                class="mr-1.5 text-color-foreground-primary"
              />
              {{field.name}}
            </F.Label>

          </Hds::Form::Checkbox::Field>
          {{!-- {{#unless field.isRequired}}
            <Action class="cursor-move">
              <FlightIcon
                @name="menu"
                class="text-color-foreground-faint opacity-75"
              />
            </Action>
          {{/unless}} --}}
        </li>
      {{/each}}
    </ul>
    <div>
      <Action
        {{on "click" this.showModal}}
        class="mb-2 text-color-foreground-faint hover:text-color-foreground-primary"
      >
        + Add custom field...
      </Action>
    </div>

  </div>

  <div class="mb-5">
    <h5 class="hermes-form-label mb-2">
      Required checks
    </h5>
    <Action
      {{! TODO }}
      {{on "click" this.showModal}}
      class="text-color-foreground-faint hover:text-color-foreground-primary"
    >
      + Add...
    </Action>
  </div>
  <div>
    <h5 class="hermes-form-label mb-2">
      More info link
    </h5>
    <Action
      {{! TODO }}
      {{on "click" this.showModal}}
      class="text-color-foreground-faint hover:text-color-foreground-primary"
    >
      + Add...
    </Action>
  </div>

  <Hds::Button
    @text={{if @doctype "Save changes" "Create doctype"}}
    class="my-8"
  />
</form>

{{#if this.modalIsShown}}
  <Hds::Modal @onClose={{this.hideModal}} as |M|>
    <M.Header>Add custom field</M.Header>
    <M.Body>
      {{! TODO: wrap in a form }}
      <div class="mb-3 grid gap-4">
        <div>
          <X::DropdownList
            @items={{this.customFieldTypes}}
            @selected={{this.selectedCustomFieldType}}
            class="w-56"
          >
            <:anchor as |dd|>
              <div class="hermes-form-label mb-1.5">
                Field type
              </div>
              <dd.ToggleAction
                class="x-dropdown-list-toggle-select hds-button hds-button--color-secondary hds-button--size-medium w-[200px]"
              >
                <FlightIcon
                  @name={{this.selectedCustomFieldIcon}}
                  class="mr-2"
                />
                {{this.selectedCustomFieldLabel}}
                <FlightIcon @name="caret" class="product-select-toggle-caret" />

              </dd.ToggleAction>
            </:anchor>
            <:item as |dd|>
              <dd.Action
                class="relative flex items-center justify-between"
                {{on "click" (fn this.setCustomFieldType dd.value)}}
              >
                <div class="flex items-center">
                  <FlightIcon @name={{dd.attrs.icon}} class="mr-2" />
                  {{dd.attrs.name}}
                </div>

                <FlightIcon
                  @name="check"
                  class="check absolute right-4 top-1/2 -translate-y-1/2
                    {{if dd.isSelected 'visible' 'invisible'}}"
                />
              </dd.Action>
            </:item>
          </X::DropdownList>
        </div>
        <div>
          <div class="hermes-form-label mb-1.5">
            Name
          </div>
          <Hds::Form::TextInput::Base @value="" />
        </div>
        {{#if this.customFieldHasTooltip}}
          <div>
            <div class="hermes-form-label mb-1.5">
              Tooltip text
              <div
                class="ml-1.5 font-regular text-color-foreground-faint"
              >(Optional)</div>
            </div>
            <Hds::Form::TextInput::Base @value="" />
          </div>
        {{/if}}
        {{#if (eq this.selectedCustomFieldType "document")}}
          <div>
            <div class="hermes-form-label mb-1.5">
              Search filters
            </div>
            <Hds::Form::TextInput::Base
              @value=""
              placeholder="E.g., doctype:RFC AND NOT status:obsolete"
            />
          </div>
          <div>

            <div class="hermes-form-label mb-1.5">
              Optional search filters
            </div>
            <Hds::Form::TextInput::Base
              @value=""
              placeholder={{concat "E.g., product:{" "{product}}"}}
            />
          </div>

        {{/if}}
        {{#if (eq this.selectedCustomFieldType "people")}}
          <div>
            <div class="hermes-form-label mb-1.5">
              People in this list...
            </div>
            <div class="grid gap-1">

              <Hds::Form::Checkbox::Field as |F|>
                <F.Label class="font-regular">
                  Get notified when added
                </F.Label>
              </Hds::Form::Checkbox::Field>
              <Hds::Form::Checkbox::Field as |F|>
                <F.Label class="font-regular">
                  Get edit access on Google
                </F.Label>
              </Hds::Form::Checkbox::Field>
              <Hds::Form::Checkbox::Field as |F|>
                <F.Label class="font-regular">
                  Get edit access on Hermes
                </F.Label>
              </Hds::Form::Checkbox::Field>
            </div>
          </div>
        {{/if}}
      </div>
    </M.Body>
    <M.Footer>
      <div class="flex w-full justify-between">
        <Hds::Button @text="Add field" {{on "click" this.addField}} />
        <div class="flex items-center gap-5 pr-1.5">
          <div>
            <Hds::Form::Checkbox::Field as |F|>
              <F.Label class="font-regular text-color-foreground-primary">
                Required field
              </F.Label>
            </Hds::Form::Checkbox::Field>
          </div>
          <div>
            <Hds::Form::Checkbox::Field
              {{on "click" this.toggleHasTooltip}}
              as |F|
            >
              <F.Label
                @value={{this.customFieldHasTooltip}}
                class="font-regular text-color-foreground-primary"
              >
                Has tooltip
              </F.Label>
            </Hds::Form::Checkbox::Field>
          </div>
          <div>
            <Hds::Form::Checkbox::Field as |F|>
              <F.Label class="font-regular">
                <Hds::Badge
                  @size="small"
                  @text="New"
                  @color="highlight"
                  @type="inverted"
                />
              </F.Label>
            </Hds::Form::Checkbox::Field>
          </div>
        </div>
      </div>
    </M.Footer>
  </Hds::Modal>
{{/if}}
