<div class="mb-5 flex w-full items-center justify-between">
  <h1>Doctypes</h1>
  <Hds::Button
    @route="authenticated.admin.doctypes.new"
    @text="+ New doctype"
  />
</div>
<table class="hds-table w-full">
  <thead>
    <tr>
      <th class="w-3/12">Name</th>
      <th class="w-2/12">Shorthand</th>
      <th class="w-5/12">Description</th>
      <th class="w-2/12">Flight Icon</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.documentTypes.index as |doctype|}}
      <tr class="">
        <td class="w-3/12">
          <LinkTo
            @route="authenticated.admin.doctypes.doctype"
            @model={{doctype.name}}
            class="inner flex items-start gap-2.5"
          >
            <FlightIcon
              @name={{or doctype.flightIcon "file-text"}}
              class="mt-0.5 shrink-0"
            />
            {{doctype.longName}}
          </LinkTo>
        </td>
        <td class="w-2/12">
          <div class="inner">
            {{doctype.name}}
          </div>
        </td>
        <td class="w-5/12">
          <div class="inner truncate">
            {{doctype.description}}
          </div>
        </td>
        <td class="w-2/12">
          <div class="inner">
            {{doctype.flightIcon}}
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
