{{#in-element (html-element ".ember-application") insertBefore=null}}
  <Hds::Modal
    data-test-edit-related-resource-modal
    @onClose={{@hideModal}}
    as |M|
  >
    <M.Header>Edit resource</M.Header>
    <M.Body>
      <form {{did-insert this.registerForm}} class="px-6 pb-6" {{on "submit" this.onSave}}>
        <Hds::Form::TextInput::Field
          {{on "input" this.updateFormValues}}
          @value={{this.title}}
          required={{true}}
          name="title"
          class="external-resource-title-input mb-4"
          as |F|
        >
          <F.Label>Title</F.Label>
        </Hds::Form::TextInput::Field>
        <Hds::Form::TextInput::Field
          {{on "input" this.updateFormValues}}
          @value={{this.url}}
          required={{true}}
          name="url"
          as |F|
        >
          <F.Label>URL</F.Label>
        </Hds::Form::TextInput::Field>
        {{! This adds enter-to-submit functionality }}
        <input type="submit" class="hidden" />
      </form>
    </M.Body>
    <M.Footer>
      <Hds::ButtonSet>
        <Hds::Button
          data-test-edit-related-resource-modal-save-button
          @text="Save changes"
          @color="primary"
          {{! Should it show a flashMessage? }}
          {{on "click" this.onSave}}
        />
        <Hds::Button
          @text="Cancel"
          @color="secondary"
          {{on "click" @hideModal}}
        />
      </Hds::ButtonSet>
    </M.Footer>
  </Hds::Modal>
{{/in-element}}
