{{#in-element (html-element ".ember-application") insertBefore=null}}
  <Hds::Modal
    data-test-edit-related-resource-modal
    @onClose={{@hideModal}}
    as |M|
  >
    <M.Header data-test-edit-related-resource-modal-header>
      Edit resource
    </M.Header>
    <M.Body>
      <form
        {{did-insert this.registerForm}}
        class="px-6 pb-6"
        {{on "submit" this.maybeSaveResource}}
      >
        <Hds::Form::TextInput::Field
          {{on "input" this.updateFormValues}}
          @value={{this.title}}
          placeholder="Optional"
          required={{true}}
          name="title"
          class="external-resource-title-input mb-4"
          as |F|
        >
          <F.Label>Title</F.Label>
        </Hds::Form::TextInput::Field>
        <Hds::Form::TextInput::Field
          data-test-external-resource-url-input
          {{on "input" this.updateFormValues}}
          @value={{this.url}}
          required={{true}}
          name="url"
          as |F|
        >
          <F.Label>URL</F.Label>
          {{#unless this.urlIsValid}}
            <F.Error class="mt-3">
              A valid URL is required.
            </F.Error>
          {{/unless}}
        </Hds::Form::TextInput::Field>
        {{! This adds enter-to-submit functionality }}
        <input type="submit" class="hidden" />
      </form>
    </M.Body>
    <M.Footer>
      <Hds::ButtonSet>
        <Hds::Button
          data-test-edit-related-resource-modal-save-button
          @text="Save changes"
          @color="primary"
          {{on "click" this.maybeSaveResource}}
        />
        <Hds::Button
          @text="Cancel"
          @color="secondary"
          {{on "click" @hideModal}}
        />
        <Hds::Button
          data-test-edit-related-resource-modal-delete-button
          @text="Delete"
          @color="tertiary"
          @icon="trash"
          class="text-color-foreground-critical hover:text-color-foreground-critical-on-surface"
          {{on "click" (fn @removeResource @resource)}}
        />
      </Hds::ButtonSet>
    </M.Footer>
  </Hds::Modal>
{{/in-element}}
