<X::DropdownList
  @items={{this.items}}
  @renderOut={{true}}
  @placement="bottom-end"
  @offset={{hash mainAxis=-3 crossAxis=-3}}
  data-test-related-resources-list-item-overflow-menu
>
  <:anchor as |dd|>
    <div
      class="related-resources-overflow-button-container
        {{if dd.contentIsShown 'visible' 'invisible'}}
        "
    >
      <dd.ToggleAction
        class="related-resource-overflow-button {{if dd.contentIsShown 'open'}}"
      >
        <div class="button-affordance">
          <FlightIcon @name="more-vertical" />
        </div>
      </dd.ToggleAction>
    </div>
  </:anchor>
  <:item as |dd|>
    <dd.Action
      {{on "click" dd.attrs.action}}
      class="related-resources-overflow-menu-item-button"
    >
      <FlightIcon @name={{dd.attrs.icon}} />
      <span>{{dd.attrs.label}}</span>
    </dd.Action>
  </:item>
</X::DropdownList>
