<div class="flex shrink-0 w-[22px]">
  {{#if this.resourceIsDocument}}
    <div class="flex mt-[3px] p-px hds-surface-mid rounded-sm overflow-hidden bg-white">
      <img src="/images/document.png" class="w-[18px] h-auto" />
    </div>
  {{else}}
    <FlightIcon
      @name={{this.iconName}}
      class={{if
        (eq this.iconName "external-link")
        "opacity-50"
      }}
    />
  {{/if}}
</div>

<div class="w-full overflow-hidden">
  <TruncatedText
    @tagName="h4"
    class="text-body-200 text-color-foreground-strong font-medium"
  >
    {{@resource.title}}
  </TruncatedText>
  {{#if this.resourceIsDocument}}
    <div class="text-color-foreground-faint text-body-100 mt-px">
      {{this.docType}}
      ·
      {{this.docNumber}}
    </div>
  {{/if}}
</div>
