<div class="flex w-[22px] shrink-0">
  {{#if this.resourceIsDocument}}
    <div
      class="hds-surface-mid mt-[3px] flex overflow-hidden rounded-sm bg-white p-px"
    >
      <img src="/images/document.png" class="h-auto w-[18px]" />
    </div>
  {{else}}
    <FlightIcon
      @name={{get-link-icon this.url}}
      class={{if (eq (get-link-icon this.url) "file") "opacity-40"}}
    />
  {{/if}}
</div>

<div class="w-full overflow-hidden">
  <TruncatedText
    @tagName="h4"
    class="text-body-200 font-medium text-color-foreground-strong"
    title={{this.title}}
  >
    {{this.title}}
  </TruncatedText>
  {{#if this.resourceIsDocument}}
    <div class="mt-px text-body-100 text-color-foreground-faint">
      {{this.docType}}
      ·
      {{this.docNumber}}
    </div>
  {{/if}}
</div>
