<Hds::Modal @onClose={{@onClose}} as |M|>
  <M.Header>
    Add required check
  </M.Header>
  <M.Body>
    <form {{on "submit" this.submit}}>
      <Hds::Form::TextInput::Field
        {{autofocus}}
        @value=""
        placeholder="E.g., I agree to the terms and conditions"
        class="mb-5"
        as |F|
      >
        <F.Label>Label</F.Label>
      </Hds::Form::TextInput::Field>

      <Hds::Form::Textarea::Field
        @value=""
        @isOptional={{true}}
        class="mb-5"
        rows="2"
        as |F|
      >
        <F.Label>Description</F.Label>
      </Hds::Form::Textarea::Field>
      {{! TODO: this needs to be its own component }}
      {{! TODO: semantics }}
      {{! fieldset legend? }}
      <fieldset>
        <legend class="hermes-form-label mb-2">Links
          <span
            class="ml-1 text-body-100 font-regular text-color-foreground-faint"
          >(Optional)</span>
        </legend>
      </fieldset>

      <div
        class="grid items-start gap-4 rounded border border-color-border-primary bg-color-page-faint"
      >
        {{#if this.addLinkFormIsShown}}
          <div class="p-3">

            <div class="grid w-full rounded border border-color-border-strong">

              {{! TODO: semantics }}
              <input
                type="text"
                placeholder="Label"
                class="h-8 w-full rounded-tl rounded-tr px-3"
              />
              {{! separator }}
              <div class="h-px w-full bg-color-border-strong" />

              <input
                type="text"
                placeholder="URL"
                class="h-8 w-full rounded-bl rounded-br px-3"
              />
            </div>

            <div class="flex shrink-0">
              <Hds::Button
                @color="primary"
                @icon=""
                @isIconOnly={{false}}
                @size="small"
                @text="Add"
              />
              <Hds::Button
                {{on "click" this.hideAndResetAddLinkForm}}
                @color="secondary"
                @icon=""
                @isIconOnly={{false}}
                @size="small"
                @text="Cancel"
              />
            </div>
          </div>
        {{else}}

          <Action class="px-3 py-2" {{on "click" this.showAddLinkForm}}>+ Add
            link</Action>
        {{/if}}
      </div>

    </form>
  </M.Body>
  <M.Footer>
    <Hds::ButtonSet>
      <Hds::Button {{on "click" this.submit}} @text="Save" />
      <Hds::Button {{on "click" @onClose}} @color="secondary" @text="Cancel" />
    </Hds::ButtonSet>
  </M.Footer>
</Hds::Modal>
