<Hds::Modal @onClose={{@onClose}} as |M|>
  <M.Header>
    Add required check
  </M.Header>
  <M.Body>
    <form {{on "submit" this.submit}}>
      <Hds::Form::TextInput::Field
        {{autofocus waitUntilNextRunloop=true}}
        @value=""
        placeholder="E.g., I agree to the terms and conditions"
        class="mb-5"
        as |F|
      >
        <F.Label>Label</F.Label>
      </Hds::Form::TextInput::Field>

      <Hds::Form::Textarea::Field
        @value=""
        @isOptional={{true}}
        class="mb-5"
        rows="2"
        as |F|
      >
        <F.Label>Description</F.Label>
      </Hds::Form::Textarea::Field>
      {{! TODO: this needs to be its own component }}
      {{! TODO: semantics }}
      <fieldset class="mb-2 items-center">
        <legend class="hermes-form-label flex items-center gap-1">Links
          <span class="text-body-100 font-regular text-color-foreground-faint">
            (Optional)
          </span>
        </legend>
      </fieldset>

      <div class="mb-2.5 grid gap-4">

        {{#each this.links}}
          {{! TODO: Componentize }}
          <div class="grid w-full">

            {{! TODO: semantics }}
            <input
              {{!
               This `autofocus` call is initially overruled by the modal's
               focus-trapping logic, but fires when "Add another" is clicked
               }}
              {{autofocus}}
              type="text"
              placeholder="URL"
              class="hds-form-text-input h-8 w-full rounded-b-none border-b-0 px-3 focus:z-10 focus:rounded-b-button-md"
            />
            {{! separator }}
            <div class="h-px w-full bg-color-border-input" />

            <input
              type="text"
              placeholder="Title"
              class="hds-form-text-input h-8 w-full rounded-t-none border-t-0 px-3 focus:z-10"
            />
          </div>
        {{/each}}
      </div>

      <Action
        class="flex items-center gap-1.5 text-body-100 text-color-foreground-faint"
        {{on "click" this.increaseLinkCount}}
      >
        <FlightIcon @name="plus-circle" class="flex" />
        Add another
      </Action>

    </form>
  </M.Body>
  <M.Footer>
    <Hds::ButtonSet>
      <Hds::Button {{on "click" this.submit}} @text="Save" />
      <Hds::Button {{on "click" @onClose}} @color="secondary" @text="Cancel" />
    </Hds::ButtonSet>
  </M.Footer>
</Hds::Modal>
