<header class="mb-7 border-b border-b-color-border-faint bg-color-page-faint">
  <Header::Nav />
</header>
<div class="x-container -mt-2">
  <div class="flex items-center justify-between">
    {{! TODO: componentize this button style }}
    <LinkTo
      @route="authenticated.projects"
      class="flex items-center rounded-button-md border border-transparent py-2 px-3 hover:border-color-border-strong"
    >
      <FlightIcon @name="arrow-left" class="mr-2" />
      All projects
    </LinkTo>

    <div class="flex space-x-0.5">
      <CopyURLButton
        @url="TODO"
        {{!-- @isIconOnly={{true}} --}}
        @tooltipPlacement="bottom"
        class="flex items-center rounded-button-md border border-transparent py-2 px-3 text-color-foreground-primary hover:border-color-border-strong"
      />
      {{! TODO: figure out what links need to be here }}
      <X::DropdownList
        @items={{hash
          archive=(hash name="Archive..." icon="archive" action=this.showModal)
          delete=(hash name="Delete..." icon="trash" action=this.showModal)
        }}
        @placement="bottom-end"
      >
        <:anchor as |dd|>
          <dd.ToggleAction>
            <div
              class="flex items-center rounded-button-md border border-transparent py-2 px-3 text-color-foreground-primary hover:border-color-border-strong
                {{if dd.contentIsShown 'border-color-border-strong'}}"
            >
              <FlightIcon @name="more-horizontal" />
            </div>
          </dd.ToggleAction>
        </:anchor>
        <:item as |dd|>
          <dd.Action {{on "click" dd.attrs.action}} class="h-9 pl-4 pr-6">
            <FlightIcon @name={{dd.attrs.icon}} class="mr-2.5" />
            {{dd.attrs.name}}
          </dd.Action>
        </:item>
      </X::DropdownList>
    </div>
  </div>

  <div class="mb-14">
    <div class="mx-auto max-w-lg">
      <div class="relative text-center">
        <h1 class="mb-0 text-display-500">
          {{@project.name}}
        </h1>
        {{#if @project.description}}
          <p class="mt-1 text-color-foreground-faint">
            {{@project.description}}
          </p>
        {{/if}}
        <Hds::Button
          {{on "click" this.showModal}}
          @size="small"
          @icon="edit"
          @text="Edit"
          @color="secondary"
          class="mx-auto mt-3"
        />
      </div>

      {{#if this.modalIsShown}}
        <Hds::Modal @onClose={{this.hideModal}} as |M|>
          <M.Header>
            Project info
          </M.Header>
          <M.Body>
            <Hds::Form::TextInput::Field
              @value={{@project.name}}
              class="mb-6"
              as |T|
            >
              <T.Label>Name</T.Label>
            </Hds::Form::TextInput::Field>
            <Hds::Form::TextInput::Field
              @value={{@project.description}}
              @isOptional={{true}}
              class="mb-5"
              as |T|
            >
              <T.Label>Description</T.Label>
            </Hds::Form::TextInput::Field>
          </M.Body>
          <M.Footer as |F|>
            <Hds::ButtonSet>
              <Hds::Button
                {{on "click" this.saveProjectInfo}}
                @text="Save changes"
              />
              <Hds::Button
                {{on "click" F.close}}
                @text="Cancel"
                @color="secondary"
              />
            </Hds::ButtonSet>
          </M.Footer>
        </Hds::Modal>
      {{/if}}
    </div>

    {{!-- <div class="mt-8 flex justify-center">
      {{#if @project.jiraObject}}
        <div
          class="flex h-9 items-center rounded border border-color-border-primary px-3"
        >

          <div class="flex h-9 items-center space-x-2">
            <FlightIcon @name="jira" class="mr-3" />
            {{#if @project.jiraObject.type}}
              <div class="flex">
                <FlightIcon @name="square-fill" class="text-lime-600" />
              </div>
            {{/if}}
            <div
              class="text-color-foreground-faint
                {{if (eq @project.jiraObject.status 'done') 'line-through'}}"
            >
              {{@project.jiraObject.key}}
            </div>
            <div class="max-w-[180px]">
              <TruncatedText
                class="text-body-200 text-color-foreground-primary"
              >
                {{@project.jiraObject.summary}}
              </TruncatedText>
            </div>
            {{#if @project.jiraObject.priority}}
              <div class="flex">
                <FlightIcon
                  @name="chevrons-up"
                  class="text-color-foreground-critical"
                />
              </div>
            {{/if}}
            {{#if @project.jiraObject.assignee}}
              <Person::Avatar @email={{@project.jiraObject.assignee}} />
            {{/if}}
          </div>
          <div class="ml-3 flex shrink-0">
            <FlightIcon @name="more-vertical" />
          </div>
        </div>
      {{else}}
        <Hds::Button
          @color="secondary"
          @icon="jira"
          @size="small"
          @text="Attach Jira issue"
        />
      {{/if}}
    </div> --}}

  </div>

  <div
    class="mx-auto mb-8 max-w-3xl overflow-hidden rounded border border-color-border-primary"
  >

    <div
      class="flex h-12 w-full items-center justify-between bg-color-surface-faint pl-4 pr-2"
    >
      <h3 class="mr-8 shrink-0 text-body-200 font-semibold">
        Jira link
      </h3>
      {{#if @project.jiraObject}}
        {{! maybe we want an icon still? }}
        {{! <div class="mr-2 flex opacity-50">
          <FlightIcon @name="zap" />
        </div> }}
      {{else}}
        <Hds::Button
          @text="Add a Jira link"
          @color="tertiary"
          class="ml-6 shrink-0 px-2.5 text-color-foreground-primary hover:text-color-foreground-strong"
          @icon="plus"
          @isIconOnly={{true}}
        />
      {{/if}}
    </div>
    {{#if @project.jiraObject}}
      <div
        class="flex h-12 w-full items-center justify-between border-t border-t-color-border-primary px-4"
      >
        <div class="flex w-full items-center justify-between">
          <div class="flex items-center">

            {{#if @project.jiraObject.type}}
              <div
                class="mr-2.5 flex shrink-0"
                {{tooltip @project.jiraObject.type}}
              >
                <FlightIcon @name="square-fill" class="text-lime-600" />
              </div>
            {{/if}}
            <div class="grid">
              <TruncatedText
                class="text-body-200 font-medium text-color-foreground-strong"
              >
                {{@project.jiraObject.summary}}
              </TruncatedText>
            </div>
            <div
              class="ml-4 shrink-0 text-color-foreground-faint
                {{if (eq @project.jiraObject.status 'done') 'line-through'}}"
            >
              {{@project.jiraObject.key}}
            </div>
          </div>
          <div class="ml-2 flex items-center space-x-2">

            {{#if @project.jiraObject.priority}}
              <div
                class="flex shrink-0"
                {{tooltip (concat @project.jiraObject.priority " priority")}}
              >
                <FlightIcon
                  @name="chevrons-up"
                  class="text-color-foreground-critical"
                />
              </div>
            {{/if}}
            {{#if @project.jiraObject.assignee}}
              <Person::Avatar
                @email={{@project.jiraObject.assignee}}
                class="shrink-0"
                {{tooltip (concat "Assigned to " @project.jiraObject.assignee)}}
              />
            {{/if}}
          </div>
        </div>
        <div class="ml-8 flex shrink-0">
          <FlightIcon @name="more-vertical" />
        </div>

      </div>
    {{/if}}
  </div>

  <div
    class="mx-auto mb-8 max-w-3xl overflow-hidden rounded border border-color-border-primary"
  >

    <RelatedResources
      @allowAddingExternalLinks={{false}}
      @items={{@project.documents}}
      @addResource={{this.addResource}}
      @modalHeaderTitle="Add a document"
      @modalInputPlaceholder="Search by title, author, doc number..."
    >
      <:header>
        <div class="flex h-12 items-center rounded-t bg-color-surface-faint">
          <div class="w-full pl-4 pr-2">
            <div class="flex items-center justify-between">
              <h3 class="text-body-200 font-semibold">
                Documents
              </h3>
              <Hds::Button
                @text="Add a document"
                @color="tertiary"
                @icon="plus"
                class="px-2.5 text-color-foreground-primary hover:text-color-foreground-strong"
                @isIconOnly={{true}}
              />
            </div>
          </div>
        </div>
      </:header>
      <:list>
        {{#if @project.documents}}
          <ul
            class="divide-y divide-color-border-primary border-t border-t-color-border-primary"
          >
            {{#each @project.documents as |document|}}
              <li class="group">
                <LinkTo
                  @route="authenticated.document"
                  @model={{document.googleFileID}}
                  class="flex h-12 items-center hover:bg-color-surface-faint group-first:rounded-t group-last:rounded-b"
                >
                  <div class="flex w-full items-center justify-between px-4">
                    <div class="flex items-center">
                      <Person::Avatar
                        @email="{{document.product}}"
                        @size="small"
                        class="mr-2"
                      />
                      <h4 class="text-display-200 font-semibold">
                        {{document.documentNumber}}
                        {{document.title}}
                      </h4>
                    </div>
                    <div class="flex space-x-1">
                      {{!-- <Hds::Badge
                        @text="{{document.product}}"
                        @icon={{or (get-product-id document.product) undefined}}
                      /> --}}
                      <Hds::Badge @text={{document.type}} />
                      <Doc::State
                        @hideProgress={{true}}
                        @state={{document.status}}
                      />
                    </div>
                  </div>
                </LinkTo>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </:list>
    </RelatedResources>
  </div>

  {{! PROJECTS }}
  <div
    class="mx-auto mb-8 max-w-3xl overflow-hidden rounded border border-color-border-primary"
  >
    <RelatedResources
      @items={{this.relatedLinks}}
      @addResource={{this.addResource}}
      @modalHeaderTitle="Add related link"
      @modalInputPlaceholder="Enter a URL"
      @scope="external-links"
    >
      <:header as |rr|>
        <div class="flex h-12 items-center bg-color-surface-faint">
          <div class="w-full pl-4 pr-2">
            <div class="flex items-center justify-between">
              <h3 class="text-body-200 font-semibold">
                Related links
              </h3>
              <Hds::Button
                {{on "click" rr.showModal}}
                @text="Add a related link"
                @color="tertiary"
                @icon="plus"
                @isIconOnly={{true}}
                class="px-2.5 text-color-foreground-primary hover:text-color-foreground-strong"
              />
            </div>
          </div>
        </div>
      </:header>
      <:list as |rr|>
        {{#if rr.items.length}}
          <ul
            class="divide-y divide-color-border-primary border-t border-t-color-border-primary"
          >
            {{#each rr.items as |link|}}
              <li>
                <ExternalLink href={{link.url}} class="flex h-12 items-center">
                  <div class="px-4">
                    {{link.name}}
                  </div>
                  <div>{{link.url}}</div>
                </ExternalLink>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </:list>
    </RelatedResources>
  </div>

  <div class="mb-4 text-center text-body-100 text-color-foreground-faint">
    Created
    {{time-ago @project.dateCreated}}
    by
    {{@project.creator}}
  </div>
</div>
