<header class="mb-7 border-b border-b-color-border-faint bg-color-page-faint">
  <Header::Nav />
</header>
<div class="x-container -mt-2">
  <div class="flex items-center justify-between">
    <LinkTo
      @route="authenticated.projects"
      class="flex items-center rounded-button-md border border-transparent py-2 px-3 hover:border-color-border-strong"
    >
      <FlightIcon @name="arrow-left" class="mr-2" />
      All projects
    </LinkTo>
    <div class="flex">
      <CopyURLButton @url="TODO" />
      <X::DropdownList @items={{hash}} @placement="bottom-end">
        <:anchor as |dd|>
          <dd.ToggleAction>
            <FlightIcon @name="settings" />
          </dd.ToggleAction>
        </:anchor>
        <:item as |dd|>
          Butt
        </:item>
      </X::DropdownList>
      {{! TODO: add settings dropdown }}
    </div>
  </div>

  <div class="mb-8 -mt-3">
    <div class="text-center">
      <h1 class="mb-1 text-display-400">
        {{@project.name}}
      </h1>
      {{! TODO: also take into accent if its the owner, etc }}
      {{#if @project.description}}
        <p>
          {{@project.description}}
        </p>
      {{/if}}
    </div>
    {{! TODO: this should have some showJira logic }}
    <div class="mt-3 flex justify-center">
      {{#if @project.jiraObject}}
        Jira connected
      {{else}}
        <Hds::Button
          @color="secondary"
          @size="small"
          @icon="jira"
          @text="Attach Jira issue"
        />
      {{/if}}
    </div>
  </div>

  <div
    class="mx-auto mb-8 max-w-2xl rounded border border-color-border-primary"
  >
    <div
      class="flex h-12 items-center rounded-t border-b border-b-color-border-primary bg-color-surface-faint"
    >
      <div class="w-full px-4">
        <div class="flex items-center justify-between">
          <h3 class="text-body-100 font-semibold">
            Documents
          </h3>
          <Hds::Button
            @text="Add a document"
            @size="small"
            @color="secondary"
            @icon="plus"
            {{on "click" this.showModal}}
            @isIconOnly={{true}}
          />
        </div>
      </div>
    </div>
    {{#if @project.documents}}
      <ul class="divide-y divide-color-border-primary">
        {{#each @project.documents as |document|}}
          <li class="group">
            <LinkTo
              @route="authenticated.document"
              @model={{document.objectID}}
              class="flex h-12 items-center hover:bg-color-surface-faint group-first:rounded-t group-last:rounded-b"
            >
              <div class="flex w-full items-center justify-between px-4">
                <div class="flex items-center">
                  <Person::Avatar
                    @email="{{get document.owners 0}}"
                    @size="small"
                    class="mr-2"
                  />
                  <h4 class="text-display-200 font-semibold">
                    {{document.title}}
                  </h4>
                </div>
                <div class="flex space-x-1">
                  <Doc::State
                    @hideProgress={{true}}
                    @state={{document.status}}
                  />
                  <Hds::Badge
                    @text="{{document.product}}"
                    @icon={{or (get-product-id document.product) undefined}}
                  />
                  <Hds::Badge @text={{document.docType}} />
                </div>
              </div>
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div
        class="text-color-foreground w-full-faint flex h-12 items-center justify-center text-color-foreground-faint opacity-70"
      >
        None
      </div>
    {{/if}}
  </div>

  {{! PROJECTS }}
  <div
    class="mx-auto mb-8 max-w-2xl rounded border border-color-border-primary"
  >
    <div
      class="flex h-12 items-center rounded-t border-b border-b-color-border-primary bg-color-surface-faint"
    >
      <div class="w-full px-4">
        <div class="flex items-center justify-between">
          <h3 class="text-body-100 font-semibold">
            Related links
          </h3>
          <Hds::Button
            {{on "click" this.showModal}}
            @text="Add a related link"
            @size="small"
            @color="secondary"
            @icon="plus"
            @isIconOnly={{true}}
          />
        </div>
      </div>
    </div>
    {{#if @project.relatedLinks}}
      <ul class="divide-y divide-color-border-primary">
        {{#each @project.relatedLinks as |link|}}
          <li>
            <ExternalLink href={{link.url}} class="flex h-12 items-center">
              <div class="px-4">
                {{link.name}}
              </div>
            </ExternalLink>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div
        class="text-color-foreground w-full-faint flex h-12 items-center justify-center text-color-foreground-faint opacity-70"
      >
        None
      </div>
    {{/if}}
  </div>

  <div class="mb-4 text-center text-color-foreground-faint">
    Created
    {{@project.dateCreated}}
    by
    {{@project.creator}}
  </div>
</div>

{{#if this.modalIsShown}}
  <Hds::Modal @onClose={{this.hideModal}} as |M|>
    <M.Header>Add</M.Header>
    <M.Body />
  </Hds::Modal>
{{/if}}
