<div class="relative mx-auto mt-4 w-full max-w-3xl text-center">

  <div class="project-title">
    <div class="mx-auto max-w-xl">
      <EditableField
        data-test-project-title
        @value={{@project.title}}
        @tag="h1"
        @onChange={{this.hideModal}}
        @onSave={{this.saveProjectInfo}}
      />
    </div>
  </div>
  <div class="project-description">
    <div class="mx-auto max-w-xl">
      <EditableField
        data-test-project-description
        @value={{@project.description}}
        @onChange={{this.hideModal}}
        @onSave={{this.saveProjectInfo}}
        @placeholder="Add a description"
      />
    </div>
  </div>
  {{! TODO: Jira section }}
  {{#if @project.jiraObject}}
    <div class="relative mt-3">

      <div
        class="mb-7 inline-flex h-9 items-center rounded border border-color-border-primary px-3"
      >
        <div class="flex h-9 items-center space-x-2">
          {{#if @project.jiraObject.type}}
            <img
              src="https://hashicorp.atlassian.net/images/icons/issuetypes/epic.svg"
            />
          {{/if}}
          <div
            class="text-color-foreground-faint
              {{if (eq @project.jiraObject.status 'done') 'line-through'}}"
          >
            {{@project.jiraObject.key}}
          </div>
          {{#if @project.jiraObject.assignee}}
            <Person::Avatar @email={{@project.jiraObject.assignee}} />
          {{/if}}
          {{#if @project.jiraObject.priority}}
            <div class="flex">
              <FlightIcon
                @name="chevrons-up"
                class="text-color-foreground-critical"
              />
            </div>
          {{/if}}

        </div>
      </div>
      <Action
        class="absolute -bottom-5 left-1/2 -translate-x-1/2 text-[11px] text-color-foreground-disabled underline decoration-color-palette-neutral-200 underline-offset-[3px]"
      >
        Remove Jira link
      </Action>
    </div>

  {{else}}
    <Hds::Button
      @icon="jira"
      @text="Add Jira link"
      @color="secondary"
      @size="small"
      class="mx-auto mt-3.5"
    />
  {{/if}}

  {{! TODO: Jira section }}

  <div class="section mt-10 {{unless @project.documents 'empty'}}">
    <RelatedResources
      @scope="documents"
      @items={{this.relatedDocuments}}
      @addResource={{this.addResource}}
      @modalHeaderTitle="Add a document"
      @modalInputPlaceholder="Search by title, author, doc number..."
    >
      <:header as |rr|>
        <div class="section-header">
          <h3>Documents</h3>
          <Hds::Button
            {{on "click" rr.showModal}}
            @text="Add a document"
            @color="tertiary"
            @icon="plus"
            class="tertiary-button-gray"
            @isIconOnly={{true}}
          />
        </div>
      </:header>
      <:list>
        {{#if this.relatedDocuments.length}}
          <ul class="resource-list">
            {{#each this.relatedDocuments as |document|}}
              {{log "document" document}}
              {{! TODO: component-ize }}
              <li data-test-document-list-item>
                <Project::Resource
                  @overflowMenuItems={{this.overflowItemsForDocument}}
                >
                  <LinkTo
                    data-test-document-link
                    @route="authenticated.document"
                    @model={{document.googleFileID}}
                  >
                    {{!
                    We create a click area that extends beyond the edges of its  container. This makes the parent div clickable without having to wrap itself in a link, and lets us nest interactive elements (e.g., ProductBadgeLink) in a way that improves the mouse experience without sacrificing accessibility.
                  }}
                    <div aria-hidden="true" class="hit-area"></div>
                    <div
                      class="flex w-full items-center justify-between pl-4 pr-3"
                    >
                      <div class="flex items-center gap-2">
                        <Product::Avatar @product={{document.product}} />
                        {{! TODO: unify with docs awaiting review }}
                        <Person::Avatar
                          @email="{{get document.owners 0}}"
                          @imgURL={{get document.ownerPhotos 0}}
                          @size="small"
                        />
                        <h4 class="title max-w-[320px] truncate">
                          {{document.documentNumber}}
                          {{document.title}}
                        </h4>
                        <p class="owner max-w-[180px] truncate">
                          {{get document.owners 0}}
                        </p>
                      </div>
                      <div class="flex gap-1">
                        <Hds::Badge @text={{document.docType}} />
                        <Doc::State
                          @hideProgress={{true}}
                          @state={{document.status}}
                        />
                      </div>
                    </div>
                  </LinkTo>
                </Project::Resource>
              </li>
            {{/each}}
          </ul>
        {{else}}
          {{! TODO: Empty state }}
        {{/if}}
      </:list>
    </RelatedResources>
  </div>

  {{! PROJECTS }}
  <div class="section mt-8 {{unless this.relatedLinks.length 'empty'}}">
    <RelatedResources
      @items={{this.relatedLinks}}
      @addResource={{this.addResource}}
      @modalHeaderTitle="Add related link"
      @modalInputPlaceholder="Enter a URL"
      @scope="external-links"
    >
      <:header as |rr|>
        <div class="section-header">
          <h3>Related links</h3>
          <Hds::Button
            {{on "click" rr.showModal}}
            @text="Add a related link"
            @color="tertiary"
            @icon="plus"
            @isIconOnly={{true}}
            class="tertiary-button-gray"
          />
        </div>
      </:header>
      <:list as |rr|>
        {{#if rr.items.length}}
          <ul class="resource-list">
            {{#each rr.items as |link|}}
              <li>
                <Project::Resource
                  @overflowMenuItems={{this.overflowItemsForLink}}
                >
                  <ExternalLink
                    data-test-related-link
                    href={{link.url}}
                    class="flex h-12 items-center gap-3 px-4"
                  >
                    {{!
                    We create a click area that extends beyond the edges of its  container. This makes the parent div clickable without having to wrap itself in a link, and lets us nest interactive elements (e.g., ProductBadgeLink) in a way that improves the mouse experience without sacrificing accessibility.
                  }}
                    <div aria-hidden="true" class="hit-area"></div>
                    <Favicon @url={{link.url}} />
                    <div
                      class="truncate font-semibold text-color-foreground-strong"
                    >
                      {{link.name}}
                    </div>
                    <div
                      class="max-w-[200px] truncate text-color-foreground-faint"
                    >{{link.url}}</div>
                  </ExternalLink>
                </Project::Resource>
              </li>
            {{/each}}
          </ul>
        {{else}}
          {{! TODO: Empty state }}
        {{/if}}
      </:list>
    </RelatedResources>
  </div>
  <div
    class="mt-8 flex w-full items-center justify-center gap-1 text-color-foreground-faint"
  >

    <div class="flex">
      <CopyURLButton
        @url="TODO"
        @tooltipPlacement="bottom"
        {{!-- @isIconOnly={{true}} --}}
        class="quarternary-button text-color-foreground-primary"
      />
      <Action class="quarternary-button text-color-foreground-primary">
        <FlightIcon @name="check-circle" />
        Complete...
      </Action>
      <Action class="quarternary-button text-color-foreground-primary">
        <FlightIcon @name="archive" />
        Archive...
      </Action>
    </div>

  </div>

  <div
    class="mt-9 -mb-2 text-center text-[11px] text-color-foreground-disabled"
  >
    Created
    {{time-ago @project.dateCreated}}
    by
    {{@project.creator}}
  </div>
</div>
