<div class="project-header mt-1 flex w-full justify-between">

  <div class="flex h-9 items-center gap-1">
    <div class="flex w-9 justify-center">
      {{! Placeholder until we have ProductAvatars  }}
      <FlightIcon @name="grid" @size="24" />
    </div>
  </div>

  <div class="flex h-9 gap-1.5">
    <div class="flex gap-2.5">

      <span class="self-center text-color-foreground-faint">
        Status:
      </span>

      <X::DropdownList
        @items={{this.statuses}}
        @placement="bottom"
        @selected={{this.status}}
        class="theme--neutral"
      >
        <:anchor as |dd|>
          <dd.ToggleAction
            data-test-project-status-toggle
            class="hds-button hds-button--size-medium hds-button--color-secondary rounded-r-full rounded-l-full border-color-border-strong"
            @hasChevron={{true}}
          >
            <Project::StatusIcon @status={{dd.selected}} />
            <span class="ml-1 mr-0.5">
              {{this.statusLabel}}
            </span>
          </dd.ToggleAction>
        </:anchor>
        <:item as |dd|>
          <dd.Action
            data-test-status-action={{dd.value}}
            {{on "click" (fn this.changeStatus dd.value)}}
          >
            <X::DropdownList::CheckableItem
              @isSelected={{dd.isSelected}}
              @checkmarkPosition="trailing"
              class=""
            >
              <:default>
                <div class="flex items-center gap-2 pl-1.5">
                  <Project::StatusIcon @status={{dd.value}} />
                  <span>
                    {{dd.attrs.label}}
                  </span>
                </div>
              </:default>
            </X::DropdownList::CheckableItem>
          </dd.Action>
        </:item>
      </X::DropdownList>
    </div>

    <CopyURLButton
      @isIconOnly={{true}}
      @url={{this.url}}
      class="hds-button hds-button--color-secondary w-9 justify-center rounded-full border-color-border-strong p-0"
    />

  </div>
</div>
<div class="relative z-20 max-w-3xl">

  {{! Title }}
  <div class="mt-7 flex">
    <EditableField
      class="project-title text-display-600"
      data-test-project-title
      @value={{this.title}}
      @tag="h1"
      @placeholder="Add project title"
      @buttonSize="medium"
      @onSave={{this.saveTitle}}
      @isReadOnly={{not this.projectIsActive}}
      @isRequired={{true}}
      @isSaving={{this.titleIsSaving}}
    />
  </div>
  {{#if (or this.projectIsActive this.description)}}
    {{! Description }}
    <div class="flex">
      <EditableField
        class="project-description"
        data-test-project-description
        @value="{{this.description}}"
        @onSave={{this.saveDescription}}
        @isReadOnly={{not this.projectIsActive}}
        @isSaving={{this.descriptionIsSaving}}
        @placeholder="Add a description"
        @buttonSize="medium"
      />
    </div>
  {{/if}}
</div>

{{#if this.jiraIsEnabled}}
  {{! Jira }}
  <div class="mt-10 flex w-full max-w-3xl">
    <Project::JiraWidget
      {{did-insert this.maybeLoadJiraInfo}}
      @issue={{this.jiraIssue}}
      @onIssueRemove={{this.removeJiraIssue}}
      @onIssueSelect={{this.addJiraIssue}}
      @isLoading={{this.loadJiraIssue.isRunning}}
      @isReadOnly={{not this.projectIsActive}}
    />
  </div>
{{/if}}

<div class="relative mt-6 border-t border-t-color-border-primary">

  {{! Plus button }}
  <RelatedResources
    @modalHeaderTitle="Add project resource"
    @modalInputPlaceholder="Search docs or paste a URL..."
    @addResource={{this.addResource}}
  >
    <:header as |rr|>
      <div class="sticky top-24 -mb-20 pr-14">
        <div class="pointer-events-none -translate-y-1/2">
          <Action
            data-test-add-project-resource-button
            {{on "click" rr.showModal}}
            class="hds-button hds-button--color-primary add-project-resource-button pointer-events-auto ml-auto grid h-20 w-20 place-items-center rounded-full"
          >
            <FlightIcon @name="plus" @size="24" class="h-9 w-9" />
          </Action>
        </div>
      </div>
    </:header>
  </RelatedResources>

  {{! Resources }}
  <div class="max-w-3xl">
    {{#if (or this.hermesDocuments.length this.externalLinks.length)}}
      {{#if this.hermesDocuments.length}}

        {{! Documents }}
        <div class="mt-7 flex h-6 items-center gap-2">
          <h3 data-test-documents-header class="hermes-h4">
            Documents
          </h3>
          <Hds::BadgeCount
            data-test-document-count
            @text="{{this.hermesDocuments.length}}"
          />
        </div>
        <ol data-test-document-list class="divided-list mt-3">
          {{#each this.hermesDocuments as |document|}}
            <li class="group relative" data-test-document-list-item>
              <Project::Resource
                @isReadOnly={{not this.projectIsActive}}
                @overflowMenuItems={{hash
                  delete=(hash
                    label="Remove"
                    icon="trash"
                    action=(fn this.deleteResource document)
                  )
                }}
              >
                <Doc::TileMedium @doc={{document}} />
              </Project::Resource>
            </li>
          {{/each}}
        </ol>
      {{/if}}

      {{#if this.externalLinks.length}}
        {{! External links }}
        <div class="mt-7 flex h-6 items-center gap-2">
          <h3 data-test-external-links-header class="hermes-h4">
            External links
          </h3>
          <Hds::BadgeCount
            data-test-external-link-count
            @text="{{this.externalLinks.length}}"
          />
        </div>
        <ol data-test-external-link-list class="divided-list mt-5">
          {{#each this.externalLinks as |link i|}}
            <li class="group" data-test-document-list-item>
              <Project::Resource
                @isReadOnly={{not this.projectIsActive}}
                @overflowMenuItems={{hash
                  edit=(hash
                    label="Edit"
                    icon="edit"
                    action=(fn this.showEditModal link i)
                  )
                  delete=(hash
                    label="Remove"
                    icon="trash"
                    action=(fn this.deleteResource link)
                  )
                }}
              >
                <ExternalLink
                  data-test-related-link
                  href={{link.url}}
                  class="block px-2 pt-2.5 pb-2.5 group-hover:bg-color-surface-faint"
                >
                  <div class="flex items-center gap-4">
                    <div class="flex w-9 justify-end">
                      <Favicon @url={{link.url}} />
                    </div>
                    <div class="flex w-full gap-2">
                      <h4
                        class="max-w-[65%] truncate text-display-300 font-semibold text-color-foreground-strong"
                      >
                        {{link.name}}
                      </h4>
                      <div
                        class="mt-1 max-w-[35%] truncate text-[11px] text-color-foreground-faint"
                      >
                        {{link.url}}
                      </div>
                    </div>
                  </div>
                </ExternalLink>
              </Project::Resource>
            </li>
          {{/each}}
        </ol>
      {{/if}}
    {{else}}
      <div
        data-test-empty-body
        class="mt-7 flex h-48 flex-col items-start justify-center"
      >
        <div class="text-display-300 font-bold text-color-foreground-strong">
          Nothing here yet
        </div>
        <div class="mt-1.5 text-body-200">
          Add documents and links using the + button
        </div>
      </div>
    {{/if}}

    <div
      class="mt-14 -mb-6 flex gap-[5px] text-body-100 text-color-foreground-disabled"
    >
      <span data-test-created-time>
        Created
        {{time-ago @project.createdTime}}
        by
        {{@project.creator}}
      </span>
      <span class="opacity-50">|</span>
      <span data-test-modified-time>
        Last modified
        {{time-ago @project.modifiedTime}}
      </span>
    </div>
  </div>
</div>

{{#if this.editModalIsShown}}
  <RelatedResources::AddOrEditExternalResourceModal
    @resource={{this.resourceToEdit}}
    @onClose={{this.hideEditModal}}
    @onSave={{this.saveExternalLink}}
  />
{{/if}}
