<div class="x-container mt-2 mb-4">

  {{! <div class="relative mb-6">
    <div class="mb-3 flex items-center gap-3">
      <FlightIcon @name="pin" />
      <h3 class="hermes-h4">Pinned</h3>
    </div>
  </div> }}

  <div class="relative mb-6">
    <div class="mb-3 flex items-center gap-3">
      <FlightIcon @name="zap" />
      <h3 class="hermes-h4">Active</h3>
    </div>
    {{#if @projects}}
      <ol
        {{did-insert this.configureMasonry}}
        class="relative grid grid-cols-3"
      >
        {{#each @projects as |project|}}
          <Project::Tile
            @project={{project}}
            class="mb-[10px] w-[calc((100%-20px)/3)]"
          />
        {{/each}}
        {{#each @projects as |project|}}
          <Project::Tile
            @project={{project}}
            class="mb-[10px] w-[calc((100%-20px)/3)]"
          />
        {{/each}}
        {{#each @projects as |project|}}
          <Project::Tile
            @project={{project}}
            class="mb-[10px] w-[calc((100%-20px)/3)]"
          />
        {{/each}}
      </ol>
    {{else}}
      {{! TODO: No projects state }}
    {{/if}}
  </div>

  <div class="mb-6">
    <div class="mb-3 flex items-center gap-3">
      <FlightIcon @name="check-circle" />
      <h3 class="hermes-h4">Completed</h3>
    </div>
    {{#if @projects}}
      <ol class="grid">
        {{#each (take 3 @projects) as |project|}}
          <Project::Tile @project={{project}} />
        {{/each}}
      </ol>
    {{/if}}
  </div>

  <div class="mb-6">
    <div class="mb-3 flex items-center gap-3">
      <FlightIcon @name="archive" />
      <h3 class="hermes-h4">Archived</h3>
    </div>
  </div>
</div>
