<li
  {{! this needs to update when switching from active to inactive back to active }}
  {{! (are we losing the handle div?) }}
  {{did-insert this.configureDragAndDrop}}
  data-index={{@index}}
  data-closest-edge={{this.closestEdge}}
  class="group relative block {{if this.isDragging 'is-dragging opacity-50'}}"
  data-test-resource-list-item
  ...attributes
>
  {{! Drop affordance }}
  {{#if this.dragHasEntered}}
    <div
      class="absolute z-10 h-1 w-full rounded-l-full rounded-r-full
        {{if
          (eq this.closestEdge 'top')
          '-top-px -translate-y-1/2 bg-color-foreground-action'
          (if
            (eq this.closestEdge 'bottom')
            'bottom-0 translate-y-1/2 bg-color-foreground-action'
          )
        }}"
    >
    </div>
  {{/if}}

  {{yield}}
</li>

{{#if this.isDragging}}
  {{! Target the customNativeDragPreview container }}
  {{! This will be available by the time `html-element` runs }}
  {{#in-element (html-element (concat "#" this.id)) insertBefore=null}}
    <div
      class="grid h-10 max-w-[500px] cursor-grabbing items-center rounded bg-color-page-primary px-3"
    >
      <div class="truncate font-semibold text-color-foreground-strong">
        {{this.itemTitle}}
        {{#if this.docNumber}}
          <span class="ml-1 font-regular">
            {{this.docNumber}}
          </span>
        {{/if}}
      </div>
    </div>
  {{/in-element}}
{{/if}}
