<div class="project-resource" ...attributes>

  {{yield}}

  {{#unless @isReadOnly}}
    {{! TODO: this needs to close on dragstart }}
    <X::DropdownList @items={{this.sortOrderMenuItems}}>
      <:anchor as |dd|>
        <div
          {{! FIXME: 'drag handle' class is a flimsy target  }}
          {{! TODO: use ID }}
          class="drag-affordance-container absolute left-3 -top-px z-10 flex h-[calc(100%+2px)] w-8 -translate-x-full justify-center group-focus-within:bg-color-page-faint group-hover:bg-color-page-faint"
        >
          {{! FIXME: anchor needs to be defined better in this setup }}
          <dd.ToggleAction
            class="drag-affordance drag-handle invisible mt-1 grid h-[26px] w-[26px] cursor-grab place-items-center rounded text-color-foreground-disabled hover:text-color-foreground-primary
              {{if
                dd.contentIsShown
                'bg-color-surface-interactive-active text-color-foreground-primary'
              }}"
          >
            <FlightIcon @name="move" />
          </dd.ToggleAction>
        </div>
      </:anchor>
      <:item as |dd|>
        <dd.Action
          {{on "click" dd.attrs.action}}
          class="flex items-center gap-2 px-4 py-1.5"
        >
          <FlightIcon @name={{dd.attrs.icon}} />
          {{dd.attrs.label}}
        </dd.Action>
      </:item>
    </X::DropdownList>

    <OverflowMenu
      @items={{@overflowMenuItems}}
      @offset={{hash mainAxis=1 crossAxis=-3}}
    />
  {{/unless}}
</div>
