<Hds::Card::Container
  data-test-project-tile
  @hasBorder={{true}}
  @levelHover="mid"
  class="project-tile h-48 p-4"
  ...attributes
>
  <div class="relative h-full pb-16">
    <h3
      data-test-title
      class="title text-display-300 font-semibold text-color-foreground-strong"
    >
      {{@project.title}}
    </h3>
    {{#if @project.description}}
      <p
        data-test-description
        class="description mt-1 text-body-300 text-color-foreground-faint"
      >
        {{@project.description}}
      </p>
    {{/if}}

    <div
      class="absolute bottom-0 left-0 flex w-full items-center justify-between"
    >
      {{#if this.productAreas}}
        <ul class="flex gap-px">
          {{#each this.productAreas as |productArea|}}
            <li class="flex items-center" data-test-product>
              {{productArea}}
            </li>
          {{/each}}
        </ul>
      {{/if}}

      {{#if @project.jiraIssue}}
        <div class="flex items-center gap-1.5">
          <span data-test-jira-type>
            {{@project.jiraIssue.type}}
          </span>
          <span
            data-test-jira-key
            class="text-body-100 text-color-foreground-faint
              {{if (eq @project.jiraIssue.status 'Done') 'line-through'}}"
          >
            {{@project.jiraIssue.key}}
          </span>
        </div>
      {{/if}}

    </div>
  </div>
</Hds::Card::Container>
