<div class="h-10" ...attributes>
  <div class="project-tile-grid relative grid h-full w-full gap-2">
    <div class="title-and-description grid w-full items-center gap-2.5">
      <Project::StatusIcon @status={{@project.status}} class="status" />
      <div class="overflow-hidden">
        <h3
          data-test-title
          class="truncate text-display-300 font-semibold text-color-foreground-strong"
        >
          {{@project.title}}
        </h3>
      </div>
    </div>

    {{#if (or this.jiraIssue this.fetchJiraIssue.isRunning)}}
      <div
        class="jira inline-flex items-center gap-1.5
          {{if this.jiraIssue 'fade-in-forwards'}}"
      >
        <div class="flex h-4 w-4">
          {{#if this.jiraIssue}}
            <img
              data-test-issue-type-image
              alt={{this.jiraIssue.issueType}}
              src={{this.jiraIssue.issueTypeImage}}
              height="16"
              width="16"
            />
          {{else}}
            <FlightIcon @name="loading" />
          {{/if}}
        </div>
        {{#if this.jiraIssue}}
          <span
            data-test-jira-key
            class="truncate text-body-100 text-color-foreground-faint
              {{if this.jiraIssueIsClosed 'line-through'}}"
          >
            {{this.jiraIssue.key}}
          </span>
        {{/if}}
      </div>
    {{/if}}

    {{#if @project.products}}
      <div
        class="products bg-purple-50X flex flex-row-reverse items-center gap-2 text-body-100 text-color-foreground-faint"
      >
        <ul class="flex gap-px">
          {{#each (take this.maxProducts @project.products) as |product|}}
            <li class="flex items-center" data-test-product>
              <Product::Avatar @product={{product}} />
            </li>
          {{/each}}
        </ul>
        {{#if this.additionalProductsLabelIsShown}}
          <div class="shrink-0 text-color-foreground-faint">

            +{{this.additionalProductsCount}}
          </div>
        {{/if}}
      </div>
    {{/if}}

  </div>
</div>
