<li class="project-tile" ...attributes>
  <LinkTo @route="authenticated.project" @model={{@project.id}} class="hover">
    <Hds::Card::Container @hasBorder={{true}} class="p-4" @levelHover="mid">
      <div class="relative h-full pb-16">
        <div class="flex items-start justify-between">
          <div>
            <h3 class="inline-flex text-display-300 font-semibold">
              {{@project.name}}
            </h3>
            {{#if @project.description}}
              <p class="mt-1 text-body-200 text-color-foreground-faint">
                {{@project.description}}
              </p>
            {{/if}}
          </div>
          {{#if this.documents}}
            <span class="ml-2 flex shrink-0 items-center">
              <FlightIcon
                @name="files"
                class="mr-2 text-color-foreground-disabled"
              />
              {{this.documents.length}}
            </span>
          {{/if}}
        </div>

        {{#if this.productAreas}}
          {{! TODO: truncation }}
          <ul class="absolute left-0 bottom-0 flex">
            {{#each this.productAreas as |productArea|}}
              <li class="flex items-center">

                {{#let (get-product-id productArea) as |icon|}}
                  <div
                    {{tooltip productArea}}
                    data-test-doc-thumbnail-product-badge
                    class="product-badge {{icon}} relative rounded-full p-1.5"
                  >
                    <FlightIcon @name={{or icon "folder"}} />
                  </div>
                {{/let}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if this.jiraObject}}
          <span
            class="absolute
              {{if (eq this.jiraObject.status 'Done') 'line-through'}}
              bottom-0 right-0 flex items-center gap-1.5 text-body-100 text-color-foreground-faint"
          >
            {{#if @project.jiraObject.type}}
              <div class="flex">
                <FlightIcon @name="square-fill" class="text-lime-600" />
              </div>
            {{/if}}
            {{this.jiraObject.key}}
          </span>
        {{/if}}
      </div>
    </Hds::Card::Container>
  </LinkTo>
</li>
