<li>
  <LinkTo @route="authenticated.project" @model={{@project.id}} class="hover">
    <Hds::Card::Container
      @hasBorder={{true}}
      class="h-32 p-4"
      @levelHover="mid"
    >
      <div class="relative h-full">
        <div class="flex justify-between">
          <div>
            <h3 class="inline-flex font-semibold">
              {{@project.name}}
            </h3>
            {{#if @project.description}}
              <p class="text-color-foreground-faint">
                {{@project.description}}
              </p>
            {{/if}}
          </div>
          {{#if this.documents}}
            <span class="flex shrink-0 items-center">
              <FlightIcon
                @name="files"
                class="mr-2 text-color-foreground-disabled"
              />
              {{this.documents.length}}
            </span>
          {{/if}}
        </div>

        {{#if this.productAreas}}
          {{! TODO: truncation }}
          <ul class="absolute left-0 bottom-0 flex space-x-1">
            {{#each this.productAreas as |productArea|}}
              <Hds::Badge
                @text="{{productArea}}"
                @icon={{or (get-product-id productArea) undefined}}
              />
            {{/each}}
          </ul>
        {{/if}}
        {{#if this.jiraObject}}
          <span
            class="absolute bottom-0 right-0 text-body-100 text-color-foreground-faint"
          >
            {{this.jiraObject.key}}
          </span>
        {{/if}}
      </div>
    </Hds::Card::Container>
  </LinkTo>
</li>
