<div class="relative inline-flex">
  <Hds::Button
    data-test-x-dropdown-list-toggle-select
    {{did-insert @registerAnchor}}
    {{on "keydown" @onTriggerKeydown}}
    {{on "click" @toggleContent}}
    @icon={{or (get-product-id @text) "folder"}}
    @color="secondary"
    @text={{@text}}
    data-test-facet-dropdown-trigger={{@text}}
    disabled={{@disabled}}
    aria-controls={{@ariaControls}}
    aria-expanded={{@contentIsShown}}
    aria-haspopup="listbox"
    class="x-dropdown-list-toggle-select"
    ...attributes
  />
  <FlightIcon @name="caret" class="absolute top-1/2 -translate-y-1/2 right-2 "/>
</div>
