<div class="w-full flex space-x-3 overflow-hidden">
  <Doc::Thumbnail
    @status={{@document.status}}
    @product={{@document.product}}
    class="shrink-0 w-12 h-[62px]"
  />
  <div class="w-full flex items-center pr-8 overflow-hidden">
    <div class="w-full">
      <TruncatedText
        @tagName="h5"
        class="text-display-300 font-semibold text-color-foreground-strong"
      >
        {{@document.title}}
      </TruncatedText>
      <div class="text-color-foreground-faint text-body-200 mt-0.5">
        {{@document.docType}}
        {{#if @document.docNumber}}
          ·
          {{@document.docNumber}}
        {{/if}}
        {{#if (get @document.owners 0)}}
          ·
          {{get @document.owners 0}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
