<div class="related-resources-modal-container">
  <div class="add-external-resource-container">
    <div class="w-full" data-test-add-external-resource-form>
      {{! TODO: Combine with `ListItem::Edit` }}
      <form {{on "submit" this.onSubmit}} class="mb-3">
        <Hds::Form::TextInput::Field
          {{on "input" @onInput}}
          @value={{@title}}
          placeholder="Enter a title"
          required={{true}}
          class="external-resource-title-input"
          as |F|
        >
          <F.Label>Title</F.Label>
        </Hds::Form::TextInput::Field>
      </form>
      <div class="external-resource-url">
        <div class="truncate" data-test-add-external-resource-truncated-url>
          {{@url}}
        </div>
        <div class="external-resource-favicon">
          <Favicon @url={{@url}} />
        </div>
      </div>

      <Hds::Button
        data-test-add-external-resource-submit-button
        {{on "click" @onSubmit}}
        @isFullWidth={{true}}
        @color="primary"
        @text="Add"
        class="mb-2.5"
      />
    </div>
  </div>
  {{#if this.errorIsShown}}
    <Hds::Form::Error class="mt-5" data-test-add-external-resource-error>
      {{if
        @linkIsDuplicate
        "This resource has already been added."
        "A title is required."
      }}
    </Hds::Form::Error>
  {{/if}}
</div>
