<div
  class="bg-color-palette-alpha-300 flex items-center justify-center overflow-hidden rounded-full bg-color-palette-neutral-200
    {{if this.sizeIsSmall 'h-5 w-5'}}
    {{if this.sizeIsMedium 'h-7 w-7'}}
    {{if this.sizeIsLarge 'h-14 w-14'}}
    "
  ...attributes
>
  {{#if @imgURL}}
    <img src={{@imgURL}} referrerpolicy="no-referrer" class="w-full" />
  {{else}}
    <div class="flex text-body-100">
      {{#if @email}}
        <span class="capitalize">
          {{get-first-letter @email}}
        </span>
      {{else}}
        <FlightIcon @name="user" class="scale-90" />
      {{/if}}
    </div>
  {{/if}}
</div>
