<div
  class="avatar overflow-hidden rounded-full
    {{unless @isLoading 'bg-color-palette-alpha-300'}}
    {{this.size}}
    "
  ...attributes
>
  {{#if @isLoading}}
    {{! Avatar loading affordance }}
    <div
      data-test-loading
      class="h-full w-full animate-spin rounded-full bg-gradient-to-tr from-color-palette-neutral-50 to-color-palette-neutral-200"
    ></div>
  {{else}}
    {{#if @imgURL}}
      <img
        data-test-image
        src={{@imgURL}}
        referrerpolicy="no-referrer"
        class="w-full"
      />
    {{else}}
      <div data-test-fallback class="flex text-body-100">
        {{#if @email}}
          <span class="capitalize">
            {{get-first-letter @email}}
          </span>
        {{else}}
          <FlightIcon @name="user" class="scale-90" />
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</div>
