<div
  class="{{unless @isLoading 'bg-color-palette-alpha-300'}}
    flex items-center justify-center overflow-hidden rounded-full
    {{if this.sizeIsSmall 'h-5 w-5'}}
    {{if this.sizeIsMedium 'h-7 w-7'}}
    "
  ...attributes
>
  {{#if @isLoading}}
    {{! Avatar loading affordance }}
    <div
      class="w-full h-full bg-gradient-to-tr from-color-palette-neutral-50 to-color-palette-neutral-200 animate-spin rounded-full"
    ></div>
  {{else}}
    {{#if @imgURL}}
      <img src={{@imgURL}} referrerpolicy="no-referrer" class="w-full" />
    {{else}}
      <div class="flex text-body-100">
        {{#if @email}}
          <span class="capitalize">
            {{get-first-letter @email}}
          </span>
        {{else}}
          <FlightIcon @name="user" class="scale-90" />
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</div>
