{{#unless this.isHidden}}
  <div class="flex space-x-2 w-full" ...attributes>
    <div class="relative shrink-0">
      {{#if (eq @badge "approved")}}
        <div
          data-test-person-approved-badge
          class="bg-color-page-faint flex rounded-full absolute -bottom-1.5 -right-1.5 p-0.5 scale-[70%] origin-bottom-right"
        >
          <FlightIcon
            @name="check-circle-fill"
            class="text-color-palette-green-200"
          />
        </div>
      {{/if}}
      <Person::Avatar
        @isLoading={{@imageIsLoading}}
        @size="small"
        @email={{@email}}
        @imgURL={{@imgURL}}
      />
    </div>
    <div
      class="person-email hds-typography-body-200 truncate hds-foreground-primary relative"
      title={{@email}}
    >
      {{or @email "Unknown"}}
    </div>
  </div>
{{/unless}}
