{{#unless this.isHidden}}
  <div class="person w-full min-w-0" ...attributes>
    <div class="relative shrink-0">
      <Person::Avatar @size="small" @email={{@email}} />
      {{#if this.badgeIsShown}}
        <div
          data-test-person-badge
          data-test-person-badge-type={{@badge}}
          class="absolute -bottom-1.5 -right-1.5 flex origin-bottom-right scale-[70%] rounded-full bg-color-page-faint p-0.5"
        >
          <FlightIcon
            data-test-person-badge-icon
            @name={{this.badgeIcon}}
            class={{this.badgeIconColor}}
          />
        </div>
      {{/if}}
    </div>
    <div
      data-test-person-email
      class="person-email hds-typography-body-200 hds-foreground-primary relative truncate"
      title={{this.label}}
    >
      {{this.label}}
    </div>
  </div>
{{/unless}}
